<!doctype html>
<html lang="en">

<head>

	<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home Health SLP Nurse Jobs | Aveanna Healthcare</title>
	<meta name="description" content="{% block meta_desc %}Explore jobs at Aveanna Healthcare, the new standard for highly skilled in-home pediatric nursing services.{% endblock %}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Google -->
	<meta itemprop="image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image:src" content="/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:image:secure_url" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Open Graph (LinkedIn) -->
	<meta name="image" property="og:image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
	<link rel="shortcut icon" href="/static/sites/www/files/images/global/favicon.png">
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "{{ CANONICAL_URL }}/",
			"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
			"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
		}
	</script>
	<link rel="stylesheet" href="https://use.typekit.net/vks0jiu.css">
	<link rel="shortcut icon" href="/static/sites/www/files/images/favicon.png">
	<link media="all" rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link media="screen" href="files/styles/all-styles.css" rel="stylesheet" type="text/css" />
	<link media="screen" href="files/styles/slider-buttons.css" rel="stylesheet" type="text/css" />
	<script defer src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script defer type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script defer type="text/javascript" src="files/js/lazysizes.min.js"></script>
	<script defer type="text/javascript" src="files/js/all-min.js"></script>
	<script defer type="text/javascript" src="files/js/ableplayer-min.js"></script>
	<script defer type="text/javascript" src="files/js/js.cookie.js"></script>
	<style id="no-bg-img">
		*{background-image:none!important}
	</style>
	
	<!--||{% load job_tags static %}||-->
	<!--||{% block head %}{% endblock %}||-->
	<script src="{% static 'js/common.js' %}"></script>	
	
	<!-- Google tag (gtag.js) -->
	<script defer src="https://www.googletagmanager.com/gtag/js?id=G-2S33ZYTC6N"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
	
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'G-2S33ZYTC6N');
	</script>
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-PWX427N');
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-109176187-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
	
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-109176187-3');
	</script>
	<!-- End Google Tag Manager -->
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWX427N" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="skip-to-content">
		<a href="#page-body">
			Skip to Page Content <span class="sr-only">(will bypass menus and search fields)</span>
		</a>
	</div>
	<!--------------------------- HEADER -------------------------->
	<header>
		<nav class="top-nav">
			<div class="inner">
				<ul class="top-left">
					<li class="home-link">
						<a href="https://www.aveanna.com/">Aveanna Home</a>
					</li>
					<li class="home-link-mobile">
						<a href="https://www.aveanna.com/">Home</a>
					</li>
					<li class="top-search">
						<div id="site-search" class="site-search">
							<form method="get" action="{% url "search" %}">
								<label for="q" class="sr-only">Search aveanna.com</label>
								<input id="q" type="text" name="q" placeholder="Search site...">
							</form>
						</div>
					</li>
					<li class="top-social-links">
						<ul class="social" aria-label="Social Media Links">
							<li class="facebook">
								<a href="https://www.facebook.com/officialAveannaHealthcare/" target="_blank" aria-label="Visit Aveanna on Facebook (opens in a new window)">
								</a>
							</li>
							<li class="instagram">
								<a href="https://www.instagram.com/aveannahealthcare/" target="_blank" aria-label="Visit Aveanna on Instagram (opens in a new window)">
								</a>
							</li>
							<li class="linkedin">
								<a href="https://www.linkedin.com/company/aveanna-healthcare/" target="_blank" aria-label="Visit Aveanna on LinkedIn (opens in a new window)">
								</a>
							</li>
							<li class="glassdoor">
								<a href="https://www.glassdoor.com/Overview/Working-at-Aveanna-Healthcare-EI_IE1820653.11,29.htm" target="_blank" aria-label="Check Aveanna Out on Glassdoor (opens in a new window)"></a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="top-right">
					<li class="top-services-pdn">
						<a href="https://www.aveanna.com/private-duty/index.html">Private Duty Services</a>
					</li>
					<li class="top-services-hhh">
						<a href="https://www.aveanna.com/home-health/index.html">Home Health &amp; Hospice</a>
					</li>
					<li class="top-services-ms">
						<a href="https://www.aveannamedicalsolutions.com/" target="_blank">Medical Solutions</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="inner lower-header">

			<div class="left">
				<a href="https://www.aveanna.com/" class="logo">
					<span class="sr-only">Aveanna Healthcare</span>
				</a>
			</div>

			<div class="right">

				<nav class="top">
					<ul>
						<li>
							<a href="https://www.aveanna.com/referral-sources.html">Referral Sources</a>
						</li>
						<li>
							<a href="https://ir.aveanna.com/">Investors</a>
						</li>
						<li>
							<a href="https://www.aveanna.com/blog/">Blog</a>
						</li>
						<li>
							<a href="https://jobs.aveanna.com/culture.html">Culture</a>
						</li>
						<li class="google-translate">
							<!-- ---- ---- GOOGLE TRANSLATE ---- ---- -->
							<div id="google_translate_element"></div>
							<script type="text/javascript">
								function googleTranslateElementInit() {
									new google.translate.TranslateElement({
										pageLanguage: 'en',
										layout: google.translate.TranslateElement.InlineLayout.SIMPLE
									}, 'google_translate_element');
								}
							</script>
							<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
						</li>
					</ul>
				</nav>

				<nav class="bottom" aria-label="Website Navigation">
					<a class="accordion-hamburger-title" href="#accordion-hamburger" aria-controls="#accordion-hamburger" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
					<div class="burger mmmmmm">
						<div class="burger-box">
							<div class="all-the-fixins">
							</div>
						</div>
					</div>

					<!-- ---- ---- ---- NAV ---- ---- ---- -->

					<ul id="accordion-hamburger" class="accordion-hamburger">
						<li class="mobile-only mobile-home-section">
							<ul class="division-nav">
								<li class="section-home">
									<a href="/">
										Aveanna Home
									</a>
								</li>
								<li class="services-accordion-pd-mobile">
									<a href="https://www.aveanna.com/private-duty/index.html">Private Duty Services</a>
								</li>
								<li class="services-accordion-hhh-mobile">
									<a href="https://www.aveanna.com/home-health/index.html">Home Health &amp; Hospice</a>
								</li>
								<li class="services-accordion-ms-mobile">
									<a href="https://www.aveannamedicalsolutions.com/">Medical Solutions</a>
								</li>
							</ul>
						</li>
						
						<li>
							<a class="accordion-hamburger-title-2" href="#sub-nav-1" aria-controls="#sub-nav-1" aria-expanded="false">About Us</a>
							<ul id="sub-nav-1" class="accordion-hamburger-2">
								<li>
									<a href="https://www.aveanna.com/our-story.html">Our Story</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/culture.html">Culture, Mission &amp; Core Values</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/difference.html">The Aveanna Difference</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/leadership.html">Leadership</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/board-of-directors.html">Board of Directors</a>
								</li>
								<li>
									<a href="http://aveannarelief.org/">Relief Fund</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/compliance.html">Compliance</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/privacypolicy.html">Privacy Policy</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/HIPAANotice.html">HIPAA Notice</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/accessibility.html">Accessibility</a>
								</li>
								<li>
									<a href="https://www.aveanna.com/accredation.html">Accreditation</a>
								</li>
							</ul>
						</li>
						<li class="desktop-only">
							<a class="accordion-hamburger-title-2" href="#sub-nav-2" aria-controls="#sub-nav-2" aria-expanded="false">Services</a>
							<ul id="sub-nav-2" class="accordion-hamburger-2 services-dropdown">
								<li class="services-accordion-pd">
									<a href="https://www.aveanna.com/private-duty/index.html">Private Duty Services</a>
								</li>
								<li class="services-accordion-hhh">
									<a href="https://www.aveanna.com/home-health/index.html">Home Health &amp; Hospice</a>
								</li>
								<li class="services-accordion-ms">
									<a href="https://www.aveannamedicalsolutions.com/">Medical Solutions</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="accordion-hamburger-title-2" href="#sub-nav-3" aria-controls="#sub-nav-3" aria-expanded="false">Resources</a>
							<ul id="sub-nav-3" class="accordion-hamburger-2 resources-hamburger">
								<li>
									<a class="accordion-hamburger-title-3" href="#sub-nav-3a" aria-controls="#sub-nav-3a" aria-expanded="false">Family Resources</a>
									<ul id="sub-nav-3a" class="accordion-hamburger-3">
										<li><a href="https://www.aveanna.com/family-resources.html">Overview</a></li>
										<li><a href="https://www.aveanna.com/insurance-process.html">Insurance Process</a></li>
									</ul>
								</li>
								<li><a class="accordion-hamburger-title-3" href="#sub-nav-3b" aria-controls="#sub-nav-3b" aria-expanded="false">Employee Resources</a>
									<ul id="sub-nav-3b" class="accordion-hamburger-3">
										<li><a href="https://www.aveanna.com/employee-resources.html">Overview</a></li>
										<li><a href="https://www.aveanna.com/employee-scholarship-n-tuition-discounts.html">Employee Tuition Reimbursement &amp; Tuition Discounts</a></li>
										<li><a href="https://www.myworkday.com/wday/authgwy/psahealthcare/login.htmld" target="_blank">Workday Login<span class="sr-only"> (link opens in a new window)</span></a></li>
										<li><a href="https://www.aveanna.com/code-of-conduct.html">Code of Conduct</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a class="accordion-hamburger-title-2" href="#sub-nav-careers" aria-controls="#sub-nav-careers" aria-expanded="false">Careers</a>
							<ul id="sub-nav-careers" class="accordion-hamburger-2 resources-hamburger">
								<li><a href="/">Careers Home</a></li>
								<li><a href="/jobs/">Job Search</a></li>
								<li><a href="/find-yourself-here.html">Find Yourself Here</a></li>
								<li><a href="/culture.html">Culture</a></li>
								<li><a href="/inclusion-and-engagement.html">Inclusion &amp; Engagement</a></li>
								<li><a href="/benefits.html">Benefits</a></li>
								<li><a href="/new-grads.html">New Grads</a></li>
								<li><a href="/veterans.html">Veterans</a></li>
								<li><a href="/faqs.html">FAQs</a></li>
								<li>
									<a class="accordion-hamburger-title-3" href="#sub-sub-nav-careers" aria-controls="#sub-sub-nav-careers" aria-expanded="false">Featured Careers</a>
									<ul id="sub-sub-nav-careers" class="accordion-hamburger-3">
										<li><a href="/in-home-nursing-pediatric-and-adult.html">In-Home Nursing Pediatric and Adult</a></li>
										<li><a href="/home-health-and-hospice.html">Home Health and Hospice Nursing</a></li>
										<li><a href="/pediatric-therapy.html">Pediatric Therapy</a></li>
										<li><a href="/home-health-therapy.html">Home Health Therapy</a></li>
										<li><a href="/educational-staffing-services.html">Educational Staffing Services</a></li>
										<li><a href="/location-and-corporate-support.html">Location and Corporate Support</a></li>
									</ul>
								</li>
								<li><a href="/interview-checklist.html">Pre-Interview Checklist</a></li>
							</ul>
						</li>
						<li>
							<a href="https://www.aveanna.com/locations/">Locations</a>
						</li>
						<li class="weird-mobile-link">
							<a href="https://www.aveanna.com/referral-sources.html">Referral Sources</a>
						</li>
						<li class="weird-mobile-link">
							<a href="https://ir.aveanna.com/">Investors</a>
						</li>
						<li class="weird-mobile-link">
							<a href="https://www.aveanna.com/blog/">Blog</a>
						</li>
						<li class="contact-holder">
							<a href="https://jobs.aveanna.com/talentnetwork/" class="contact-link">Join Our Talent Network</a>
						</li>
					</ul>

				</nav>

			</div>
		</div>
		<nav class="careers-nav">
			<div class="inner">
				<ul>
					<li><a href="/index.html">Careers Home</a></li>
					<li><a href="/find-yourself-here.html">Find Yourself Here</a></li>
					<li><a href="/culture.html">Culture</a></li>
					<li><a href="/inclusion-and-engagement.html">Inclusion &amp; Engagement</a></li>
					<li><a href="/benefits.html">Benefits</a></li>
					<li><a href="/new-grads.html">New Grads</a></li>
					<li><a href="/veterans.html">Veterans</a></li>
					<li><a href="/faqs.html">FAQs</a></li>
					<li class="has-children"><a>Featured Careers</a>
						<ul>
							<li><a href="/in-home-nursing-pediatric-and-adult.html">In-Home Nursing Pediatric and Adult</a></li>
							<li><a href="/home-health-and-hospice.html">Home Health and Hospice Nursing</a></li>
							<li><a href="/pediatric-therapy.html">Pediatric Therapy</a></li>
							<li><a href="/home-health-therapy.html">Home Health Therapy</a></li>
							<li><a href="/educational-staffing-services.html">Educational Staffing Services</a></li>
							<li><a href="/location-and-corporate-support.html">Location and Corporate Support</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	
		<main id="page-body">
			
			<section class="inner-banner">
				<div class="inner-banner-image SLP-dynamic-page-banner"></div>
				<div class="inner-banner-content">
					<div class="inner">
						<h1>Find yourself here.</h1>
					</div>
				</div>
			</section>			
			
			<div class="heart-divider">
				<div class="inner"></div>
			</div>
			
			<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
			
			<!--||{% comment %}||-->
			<div class="job-search-bar">
				<div class="inner">
					<form action="{% url 'search' %}">
					<ul class="search-field-wrap">
						<li>
							<div class="input-wrap">
								<label for="search_term" class="sr-only">Search Jobs by Keyword</label>
								<input type="text" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" name="search_term">
								<button class="search-button">Submit Keyword Search</button>
							</div>
						</li>
						<li>
							<button class="search-accordion-button" href="#location-search" aria-controls="#location-search" aria-expanded="false">
								Search Jobs by Location 
							</button>
							<ul class="search-accordion-list" id="location-search">
								<li>
									<a href="/jobs/">Search all Locations</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/jobs/" class="btn blue location-btn">View All Jobs Near Me</a>
							
						</li>
						<li><a href="/jobs/" class="btn blue">Advanced Search</a></li>
					</ul>
					
					</form>
				</div>
			</div>
			<!--||{% endcomment %}||-->
   


<!-- ---- CONTENT AREA ---- -->

<div class="dynamic-job-posting rn-dynamic clearfix">

		<section id="dynamic-details">

      <!--||{% include 'includes/job_details_subhead.html' %}||-->
      <!--||{% include 'includes/job_action_buttons.html' %}||-->

      <!--||{% comment %}||-->
			<h1 class="dynamic-job-title">{{ job.posting.title }}</h1>
			<dl>
  				<dt>Job Ref:</dt><dd> {{ job.job_refid }}</dd>
       		<dt>Location:</dt><dd> {{ job.location.name }} {{ job.postal_code }}</dd>
       		<dt>Category:</dt><dd> {{ job.category.name }}</dd>
       		{% if job.line_of_business %}<dt>Line of Business:</dt><dd> {{ job.line_of_business }}</dd>{% endif %}
       		{% if job.posting.has_pay_data %}<dt>Pay Rate:</dt><dd> {{ job.posting.pay_display }}</dd>{% endif %}
			</dl>
			<div class="job-details-btns">
        		<a href="{{ job.apply_url }}" class="utility-btn">
            		Apply
				</a>
				<a href="{% url "job_referral" job.id job.slug %}" class="utility-btn">
					Refer a Friend
				</a>
				<a href="javascript:history.back();" id="backbtn" class="utility-btn">
					Back
				</a>
      </div>
      <!--||{% endcomment %}||-->

		</section>

	  <section class="dynamic-intro">
		  <div class="table">
			  <div class="row">
				  <div class="column dynamic-intro-left5">
					  <div class="dynamic-intro-copy">
						<h2>Being a Speech Language Pathologist is not a job ... it’s a CALLING!</h2>
       At Aveanna Healthcare we understand the dedication it takes to become a Speech Language Pathologist and we’d love to help you fulfill what you’re meant to do. Aveanna is a national leader in pediatric therapy. Work a few hours or full-time providing pediatric therapy in a collaborative environment designed to support your delivery of high-quality treatments in synergy with a multidisciplinary team of other therapists - in an engaging and fun environment.
					  </div>
				  </div>
				  <div class="column dynamic-intro-right5">
				  </div>
			  </div>
		  </div>
	  </section>

	  <section class="response-requirements">
		  <div class="table">
			  <div class="row">
				  <div class="column requirements-col ">
					  <div class="video-holder">
						  <video id="video1" data-able-player preload="metadata" poster="files/media/Mona_Horn.jpg" data-include-transcript >
							<source type="video/webm" src="files/media/Mona_Horn.webm" data-desc-src="media/Mona_Horn-description.webm"/>
							<source type="video/mp4" src="files/media/Mona_Horn.mp4" data-desc-src="media/Mona_Horn-description.mp4"/>
							<track kind="captions" src="files/media/Mona_Horn-CC.vtt" srclang="en" label="English" data-captions-position="overlay">
							<track kind="descriptions" src="files/media/Mona_Horn-description.vtt" srclang="en" label="English descriptions">
						  </video>
       				  </div>
				  </div>
				  <div class="column responsibilities-col"  id="slp-qualifications">
					  <h2>Here's what you’ll be doing</h2>
   					  <div class="sub-heading">SLP Responsibilities Include:</div>
					  <ul>
						  <li><div class="icon"></div><span>Provide pediatric therapy services in the home and our state-of-the-art outpatient clinics for clients, birth to age 21.</span></li>
						  <li><div class="icon"></div><span>Evaluate needs, develop and implement speech therapy plans of care.</span></li>
						  <li><div class="icon"></div><span>Document patient progress, attend and contribute as part of an interdisciplinary treatment/educational team on case conferences.</span></li>
					  </ul>
				  </div>
			  </div>
		  </div>
	  </section>


	<section class="therapist-hilites">
		<h2>Why more therapists say <strong>Yes</strong> to Aveanna</h2>
		<ul>
			<li>
				<div class="icon"></div>
				<h3>We CARE</h3>
				<span>About our patients, our patient's families and each other.</span>
			</li>
			<li>
				<div class="icon"></div>
				<h3>We SUPPORT</h3>
				<span>We offer exceptional compensation, benefits and recognition for our amazing team of clinical caregivers. We offer support and guidance from outstanding discipline specific supervisors who can help you grow and be your best.</span>
			</li>
			<li>
				<div class="icon"></div>
				<h3>We COLLABORATE</h3>
				<span>We have a multidisciplinary, collaborative team consisting of occupational therapists, physical therapists, and speech-language pathologists who work together to produce the best outcomes possible for our kids.</span>
			</li>
			<li>
				<div class="icon"></div>
				<h3>We have FUN</h3>
				<span>We do serious work that changes lives. We also have a lot of fun together along the journey.</span>
			</li>
		</ul>
	</section>


   		  <section class="dynamic-culture">
			<div class="table">
				<div class="row">
					<div class="column dynamic-culture-left5">
						<div class="dynamic-culture-copy">
						<h2>Here’s what you’ll need to work with us</h2>
						<ul>
							<li><div class="icon"></div><span>Meets the qualifications as established by ASHA or other professional organization</span></li>
							<li><div class="icon"></div><span>Must be licensed or eligible to practice Speech Therapy in the state</span></li>
							<li><div class="icon"></div><span>Must meet the education and experience requirements for a Certification of Clinical Competence in speech pathology or audiology granted by the American Speech-Language-Hearing Association; OR meet the educational requirements for certification and is in the process of accumulating the supervised experience required for certification</span></li>
							<li><div class="icon"></div><span>Pass a background check</span></li>
							<li><div class="icon"></div><span>Experience in pediatric therapy services preferred (0-21 years of age) - New Grads welcome to apply</span></li>
						</ul>
						</div>
					</div>
					<div class="column dynamic-culture-right5">
					</div>
				</div>
			</div>
	  </section>


	  <section class="dynamic-qualifications" id="slp-rewards">
		  <h2>Here’s how you’ll be <strong>REWARDED</strong>...</h2>
		 <ul>
				<li><div class="icon"></div><span>Competitive compensation and benefits (eligibility dependent)</span></li>
				<li><div class="icon"></div><span>Company-provided laptops for easy access to electronic charting during client visits</span></li>
				   <li><div class="icon"></div><span>CEU Reimbursement<br>
(Full-Time Benefit)</span></li>
				 <li><div class="icon"></div><span>Access to supervision from leadership that’s genuinely caring and supportive</span></li>
				 <li><div class="icon"></div><span>Opportunities to grow professionally (we’re a rapidly growing company)</span></li>
				 <li><div class="icon"></div><span>Appreciation, recognition, collaboration, proactive communication and a spirit of care</span></li>
				 <li><div class="icon"></div><span>Flexible schedules</span></li>

			</ul>
	  </section>

    <section class="dynamic-quote">
		   <div class="table">
    <div class="row">
					<div class="column dynamic-quote-left5">
						<div class="dynamic-quote-copy">
						<h2>“I knew I could take my skills anywhere, but with Aveanna, I found a way to expand my clinical practice and grow my whole career.”</h2>– Stacy, SLP
						</div>
					</div>
					<div class="column dynamic-quote-right5">
					</div>
			   </div>
		   </div>
      </section>

	  <section class="dynamic-video">
		  <div class="table">
			  <div class="row">
				  <div class="column dynamic-video-left">
					  <div class="video-holder">
						<video id="video2" data-able-player preload="metadata" poster="files/media/Monica.jpg" data-include-transcript>
						<source type="video/webm" src="files/media/Monica.webm" data-desc-src="media/Monica-description.webm"/>
						<source type="video/mp4" src="files/media/Monica.mp4" data-desc-src="media/Monica-description.mp4"/>
						<track kind="captions" src="files/media/Monica-CC.vtt" srclang="en" label="English" data-captions-position="overlay">
						<track kind="descriptions" src="files/media/Monica-description.vtt" srclang="en" label="English descriptions">
						</video>
       				  </div>
				  </div>
				  <div class="column dynamic-video-right">
					  <div class="dynamic-video-copy">
						<h3>Our Mission</h3>
						  Aveanna Healthcare is one of the nation’s leading providers of pediatric and adult homecare in the nation. We lead with clinical quality and compassion, delivering care in over 200 locations in 23 states. While we have a national presence, we are very much a local provider in each community we serve. Our stated mission is to revolutionize the way our care is delivered, one patient at a time, and we hope you will help us fulfill that mission by joining the 30,000 nurses who already call Aveanna home. Apply today.
					  </div>
				  </div>
			  </div>
		  </div>
	  </section>

	  <section class="dynamic-glassdoor">
		  <div class="table">
			  <div class="row">
				  <div class="column dynamic-glassdoor-left">
					  <div class="dynamic-glassdoor-copy">
						<h2>Join Our Talent Network</h2>
					Joining our Talent Network will allow you to stay connected with Aveanna, receive alerts with new job opportunities that match your interests, and receive relevant communications and updates from our organization.
						<div class="talent-link-holder">
						<a href="/talentnetwork/" class="utility-btn">
							Sign Up
						</a>
						</div>
					  </div>
				  </div>
				  <div class="column dynamic-glassdoor-right tn-lvn-lpn">
					  
				  </div>
			  </div>
		  </div>
	  </section>

	<section class="vax-mandate">
	As an employer accepting Medicare and Medicaid funds, employees must comply with all health-related requirements in all relevant jurisdictions, including required vaccinations and testing, subject to exemptions for medical or religious reasons as appropriate.
</section>

<section id="ccpa-notice-dynamic">
	<p><a href="https://www.aveanna.com/CaliforniaPrivacyNotices.html">Notice for Job Applicants Residing in California</a></p>
</section>

	  <section class="bottom-buttons">

      <!--||{% include 'includes/job_action_buttons.html' %}||-->

      <!--||{% comment %}||-->
      <div class="job-details-btns">
           	  <a href="{{ job.apply_url }}" class="utility-btn">
           		  Apply
			  </a>
			  <a href="{% url "job_referral" job.id job.slug %}" class="utility-btn">
				  Refer a Friend
			  </a>
			  <a href="javascript:history.back();" class="utility-btn">
				  Back
			  </a>
          </div>
          <!--||{% endcomment %}||-->

	  </section>

	  <!-- <section class="dynamic-seo">
			SEO COPY: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed enim in quam varius congue. Aenean commodo ex ut odio cursus, at facilisis metus bibendum. Cras sodales risus sed enim commodo, sed semper leo scelerisque. Donec vehicula ante non metus rutrum, vel ornare lacus molestie. Quisque aliquam pretium risus ac posuere. Mauris pharetra dignissim enim in pellentesque. Nulla enim nisl, imperdiet quis sollicitudin a, eleifend sed felis. Quisque sodales urna sed lacus efficitur, nec dapibus turpis rhoncus. Praesent ac libero posuere mauris commodo tincidunt. Nullam porttitor tristique diam id tincidunt. Fusce nisl nisl, venenatis et neque eget, rhoncus lobortis orci. Sed sit amet arcu auctor, placerat ligula sit amet, laoreet augue.
			<p>Mauris tincidunt ornare magna, a accumsan est hendrerit et. Donec cursus egestas urna, ac scelerisque tellus efficitur et. Maecenas cursus ipsum eu volutpat viverra. Donec dictum fermentum auctor. Nam laoreet rhoncus ligula in pulvinar. Quisque vitae felis felis. Curabitur aliquet gravida libero, eu elementum turpis suscipit non. Vivamus ultrices porttitor est, ac tempus neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada eros quis tortor auctor, vitae efficitur nisl semper. Vivamus fermentum sit amet elit sed posuere. Morbi elementum eu neque eget mattis. Vivamus id eros sit amet tellus ullamcorper laoreet nec non magna.</p>
			<p>Vestibulum pellentesque suscipit ex tempor faucibus. Morbi ut fermentum lacus. Vestibulum dapibus lectus id quam dictum interdum. Curabitur ac erat vel eros finibus eleifend. Integer ultricies varius commodo. Sed quis est risus. Aliquam pretium viverra eros ac egestas. Etiam egestas magna dui, sit amet eleifend arcu finibus vel.</p>
		</section> -->

	</div>


        <!--  Juicer  -->

        <section class="juicer-section">
			<div class="juicer-header">
				<h2>Follow Aveanna on Social Media</h2>
				<span class="sr-only">This section contains content aggregated from Aveanna Healthcares social media accounts. As a result of the different sources and the plug-in used to aggregate them, there will more than likely be some accessibility issues in this section. These posts can also be found directly on facebook at the following url: <a href="https://www.facebook.com/officialAveannaHealthcare" target="_blank">www.facebook.com/officialAveannaHealthcare (link opens in a new window)</a>. We appologize for any inconvenience.</span>
			</div>
			<script src="https://assets.juicer.io/embed.js?per=10" type="text/javascript"></script>
			<link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
				<ul class="juicer-feed" data-feed-id="officialaveannahealthcare" data-per="12">
				</ul>
		</section>


</main>


<!------------------------  FOOTER --------------------------- -->

<footer class="quote-footer">
	<div class="inner">

		<div class="top-footer">
			<div class="logo-holder">
				<a href="/" class="logo"><span class="sr-only">Aveanna Healthcare | Family of Companies</span></a>
			</div>
			<nav class="footer-nav">
				<div class="address">
					Aveanna Healthcare<br />
					400 Interstate North Parkway, SE<br />
					Suite 1600<br />
					Atlanta, GA 30339<br />
					<a href="tel:+17704411580">(770) 441-1580</a>
				</div>
				<ul class="links">
					<li>
						<a href="https://www.aveanna.com">Aveanna Home</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/our-story.html">Our Story</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/leadership.html">Leadership</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/family-resources.html">Family Resources</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/employee-resources.html">Employee Resources</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/referral-sources.html">Referral Sources</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/private-duty/index.html">Private Duty Services</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/home-health/index.html">Home Health &amp; Hospice</a>
					</li>
					<li>
						<a href="https://www.aveannamedicalsolutions.com/">Medical Solutions</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/private-duty/adult-private-duty-nursing.html">Private Duty Nursing</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/private-duty/pediatric-therapy.html">Pediatric Therapy</a>
					</li>
					<li>
						<a href="https://www.aveanna.com/private-duty/personal-care-and-companionship.html">Personal Care</a>
					</li>
					<li>
						<a href="https://jobs.aveanna.com">Join Our Team</a>
					</li>
				</ul>
			</nav>
		</div>

  		<div class="middle-footer">
			<p><span>©</span>
    		<script type="text/javascript">date = new Date();
                year = date.getFullYear();
		document.write(year);//</script> Aveanna Healthcare, LLC. The Aveanna Heart Logo is a registered trademark of Aveanna Healthcare LLC and its subsidiaries. <br>
			We value accessibility and are making efforts to be ADA compliant.</p>
			<ul class="policy-links" aria-label="Privacy and Accessibility Information">
				<li>
					<a href="https://www.aveanna.com/privacypolicy.html">Privacy Policy</a>
				</li>
				<li>
					<a href="https://www.aveanna.com/HIPAANotice.html">HIPAA Notice</a>
				</li>
				<li>
					<a href="https://www.aveanna.com/accessibility.html">Accessibility</a>
				</li>
				<li>
					<a href="https://www.aveanna.com/contact-us.html">Contact Us</a>
				</li>
				<li>
					<a href="https://www.aveanna.com//CCPANotice.html">Notice for Job Applicants Residing in California</a>
				</li>
			</ul>
		</div>

		<div class="footer-bottom">
				<a href="https://www.aveanna.com/eoe-statement.html">Notice of Nondiscrimination</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#es" aria-label="Español (opens in a new window)" target="_blank" lang="es">Español</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#zh" aria-label="繁體中文 (opens in a new window)" target="_blank" lang="zh">繁體中文</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#vi" aria-label="Tiếng Việt (opens in a new window)" target="_blank" lang="vi">Tiếng Việt</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#ht" aria-label="Kreyòl Ayisyen (opens in a new window)" target="_blank" lang="ht">Kreyòl Ayisyen</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#ko" aria-label="한국어 (opens in a new window)" target="_blank" lang="ko">한국어</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#ru" aria-label="Русский (opens in a new window)" target="_blank" lang="ru">Русский</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#pl" aria-label="Polski (opens in a new window)" target="_blank" lang="pl">Polski</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#sq" aria-label="ال عرب ية (opens in a new window)" target="_blank" lang="sq"> ال عرب ية</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#pt" aria-label="Português (opens in a new window)" target="_blank" lang="pt"> Português</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#fr" aria-label="Français (opens in a new window)" target="_blank" lang="fr">Français</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#tl" aria-label="Tagalog (opens in a new window)" target="_blank" lang="tl">Tagalog</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#it" aria-label="Italiano (opens in a new window)" target="_blank" lang="it">Italiano</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#gu" aria-label="ગુજરાતી (opens in a new window)" target="_blank" lang="gu">ગુજરાતી</a> |
				<a href="https://www.aveanna.com/eoe-statement-languages.html#pa" aria-label="اُررُا (opens in a new window)" target="_blank" lang="pa">اُررُا</a>
		</div>

		<div class="ndn-text">Aveanna is proud to be an equal-opportunity employer. We are committed to providing a work environment free of harassment, discrimination, retaliation, disrespect or other unprofessional conduct on any basis protected by federal, state or local law or ordinance or regulation. We have comprehensive policies to support this commitment.</div>

	</div>
</footer>


<!--Olivia Paradox JS-->
 <script type='text/javascript'>
    var _apply = _apply || [];
    var _applybase =  'https://olivia.paradox.ai/';
    _apply.push(['setKey', 'bgjwpbsnytjczpwjkibm']);
    _apply.push(['start']);
    (function() {
        var apply = document.createElement('script');
        apply.type = 'text/javascript';
        apply.async = true;
        apply.src = 'https://dokumfe7mps0i.cloudfront.net/static/site/js/widget-client.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(apply, s);
    })();
</script>
<script>
	window.addEventListener('DOMContentLoaded',function(){
		document.getElementById('no-bg-img').remove();
	})
</script>	
<script type="text/javascript" src="files/js/video.js"></script>
<!--APPCAST PIXEL--><script type='text/javascript' src='https://click.appcast.io/pixels/icims-8357.js?ent=84&jsid=$T{Submittal}.$T{Person}.$F{PersonID}'></script>
<!--||{% include 'includes/json-ld.html' %}||-->
</body>
</html>
