<!DOCTYPE html>
<html lang="en">
<head>
	<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Addus Homecare | Careers{% endblock %}</title>
	<meta name="keywords" content="">
	<meta name="description" content="{% block meta_desc %}Addus Homecare: Our people are our greatest asset. Explore job opportunities and apply online today.{% endblock %}"/>
	<!--||{% block canonical_link %}{% endblock %}||-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Google -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Open Graph (LinkedIn) -->
	<meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<link rel="shortcut icon" href="/static/sites/www/files/images/favicon.ico">
	<script type="application/ld+json">
	  {
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "url": "{{ CANONICAL_URL }}/",
		  "image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
		  "logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
	  }
	</script>
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="files/images/global/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="files/images/global/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="files/images/global/favicons/favicon-16x16.png">
	<link rel="manifest" href="files/images/global/favicons/site.webmanifest">
	<link rel="mask-icon" href="files/images/global/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<!-- End Favicon -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
	<script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js "></script>
	<link href=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css " rel="stylesheet">
	<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> -->
    <link rel="stylesheet" href="https://use.typekit.net/kpx8tyf.css">	
	<link rel="stylesheet" href="files/css/style.css" />

	<!--||{% load job_tags pagination_tags static %}||-->
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <!--||{% block head %}{% endblock %}||-->
</head>
<body class="{% block body-class %}external{% endblock %}">
<header id="header" class="hover-menu">
		<div class="wrap">
			<div class="logo">
				<a href="/"><img src="files/images/global/addus-logo.png" alt="Addus HomeCare Logo" width="439" height="250"></a>
			</div>
			<div class="right-header">
				<button class="menu-toggle">
					<span>Open Menu</span>
				</button>
				<div id="menu-wrapper" class="menu-wrapper">
					<nav class="main-menu">
						<ul>
							<li><a href="/">Career Home</a></li>
							<li><a href="https://addus.com/why-addus/">About Addus</a></li>
							<li><a href="/talentnetwork/">Join Our Talent Network</a></li>
						</ul>
					</nav>
				<div class="share-this">
					<div>Share This Page</div>
					<ul class="reset-list">
						<li>
							<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">
                                <span class="sr-only">Share on Facebook</span>
                                <svg>
                                    <use xlink:href="files/images/global/sprites.svg#facebook"></use>
                                </svg>
                            </a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-x-the-everything-app">
                                <span class="sr-only">Share on Twitter</span>
                                <svg>
                                    <use xlink:href="files/images/global/sprites.svg#x-the-everything-app"></use>
                                </svg>
                            </a>
						</li>
						<li>
							<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">
                                <span class="sr-only">Share on LinkedIn</span>
                                <svg>
                                    <use xlink:href="files/images/global/sprites.svg#linkedin"></use>
                                </svg>
                            </a>
						</li>
						<li>
							<a href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">
                                <span class="sr-only">Share via Email</span>
                                <svg>
                                    <use xlink:href="files/images/global/sprites.svg#email"></use>
                                </svg>
                            </a>
						</li>
					</ul>
				</div>
					
				</div>
			</div>
		</div>
	</header>
 <main class="{% block main-class %}{% endblock %}">
	
	<section class="hero-banner">
		<div class="hero-banner-image job-search"></div>
		<div class="hero-banner-content">
			<div class="wrap">
				<div class="inner-wrap">
					<h1>
						Come Home to a Career <br>
						with Addus HomeCare
					</h1>
					<p>
						<a href="/jobs/">View All Addus HomeCare Careers</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="company-logos">
		<div class="inner">
			<div class="main-logo">
				<a href="/"><img src="files/images/global/addus-logo.png" alt="Addus HomeCare Logo" width="439" height="250"></a>
			</div>
			<div id="company-logo-slider" class="company-logo-slider splide">
				<div class="splide__track">
					<ul class="splide__list">
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/">
								<img src="files/images/global/logo-slider-logos/corporate-logo.webp" alt="addus corporate logo">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=aplus">
								<img src="files/images/global/logo-slider-logos/a-plus.webp" alt="A Plus">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=alamo-hospice">
								<img src="files/images/global/logo-slider-logos/alamo-hospice.webp" alt="Alamo">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=ambercare">
								<img src="files/images/global/logo-slider-logos/ambercare.webp" alt="Ambercare">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=arcadia">
								<img src="files/images/global/logo-slider-logos/arcadia-home-care-and-staffing.webp" alt="Arcadia">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=capital-city">
								<img src="files/images/global/logo-slider-logos/capital-city-hospice.webp" alt="Capital City">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=day-city">
								<img src="files/images/global/logo-slider-logos/day-center-hospice.webp" alt="Day City Hospice">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=girling-personal-care">
								<img src="files/images/global/logo-slider-logos/girling.webp" alt="Girling">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?radius=25&affiliate=helping-hands-health-network">
								<img src="files/images/global/logo-slider-logos/helping-hands-health-network.webp" alt="Helping Hands Health Network">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?radius=25&affiliate=helping-hands-home-care-service">
								<img src="files/images/global/logo-slider-logos/helping-hands-home-care-service.webp" alt="Helping Hands Home Care Service">
							</a>
						</li>
						
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=hospice_of_virginia">
								<img src="files/images/global/logo-slider-logos/hospice-of-virginia.webp" alt="Hospice of Virginia">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=housecalls">
								<img src="files/images/global/logo-slider-logos/house-calls.webp" alt="House Calls of New Mexico">
							</a>
						</li> 
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=journeycare-home-health">
								<img src="files/images/global/logo-slider-logos/journey-care.webp" alt="JourneyCare">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=lifestyleoptions">
								<img src="files/images/global/logo-slider-logos/lifestyle-options.webp" alt="LifeStyle Options">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=miracle-city">
							<img src="files/images/global/logo-slider-logos/miracle-city-hospice.webp" alt="Miracle City Hospice">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=queen-city">
							<img src="files/images/global/logo-slider-logos/queen-city-hospice.webp" alt="Queen City Hospice">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=serenityhospice">
							 <img src="files/images/global/logo-slider-logos/serenity-hospice.webp" alt="Serenity Hospice">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=tennessee-quality-care">
							<img src="files/images/global/logo-slider-logos/tennessee-quality-care.webp" alt="Tennessee Quality Care">
							</a>
						</li>
						<li class="splide__slide">
							<a href="https://www.addusjobs.com/jobs/?affiliate=the-home-option
							">
							<img src="files/images/global/logo-slider-logos/the-home-option.webp" alt="The Home Option">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	
	<div id="search-body" class="clearfix">
	
		<div class="wrap">
			<!--||{% block full-width %}||-->
			<!--||{% block search-options %}{% include "includes/search_options.html" %}{% endblock %}||-->
			<!--||{% comment %}||-->
			<section class="sub-search">
				<button class="mobile-search-button" href="#search-form" aria-controls="search-form" aria-expanded="false">Search Jobs</button>
				<form id="search-form" method="get">
					<ul class="search-content" id="search-content">
						<li>
							<input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
							<button type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
								<span class="sr-only">Submit Keyword Search</span>
							</button>
						</li>
						<li>
							<button class="search-accordion-button" href="#category-search" aria-controls="category-search" aria-expanded="false">
								Search Jobs by Category	
							</button>
							<ul class="search-content" id="category-search">
								<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/">Search All Categories</a></li>
								<li class="accordion-link active"><a class="accordion-link search_link" href="/jobs/accounting-finance/">Accounting / Finance Jobs</a></li>
							</ul>
						</li>
						<li>
							<button class="search-accordion-button" href="#location-search" aria-controls="location-search" aria-expanded="false">
								Search Jobs by Location
							</button>
							<ul class="search-content" id="location-search">
								<li class="accordion-link active"><a class="accordion-link search_link" href="/jobs/accounting-finance/">Search All Locations</a></li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-40" href="/jobs/accounting-finance/us/">North America Jobs</a></li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-20" href="/jobs/accounting-finance/us-ma-leominster/">Leominster, MA Jobs</a></li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-20" href="/jobs/accounting-finance/us-ri-pawtucket/">Pawtucket, RI Jobs</a></li>
							</ul>
						</li>
						<li>
							<button class="search-accordion-button" href="#brands_type-search" aria-controls="brands_type-search" aria-expanded="false">
								Search Jobs by Brands 
							</button>
							<ul class="search-content" id="brands_type-search">
								<li class="accordion-link active"><a class="accordion-link search_link" href="/jobs/accounting-finance/">Search All Job Types</a></li>
								<li class="accordion-link"><a class="accordion-link" href="/jobs/accounting-finance/?employment_type=Full Time">Full Time Jobs</a></li>
							</ul>
						</li>
						<li>
							<button class="search-accordion-button" href="#service_line_type-search" aria-controls="service_line_type-search" aria-expanded="false">
								Search Jobs by Service Line 
							</button>
							<ul class="search-content" id="service_line_type-search">
								<li class="accordion-link active"><a class="accordion-link search_link" href="/jobs/accounting-finance/">Search All Job Types</a></li>
								<li class="accordion-link"><a class="accordion-link" href="/jobs/accounting-finance/?employment_type=Full Time">Full Time Jobs</a></li>
							</ul>
						</li>
						<li>
							<div class="zip-search">
								<input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
								<select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
									<optgroup>
										<option value="10">10 Miles</option>
										<option value="25" selected>25 Miles</option>
										<option value="50">50 Miles</option>
										<option value="100">100 Miles</option>
									</optgroup>
								</select>
								<button class="submit-search" id="id-zipcode-btn">
									<span class="sr-only"> Submit Zip Code and Radius Search</span>
								</button>
							</div>
						</li>
						<li>
							<a href="/jobs/" class="advanced-button">View All Jobs</a>
						</li>
					</ul>
					<a href="/jobs/" class="new-search-link">New Search</a>
				</form>	
			</section>
			<!--||{% endcomment %}||-->

			<section class="search-results">				
            <!--||{% block content %}||-->
            <!--||{% comment %}||-->
                <div class="search-headings">
					<h1>Job Search</h1>
					<h2>Found <strong>177 LPN/LVN jobs</strong> at Addus HomeCare</h2>
				</div>
				<div class="pagination">
					<span class="current page">1</span> 
					<a href="?page_jobs=2" class="page">2</a> 
					<a href="?page_jobs=2" class="next">next ››</a> 
				</div>
				<ul class="results-content" id="job-list-section">	
					<li>	
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/a-plus.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>	<li>
						
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/alamo-hospice.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>
					<li>		
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/ambercare.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>
					<li>	
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/arcadia-home-care-and-staffing.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>
					<li>	
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/capital-city-hospice.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>
					<li>		
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/day-center-hospice.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>
					<li>	
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/day-center-hospice.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>
					<li>	
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/day-center-hospice.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>
					<li>	
						<div class="job-info">
							<div class="logo-col">
								<img src="files/images/global/logo-jobs/day-center-hospice.webp" alt="Addus Logo">
							</div>
							<div class="data-col">
								<a href="" rel="nofollow">
									<h3>Business Unit Finance Manager, ETP</h3>
								</a>
								<dl>
									<div><dt>Requisition #: </dt><dd>BUSIN01378</dd></div>
									<div><dt>Location: </dt><dd>Pawtucket, RI</dd></div>
									<div><dt>Category: </dt><dd>Accounting / Finance</dd></div>
									<div><dt>Service Line: </dt><dd>Personal Care Services</dd></div>
								</dl>		
							</div>
						</div>
						<p class="job-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi congue, tincidunt ligula sit amet, commodo velit. Etiam porta eleifend leo sit amet hendrerit. Etiam quam massa, pellentesque non risus aliquet, iaculis congue neque. Sed enim turpis
						</p>		
					</li>	
				</ul>
				<div class="pagination">
					<span class="current page">1</span> 
					<a href="?page_jobs=2" class="page">2</a> 
					<a href="?page_jobs=2" class="next">next ››</a> 
				</div>
				<div id="category-text">
					<h2>Category Text</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
                <!--||{% endcomment %}||-->
				<!--||{% block footer-text %}||-->
                <!--||{% comment %}||-->
				<div class="content-search-results-r1-left-btm-text">
					Addus is an equal opportunity employer and does not discriminate on the basis of race, color, gender, religion, age, sexual orientation, national or ethnic origin, disability, marital status, veteran status or any other occupationally irrelevant criteria.
				</div>
                <!--||{% endcomment %}||-->
				<!--||{% endblock footer-text %}||-->
            <!--||{% endblock content %}||-->
			</section>

			<div class="search-results-right">
			<!--||{% block video %}{% endblock %}||-->

            <!--||{% block recent-jobs %}||-->
            <!--||{% recent_jobs %}||-->
            <!--||{% comment %}||-->
			<section class="recently-viewed-jobs">
				<h2>
					Recently Viewed Jobs	
				</h2>
				<ul class="featured-jobs-bottom">
					<li>
						<h3><a href="">Production Supervisor - 3rd Shift</a></h3>
						<dl>
							<div><dt>Location:</dt><dd>Pawtucket, RI</dd></div>
							
						</dl>
						<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus magna, pellentesque sit amet elementum at, bibendum eu nulla. Curabitur mattis maximus facilisis. Etiam bibendum purus sed imperdiet imperdiet. Aenean odio ligula, gravida in eros ac, porta sodales diam…</div>
					</li>
					
				</ul>
				<a class="btn" href="/my-saved-jobs/">View All</a>
			</section>
            <!--||{% endcomment %}||-->
            <!--||{% endblock recent-jobs %}||-->
				
            <!--||{% block saved-jobs %}||-->
            <!--||{% saved_jobs %}||-->
            <!--||{% comment %}||-->
			<section class="saved-jobs">
                
					<h2>
						Saved Jobs
					</h2>
					<ul class="featured-jobs-bottom">
						<li>
							<h3><a href="">Production Supervisor - 3rd Shift</a></h3>
							<dl>
								<div><dt>Location:</dt><dd>Pawtucket, RI</dd></div>
							</dl>
							<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus magna, pellentesque sit amet elementum at, bibendum eu nulla. Curabitur mattis maximus facilisis. Etiam bibendum purus sed imperdiet imperdiet. Aenean odio ligula, gravida in eros ac, porta sodales diam…</div>
						</li>
		
					</ul>
					<a class="btn" href="/my-saved-jobs/">View All</a>
                </section>
            <!--||{% endcomment %}||-->
            <!--||{% endblock saved-jobs %}||-->

				<div class="indeed-award">
					<img src="files/images/job-listing/indeed-award.jpg" alt="Indeed Work Wellbeing 100 Award" width="398" height="457"/>
				</div>
				
				<!--||{% block featured %}||-->
				<section class="sub-featured-jobs">
					<h2>
						Featured Jobs
					</h2>
					<ul class="featured-jobs-bottom">
						<!--||{% featured_jobs %}||-->
						<!--||{% comment %}||-->
						<li>
							<h3><a href="">Production Supervisor - 3rd Shift</a></h3>
							<dl>
								<div><dt>Location:</dt><dd>Pawtucket, RI</dd></div>
							</dl>
							<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus magna, pellentesque sit amet elementum at, bibendum eu nulla. Curabitur mattis maximus facilisis. Etiam bibendum purus sed imperdiet imperdiet. Aenean odio ligula, gravida in eros ac, porta sodales diam…</div>
						</li>	
						<li>
						<h3><a href="">Unit Operator - 2nd & 3rd Shift</a></h3>
						<dl>
							<div><dt>Location:</dt><dd>Pawtucket, RI</dd></div>
						</dl>
						<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus magna, pellentesque sit amet elementum at, bibendum eu nulla. Curabitur mattis maximus facilisis. Etiam bibendum purus sed imperdiet imperdiet. Aenean odio ligula, gravida in eros ac, porta sodales diam…</div>
					</li>
					<li>
						<h3><a href="">Material Resource Planner</a></h3>
						<dl>
							<div><dt>Location:</dt><dd>Pawtucket, RI</dd></div>
						</dl>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus magna, pellentesque sit amet elementum at, bibendum eu nulla. Curabitur mattis maximus facilisis. Etiam bibendum purus sed imperdiet imperdiet. Aenean odio ligula, gravida in eros ac, porta sodales diam…</p>
					</li>
					<!--||{% endcomment %}||-->
					</ul>
				</section>
				<!--||{% endblock featured %}||-->
				<!--||{% block talent-network %}||-->
				<section class="tn-callout">
                  
					<a href="/talentnetwork/">
						<div><span>Join Our <strong>Talent Network</strong></span></div>
					</a>
                    
				</section>
				<!--||{% endblock talent-network %}||-->
				<!--||{% block social %}||-->
				<!--||{% endblock social %}||-->
			</div>
		</div>
	<!--||{% endblock full-width %}||-->
	</div>
</main>

<!--||{% block linkedin %}||--> 
<!--||{% endblock linkedin %}||--> 

	<footer class="footer">
	<div class="wrap">
		<nav class="social-media">
			<h3>Follow Us On</h3>
			<ul>
				<li><a href="https://www.facebook.com/AddusHomeCare" class="facebook-link"><span class="sr-only">Facebook Link</span></a></li>
				<li><a href="https://www.linkedin.com/authwall?trk=ripf&trkInfo=AQGBojekgyfqLgAAAWtGuakIHmXknOyu7EipyNvtxGvGVEJQfAJJIra2Ved_UAsbMk5TbwIEJtObWKaqGoO_UCmcvgGWY-VWinglNXUYjl5yxed3ZPnzQND5wLU9-DfFJd20cXg=&originalReferer=&sessionRedirect=https%3A//www.linkedin.com/company/240039?trk=tyah" class="linkedin-link"><span class="sr-only">Linkedin Link</span></a></li>
			</ul>
		</nav>
		<nav class="footer-nav">
			<ul>
				<li><a href="https://www.addus.com/about.html" target="_blank">About Addus</a></li>
				<li><a href="https://www.addus.com/contact.html" target="_blank">Contact</a></li>
				<li><a href="https://www.addus.com/privacy_notice.html" target="_blank">Privacy</a></li>
				<li><a href="https://www.addus.com/terms_of_use.html" target="_blank">Terms of Use</a></li>
				<li><a href="https://www.addus.com/documents/AddusNPP.pdf" target="_blank">Notice of Non-Discrimination</a></li>
			</ul>
		</nav>
		<p>Addus HomeCare is an equal opportunity employer and does not discriminate on the basis of race, color, gender, religion, age, sexual orientation, national or ethnic origin, disability, marital status, veteran status or any other occupationally irrelevant criteria. </p>
		<p>Copyright © <span id="year"></span> Addus HomeCare. All rights reserved.</p>
	</div>
</footer> 
<script src="files/js/fe.js" type="text/javascript"></script>

<!--||{% block js %}{% endblock %}||--> 	
</body>
</html>
