@charset "UTF-8";
/* CSS Document */
body {
  margin: 0px;
  -webkit-text-size-adjust: none;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #4D4D4F;
}
a:focus {
  -moz-outline-style: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
img {
  border: 0;
}
.scalable {
  width: 100%; /* or max-width : 100% */
  height: auto;
}
a:link, a:active, a:visited {
  color: #0077D4;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #d32027;
  text-decoration: none;
}
.imagefit img {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 0px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
section.philan-teams {
  background: rgba(245, 245, 245, 1);
  width: 100%;
  border-bottom: 10px solid #00629b;
  border-top: 10px solid #00629B;
  padding: 3em 0 1em;
}
section.philan-teams .inside {
  width: 90%;
  max-width: 1500px;
  text-align: center;
  margin: 0px auto 0px auto;
}
.philan-teams h2 {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 700;
  margin: 0px auto 40px auto;
  letter-spacing: -.01em;
  color: #000000;
  width: 80%;
}
.philan-teams-box {
  display: inline-block;
  vertical-align: middle;
  width: 24%;
  margin: 0px 1% 20px 1%;
  background-color: #023453;
  padding: .5% 2%;
  background-image: url(images/curved-shape.png);
  background-repeat: no-repeat;
  background-position: 0% center;
  background-size: 100% 100%;
}
.philan-teams-box-btm {
  font-size: 18px;
  line-height: 1.1em;
  font-weight: 700;
  color: #fff;
  letter-spacing: -.01em;
  vertical-align: middle;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.philan-teams-box a {
  position: relative;
  display: block;
  line-height: 1.5em;
  color: #000000;
}
.philan-teams-box a .philan-teams-description {
  color: #ffffff;
  display: none;
  background-color: #41B6E6;
  position: absolute;
  width: 125%;
  /*min-height: 200px;*/
  padding: 5% 0;
  text-align: center;
  top: 50%;
  left: 50%;
  border-bottom: 12px solid #ffa300;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.philan-teams-header {
  margin: 30px 20px 0px;
  font-size: 1.3em;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ffffff;
}
.philan-teams-text {
  margin: 0px 20px;
  font-size: 1em;
  line-height: 1.4em;
  color: #000000;
  background-position: 0% center;
  text-align: left;
}
.philan-teams-box a:hover > .philan-teams-description, .philan-teams-box a:active > .philan-teams-description, .philan-teams-box a:focus > .philan-teams-description {
  display: inherit;
}

/* View Upcoming Hiring Events */
.event-pop-up {
  position: fixed;
  z-index: 200;
  bottom: 30px;
  right: 20px;
  padding: 0px;
  border-radius: 7px;
  width: 380px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .15);
  overflow: hidden;
}
.event-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 1em;
  letter-spacing: -.03em;
  padding: 16px 26px;
  font-family: open-sans, sans-serif;
  font-weight: 700 !important;
  color: #1f457b;
  background-color: #ffc843;
  text-align: right;
  transition: all 0.25s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.event-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1f457b;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: all 0.25s linear;
}
.event-button:hover::before, .event-button:focus::before, .event-button:active::before {
  opacity: 1;
  transform: scaleX(1);
}
.event-button:hover, .event-button:focus, .event-button:active {
  color: #fff;
}
.event-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #ffffff;
  left: 22px;
  top: 50%;
  transform: rotateZ(0deg) translateY(-50%);
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/calander-blue.png");
  transition: .15s all ease-in-out .1s;
}
.event-button:hover::after, .event-button:focus::after, .event-button:active::after {
  background-image: url("images/calander-dk-blue.png");
  transition: .15s all ease-in-out .0s;
}
.event-button.active::after {
  transform: rotateZ(180deg) translateY(50%);
  background-image: url("images/x-blue.png");
  background-size: 45%;
  transition: .15s all ease-in-out .0s;
}
.event-button.active:hover::after, .event-button.active:focus::after, .event-button.active:active::after {
  transform: rotateZ(180deg) translateY(50%);
  background-image: url("images/x-blue.png");
  background-size: 45%;
  transition: .15s all ease-in-out .0s;
}
.event-content {
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 27px 2em 27px;
  font-size: 1em;
  line-height: 1.4em;
  text-align: left;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  background-color: #fff;
}
.event-content ul {
  display: block;
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0;
}
.event-content ul li {
  display: block;
  padding: 1.5em 5px;
  border-bottom: 1px solid rgba(118, 134, 146, .12);
}
.event-content ul li h3 {
  margin: 0px auto;
  padding: 0px;
  font-size: 20px;
  letter-spacing: -.03em;
}
.event-content ul li dl {
  font-size: 14px;
  line-height: 1.4em;
  list-style: none;
  margin: 1em 0px .5em;
}
.event-content ul li dl dt {
  display: inline-block;
}
.event-content ul li dl dd {
  display: inline-block;
}
.event-content ul li dl span {
  display: block;
}
.event-content ul li dl dt {
  width: 65px;
}
.event-content ul li a.event-link {
  display: inline-block;
  background-color: #00428a;
  color: #ffffff;
  font-size: 15px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 9px 20px 9px 20px;
  margin: .25em 0px 0px;
  position: relative;
  border-radius: 5px;
  z-index: 1;
}
.event-content ul li a.notify-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1em;
  margin: .75em 0px 0px;
  color: rgba(118, 134, 146, .8);
  font-weight: 400;
  transition: .2s all ease-in-out;
}
.event-content ul li a.notify-link:hover, .event-content ul li a.notify-link:focus, .event-content ul li a.notify-link:active {
  text-decoration: underline;
  color: #0072CE !important;
}
/* .event-content ul li a.event-link::before {
  content: "";
  position: absolute;
  z-index: 1;
  right: 18px;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid #fff;
  transform: translateY(-50%);
  top: 50%;
  transition: .1s all ease-in-out 0s;
} */
.event-content ul li a.event-link:hover::before, .event-content ul li a.event-link:focus::before, .event-content ul li a.event-link:active::before {
  right: 15px;
  opacity: 1;
  transition: .1s all ease-in-out .15s;
}
.event-content ul li a.event-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left;
  background-color: #0072CE;
  opacity: 0;
  transform: scaleX(0);
  transition: .25s all ease-in-out;
}
.event-content ul li a.event-link:hover::after, .event-content ul li a.event-link:focus::after, .event-content ul li a.event-link:active::after {
  opacity: 1;
  transform: scaleX(1);
}
.view-all-events {
  display: inline-block;
  background-color: #373A36;
  color: #ffffff !important;
  font-size: 15px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 20px 9px 20px;
  margin: 1.5em 0px 0px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
.view-all-events::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  right: 18px;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/global/arrow-white.png");
  transition: .1s all ease-in-out 0s;
}
.view-all-events:hover::before, .view-all-events:focus::before, .view-all-events:active::before {
  right: 15px;
  opacity: 1;
  transition: .1s all ease-in-out .15s;
}
.view-all-events::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left;
  background-color: #768692;
  opacity: 0;
  transform: scaleX(0);
  transition: .25s all ease-in-out;
}
.view-all-events:hover::after, .view-all-events:focus::after, .view-all-events:active::after {
  opacity: 1;
  transform: scaleX(1);
}


@media only screen and (max-width: 700px) {
  .philan-teams-box {
    display: block;
    vertical-align: middle;
    width: 98%;
    margin: 0px 0 10px 0;
    padding: 1%;
  }
  section.philan-teams .inside {
    width: 96%;
  }
  .philan-teams-box {
    display: inline-block;
    vertical-align: middle;
    width: 96%;
    margin: 0px 1% 10px 1%;
    padding: 1%;
  }
  .philan-teams-box-btm {
    font-size: 4vw;
    line-height: 1.2em;
    /*    min-height: 80px;*/
    letter-spacing: 0em;
  }
  .philan-teams-box a .philan-teams-description {
    width: 100%;
    min-height: none;
    padding: 3% 0;
    border-bottom: 10px solid #ffa300;
    display: block;
    position: static;
    margin: 0 auto;
    transform: none;
  }
  .philan-teams-text {
    font-size: 2.5vw;
    line-height: 1.3em;
  }
}