/* 
  -----------------------------------
  Pop Menu Magic 3
  Nav
  -----------------------------------
*/


.p7PM3-01 {
    line-height: normal;
    font-stretch: condensed;
    -webkit-transform-style: preserve-3d;
}
.p7PM3-01.horiz {
    padding: 0px 8px;
}
.pmm3-toolbar {
    display: none;
}
.p7PM3-01 a img {
    border: none;
    vertical-align: bottom;
}
.p7PM3-01.menu-centered {
    text-align: center;
}
.p7PM3-01.menu-right {
    text-align: right;
}
.p7PM3-01:after {
    content: "\0020";
    clear: both;
    font-size: 0px;
    line-height: 0;
    display: inline;
    height: 0px;
}
.p7PM3-01 ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: bottom;
}
.p7PM3-01 ul li {
    list-style-type: none;
	display: inline-block;
  	vertical-align: top;
    position: relative;
}
.p7PM3-01 ul li a {
    display: block;
    padding: 11px 11px 5px 11px;/*was 11px 15px 5px 15px*/
    color: #fff;
    text-decoration: none;
    background-position: left center;
    background-repeat: no-repeat;
}
.p7PM3-01-spacer { /*added SA*/
    height: 52px;
    display: block;
}
.p7PM3-01 ul li a.pm3-link {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	overflow: hidden;
}
.p7PM3-01 ul li a.pm3-link:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.p7PM3-01 ul li a.pm3-link:hover:before, .p7PM3-01 ul li a.pm3-link:focus:before, .p7PM3-01 ul li a.pm3-link:active:before {
  right: 0;
}
.p7PM3-01 ul ul li a {
    background-color: #FFFFFF;
    color: #666;
    border: none !important;
    font-size: 1em;
    line-height: normal;
	padding: 18px;
}
.p7PM3-01 ul ul li:last-child a {
    border-bottom: none;
}
.p7PM3-01 ul ul li a.pm3-link:hover, .p7PM3-01 ul ul li a.trig_open {
    text-decoration: underline;
}
/*Turn off BG Image for links that are not triggers*/
.p7PM3-01 ul li a.pm3-link, .p7PM3-01 ul li a.pm3-link:hover {
}
.p7PM3-01 ul ul {
    display: block;
    text-align: left;
    width: auto;
    margin-left: 10px;
    margin-top: 30px;
	padding: 18px;
	background-color: #ffffff;
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right, #000, #fff);
    border-image-slice: 1;   /*left to right  SA*/
}
.p7PM3-01.transparent ul ul {
    background: linear-gradient(90deg, rgba(34,34,34,1), rgba(0,0,0,.95));
}
.p7PM3-01.shadows ul ul {
    box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.p7PM3-01.auto-subs ul ul {
    width: auto;
}
.p7PM3-01.auto-subs ul ul li a {
    white-space: nowrap;
}
.p7PM3-01 ul ul li {
    position: relative;
    float: none;
    margin: 0px;
    padding: 0px;
}
/*CURRENT MARK */
.p7PM3-01 ul li a.current_mark {
    text-shadow: -.5px 0px 0px #000;
}
.p7PM3-01 ul ul li a.current_mark {
    color: #CCCCCC;
    text-shadow: none;
}
.p7PM3-01.vert ul li a.current_mark {
    text-shadow: none;
}
/*
NO-SCRIPT RULES
The following rules enable your menu to work even when javascript is disabled in the browser
*/
.p7PM3-01.p7PM3noscript {
    position: relative;
}
.p7PM3-01.p7PM3noscript ul ul {
    position: absolute;
    display: none;
    top: 100%;
}
.p7PM3-01.p7PM3noscript ul ul ul {
    display: none;
    top: 0px;
    left: 100%;
}
.p7PM3-01.vert.p7PM3noscript ul ul {
    top: 0px;
    left: 100%;
}
.p7PM3-01.p7PM3noscript li:hover ul {
    display: block;
}
.p7PM3-01.p7PM3noscript li:hover ul ul, .p7PM3-01.p7PM3noscript li:hover ul ul ul, .p7PM3-01.p7PM3noscript li:hover ul ul ul ul, .p7PM3-01.p7PM3noscript li:hover ul ul ul ul ul, .p7PM3-01.p7PM3noscript li:hover ul ul ul ul ul ul {
    display: none;
}
.p7PM3-01.p7PM3noscript li li:hover ul, .p7PM3-01.p7PM3noscript li li li:hover ul, .p7PM3-01.p7PM3noscript li li li li:hover ul, .p7PM3-01.p7PM3noscript li li li li li:hover ul, .p7PM3-01.p7PM3noscript li li li li li li:hover ul {
    display: block;
}
@media only screen and (min-width: 0px) and (max-width: 1130px) {
.p7PM3-01 ul li a {/*--added KD 04-03-20--*/
    padding: 11px 9px 5px 9px;
}
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
.p7PM3-01.responsive:after {
    display: none;
}
.p7PM3-01.responsive .pmm3-toolbar {
    display: block;
    background-color: #222;
    padding: 10px;
    text-align: right;
    cursor: pointer;
}
.p7PM3-01.responsive .pmm3-toolbar a {
    font-size: 2em;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}
.p7PM3-01.responsive .pmm3-toolbar a:hover {
    color: #FFF;
}
.p7PM3-01.responsive .toggle-text.closed a:before {
    content: "Show Menu \0020";
    font-size: .5em;
}
.p7PM3-01.responsive .toggle-text.opened a:before {
    content: "Hide Menu \0020";
    font-size: .5em;
}
.p7PM3-01.responsive .pmm3-toolbar {
    display: block;
    background-color: #222;
    padding: 10px;
}
.p7PM3-01.responsive {
    text-align: left !important;
    padding: 0px !important;
}
.p7PM3-01.responsive.vert ul {
    margin-top: 0px;
}
.p7PM3-01.responsive ul {
    display: block;
}
.p7PM3-01.responsive ul li {
    float: none;
    margin-right: 0px;
}
.p7PM3-01.responsive a.trig_closed:hover {
    background-color: #222;
    color: #DDD;
}
.p7PM3-01.responsive ul ul {
    position: static !important;
    width: auto;
}
.p7PM3-01.responsive .pmm3-title-bar {
    padding: 12px 18px;
}
.p7PM3-01.responsive ul ul a, .p7PM3-01.responsive ul ul .pmm3-title-bar {
    padding-left: 24px;
}
.p7PM3-01.responsive ul ul ul a, .p7PM3-01.responsive ul ul ul .pmm3-title-bar {
    padding-left: 32px;
}
.p7PM3-01.responsive ul.closed {
    display: none;
}
.p7PM3-01.responsive ul.opened {
    display: block;
}
.p7PM3-01.responsive.rounded, .p7PM3-01.responsive.rounded * {
    border-radius: 0px !important;
}
.p7PM3-01.responsive.shadows * {
    box-shadow: none !important;
}
.p7PM3-01_crumbs {
    display: none;
}
.p7PM3-01_crumbs.show-mobile {
    display: block;
}
.p7PM3.responsive.select .pmm3-select-wrapper {
    display: block;
    padding: 10px;
}
.p7PM3.responsive.select select {
    width: 100%;
    font-size: 1em;
    padding: 4px;
}
.p7PM3.responsive.select .pmm3-toolbar {
    display: none;
}
.p7PM3.responsive.select ul {
    display: none;
}
/*Workaround for very old Android devices*/
.p7PM3-01 div {
    left: 0px !important;
    top: 0px !important;
}
/*End old Android workaround*/
}
