	<!DOCTYPE html>
	<html lang="en">
	
	<head>
	<!--|| {% load job_tags static %} ||-->
		<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Family Security Plan</title>
		<meta name="keywords" content="">
		<meta name="description" content="" />
	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
		<!-- Google -->
		<meta itemprop="image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image:src" content="/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
		<!-- Open Graph general (Facebook, Pinterest & Google+) -->
		<meta property="og:image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
		<meta property="og:image:secure_url" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
		<!-- Open Graph (LinkedIn) -->
		<meta name="image" property="og:image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
		<link rel="shortcut icon" href="/static/sites/www/files/images/favicon.ico">
	
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "{{ CANONICAL_URL }}/",
				"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
			}
		</script>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/static/sites/www/files/images/global/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/sites/www/files/images/global/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/sites/www/files/images/global/favicons/favicon-16x16.png">
		<link rel="manifest" href="/static/sites/www/files/images/global/favicons/site.webmanifest">
		<link rel="mask-icon" href="/static/sites/www/files/images/global/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
		<!-- End Favicon -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital@0;1&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Noto+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="files/css/style.css">
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script src="files/js/jquery.plugins-min.js" type="text/javascript"></script>
		<script src="files/js/jquery.init-min.js" type="text/javascript"></script>
	
	<script src="{% static 'js/common.js' %}"></script>
	<!--||{% block head %}{% endblock %}||-->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-G3HSLD3MCN"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-G3HSLD3MCN');
	</script>
</head>

	<body>
		<a href="#main-content" class="scroll-to-content">Scroll to Content</a>
		<header id="header">
			<div class="top-bar">
				<div class="wrap">
					<a href="tel:+18009907890">Contact Recruiting 1-800-990-7890x1214</a>
					<div class="add-this-wrap">
						Share This Page
						
						<div class="share-this-icons">
							<ul>
								<li>
									<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
								</li>
								<li>
									<a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
								</li>
								<li>
									<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
								</li>
								<li><a href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			<div class="bottom-bar">
				<div class="wrap">
					<div class="left">
						<a href="https://familysecurityplan.com/" class="logo"><img src="files/images/global/FSP-logo.jpg" alt="The Family Security Plan"></a>
					</div>
					<div class="right">
						<a href="#main-menu" class="menu-toggle" aria-expanded="false">
							<span>Open Menu</span>
						</a>
						<nav id="main-menu" class="main-menu">
							<ul>
								<li class="mobile-only"><a href="tel:+18009907890">Contact Recruiting 1-800-990-7890x1214</a></li>
								<li><a href="/index.html">Careers Home</a></li>
								<li><a href="/who-we-hire.html">Who We Are</a></li>
								<li><a href="/culture.html" class="active">Culture</a></li>
								<li><a href="/benefits.html">Benefits</a></li>
								<li><a href="/resources.html">Resources</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="">
	
			<section class="inner-banner">
				<div class="inner-banner-image culture-banner">
					<div class="img-text">
						<div class="wrap">Go live life.</div>
					</div>
				</div>
				<div class="inner-banner-content">
					<div class="wrap">
						<div class="inner-wrap">
							<h1>Careers that<br> let you live life. </h1>
							<a href="/jobs/" class="btn">View All Jobs</a>
						</div>
					</div>
				</div>
			</section>
			
			<section class="search-home">
				<button class="mobile-search-button" href="#search-form" aria-controls="#search-form" aria-expanded="false">Search Jobs</button>
			
        <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||--> 
        
        <!--||{% comment %}||-->
				<form id="search-form" method="get">
					<ul class="search-content" id="search-content">
						<li>
							<input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
							<input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search" />
						</li>
						<li>
							<button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
								Search Jobs by Category
							</button>
							<ul class="select-listing" id="category-search">
								<li class="accordion-link">
									<a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
								</li>
								<li class="accordion-link active"><a class="accordion-link search_link" href="/jobs/accounting-finance/">Accounting / Finance Jobs</a></li>
							</ul>
						</li>
						<li>
							<button class="search-accordion-button" href="#type-search" aria-controls="#location-search" aria-expanded="false">
								Search Jobs by Type
							</button>
							<ul class="select-listing" id="type-search">
								<li class="accordion-link active">
									<a class="accordion-link search_link" href="/jobs/accounting-finance/">Search All Types</a>
								</li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-40" href="/jobs/accounting-finance/us/">Full Time</a></li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-20" href="/jobs/accounting-finance/us-ma-leominster/">Part Time</a></li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-20" href="/jobs/accounting-finance/us-ri-pawtucket/">Per Diem</a></li>
							</ul>
						</li>
						<li>
							<button class="search-accordion-button" href="#location-search" aria-controls="#location-search" aria-expanded="false">
								Search Jobs by Location
							</button>
							<ul class="select-listing" id="location-search">
								<li class="accordion-link active">
									<a class="accordion-link search_link" href="/jobs/accounting-finance/">Search All Locations</a>
								</li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-40" href="/jobs/accounting-finance/us/">North America Jobs</a></li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-20" href="/jobs/accounting-finance/us-ma-leominster/">Leominster, MA Jobs</a></li>
								<li class="accordion-link"><a class="accordion-link search-link search-link-20" href="/jobs/accounting-finance/us-ri-pawtucket/">Pawtucket, RI Jobs</a></li>
							</ul>
						</li>
			
						<li>
							<div class="zip-search">
								<input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
								<select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
									<optgroup>
										<option value="10">10 Miles</option>
										<option value="25" selected>25 Miles</option>
										<option value="50">50 Miles</option>
										<option value="100">100 Miles</option>
									</optgroup>
								</select>
								<button id="id-zipcode-btn">
									<span class="sr-only"> Submit Zip Code and Radius Search</span>
								</button>
							</div>
						</li>
						<li>
							<a href="/jobs/" class="advanced-button">Advanced Search</a>
						</li>
					</ul>
				</form>
        <!--||{% endcomment %}||-->

			</section>
			
			
			<div class="video-intro">
				<div class="wrap">
					<div class="text-col" style="width: 100%;">
						<h2>YOUR SUCCESS IS OUR SUCCESS</h2>
						<p>We care about our employees. We are proud to offer a strong work life balance, a supportive environment, and a place where our employees can thrive.</p>
					</div>
					<!-- <div class="video-col">
						<style></style><div class='embed-container'><iframe src='https://www.youtube.com/embed/199LqExikIw' frameborder='0' allowfullscreen></iframe></div>
					</div> -->
				</div>
			</div>
			
			
			<section class="callout-list">
				<div class="wrap">
					<h2>Employee Value Proposition</h2>
					<ul>
						<li id="quality-of-life">
							<div class="inner-wrap">
								<h3>Quality of Life — A healthy balance between work and life outside of work.</h3>
								<ul>
									<li>We put families first and understand the need for flexibility.</li>
									<li>We offer wellness programs to help our employees stay healthy in mind, body, and spirit.</li>
									<li>We work hard yet find time to have fun together. </li>
									<li>We recognize and celebrate our individual and team accomplishments.</li>

								</ul>
								
							</div>
						</li>
						<li id="every-life-matters">
							<div class="inner-wrap">
								<h3>EVERY LIFE MATTERS — GOING ABOVE & BEYOND</h3>
								<ul>
									<li>We thrive on helping others; our customers, our communities, and each other.</li>
									<li>We believe in the unending pursuit of protecting families and educating our customers on what matters most.</li>
									<li>Every person working here is valued, heard, and respected.</li>

								</ul>
								
							</div>
						</li>
						<li id="achieving-success">
							<div class="inner-wrap">
								<h3>ACHIEVING SUCCESS — BEING PROFESSIONALS WITH INTEGRITY</h3>
								<ul>
									<li>Hard work does not go unnoticed, and victories are recognized and celebrated.</li>
									<li>We believe in helping each other through individual and team accountability.</li>
									<li>Whether you are just starting out or have put in decades of service, you have the ability to grow within the FSP and follow the path you want and deserve.</li>

								</ul>
							</div>
						</li>
						<li id="celebrating-and-connecting">
							<div class="inner-wrap">
								<h3>Celebrating and Connecting with One Another</h3>
								<ul>
									<li>We have a family-oriented environment where we rally together in support of one another in good times and in bad.</li>
									<li>We build strong relationships and actively engage with all departments and regions.</li>
									<li>We collaborate and share knowledge across the company.</li>
									<li>We regularly engage in helping others and giving back to our communities.</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</section>
			
			
		<section class="general-content">
			<div class="wrap">
				<div class="inner-wrap">
					<h2>COMMUNITY OUTREACH</h2>	
					<p>Giving back to the community is a core value to The Family Security Plan&reg;. As a company, we are committed to service as a way for us to engage with the community and one another. Some initiatives and causes we support include:</p>
					<ul>
						<li>Confetti Foundation</li>
						<li>W.H.E.A.T (West Haven Emergency Assistance Taskforce)</li>
						<li>American Cancer Society - Making Strides Against Breast Cancer</li>
						<li>March of Dimes – Blue Jeans for Babies</li>
						<li>Connecticut Food Bank</li>
						<li>Columbus House Inc.</li>
						<li>Do Good Live Well</li>
						<li>Good Secrets and Bad Secrets</li>
						<li>Earth to Mars STEM Program</li>
						<li>Kaiser’s Room</li>
						<li>Milford Food 2 Kids</li>
						<li>The Rafael Hernandez School</li>
						<li>Bridgeport Child Advocacy Coalition (BCAC)</li>
						<li>Big Brothers Big Sisters of Miami</li>
						<li>And many more</li>
					</ul>
				</div>
			</div>
		</section>
			
			<section class="view-all-jobs-callout">
				<div class="wrap">
					<h2>OUR PEOPLE</h2>
					<h3>WHEN IT COMES TO YOUR CAREER, WE WANT YOU TO TAKE CONTROL.</h3>
					<p>With your talent, drive and ambition, we want you to choose us. The Family Security Plan® is the nation’s largest distributor of individual insurance products sold directly to credit union members and qualifying customers through face-to- face, phone and digital marketing. Our products and services are superior; however, it's our employees that make the real difference.
</p>
				<p><a href="/jobs/" class="btn">View All Jobs</a> </p>
					<!-- <p><a href="/jobs/" class="btn">View All Jobs</a> &nbsp;&nbsp;<a href="https://www.youtube.com/watch?v=ndHU3ispJIo" class="btn open-video">Watch Our <em>Company Culture</em> Video</a> </p> -->
				</div>
			</section>
			
			<div class="video-callout">
				<div class="wrap">
					<h2>Company Culture</h2>
					<div class="inner-wrap">
						<div class="embed-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/ndHU3ispJIo?si=fXTDtsOr8zYY4ZDC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			
		<section class="talent-network-home no-margin-top">
			<div class="wrap">
				<h2>Join Our Talent Network</h2>
				<p>Stay connected with The Family Security Plan® and receive alerts with new job opportunities and news relative to your interests.</p>
				<a href="/talentnetwork/" class="btn">sign up now</a>
			</div>
		</section>

	</main>
	<footer>
		<div class="top-row">
			<div class="wrap">
				<div class="col">
					<h4>Contact Recruiting</h4>
					<a href="tel:+18009907890">(800) 990-7890x1214</a>
				</div>
				<div class="col">
					<h4>Email</h4>
					<a href="mailto:info@pfpservices.com">info@pfpservices.com</a>
				</div>
				<div class="col">
					<h4>Fax</h4>
					<a href="tel:+12039071653">(203) 907-1653</a>
				</div>
			</div>
		</div>
		<div class="mid-row">
			<div class="wrap">
				<div class="col">
					<h4>Contact</h4>
					<address>
						The Family Security Plan®<br>
						34 Prindle Hill Rd.<br>
						Orange, CT 06477
					</address>
					<p>Billing Questions and Inquiries</p>
					<a href="tel:+18002432292">(800) 243-2292</a>
					<nav class="contact-nav">
						<ul>
							<li><a href="https://familysecurityplan.com/contact/">DIRECTIONS</a></li>
							<li><a href="/">CAREERS</a></li>
							<li><a href="https://familysecurityplan.com/blog/">BLOG</a></li>
						</ul>
					</nav>
					<nav class="social-media">
						<ul>
							<li><a href="https://www.facebook.com/people/The-Family-Security-Plan/100063761101909/">Facebook</a></li>
							<li><a href="https://twitter.com/fsp_family">Twitter</a></li>
							<li><a href="https://www.linkedin.com/company/pfp-services?original_referer=https%3A%2F%2Ffamilysecurityplan.com%2F">LinkedIn</a></li>
							<li><a href="https://www.instagram.com/thefamilysecurityplan/">Instagram</a></li>
						</ul>
					</nav>
				</div>
				<div class="col">
					<h4>Insurance Products</h4>
					<nav>
						<ul>
							<li><a href="https://familysecurityplan.com/insurance-products/whole-life-insurance/">Whole Life Insurance</a></li>
							<li><a href="https://familysecurityplan.com/insurance-products/term-life-insurance/">
									Term Life Insurance</a></li>
							<li><a href="https://familysecurityplan.com/insurance-products/disability-insurance/">Disability Insurance</a></li>
							<li><a href="https://familysecurityplan.com/insurance-products/critical-illness-insurance/">Critical Illness Insurance</a></li>
							<li><a href="https://familysecurityplan.com/insurance-products/accident-plus-insurance/">Accident Insurance</a></li>
						</ul>
					</nav>
				</div>
				<div class="col">
					<h4>Credit Unions</h4>
					<nav>
						<ul>
							<li><a href="https://familysecurityplan.com/credit-unions/business-development/">Employer Group Marketing</a></li>
							<li><a href="https://familysecurityplan.com/credit-unions/credit-union-referral-program/">Contact Center Partnership</a></li>
							<li><a href="https://familysecurityplan.com/credit-unions/digital-content-marketing/">Email/Digital Engagement</a></li>
							<li><a href="https://familysecurityplan.com/credit-unions/member-engagement/">Outbound Engagement Campaigns</a></li>
							<li><a href="https://familysecurityplan.com/credit-unions/branch-network-product-delivery/">Branch Network Product Delivery</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="bottom-row">
			<div class="wrap">
				&copy; PFP 2022 / <a href="https://familysecurityplan.com/privacy-policy/">Privacy Policy</a> / <a href="https://familysecurityplan.com/privacy-notice/">Privacy Notice</a> /  <a href="https://familysecurityplan.com/terms-and-conditions/">Terms &amp; Conditions</a> /  <a href="https://familysecurityplan.com/do-not-call/">Do Not Call Policy</a> /  <a href="">Site Map</a>
			</div>
		</div>
	</footer>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-640a1fa83ce82969"></script>

    <!--||{% block js %}{% endblock %}||-->   
</body>

</html>