@charset "UTF-8";
/* CSS Document */
/*  Globe  */
body{
	font-family: 'Montserrat', sans-serif;
	font-size:1em;
	line-height: 2em;
	color: #000;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
.scalable{
	max-width: 100% !important;
	height: auto !important;
}
a:link, a:visited, a:active{
	text-decoration: none;
	transition: all .15s ease-out;
}
a:hover{
	text-decoration: none;
}
.imgover{
	cursor: pointer;
}
.imagefit img{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
}
.clearfix{
	clear:both;
}
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/*  Header  */
.green-bar{
	background:#6ebf4a;
	color: #fff;
	text-align: center;
	width: 100%;
}
.green-bar-inner{
	padding: 8px 0;
	width: 90%;
}
.green-bar-inner a{
	color: #ffffff;
	font-size: 0.85em;
	font-weight: 600;
}
.green-bar-inner a:hover {
	text-decoration: underline!important;
}
.green-bar-inner a:visited, .green-bar-inner a:active{
	color: #ffffff;
}
.green-bar-icon{
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	margin-right: 7px;
}
.green-bar-content{
	display: inline-block;
	width: auto;
}

/* --------- */
.white-bar{
	background-color: #ffffff;
	width: 100%;
}
.white-bar-inner{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 21px 0 0;
	text-align: center;
}
.logo-holder{
	width: 150px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 18px;
}
.menu-holder{
	width: 85%;
	display: inline-block;
	text-align: right;
	vertical-align: bottom;
}
/*   TOP MENU  */
.top-menu ul{
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0;
}
.top-menu li{
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}
.top-menu a{
	color: #6bccdf;
	font-size: 0.85em;
	font-weight: 600;
	text-transform: uppercase;
	transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.top-menu a:visited{
	color: #6bccdf;
}
.top-menu a:hover{
	color:#7fc55b;
}
.social-icons{
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin-left: 5px;
}
.social-icons a{
	margin-left: 20px;
}

/*   BOTTOM MENU  */
.menu {
	display: inline-block;
	width: auto;
	line-height: 1;
	font-size: .84em;
	-webkit-transform-style: preserve-3d;
	
}
.menu a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.menu a:before {
	content: "";
	position: absolute;
	z-index: 901;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #7fc55b;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.menu a:hover:before, .menu a:focus:before, .menu a:active:before {
	left: 0%;
	right: 0%;
	color: #7fc55b;
}

.menu ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.menu ul li{
	list-style: none;
	float: left;
	position: relative;
}
.menu ul li a {
	display: block;
	padding: 26px 9px 12px 9px;
	margin: 0px -12px 0px 15px; 
	color: #0077bc;
	text-decoration: none;
	background-position: left center;
	background-repeat: no-repeat;
	text-transform: uppercase;
	letter-spacing: .07em;
	font-weight: 500;
}
.menu ul li a:hover {
	color: #7fc55b;
}
.menu ul ul {
	padding: 10px 12px 15px 12px;
	width: 175px;
	margin-top: 20px;
	margin-left: 14px;
	background-color: #7fc55b;
}
.menu ul ul li {
	border: none;
	padding: 24px 0px 0px 0px;
	background-color: #7fc55b;
	width: 170px;
	text-align: left;
}
.menu ul ul li a {
	color: #FFFFFF;
	font-size: .8em;
	line-height: 1.2em;
	padding: 0px;
}
.menu ul ul li a:hover{
	color: #ddd;
}
.menu ul ul li:last-child a {
	border-bottom: none;
	padding-bottom: 24px;
}
.sub-menu{
	position: relative;
	display: inline-block;
}

ul.sub-menu-content{
	display: block;
	position: absolute;
    min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 12px 16px;
	z-index: 1;
	background-color: #7fc55b;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.sub-menu:hover ul.sub-menu-content{
	display: block;
	background-color: #7fc55b;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}
.mobilemenu{
	display: none;
}
/*-- ---- ---- BANNER ---- ---- --*/

.BannerArea {
	width: 100%;
	background-image: url("images/sub/banner-image.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	/*margin-top: 160px;*/
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}
.BannerArea-inner {
    overflow: hidden;
    display: table;
    border-collapse: collapse;
	padding: 0px;
	margin: 0px auto 0px auto;
	border: 0px;
	width: 100%;
}
.BannerArea-inner-row {
    display: table-row;
	margin: 0px;
	padding: 0px;	
}
.BannerArea-inner-left {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	padding-bottom: 30%;
}
.BannerArea-inner-right {
	display: table-cell;
	vertical-align: middle;
}
.BannerArea-text {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 3.2em;
	letter-spacing: -.02em;
	line-height: 1em;
	font-weight: 400;
	margin-left: 3.5em;
}

