<!DOCTYPE html>
<html lang="en">
<head>

    <meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tree Service and Lawn Care Jobs | SavATree</title>
    <meta name="keywords" content="tree service jobs, lawn care jobs">
    <meta name="description" content="Apply online for Tree Service and Lawn Care Jobs at SavATree. With new
    locations opening across the country, we are looking for people who want
    to grow with us." />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google -->
    <meta itemprop="image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
    <link rel="shortcut icon" href="/static/sites/wwwfiles/images/favicon.ico">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://www.savatreecareers.com",
            "image": "files/images/global/knowledge-graph-logo/logo.png",
            "logo": "files/images/global/knowledge-graph-logo/logo.png"
        }
    </script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/sites/www/files/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/sites/www/files/images/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/sites/www/files/images/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/sites/www/files/images/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="SavATree" />
    <link rel="manifest" href="/static/sites/www/files/images/favicons/site.webmanifest" />
    <!-- End Favicon -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ufj8mlj.css">
    <link rel="stylesheet" href="files/css/style.css">

    <!--||{% load job_tags pagination_tags static %}||-->
    <script src="{% static "js/common.js" %}"></script>
    <!--||{% block head %}{% endblock %}||-->
</head>
<body>
<a href="#main" class="skip-to-content">Skip to Content</a>
<header id="header" class="click-menu">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="files/images/global/logo-color.png" alt="SavaTree Logo"></a>
        </div>
        <button class="menu-toggle" aria-controls="nav">
            <span>Open Menu</span>
        </button>
        <div class="nav-wrap" id="nav" aria-expanded="false">
            <a href="" class="signin-link">Sign In</a>
            <nav class="main-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <!-- 
                    <li><a href="/our-culture.html">Our Culture</a></li>
                    <li><a href="/career-paths.html">Career Paths</a></li> 
                    -->
                    <li><a href="/jobs/">Job Opportunities</a></li>
                    <li><a href="mailto:talent@savatree.com">Contact Us <div class="sr-only">(opens email app)</div></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main id="main">
    <section id="home-hero-banner">
        <div class="hero-content-col">
            <h1>Work Here <em>Thrive Here!</em></h1>
        </div>
        <div class="hero-image-col"></div>
    </section>

    <section class="job-search-bar">
        <button class="mobile-search-button" href="#search-form" aria-controls="search-form" aria-expanded="false">Search Jobs<div class="search-jobs-icon"><span></span></div></button>
        <ul class="search-content" id="search-content">
            <li>
                <form id="search-form" method="get" action="/jobs/">
                    <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
                    <button type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
                        <span class="sr-only">Submit Keyword Search</span>
                    </button>
                </form>
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="category-search" aria-expanded="false">Search Jobs by Category</button>
                <ul class="search-content" id="category-search">
                    <!--||{% category_choices %}||-->
                    <!--||{% comment %}||-->
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <!--||{% endcomment %}||-->
                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#location-search" aria-controls="location-search" aria-expanded="false">Search Jobs by Location</button>
                <ul class="search-content" id="location-search">
                    <!--||{% location_choices %}||-->
                    <!--||{% comment %}||-->
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <li class="accordion-link"><a href="">Category Name</a></li>
                    <!--||{% endcomment %}||-->
                </ul>
            </li>
            <li>
                <a href="{% url 'search' %}" class="btn green">Search All Jobs</a>
            </li>
        </ul>
    </section>

    <section class="mission-statement">
        <div class="wrap">
            <div class="video-col">
                 <button class="video-facade">
                     <img src="files/images/main/video-facade-recruitment.jpg" alt="Click to play recruitment video"/>
                 </button>
                 <template id="recruitment-video"> 
                     <div class="embed-container">
                     <iframe src="https://player.vimeo.com/video/1147803178?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&autoplay=1" width="3840" height="2160" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="SavATree Recruitment Video"></iframe>
                     </div>
                 </template>
             </div>
            <div class="content-col">
                <h2>Share In Our Growth</h2>
                <p>SavATree was created 45 years ago to save huge populations of trees threatened by a gypsy moth invasion. Now nationwide, we are home to teams of people who came here with very different backgrounds and have built extraordinary careers by providing the very best care available for trees, shrubs and turf.</p>
            </div>
        </div>
    </section>

    <section class="view-job-opportunities-map">
        <div class="map-container">
            <!--||{% interactive_map %}||-->
        </div>
        <div class="wrap">
            <h2>View Job Opportunities Nationwide</h2>
            <p>SavATree currently provides environmentally sensible tree care and lawn care service to clients in many regions of the country. Click on the interactive map to see our office locations and learn more about opportunities close to where you reside!</p>
        </div>
    </section>

    <section class="we-invest-in-you">
        <h2>We Invest in You</h2>
        <ul>
            <li>
                <img src="files/images/main/growth.jpg" alt="">
                <h3>Growth for the Curious at Every Level. </h3>
                <p>When you work here, you thrive here, whether in your current role or on to the next. People with two-year, four-year, or high school degrees can find a rewarding career path, along with vigorous training and support programs.</p>
            </li>
            <li>
                <img src="files/images/main/empowering.jpg" alt="">
                <h3>Empowering People Is in Our Nature.</h3>
                <p>We teach our people everything we can, including how to make the right decisions and trust their own judgment. We have built a culture of trust and accountability brings out the very best in people.</p>
            </li>
            <li>
                <img src="files/images/main/great-people.jpg" alt="">
                <h3>Great People Are Supporting You.</h3>
                <p>Your home branch is also your home, where leaders and colleagues provide guidance and support. You’ll consult on landscape issues with experts in arboriculture, horticulture, and agronomics. Marketing makes sure opportunities are there to pursue.</p>
            </li>
        </ul>
    </section>

 

    <section class="career-callouts">
        <div class="wrap">
            <h2>Find Your Next Career and Flourish</h2>
            <div class="callout-wrap">
                <div class="img-col">
                    <img src="files/images/main/arborist.webp" alt="Arborist">
                </div>
                <div class="content-col">
                    <h3>Arborist</h3>
                    <p>The first point of contact for our customers, using their experience to assess and prescribe remedies for each client’s landscape.</p>
                    <a href="/jobs/?search_term=arborist&zipcode=&radius=25" class="link">Search Arborist Jobs</a>
                </div>
            </div>
            <div class="callout-wrap">
                <div class="img-col">
                    <img src="files/images/main/gtc.webp" alt="General Tree Care">
                </div>
                <div class="content-col">
                    <h3>General Tree Care</h3>
                    <p>The muscle of our operation. These industrial athletes work together to deliver high-quality tree care to protect our clients’ landscapes.</p>
                    <a href="/jobs/tree-service/" class="link">Search General Tree Care Jobs</a>
                </div>
            </div>
            <div class="callout-wrap">
                <div class="img-col">
                    <img src="files/images/main/management.webp" alt="Management">
                </div>
                <div class="content-col">
                    <h3>Management</h3>
                    <p>Our Leadership teams push process improvement and people growth to be the best-of-the-best in specialized tree, lawn, &amp; shrub company in world.</p>
                    <a href="/jobs/general-managers-and-operation-managers/" class="link">Search Management Jobs</a>
                </div>
            </div>
            <div class="callout-wrap">
                <div class="img-col">
                    <img src="files/images/main/plant-health-care.webp" alt="Plant Health CCare">
                </div>
                <div class="content-col">
                    <h3>Plant Health Care</h3>
                    <p>They inspect plant material, discover problems, and ethically remedy or prevent them. They see each plant disease or infestation as a problem to solve.</p>
                    <a href="/jobs/plant-health-care/" class="link">Search Plant Health Care Jobs</a>
                </div>
            </div>

            <a href="/jobs/" class="btn">Search All Jobs</a>

        </div>
    </section>

    <div class="well-cared">
        <div class="wrap">
            <h2>Well-Cared-For Trees Need Well-Cared-For People.</h2>
            <p>Benefits for your financial and physical health include:</p>
            <ul>
                <li>
                    <div class="icon-wrap">
                        <img src="files/images/main/401k.svg" alt="">
                    </div>
                    <div class="content-wrap">401k Saving Plan</div>
                </li>
                <li>
                    <div class="icon-wrap">
                        <img src="files/images/main/flexible.svg" alt="">
                    </div>
                    <div class="content-wrap">Flexible Spending Account</div>
                </li>
                <li>
                    <div class="icon-wrap">
                        <img src="files/images/main/health.svg" alt="">
                    </div>
                    <div class="content-wrap">Health Care</div>
                </li>
                <li>
                    <div class="icon-wrap">
                        <img src="files/images/main/dental.svg" alt="">
                    </div>
                    <div class="content-wrap">Voluntary Dental</div>
                </li>
                <li>
                    <div class="icon-wrap">
                        <img src="files/images/main/more.svg" alt="">
                    </div>
                    <div class="content-wrap">And More!</div>
                </li>
            </ul>
        </div>
    </div>

   

    <section class="summer-intern-program">
        <div class="wrap">
            <div class="img-col">
                <img src="files/images/main/summer-intern.jpg" alt="">
            </div>
            <div class="content-col">
                <h2>Summer Intern Program</h2>
                <p><strong>Bring your passion, ambition, and desire to do things differently. You’ll work with collaborative colleagues and mentors who will challenge you and help you develop important career skills that will allow you to thrive. </strong></p>
                <p>SavATree’s internship program offers experience in all of our service lines so students and grads get real world experience, and an opportunity to make an impact, too.</p>
                <p>We recruit students pursuing related fields and each of our branches is encouraged to sponsor an Intern that is coordinated through our Talent Team. The SavATree internship is different from a “summer work” because it provides exposure to our service lines, sales, and administrative operations. Come show us what you’ve got. </p>
                <a href="/talentnetwork/" class="btn">Join our Talent Network</a>
            </div>
        </div>
    </section>

    <section class="green-list">
        <div class="wrap">
            <ul>
                <li>Green <em>Company</em></li>
                <li>Green <em>Industry</em></li>
                <li>Green <em>Mindset</em></li>
            </ul>
            <p>
                The Green Industry is growing quickly, making “Engaging with Nature” an excellent career choice. And a meaningful one. Working at the intersection of people and trees means learning, advancement, fun, and an amazing feeling of purpose.
            </p>
        </div>
    </section>

    <section class="join-our-talent-network">
        <div class="wrap">
            <h2>Join Our Talent Network</h2>
            <p>Our talent community is the place where amazing people like you stay connected to our company and future opportunities. <br>We’d love to stay connected. </p>
            <a href="/talentnetwork/" class="btn">join our talent network</a>
        </div>
    </section>

</main>


<footer id="footer">
     <div class="top-bar">
    <div class="wrap">
       
            <nav class="footer-nav">
                <ul>
                   <li><a href="/">Home</a></li>
                   <!-- 
                   <li><a href="/our-culture.html">Our Culture</a></li>
                   <li><a href="/career-paths.html">Career Paths</a></li> 
                   -->
                   <li><a href="/jobs/">Job Opportunities</a></li>
                   <li><a href="mailto:talent@savatree.com">Contact Us <div class="sr-only">(opens email app)</div></a></li>
                </ul>
            </nav>

            <nav class="social-media">
                <strong>Connect With Us</strong>
                <ul>
                    <li>
                        <a href="https://www.instagram.com/savatree_official/">
                        <svg class="instagram">
                        <use xlink:href="files/images/global/social-icons/icons.svg#instagram" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/savatree">
                        <svg class="linkedin">
                        <use xlink:href="files/images/global/social-icons/icons.svg#linkedin" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/SavATreeHQ/">
                        <svg class="facebook">
                        <use xlink:href="files/images/global/social-icons/icons.svg#facebook" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=PdmgtKll3TY">
                        <svg class="youtube">
                        <use xlink:href="files/images/global/social-icons/icons.svg#youtube" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://savatree.staging-fxrecruiter.com/feeds/jobs-rss">
                        <svg class="rss">
                        <use xlink:href="files/images/global/social-icons/icons.svg#rss" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/savatree">
                        <svg class="x">
                        <use xlink:href="files/images/global/social-icons/icons.svg#x" />
                        </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="wrap">
            <p><strong>Have any questions? Please reach out to <a href="mailto:talent@savatree.com">talent@savatree.com</a></strong></p>
            <p>© 2025 SavATree | <a href="/privacy-policy.html">Privacy Policy</a> | <a href="/terms-of-conditions.html">Terms & Conditions</a></p>
        </div>
    </div>
</footer>

<script src="files/js/app.js" type="text/javascript"></script>
<!--||{% block js %}||--><!--||{% endblock %}||-->
</body>

</html>
