<!DOCTYPE html>
<html lang="en">
<head>
	<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Google -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Open Graph (LinkedIn) -->
	<meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<link rel="shortcut icon" href="/static/sites/wwwfiles/images/favicon.ico">
	<script type="application/ld+json">
	  {
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "url": "{{ CANONICAL_URL }}/",
		  "image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
		  "logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
	  }
	</script>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/static/sites/www/files/images/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/static/sites/www/files/images/favicons/favicon.svg" />
	<link rel="shortcut icon" href="/static/sites/www/files/images/favicons/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/sites/www/files/images/favicons/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="SavATree" />
	<link rel="manifest" href="/static/sites/www/files/images/favicons/site.webmanifest" />
	<!-- End Favicon -->
	<!-- <script src="/static/js/common.js"></script> -->
	<link rel="stylesheet" href="https://use.typekit.net/ufj8mlj.css">
	<link rel="stylesheet" href="files/css/style.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!--||{% load job_tags pagination_tags static %}||-->
	<script src="{% static "js/common.js" %}"></script>
	<!--||{% block head %}{% endblock %}||-->
</head>
<body>
<a href="#main" class="skip-to-content">Skip to Content</a>
<header id="header" class="click-menu">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="files/images/global/logo-color.png" alt="SavaTree Logo"></a>
        </div>
        <button data-target="#0" class="menu-toggle" aria-controls="nav">
            <span>Open Menu</span>
        </button>
        <div class="nav-wrap" id="nav" aria-expanded="false">
            <a href="" class="signin-link">Sign In</a>
            <nav class="main-menu">
               <ul>
				   <li><a href="/">Home</a></li>
				   <!-- 
				   <li><a href="/our-culture.html">Our Culture</a></li>
				   <li><a href="/career-paths.html">Career Paths</a></li> 
				   -->
				   <li><a href="/jobs/">Job Opportunities</a></li>
				   <li><a href="mailto:talent@savatree.com">Contact Us <div class="sr-only">(opens email app)</div></a></li>
			   </ul>
            </nav>
        </div>
    </div>
</header>
<main class="main">
	<section class="inner-banner">
		<div class="inner-banner-image our-culture"></div>
		<div class="inner-banner-content our-culture">
			<h1>Privacy Policy</h1>
		</div>
	</section>
	<section class="job-search-bar">
		<button class="mobile-search-button" href="#search-form" aria-controls="search-form" aria-expanded="false">Search Jobs<div class="search-jobs-icon"><span></span></div></button>
		<ul class="search-content" id="search-content">
			<li>
				<form id="search-form" method="get" action="/jobs/">
					<input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
					<button type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
						<span class="sr-only">Submit Keyword Search</span>
					</button>
				</form>
			</li>
			<li>
				<button class="search-accordion-button" href="#category-search" aria-controls="category-search" aria-expanded="false">Search Jobs by Category</button>
				<ul class="search-content" id="category-search">
					<!--||{% category_choices %}||-->
					<!--||{% comment %}||-->
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<!--||{% endcomment %}||-->
				</ul>
			</li>
			<li>
				<button class="search-accordion-button" href="#location-search" aria-controls="location-search" aria-expanded="false">Search Jobs by Location</button>
				<ul class="search-content" id="location-search">
					<!--||{% location_choices %}||-->
					<!--||{% comment %}||-->
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<li class="accordion-link"><a href="">Category Name</a></li>
					<!--||{% endcomment %}||-->
				</ul>
			</li>
			<li>
				<a href="{% url 'search' %}" class="btn green">Search All Jobs</a>
			</li>
		</ul>
	</section>
<section class="plain-text">
	<div class="wrap"> 
		
		<p>Savatree is committed to every visitor's right to privacy. This
		privacy statement applies to Savatree Company, who control and make
		use of visitor information collected via this site. If you as a
		visitor choose to register or submit information to this website,
		you agree to the use of such data in accordance with this privacy
		statement. Please note that this site contains links to other sites
		which may not be governed by this privacy statement.</p>
		<p>As a visitor, you do not have to submit any personal information in
		order to use our website. The site collects personally identifiable
		information that is specifically and voluntarily provided by a
		visitor, as part of the application process should you wish to apply
		to a vacancy advertised on this site or register with us.</p>
		<p>We will use information supplied by you (including without limitation
		sensitive personal data) to aid the recruitment process and
		administrative functions. You consent to us using information
		provided by you in this way. We will process any data provided by
		you to us when using this site, in accordance with UK data
		protection legislation.</p>
		<p>This website uses cookies to track user activity whilst on the site.
		In order to fully utilise the services we offer visitors to the site
		will need to have cookies enabled. However, no user information is
		processed or retained by us using cookies.</p>
		<p>We reserve the right to modify or amend this privacy statement at any
		time and for any reason.</p> 
	</div>
</section>


<footer id="footer">
     <div class="top-bar">
    <div class="wrap">
       
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">Home</a></li>
					 <!-- 
					 <li><a href="/our-culture.html">Our Culture</a></li>
					 <li><a href="/career-paths.html">Career Paths</a></li> 
					 -->
					 <li><a href="/jobs/">Job Opportunities</a></li>
					 <li><a href="mailto:talent@savatree.com">Contact Us <div class="sr-only">(opens email app)</div></a></li>
                </ul>
            </nav>

            <nav class="social-media">
                <strong>Connect With Us</strong>
                <ul>
                    <li>
                        <a href="https://www.instagram.com/savatree_official/">
                        <svg class="instagram">
                        <use xlink:href="files/images/global/social-icons/icons.svg#instagram" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/savatree">
                        <svg class="linkedin">
                        <use xlink:href="files/images/global/social-icons/icons.svg#linkedin" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/SavATreeHQ/">
                        <svg class="facebook">
                        <use xlink:href="files/images/global/social-icons/icons.svg#facebook" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=PdmgtKll3TY">
                        <svg class="youtube">
                        <use xlink:href="files/images/global/social-icons/icons.svg#youtube" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://savatree.staging-fxrecruiter.com/feeds/jobs-rss">
                        <svg class="rss">
                        <use xlink:href="files/images/global/social-icons/icons.svg#rss" />
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/savatree">
                        <svg class="x">
                        <use xlink:href="files/images/global/social-icons/icons.svg#x" />
                        </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="wrap">
            <p><strong>Have any questions? Please reach out to <a href="mailto:talent@savatree.com">talent@savatree.com</a></strong></p>
            <p>© 2025 SavATree | <a href="/privacy-policy.html">Privacy Policy</a> | <a href="/terms-of-conditions.html">Terms & Conditions</a></p>
        </div>
    </div>
</footer>

<script src="files/js/app.js" type="text/javascript"></script>

</body>

</html>