<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Hiring Process | Careers - The University of Vermont Health</title>
<!-- InstanceEndEditable -->
<meta name="description" content="The University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | The University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | The University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | The University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="The University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-uvm-health-network" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-network-employees" target="_blank">For Network Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Careers Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="nursing.html">Nursing</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
					<li><a href="physicians.html">Physicians</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				<li>
				<a href="hiring-process.html">Hiring Process</a>
				</li
				>
			  <li>
				<a href="workforce-development.html" id="WorkforceLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2">Our Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="diversity-equity-inclusion.html">Diversity, Equity and Inclusion</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Affiliates)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Our Affiliates<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="uvmc.html">University of Vermont Medical Center</a></li
					>
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
					<li><a href="cvmc.html">Central Vermont Medical Center</a></li>
					<li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
					<li><a href="porter-medical.html">Porter Medical Center</a></li>
					<li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
					<li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
					<li><a href="medical-group.html">Medical Group</a></li>
					
					
				</ul>
				
				<!--- Secondary nav level (Affiliates) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub hiring">
    <div class="inner">
      <div class="copy">
        <h2>Hiring Process</h2>
        </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
            <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent" id="lifepg">
  
	
	<section class="intro-copy">
      <div class="inner">
	  <div class="text">
	  <h2>Finding a Job Within UVM Health</h2>
	  <p>Working at the UVM Health is about providing the highest quality patient care. Our patient’s needs are always our top priority. Within UVM Health, you will discover a culture of teamwork, professionalism, and mutual respect — culminating into a life-changing career.</p>
	  </div>
	   <div class="photo" id="hiringintro"></div>        
      </div>
    </section>
	
	
	<section class="callout-circle" id="jobopps">
		<div class="inner">
			<div class="cc-photo" id="hiringcircle"></div>

			<div class="copy">
				<h2>UVM Health offers job opportunities in:</h2>
			<ul>
				<li><strong>Direct Patient Care</strong> - such as physicians, nurses, radiologists and EMTs</li>
				<li><strong>Technical Areas</strong> - including information systems and equipment maintenance</li>
				<li><strong>Support Roles</strong> - such as administrative and customer service</li>
				<li><strong>Operations</strong> - including security, finance, human resources, and food service</li>		
			</ul>
			<p>Everyone we hire directly contributes to the culture of their department and the organization. If you are a patient-centric, positive team player, we hope you are interested in joining us!</p>
			</div>
	  </div>
	</section>
	
	  <section class="callout-global-03" id="applying-details">
      <div class="inner">
	  <div class="text">
	  <h2>Finding and Applying for a Job</h2>
	  <p>The first step in finding the right job at UVM Health is browsing the <a href="/jobs/"  class="applyprocess"><strong>online job postings</strong></a>. The jobs are listed alphabetically, and we encourage you to use the keyword search or filters like “Category” and “Location” to help pinpoint the opportunities that are most relevant to what you’re looking for.</p>
	    <p>You can search and view the job postings as much as you like, and when you find a role that interests you, create an account to apply.</p>
		<p>Once you have applied for a position, your application is reviewed by one of our recruiters. If you meet the requirements for the job, we’ll reach out and begin the screening process.</p>
	  </div>
	   <div class="photo" id="findajob"></div>        
      </div>
	  
	   <div class="inner">
	  <div class="text">
	  <h2>The Interview Process</h2>
	  <p>For many positions, we ask candidates to participate in a prerecorded or live digital video interview before an in-person interview.</p>
	  <p>If your virtual interview meets the initial screening criteria, your application is reviewed by the hiring manager. The recruiter or the hiring manager will then contact you directly to set up an interview.</p>
	  <p>If you require assistance with the online application or have other questions:</p>
	  <p>Contact the Recruitment team via telephone at <a href="tel:123-456-7890" class="applyprocess"><strong>802-722-9922</strong></a>, Option 3, Monday through Friday from 8 A.M. to 4:30 P.M. EST.</p>
	  </div>
	   <div class="photo" id="interview"></div>        
      </div>
	  
	   <div class="inner">
	  <div class="text">
	  <h2>Onboarding Information</h2>
	  <p>Once you have accepted the position and received your offer letter, you will receive a checklist from a recruiter, and begin the Onboarding Process.</p>
	  <p>An Onboarding Coordinator will hire you into the system. At this time, you will receive an email from Sterling to complete the required background check. You will also receive multiple emails from Workday, a system that guides new employees through required paperwork. Typically, 2 weeks prior to a new employees start date, you will receive a phone call from one of our Onboarding Coordinators to help you set up your required onboarding and health screening appointment. All paperwork must be completed and received by your Onboarding Coordinator prior to this meeting.</p>
	  <p>The final step in onboarding, New Employee Orientation, is for UVM Health employees across all units and jobs. The Orientation covers the basics of being an employee at the UVM Health in a full day of exciting events!</p>
	  
	  </div>
	   <div class="photo" id="onboarding"></div>        
      </div>
	  
	  </section>
	  
	  
	<section class="intro-copy" id="hiringfaqs">
      <div class="inner">
	  <div class="text">
	  <h2>Applicant's Frequently Asked Questions</h2>
	  <p>Here are some commonly asked questions about our employment process here at The University of Vermont Health. Thank you for your interest! If you are a UVM Health employee looking for more information, please visit our <a href="https://www.uvmhealth.org/medcenter/health-careers/current-employees" target="_blank">Current Employees page</a>.</p>
	  <h3>How often are the job postings updated?</h3>
	  <p>Job postings are updated daily.</p>
	   <h3>What is the best way to search the job postings?</h3>
	  <p>The job postings listed in the Search Jobs page tool are displayed alphabetically, with 20 listings per page.</p>
	  <p>To find the opportunity that interests you in the most efficient manner, we encourage you use the keyword search or filter functionality to narrow down the set of jobs you are viewing.</p>
	  <p>Once you find a job title and summary that interests you, click the title to read the full description.</p>
	  <h3>How long does the application take to complete?</h3>
	  <p>We recommend that you give yourself from 30 minutes to an hour to complete the application. Be prepared to include three professional references and their phone numbers, as well as the details of your employment history.</p>
	   <h3>Can I attach a different resume each time I apply?</h3>
	  <p>Yes.</p>
	  <h3>What happens to my application after it is submitted?</h3>
	  <p>If you meet the screening criteria, your application will be reviewed by the hiring manager. The recruiter or the hiring manager will then contact you directly to set up an interview. Throughout the hiring process, you can track the status of your job application by logging into the Careers home page and clicking on the Accepted/Unaccepted Applications link.</p>
	   <h3>What if I forgot my password?</h3>
	  <p>If you are not a UVM Health employee, click on the "Forgot Password?" link and follow the instructions. Your password will be sent to your e-mail address. If you are a UVM Health employee, call <strong><a href="tel:802-847-2822">802-847-2822</a></strong> or the IS Help Desk at <strong><a href="tel:802-847-1414">802-847-1414</a></strong>.</p>
	   <h3>What if I need additional help with the application process?</h3>
	  <p>The Recruitment team is available to help you with any questions or issues you may have: Contact the Recruitment team via telephone at <a href="tel:802-722-9922">802-722-9922</a>, Option 3, Monday through Friday from 8 A.M. to 4:30 P.M. EST, or you can send an email to one of our recruiters. Use the on-site computer kiosk at the UHC Campus on the fifth floor of the St. Joseph building on Tuesdays between 8 A.M. and 4 P.M. It can be reached via Elevator A.</p>
	  </div>
	         
      </div>
    </section>
	
	  <section class="isolated">
	 <h2>Helpful Links</h2>
	 <p><a href="index.html">Careers at UVM Health</a></p>
	 <p><a href="benefits.html">Benefits</a></p>
	</section>
	
	  
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join The University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with The University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join The University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
  <div class="shareThis-holder-main-pg">
    <div class="shareThisMain">
          <div class="stLeft">SHARE THIS PAGE</div>
          <div class="stRight">
                          <!-- Go to www.addthis.com/dashboard to customize your tools --> 
<div class="addthis_inline_share_toolbox"></div> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e1c9dd5056102d9"></script>
            
            </div>
          </div>
  </div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;The University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">The University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>The University of Vermont Health is an Equal Opportunity Employer.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="The University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank"> Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank"> Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>