@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 780px) {

}

@media only screen and (max-width: 450px) {

}