<!doctype html>
<html><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->

<head>
    <meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta charset="utf-8">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Culture | UMGC Careers</title>
    <!-- InstanceEndEditable -->
    <meta name="keywords" content="faculty jobs, adjunct faculty jobs">
    <meta name="description" id="description" content="Learn about faculty, adjunct, and university jobs at UMGC. Discover how UMGC can put your professional talents to good use."/>
		
 	<!-- Google -->
	<meta itemprop="name" content="Faculty, Adjunct, and University Jobs | UMGC Careers">
	<meta itemprop="image" content="https://careers.umgc.edu/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Faculty, Adjunct, and University Jobs | UMGC Careers">
	<meta name="twitter:image:src" content="https://careers.umgc.edu/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:title" content="Faculty, Adjunct, and University Jobs | UMGC Careers">
	<meta property="og:image" content="https://careers.umgc.edu/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:url" content="https://careers.umgc.edu/">
	<meta property="og:type" content="website">
    
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800;900&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link href="files/styles/styles.css" rel="stylesheet" type="text/css">
    <link href="files/styles/responsive.css" rel="stylesheet" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="files/js/accordion.js"></script>
    
    <!--[if lt IE 9]>
        <script src="files/js/html5shiv.js"></script>
        <script src="files/js/respond.min.js"></script>
        <script src="files/js/modernizr.min.js" type="text/javascript">
        <script src="files/js/placeholder.js" type="text/javascript"></script>
    <!--[endif]-->
    
	<!--||{% load job_tags %}||-->
    
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>

<body>
	<header id="scrollingDiv" class="default ">
		<div class="top-nav">
			<nav>
				<ul class="top-left">
					<li><a href="https://www.umgc.edu/index.cfm">Prospective Students</a></li>
					<li><a href="https://www.umgc.edu/current-students/index.cfm">Current Students</a></li>
					<li><a href="https://www.umgc.edu/administration/index.cfm">Administration</a></li>
					<li><a href="https://www.umgc.edu/business-partners/index.cfm">Partners</a></li>
					<li><a href="#top-more-drop" aria-controls="#top-more-drop" aria-expanded="false" class="top-more-link">More</a>
						<div class="plus-minus"></div>
						<ul id="top-more-drop" class="top-accordion">
							<li><a class="top-more-out" href="http://alumni.umgc.edu/">Alumni</a></li>
							<li><a class="top-more-out" href="http://impact.umgc.edu/">Donors</a></li>
							<li><a class="top-more-out" href="https://globalmedia.umgc.edu/">Media</a></li>
						</ul>
					</li>
				</ul>
				<ul class="top-right">
					<li><a href="https://www.umgc.edu/events/index.cfm">Events</a></li>
					<li><a href="https://www.umgc.edu/news/index.cfm">News</a></li>
					<li><a href="#top-more-drop2" aria-controls="#top-more-drop2" aria-expanded="false" class="top-more-link">Locations</a>
						<div class="plus-minus"></div>
						<ul id="top-more-drop2" class="top-accordion">
							<li><a class="top-more-out" href="https://www.umgc.edu/locations/index.cfm" target="_blank">U.S. Locations <span class="sr-only"> (link opens in a new window)</span></a></li>
							<li><a class="top-more-out" href="https://www.asia.umgc.edu/" target="_blank">UMGC Asia <span class="sr-only"> (link opens in a new window)</span></a></li>
							<li><a class="top-more-out" href="https://www.europe.umgc.edu/" target="_blank">UMGC Europe <span class="sr-only"> (link opens in a new window)</span></a></li>
							<li><a class="top-more-out" href="https://www.umgc.edu/academic-programs/about-online-learning.cfm" target="_blank">Learn Online <span class="sr-only"> (link opens in a new window)</span></a></li>
						</ul>
					</li>
					<li><a href="https://www.umgc.edu/current-students/degree-requirements/transcripts/index.cfm">Transcripts</a></li>
					<li><a href="https://www.umgc.edu/login/index.cfm" class="log-in-button">Log In</a></li>
				</ul>
			</nav>
		</div>
		<div class="mid-nav">
			<div class="inner">
				<div class="logo">
					<img src="files/images/global/umgc-logo-desktop-2.png" class="scalable" alt="University of Maryland Global Campus (Formerly UMUC)"/>
				</div>
				<div class="contact">
					<a class="phone" href="tel:1(855)655-8682">855-655-8682</a>
					<a class="more-info" href="https://www.umgc.edu/admissions/request-information.cfm" target="_blank">Request Info<span class="sr-only"> (link opens in a new window)</span></a>
				</div>
			</div>
		</div>
		<nav class="main-nav">
			<div class="inner">
				<a href="#hamburger-menu" aria-controls="#hamburger-menu" aria-expanded="false" class="hamburger-menu-link" aria-label="Hamburger Menu (Careers Navigation)"></a>
				<div class="burger">
					<div class="burger-box">
						<div class="all-the-fixins">
						</div>
					</div>
				</div>
				<div id="hamburger-menu" class="hamburger-menu">
					<div class="control-menu mobile-only">
						<span class="menu-title title1 active">Careers Menu</span>
						<span class="menu-title title2">UMGC Menu</span>
						<a href="#corps-burger" aria-controls="#corps-burger" aria-expanded="false" class="corp-burger-link">
							UMGC Menu
						</a>
						<a href="#careers-nav" aria-controls="#careers-nav" aria-expanded="true" class="nav-swap">
							Career Menu
						</a>
					</div>
				<ul id="careers-nav" class="hamburger-menu-content open">
					<li><a href="/">Home</a></li>
					<li>
						<a href="#hamburger-menu2" aria-controls="#hamburger-menu2" aria-expanded="false" class="hamburger-menu-link2">Who We Are</a>
						<div class="plus-minus mobile-only"></div>
						<ul id="hamburger-menu2" class="hamburger-menu-content2">
							<li><a href="/who-we-are.html">Who We Are</a></li>
							<li><a href="/culture.html">Culture</a></li>
							<li><a href="/faculty.html">Faculty Careers</a></li>
							<li><a href="/professional-careers.html">Professional Careers</a></li>
						</ul>
					</li>
					<li><a href="/jobs/">Job Search</a></li>
					<li><a href="/community-engagement.html">Community Engagement</a></li>
					<li><a href="/benefits.html">Benefits</a></li>
					<li><a href="/faqs.html">FAQs</a></li>
					<li><a href="https://umgc.wd1.myworkdayjobs.com/en-US/UMGC_Careers/login" target="_blank">Previous Applicants <span class="sr-only"> (link opens in a new window)</span></a></li>
				</ul>
					
				<div class="mobile-corp-links mobile-only">
						<ul id="corps-burger" class="corp-burger">
							<li><a href="https://www.umgc.edu/index.cfm" target="_blank">UMGC Home <span class="sr-only"> (link opens in a new window)</span></a></li>
							<li><a href="/">UMGC Careers</a></li>
							<li>
								<div class="mobile-minus-holder">
									<a href="#corps-burger2" aria-controls="#corps-burger2" aria-expanded="false" class="corp-burger-link2">
										UMGC For ...
									</a>
									<div class="plus-minus"></div>
								</div>
								<ul id="corps-burger2" class="corp-burger2">
									<li><a href="https://www.umgc.edu/index.cfm" target="_blank">Prospective Students <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="https://www.umgc.edu/current-students/index.cfm" target="_blank">Current Students <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="https://www.umgc.edu/administration/index.cfm" target="_blank">Administration <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="https://www.umgc.edu/business-partners/index.cfm" target="_blank">Partners <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="http://alumni.umgc.edu/" target="_blank">Alumni <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="http://impact.umgc.edu/" target="_blank">Donors <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="https://globalmedia.umgc.edu/" target="_blank">Media <span class="sr-only"> (link opens in a new window)</span></a></li>
								</ul>
							</li>
							<li><a href="https://www.umgc.edu/events/index.cfm" target="_blank">Events <span class="sr-only"> (link opens in a new window)</span></a></li>
							<li><a href="https://www.umgc.edu/news/index.cfm" target="_blank">News <span class="sr-only"> (link opens in a new window)</span></a></li>
							<li>
								<div class="mobile-minus-holder">
									<a href="#corps-burger3" aria-controls="#corps-burger3" aria-expanded="false" class="corp-burger-link2">
										Locations
									</a>
									<div class="plus-minus"></div>
								</div>
								<ul id="corps-burger3" class="corp-burger2">
									<li><a href="https://www.umgc.edu/locations/index.cfm" target="_blank">U.S. Locations <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="https://www.asia.umgc.edu/" target="_blank">UMGC Asia <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="https://www.europe.umgc.edu/" target="_blank">UMGC Europe <span class="sr-only"> (link opens in a new window)</span></a></li>
									<li><a href="https://www.umgc.edu/academic-programs/about-online-learning.cfm" target="_blank">Learn Online <span class="sr-only"> (link opens in a new window)</span></a></li>
								</ul>
							</li>
							<li><a href="https://www.umgc.edu/current-students/degree-requirements/transcripts/index.cfm" target="_blank">Transcripts <span class="sr-only"> (link opens in a new window)</span></a></li>
							<li><a class="login-mobile" href="https://www.umgc.edu/login/index.cfm" target="_blank">Log In (Main Site) <span class="sr-only"> (link opens in a new window)</span></a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</nav>	
	</header>
	
	<main class="sub-page-content">
		
    <!-- InstanceBeginEditable name="banner" -->
		
		<section class="bannerArea culture-banner">
			<div class="inner">
				<h1>
					Culture
					<span>UMGC Careers. <br />Never Stop Learning.</span>
				</h1>
			</div>
			
    <!-- InstanceEndEditable -->
			
			<div class="main-search">
			<div class="search">
				<a href="#mobile-search-content" aria-controls="#mobile-search-content" aria-expanded="false" class="mobile-search-link">Search Jobs Now</a>

				<ul id="mobile-search-content" class="search-content">
					<li class="search-field">
						<form id="search-form" method="get" action="{% url 'search' %}">
							<input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
							<input type="submit" class="search-button" value="" aria-label="submit keyword search"/>
						</form>
					</li>
					<li class="search-field">
						<a href="#search1" aria-controls="#search1" aria-expanded="false" class="search-accordion-title">Search Jobs by Category</a>
						<ul id="search1" class="search-accordion-content">
							
							<!--||{% category_choices %}||-->
							<!--||{% comment %}||-->
							<li><a href="#">Item One</a></li>
                            <li><a href="#">Item Two</a></li>
                            <li><a href="#">Item Three</a></li>
							<li><a href="#">Item Four</a></li>
							<!--||{% endcomment %}||-->
							
						</ul>
					</li>
					<li class="search-field">
						<a href="#search2" aria-controls="#search2" aria-expanded="false" class="search-accordion-title">Search Jobs by Type</a>
						<ul id="search2" class="search-accordion-content">
							
							<!--||{% employment_type_choices %}||-->
							<!--||{% comment %}||-->
							<li><a href="#">Item One</a></li>
                            <li><a href="#">Item Two</a></li>
                            <li><a href="#">Item Three</a></li>
							<li><a href="#">Item Four</a></li>
							<!--||{% endcomment %}||-->
							
						</ul>
					</li>
					<li class="search-field">
						<a href="#search3" aria-controls="#search3" aria-expanded="false" class="search-accordion-title">Search Jobs by Region</a>
						<ul id="search3" class="search-accordion-content">
							
							<!--||{% region_choices %}||-->
							<!--||{% comment %}||-->
							<li><a href="#">Item One</a></li>
                            <li><a href="#">Item Two</a></li>
                            <li><a href="#">Item Three</a></li>
							<li><a href="#">Item Four</a></li>
							<!--||{% endcomment %}||-->
							
						</ul>
					</li>
					<li class="search-field">
						<a href="#search4" aria-controls="#search4" aria-expanded="false" class="search-accordion-title">Search Jobs by Location</a>
						<ul id="search4" class="search-accordion-content">
							
							<!--||{% location_choices %}||-->
							<!--||{% comment %}||-->
							<li><a href="#">Item One</a></li>
                            <li><a href="#">Item Two</a></li>
                            <li><a href="#">Item Three</a></li>
							<li><a href="#">Item Four</a></li>
							<!--||{% endcomment %}||-->
							
						</ul>
					</li>
					<li class="search-field advanced-search">
						<a href="/jobs/" class="additional-search-link">Advanced Job Search</a>
					</li>
				</ul>

				<div class="right-search">
					<a href="{% url 'subscriptions' %}" class="talent-network-link mobile-only">Talent Network</a>
				</div>
				<div class="back-fade mobile-only"></div>
			</div>
			</div>
			
		</section>
		
		
    <!-- InstanceBeginEditable name="body" -->
		
		<section id="page-top" class="intro-copy culture-intro">
			<div class="inner">
				<h2>Our Culture. Your Career.</h2>
				<p>Here you’ll have the opportunity to collaborate with dedicated professionals from diverse backgrounds—from experienced faculty to staff members who are experts in their respective fields. This creates a dynamic environment that helps define our mission, our work, and our global leadership...and every extraordinary career we build.</p>
			</div>
		</section>
		
		<section class="quote-callout mission-quote">
			<div class="inner">
				<div class="copy">
					<h2>Mission Driven. Focused on Excellence.</h2>
					<p><strong>Our goal is simple</strong>:<br />
					To provide adult learners with the flexibility, creativity and excellence-driven degree programs to change their lives for the better.</p>
				</div>
			</div>
		</section>
		
		<section class="our-values">
			<ul class="inner">
				<li>
					<h2>Our Values</h2>
					<div class="icon"></div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy"> 
						<h3><span class="redtxt"><strong>C</strong></span><strong>elebrate Diversity</strong></h3>
						<p>Our welcoming of diverse perspectives and ideas differentiates us and drives innovation</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3><span class="redtxt"><strong>O</strong></span><strong>ptimize Agility</strong></h3>
						<p>Curiosity and adaptability—informed and guided by data—drive continuous improvement and transformation</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3><span class="redtxt"><strong>R</strong></span><strong>each Beyond</strong></h3>
						<p>Courage and willingness to challenge boundaries lead to transformative solutions, for our institution and our learners alike</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3><span class="redtxt"><strong>E</strong></span><strong>mbrace Collaboration</strong></h3>
						<p>Teamwork, effective communication, and clarity of purpose drive success</p>
					</div>
				</li>
				<!-- <li>
					<div class="icon"></div>
					<div class="copy">
						<h3>Integrity</h3>
						<p>Our principles and standards are never compromised.</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3>Students First</h3>
						<p>These are the people who make our work possible.</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3>Excellence</h3>
						<p>Outstanding quality is the hallmark of our work.</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3>Accountability</h3>
						<p>We are each responsible for the success of UMGC and our students.</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3>Innovation</h3>
						<p>We advance so that others can benefit from our leadership.</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3>Diversity</h3>
						<p>Each individual brings value to our efforts and accomplishments.</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3>Respect</h3>
						<p>The rights and feelings of others are always considered.</p>
					</div>
				</li>
				<li>
					<div class="icon"></div>
					<div class="copy">
						<h3>People Always</h3>
						<p>Our faculty and staff represent our differentiator and competitive advantage.</p>
					</div>
				</li> -->
			</ul>
		</section>
		
		<section class="video-row culture-video table">
			<div class="row">
				<div class="cell">
					<span class="callout">
						<strong>Building on a proud tradition of delivering higher education to our military worldwide, we’re leveraging the University of Maryland’s academic strength to change the face of online education again.</strong>  It’s a powerful and innovative model, and one that means exciting and meaningful work for people who want to positively impact real lives across the globe.
					</span>
				</div>
				<div class="cell">
					<div class="video-holder">
						<div class="embed-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/twBwylc7tP4?si=fVokAMHeh0MY-QdL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>			
		</section>
		
		<section class="intro-copy culture-intro">
			<div class="inner">
				<h2>We're giving talented people an environment where they can create solutions that fit their ambitions and their lives.</h2>
				<p>By integrating a passionate, entrepreneurial spirit with work/life balance, innovative technologies and a forward-focused mindset, we’re building a remarkable team that’s actively transforming the face of online higher education. Again.</p>
			</div>
		</section>
		
		<section class="quote-callout culture-quote">
			<div class="inner">
				<div class="copy">
					Careers that give you the freedom to excel.
					<span class="tag">UMGC Careers. Never Stop Learning.</span>
				</div>
			</div>
		</section>
		
		<section class="talent-network-callout table">
			<div class="row">
				<div class="cell green-background">
					<span class="copy-holder">
						<h2>Join Our Talent Community</h2>
						<span>Recognized worldwide as a pioneer in online education, UMGC is in the process of transforming the field yet again by empowering extraordinary people to build extraordinary careers.</span>
						<a class="yellow-button" href="{% url 'subscriptions' %}">Sign Up Now</a>
					</span>
				</div>
				<div class="cell image">
				</div>
			</div>
		</section>
		
    <!-- InstanceEndEditable -->
		
	</main>
	
	<footer>
		
		<div class="inner">
			
			<div class="inner-left">
				<div>All external hires will be subject to the satisfactory completion of a pre-employment background review. This includes, but is not limited to, employment and education verification and criminal records check. Certain designated jobs are subject to a pre-employment assessment. We are an affirmative action and equal opportunity employer.</div>
			
				<a href="https://www.umgc.edu/current-students/student-life-and-support/safety-and-security/annual-report" target="_blank">Annual Safety and Security Report<span class="sr-only"> (opens in a new window)</span></a>
				<span class="copyright">© <script type="text/javascript">date = new Date();
                year = date.getFullYear();
				document.write(year);//</script> University of Maryland Global Campus. All rights reserved.</span>
			</div>
			
			<div class="inner-right">
				<div class="mailing">
					<strong>Mailing Address</strong>
					<em>No classes or services at this location</em>
					3501 University Blvd. East, <br />
					Adelphi, MD &nbsp; 20783
				</div>
				<div class="social">
					<ul>
						<li><a class="facebook" href="https://www.facebook.com/UMGC" target="_blank" aria-label="Follow Us On Facebook (opens in a new window)"></a></li>
						<li><a class="twitter" href="https://twitter.com/umgccareers" target="_blank" aria-label="Follow Us On Twitter (opens in a new window)"></a></li>
						<li><a class="instagram" href="https://www.instagram.com/umdglobalcampus/" target="_blank" aria-label="Follow Us On Instagram (opens in a new window)"></a></li>
					</ul>
					<a class="get-social" href="http://www.umgc.edu/contact/social-media-community/index.cfm" target="_blank">
						Get Social<span class="sr-only"> (opens in a new window)</span>
					</a>
				</div>
			</div>
			
		</div>
		
	</footer>
	
	<script type="application/ld+json">
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"url": "{{ CANONICAL_URL }}/",
	"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
	"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
	}
	</script>
	
    <!-- InstanceBeginEditable name="footer-scripts" -->
    <!-- InstanceEndEditable -->

	<script>
		window.onscroll = function() {pageScroller()};

		var Header = document.getElementById("scrollingDiv");
		var Scrolled = (Header.offsetTop);

		function pageScroller() {
		if (window.pageYOffset > Scrolled) {
			Header.classList.add("onScroll");
		} else {
			Header.classList.remove("onScroll");
		}
	}
	</script>
	
</body>
<!-- InstanceEnd --></html>
