<!doctype html>
<html lang="en">
<head>
    <meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta charset="utf-8">
    <title>{% block title %}Jobs{% endblock %} | UMGC Careers</title>
    <!--||{% block canonical_link %}{% endblock %}||-->
    <meta name="description" content="{% block meta_desc %}University of Maryland Global Campus is a regionally accredited state university offering 95+ online bachelor's degrees, master's degrees and certificates.{% endblock %}"/>

<!-- Google -->
<meta itemprop="name" content="Faculty, Adjunct, and University Jobs | UMGC Careers">
<meta itemprop="image" content="https://careers.umgc.edu/static/sites/www/files/images/share-this/social-image.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Faculty, Adjunct, and University Jobs | UMGC Careers">
<meta name="twitter:image:src" content="https://careers.umgc.edu/static/sites/www/files/images/share-this/social-twitter-image.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:title" content="Faculty, Adjunct, and University Jobs | UMGC Careers">
<meta property="og:image" content="https://careers.umgc.edu/static/sites/www/files/images/share-this/social-image.jpg">
<meta property="og:url" content="https://careers.umgc.edu/">
<meta property="og:type" content="website">
          
    
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800;900&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link href="files/styles/styles.css" rel="stylesheet" type="text/css">
    <link href="files/styles/responsive.css" rel="stylesheet" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="files/js/accordion.js"></script>
	<link rel="icon" sizes="192x192" href="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-192x192.png">
	<link rel="umgc-logo-favicon" sizes="180x180" href="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-180x180.png">
	<link rel="umgc-logo-favicon" sizes="167x167" href="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-167x167.png">
	<link rel="umgc-logo-favicon" sizes="152x152" href="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-152x152.png">
	<link rel="umgc-logo-favicon" sizes="120x120" href="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-120x120.png">
	<meta name="msapplication-square310x310logo" content="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-310x310.png">
	<meta name="msapplication-wide310x150logo" content="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-310x150.png">
	<meta name="msapplication-square150x150logo" content="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-150x150.png">
	<meta name="msapplication-square70x70logo" content="https://careers.umgc.edu/static/sites/www/files/images/global/umgc-logo-favicon-70x70.png">
    <!--[if lt IE 9]>
    <script src="files/js/html5shiv.js"></script>
    <script src="files/js/respond.min.js"></script>
    <script src="files/js/modernizr.min.js" type="text/javascript">
    <script src="files/js/placeholder.js" type="text/javascript"></script>
    <![endif]-->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-GZEF3QDJ5V"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-GZEF3QDJ5V');
	</script>

	</head>

<body>
	<header id="scrollingDiv" class="default ">
		<div class="top-nav">
			<nav>
				<ul class="top-left">
					<li><a href="#">Prospective Students</a></li>
					<li><a href="#">Current Students</a></li>
					<li><a href="#">Administration</a></li>
					<li><a href="#">Partners</a></li>
					<li><a href="#top-more-drop" aria-controls="#top-more-drop" aria-expanded="false" class="top-more-link">More</a>
						<div class="plus-minus"></div>
						<ul id="top-more-drop" class="top-accordion">
							<li><a class="top-more-out" href="#">Alumni</a></li>
							<li><a class="top-more-out" href="#">Donors</a></li>
							<li><a class="top-more-out" href="#">Media</a></li>
						</ul>
					</li>
				</ul>
				<ul class="top-right">
					<li><a href="#">Events</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#top-more-drop2" aria-controls="#top-more-drop2" aria-expanded="false" class="top-more-link">Locations</a>
						<div class="plus-minus"></div>
						<ul id="top-more-drop2" class="top-accordion">
							<li><a href="#">U.S. Locations</a></li>
							<li><a class="top-more-out" href="#">UMGC Asia</a></li>
							<li><a class="top-more-out" href="#">UMGC Europe</a></li>
							<li><a href="#">Learn More</a></li>
						</ul>
					</li>
					<li><a href="#">Transcripts</a></li>
					<li><a href="#" class="log-in-button">Log In</a></li>
				</ul>
			</nav>
		</div>
		<div class="mid-nav">
			<div class="inner">
				<div class="logo">
					<img src="files/images/global/umgc-logo.svg" class="scalable" alt="University of Maryland Global Campus (Formerly UMUC)"/>
				</div>
				<div class="contact">
					<a class="phone" href="tel:1(855)655-8682">855-655-8682</a>
					<a class="more-info">Request Info</a>
				</div>
			</div>
		</div>
		<nav class="main-nav">
			<div class="inner">
				<a href="#hamburger-menu" aria-controls="#hamburger-menu" aria-expanded="false" class="hamburger-menu-link" aria-label="Hamburger Menu (Careers Navigation)"></a>
				<div class="burger"></div>
				<ul id="hamburger-menu" class="hamburger-menu-content">
					<li><a href="/">Home</a></li>
					<li>
						<a href="#hamburger-menu2" aria-controls="#hamburger-menu2" aria-expanded="false" class="hamburger-menu-link2">Who We Are</a>
						<ul id="hamburger-menu2" class="hamburger-menu-content2">
							<li><a href="/who-we-are.html">Who We Are</a></li>
							<li><a href="/culture.html">Culture</a></li>
							<li><a href="/faculty-careers.html">Faculty Careers</a></li>
							<li><a href="/professional-careers.html">Professional Careers</a></li>
						</ul>
					</li>
					<li><a href="/jobs/">Job Search</a></li>
					<li><a href="/community-engagement.html">Community Engagement</a></li>
					<li><a href="/benefits.html">Benefits</a></li>
					<li><a href="/faqs.html">FAQs</a></li>
					<li><a href="https://umgc.wd1.myworkdayjobs.com/en-US/UMGC_Careers/login" target="_blank">Previous Applicants <span class="sr-only"> (link opens in a new window)</span></a></li>
				</ul>
			</div>
		</nav>	
	</header>
	
	<main>
		
        <!--||{% block banner %}||-->
		<section class="bannerArea job-search">
			<div class="inner">
				<h1>
					UMGC Careers.<br />
					Never Stop<br /> Learning.
				</h1>
			</div>
		</section>
        <!--||{% endblock %}||-->
		
		<div id="search-content" class="clearfix">
		
		<section class="search-results">
			<div class="search-headings">
				<h1>
					Talent Network
				</h1>
			</div>
			
			<ul class="sub-buttons sub-buttons-tn">
				<li><a href="javascript:history.back();">Back</a></li>
			</ul>
			
            
            <form method="post" id="tn-form">
				
            	<span class="form-intro">Please tell us about yourself and select the area of interest for which you want to receive updates on newly posted positions.
				<p>Join our Talent Community via <img src="files/images/global/linkedin-color.png" class="scalable" alt="LinkedIn (logo)" /> by clicking <a href="#">here</a>.</p></span>
                
				<input type="hidden" name="csrfmiddlewaretoken" value="cMlRhcVFSyxkpRiviufGGzT9wQ6JHqs4">
                
                <label for="id_email">
					Email: 
                    <input id="id_email" maxlength="254" name="email" type="email">
				</label>
                
                <label for="id_email">
					First name:
					<input id="id_first_name" maxlength="50" name="first_name" type="text">
				</label>
                
                <label for="id_email">
					Last name: 
					<input id="id_last_name" maxlength="50" name="last_name" type="text">
				</label>
                
                <label for="id_email">
					Country:
					<select id="id_country" name="country">
						<option value="" selected="selected">--------</option>
						<option value="Bahrain">Bahrain</option>
						<option value="Belgium">Belgium</option>
						<option value="Djibouti">Djibouti</option>
						<option value="Egypt">Egypt</option>
						<option value="Germany">Germany</option>
						<option value="Greece">Greece</option>
						<option value="Guam">Guam</option>
						<option value="Italy">Italy</option>
						<option value="Japan">Japan</option>
						<option value="Korea, South">Korea, South</option>
						<option value="Kuwait">Kuwait</option>
						<option value="Netherlands">Netherlands</option>
						<option value="Portugal">Portugal</option>
						<option value="Qatar">Qatar</option>
						<option value="Spain">Spain</option>
						<option value="Turkey">Turkey</option>
						<option value="United Arab Emirates">United Arab Emirates</option>
						<option value="United Kingdom">United Kingdom</option>
						<option value="United States">United States</option>
					</select>
				</label>
                
                <label for="id_email">
					Phone number:
					<input id="id_phone_number" maxlength="30" name="phone_number" type="text">
				</label>
                
                <label for="id_email">
					Current employer:
					<input id="id_current_employer" maxlength="100" name="current_employer" type="text">
				</label>
                
                <label for="id_email">
					Current title:
					<input id="id_current_title" maxlength="100" name="current_title" type="text">
				</label>
                
                <div class="multi-box-section">
					<span class="multi-box-label">Categories:</span>
					<ul id="id_categories" class="multi-box">
						<li><label for="id_categories_0"><input id="id_categories_0" name="categories" type="checkbox" value="20"> Account Management</label></li>
						<li><label for="id_categories_1"><input id="id_categories_1" name="categories" type="checkbox" value="10"> Adjunct Faculty</label></li>
						<li><label for="id_categories_2"><input id="id_categories_2" name="categories" type="checkbox" value="22"> Administrative</label></li>
						<li><label for="id_categories_3"><input id="id_categories_3" name="categories" type="checkbox" value="9"> Advising and Enrollment</label></li>
						<li><label for="id_categories_4"><input id="id_categories_4" name="categories" type="checkbox" value="24"> Audit, Compliance and Legal</label></li>
						<li><label for="id_categories_5"><input id="id_categories_5" name="categories" type="checkbox" value="11"> Collegiate Faculty</label></li>
						<li><label for="id_categories_6"><input id="id_categories_6" name="categories" type="checkbox" value="26"> Data Analytics</label></li>
						<li><label for="id_categories_7"><input id="id_categories_7" name="categories" type="checkbox" value="12"> Facilities</label></li>
						<li><label for="id_categories_8"><input id="id_categories_8" name="categories" type="checkbox" value="8"> Faculty Services</label></li>
						<li><label for="id_categories_9"><input id="id_categories_9" name="categories" type="checkbox" value="13"> Finance and Accounting</label></li>
						<li><label for="id_categories_10"><input id="id_categories_10" name="categories" type="checkbox" value="14"> Financial Aid</label></li>
						<li><label for="id_categories_11"><input id="id_categories_11" name="categories" type="checkbox" value="15"> Human Resources</label></li>
						<li><label for="id_categories_12"><input id="id_categories_12" name="categories" type="checkbox" value="27"> Institutional Advancement</label></li>
						<li><label for="id_categories_13"><input id="id_categories_13" name="categories" type="checkbox" value="16"> IT and Project Management</label></li>
						<li><label for="id_categories_14"><input id="id_categories_14" name="categories" type="checkbox" value="17"> Learning Solutions</label></li>
						<li><label for="id_categories_15"><input id="id_categories_15" name="categories" type="checkbox" value="18"> Library Services</label></li>
						<li><label for="id_categories_16"><input id="id_categories_16" name="categories" type="checkbox" value="19"> Marketing and Communications</label></li>
						<li><label for="id_categories_17"><input id="id_categories_17" name="categories" type="checkbox" value="25"> Other</label></li>
						<li><label for="id_categories_18"><input id="id_categories_18" name="categories" type="checkbox" value="23"> Procurement</label></li>
						<li><label for="id_categories_19"><input id="id_categories_19" name="categories" type="checkbox" value="21"> Student Services</label></li>
					</ul>
				</div>
                
                <div class="multi-box-section">
					<span class="multi-box-label">Regions:</span>
					<ul id="id_regions" class="multi-box">
						<li><label for="id_regions_0"><input id="id_regions_0" name="regions" type="checkbox" value="32"> Asia</label></li>
						<li><label for="id_regions_1"><input id="id_regions_1" name="regions" type="checkbox" value="23"> Europe</label></li>
						<li><label for="id_regions_2"><input id="id_regions_2" name="regions" type="checkbox" value="34"> North America</label></li>
					</ul>
				</div>
                
                <label for="id_email">
					Frequency:
					<select id="id_frequency" name="frequency">
						<option value="" selected="selected">Select One</option>
						<option value="7">Weekly</option>
						<option value="14">Bi-weekly (every 2 weeks)</option>
						<option value="30">Monthly</option>
					</select>
				</label>
                
                <label for="id_email">
					Contact Method:
					<select id="id_contact_method" name="contact_method">
						<option value="1" selected="selected">Email</option>
						<option value="2">SMS (Text Message)</option>
					</select>
				</label>
                
                <span class="tn-disclaimer">
					By joining you have not officially applied to a position.
				</span>
				
                <div class="apply">
                	<input name="SUBMIT" type="submit" class="submit" id="SUBMIT" value="Submit">
					<a href="javascript:history.back();">Back</a>
                </div>
				
            </form>
			
		</section>
		
		
		<div class="search-results-right">
			
			<section class="why-join-tn">
				<h2>Joining our Talent Community will allow you to:</h2>
				<ul>
					<li>Stay connected with UMGC</li>
					<li>Receive alerts with new job opportunities that match your interests</li>
					<li>Receive relevant communications and updates from our organization</li>
				</ul>
			</section>
			
        </div>
			
		</div>
		
        <!--||{% block social %}||-->
		<section class="juicer">
			<div class="juicer-header">
				<h2>Follow UMGC on Social Media</h2>
				<ul class="juicer-socials">
					<li><a class="facebook" href="https://www.facebook.com/UMGC" target="_blank" aria-label="Follow Us On Facebook (opens in a new window)"></a></li>
					<li><a class="twitter" href="https://twitter.com/umgc" target="_blank" aria-label="Follow Us On Twitter (opens in a new window)"></a></li>
					<li><a class="instagram" href="https://www.instagram.com/umgcpix/" target="_blank" aria-label="Follow Us On Instagram (opens in a new window)"></a></li>
				</ul>
			</div>
            <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
			<link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
			<ul class="juicer-feed" data-feed-id="umgc"></ul>
		</section>
		<!--||{% endblock %}||-->
		
	</main>        
	
	<footer>
		
		<div class="inner">
			
			<div class="inner-left">
				<div>All stateside external hires that apply to and are accepted for a UMGC stateside staff or faculty position, will be subject to the satisfactory completion of a pre-employment background review. This includes, but is not limited to, employment and education verification and criminal records check. We are an affirmative action and equal opportunity employer.</div>
			
				<a href="https://www.umgc.edu/current-students/student-life-and-support/safety-and-security/annual-report" target="_blank">Annual Safety and Security Report<span class="sr-only"> (opens in a new window)</span></a>
				<span class="copyright">© <script type="text/javascript">date = new Date();
                year = date.getFullYear();
				document.write(year);//</script> University of Maryland Global Campus. All rights reserved.</span>
			</div>
			
			<div class="inner-right">
				<div class="mailing">
					<strong>Mailing Address</strong>
					<em>No classes or services at this location</em>
					3501 University Blvd. East, <br />
					Adelphi, MD &nbsp; 20783
				</div>
				<div class="social">
					<ul>
						<li><a class="facebook" href="https://www.facebook.com/UMGC" target="_blank" aria-label="Follow Us On Facebook (opens in a new window)"></a></li>
						<li><a class="twitter" href="https://twitter.com/umgccareers" target="_blank" aria-label="Follow Us On Twitter (opens in a new window)"></a></li>
						<li><a class="instagram" href="https://www.instagram.com/umgcpix/" target="_blank" aria-label="Follow Us On Instagram (opens in a new window)"></a></li>
					</ul>
					<a class="get-social" href="http://www.umgc.edu/contact/social-media-community/index.cfm" target="_blank">
						Get Social<span class="sr-only"> (opens in a new window)</span>
					</a>
				</div>
			</div>
			
		</div>
		
	</footer>
	
	<script type="application/ld+json">
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"url": "{{ CANONICAL_URL }}/",
	"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
	"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
	}
	</script>

	<script>
		window.onscroll = function() {pageScroller()};

		var Header = document.getElementById("scrollingDiv");
		var Scrolled = (Header.offsetTop);

		function pageScroller() {
		if (window.pageYOffset > Scrolled) {
			Header.classList.add("onScroll");
		} else {
			Header.classList.remove("onScroll");
		}
	}
	</script>

<!--||{% block js %}{% endblock %}||-->
	
</body>
</html>
