/*-- ---- ---- DYNAMIC JOB POSTING ---- ---- --*/
.clearfix {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.table {
	display: table;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px auto 0px auto;
	border: 0px;
}

.row {
	display: table-row;
	margin: 0px;
	padding: 0px;
}

.cell {
	display: table-cell;
	vertical-align: middle;
}

.column {
	display: table-cell;
	vertical-align: middle;
}

#dynamic-details .job-details-btns {
	display: block;
	margin: 30px auto;
}

#dynamic-details h1,
.dynamic-job-posting h2,
.dynamic-video h3,
.dynamic-glassdoor .glassdoor-copy {
	font-weight: 400;
}

.dynamic-qualifications ul,
.dynamic-video,
.dynamic-culture,
.dynamic-glassdoor .glassdoor-copy2,
.dynamic-glassdoor .glassdoor-copy1 strong,
.dynamic-glassdoor .glassdoor-copy2 strong,
.dynamic-quote {
	font-weight: 300;
}

#dynamic-details,
.dynamic-seo {
	width: 90%;
}

.dynamic-intro-copy,
.dynamic-culture-copy,
.dynamic-video-copy,
.dynamic-video-left .dynamic-video-copy,
.dynamic-glassdoor-copy,
.dynamic-quote-copy {
	display: inline-block;
	text-align: left;
	max-width: calc(730px - 10%);
	box-sizing: content-box;
}

.dynamic-glassdoor-right .dynamic-glassdoor-copy {
	display: none;
}

.dynamic-glassdoor-right.tn-lvn-lpn {
	background-size: cover;
	background-position: center right;
	background-image: url('../images/sub/dynamic-jobs/talent-network-image.jpg');
}

.dynamic-glassdoor-right.tn-adult {
	background-size: cover;
	background-position: center right;
	background-image: url('../images/sub/dynamic-jobs/talent-network-image.jpg');
}

.dynamic-job-posting h2 {
	font-size: 34px;
	line-height: 39px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
}

.dynamic-job-posting section {
	width: 100%;
	font-size: 1.35em;
	line-height: 1.4em;
	margin: 0px auto 0px;
}

.dynamic-job-posting .utility-btn {
	display:inline-block;
	font-family: "proxima-nova", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.25rem;
	font-weight: 400;
	text-align: center;
	padding: 13px 40px;
	background: #0077bc;
	color: #ffffff !important;
	border: 2px solid #0077bc;
	border-radius: 100px;
	margin: 10px 5px 10px 0;
	position: relative;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	transition: all 0.2s ease;
	overflow: hidden;
}

.dynamic-job-posting.utility-btn:before {
	background-color: #fffffff;
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	transition: all 0.2s ease;
	border-radius: 20px;
}

.dynamic-job-posting .utility-btn:hover,
.dynamic-job-posting .utility-btn:focus,
.dynamic-job-posting .utility-btn:active {
	border: 2px solid #073d5d;
	background: #073d5d;
	color: #fff !important;
	text-decoration: none;
}

.dynamic-job-posting .utility-btn:hover:before,
.dynamic-job-posting .utility-btn:focus:before,
.dynamic-job-posting .utility-btn:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	background-color: #ffffff;
	color: #0077bc;
}



#dynamic-details {
	width: 90%;
	margin: 0px auto 20px;
	padding: 2em 0px 1.5em;
	text-align: center;
}

#dynamic-details .table {
	width: 100%;
	max-width: 1500px;
}

#dynamic-details .column {
	width: 50%;
	vertical-align: middle;
}

#dynamic-details h1 {
	font-size: 2.5em;
	line-height: 1.15em;
	letter-spacing: .001em;
	color: #0077bc;
	margin: 0em auto .1em;
	text-shadow: none;
	font-family: "proxima-nova", sans-serif;
}

#dynamic-details dl,
#dynamic-details dl dt,
#dynamic-details dl dd {
	list-style: none;
	padding: 0px;
	font-size: 18px;
	line-height: 1.5;
}

#dynamic-details dl {
	margin: 0px 0px 10px;
}

#dynamic-details dl dt,
#dynamic-details dl dd {
	display: inline-block;
}

#dynamic-details dl dt {
	margin: 0px;
	font-weight: 700;
}

#dynamic-details dl dd {
	margin: 0px 15px 0px 5px;
}

#dynamic-details dl dd:last-child {
	margin: 0px 0px 0px 5px;
}

.map-right {
	display: none;
}

.dynamic-intro {
	background-color: #047d96;
	color: #ffffff;
}

.dynamic-intro h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	color: #ffffff;
	font-weight: 700;
}

.dynamic-intro .small-txt {
	background-color: #047d96;
	color: #ffffff;
	font-size: .9em;
	line-height: 1.3em;
	margin-top: 5%;
}

.dynamic-intro-left,
.dynamic-culture-left,
.dynamic-video-left,
.dynamic-glassdoor-left,
.dynamic-quote-left {
	width: 50%;
	text-align: right;
}

.dynamic-culture-left4 {
	width: 40%;
	text-align: right;
}

.dynamic-culture-left5 {
	width: 50%;
	text-align: right;
}

.dynamic-intro-left,
.dynamic-intro-left2,
.dynamic-intro-left3,
.dynamic-intro-left4,
.dynamic-intro-left5 {
	vertical-align: middle;
	background-image: url(../images/sub/dynamic-jobs/green-back.png);
	background-position: center center;
	font-size: 20px;
	line-height: 1.4em;
}

.dynamic-intro-copy,
.dynamic-culture-copy,
.dynamic-glassdoor-left .dynamic-glassdoor-copy,
.dynamic-quote-copy {
	padding: 10% 10% 10% 15%;
}

.dynamic-intro-right {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/green-curve.png), url(../images/sub/dynamic-jobs/intro-image.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-intro-right2 {
	/*--added kd 04-03-20*/
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/green-curve.png), url(../images/sub/dynamic-jobs/intro-image-lvn-lpn.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-intro-right3 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/green-curve.png), url(../images/sub/dynamic-jobs/intro-image-unskilled-aide.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-intro-right4 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/green-curve.png), url(../images/sub/dynamic-jobs/intro-image-skilled-aide.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.intro-image-lvn-lpn {
	background-image: url(../images/sub/dynamic-jobs/green-curve.png), url(../images/sub/dynamic-jobs/intro-image-lvn-lpn.jpg) !important;
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-intro-right5 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/green-curve.png), url(../images/sub/dynamic-jobs/intro-image-slp.jpg) !important;
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-intro h2 {
	text-align: left;
	padding: 0px 0px .5em;
}

section.dynamic-qualifications {
	padding: 6em 0px 4em;
}

.dynamic-qualifications h2 {
	color: #0077bc;
	padding: 0px 0px 1.5em;
	/*added by KD*/
	width: 94%;
	margin: 0 auto;
}

.dynamic-qualifications ul,
.dynamic-benefits ul {
	list-style: none;
	padding: 0px;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.dynamic-qualifications ul {
	font-size: 16px;
	line-height: 1.35em;
}

.dynamic-benefits ul {
	color: #ffffff;
}

.dynamic-qualifications li {
	display: inline-block;
	width: 23%;
	/*was 33%*/
	margin: 0px 0px 25px;
	vertical-align: top;
}

.dynamic-qualifications li span {
	display: inline-block;
	width: 85%;
	margin: 0px 0px .75em;
	vertical-align: middle;
}

.dynamic-qualifications li:last span {
	margin: 0px 0px 0em;
}

.dynamic-qualifications li .icon {
	background-color: #0077bc;
	width: 35%;
	padding-bottom: 35%;
	margin: 0px auto 1em;
	border-radius: 50%;
	background-image: url(../images/sub/dynamic-jobs/white-icons/license.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 60%;
}

.dynamic-qualifications li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/home-care.png);
}

.dynamic-qualifications li:nth-child(2) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/one-to-one.png);
}

.dynamic-qualifications li:nth-child(3) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/support.png);
}

.dynamic-qualifications li:nth-child(4) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/weekly-pay.png);
}

.dynamic-qualifications li:nth-child(5) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/electronic-charting.png);
}

.dynamic-qualifications li:nth-child(6) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/flexible-schedule.png);
}

.dynamic-qualifications li:nth-child(7) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/pay.png);
}

#caring-unskilled-aides-qualifications.dynamic-qualifications li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/pay.png);
}

#caring-unskilled-aides-qualifications.dynamic-qualifications li:nth-child(2) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/electronic-charting.png);
}

#caring-unskilled-aides-qualifications.dynamic-qualifications li:nth-child(3) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/scholarship.png);
}

#caring-unskilled-aides-qualifications.dynamic-qualifications li:nth-child(4) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/growth.png);
}

#caring-unskilled-aides-qualifications.dynamic-qualifications li:nth-child(5) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/sick-time.png);
}

#caring-unskilled-aides-qualifications.dynamic-qualifications li:nth-child(6) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/support.png);
}

#caring-skilled-rnlpn-qualifications.dynamic-qualifications li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/health-insurance.png);
}

#caring-skilled-rnlpn-qualifications.dynamic-qualifications li:nth-child(2) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/paid-time-off.png);
}

#caring-skilled-rnlpn-qualifications.dynamic-qualifications li:nth-child(3) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/electronic-charting.png);
}

#caring-skilled-rnlpn-qualifications.dynamic-qualifications li:nth-child(4) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/flexible-schedule.png);
}

#caring-skilled-rnlpn-qualifications.dynamic-qualifications li:nth-child(5) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/training.png);
}

#caring-skilled-rnlpn-qualifications.dynamic-qualifications li:nth-child(6) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/one-to-one.png);
}

#caring-skilled-rnlpn-qualifications.dynamic-qualifications li:nth-child(7) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/support.png);
}

#slp-rewards.dynamic-qualifications li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/care.png);
}

#slp-rewards.dynamic-qualifications li:nth-child(2) .icon {
	background-image: url("../images/sub/dynamic-jobs/white-icons/support.png");
}

#slp-rewards.dynamic-qualifications li:nth-child(3) .icon {
	background-image: url("../images/sub/dynamic-jobs/white-icons/flexible-schedule.png");
}

#slp-rewards.dynamic-qualifications li:nth-child(4) .icon {
	background-image: url("../images/sub/dynamic-jobs/white-icons/pay.png");
}

#slp-rewards.dynamic-qualifications li:nth-child(5) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/laptop.png);
}

#slp-rewards.dynamic-qualifications li:nth-child(6) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/reimbursement.png);
}

#slp-rewards.dynamic-qualifications li:nth-child(7) .icon {
	background-image: url("../images/sub/dynamic-jobs/white-icons/appreciative-team.png");
}

#slp-rewards.dynamic-qualifications li:nth-child(8) .icon {
	background-image: url("../images/sub/dynamic-jobs/white-icons/growth.png");
}

#slp-rewards.dynamic-qualifications li:nth-child(9) .icon {
	background-image: url("../images/sub/dynamic-jobs/white-icons/appeciation.png");
}

#slp-rewards.dynamic-qualifications li {
	display: inline-block;
	width: 33%;
	/*was 33%*/
	margin: 0px 0px 25px;
	vertical-align: top;
}

#slp-rewards.dynamic-qualifications li span {
	display: inline-block;
	width: 85%;
	margin: 0px 0px .75em;
	vertical-align: middle;
	font-size: 20px;
}

#slp-rewards.dynamic-qualifications li:last span {
	margin: 0px 0px 0em;
}


.dynamic-culture {
	box-shadow: 0px -5px 120px 0 rgba(0, 0, 0, .15);
}

.dynamic-culture2 {
	display: none;
}

.dynamic-culture-left,
.dynamic-culture-left2,
.dynamic-culture-left3,
.dynamic-culture-right4,
.dynamic-video-left,
.dynamic-glassdoor-left {
	width: 50%;
	text-align: right;
	background-repeat: no-repeat;
}

.dynamic-culture-left ul,
.dynamic-culture-left2 ul,
.dynamic-culture-left3 ul,
.dynamic-culture-left4 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.dynamic-culture-left li,
.dynamic-culture-left2 li,
.dynamic-culture-left3 li,
.dynamic-culture-left4 li {
	padding: .25em 0px .5em;
	font-size: 16px;
	line-height: 1.5;
}

.dynamic-culture-left5 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.dynamic-culture-left5 li {
	padding: .25em 0px .5em;
	font-size: 18px;
	line-height: 1.5;
}

.dynamic-culture-right {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/culture-image.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-culture-right2 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/culture-image-lvn-lpn.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-culture-right3 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/culture-image-unskilled-aide.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-culture-right4 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/culture-image-skilled-RNLPN.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-culture-right5 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/culture-image-slp.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.culture-image-lvn-lpn {
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/culture-image-lvn-lpn.jpg) !important;
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-culture h2 {
	text-align: left;
	color: #047d96;
	padding: 0px 0px 1em;
}

.dynamic-benefits {
	background-color: #047d96;
	padding: 5em 0px;
}

.dynamic-benefits h2 {
	padding: 0px 0px 1em;
}

.dynamic-benefits li {
	display: inline-block;
	width: 31%;
	margin: 0px 1% 20px;
	vertical-align: top;
	font-size: 1.15em;
	line-height: 1.25em;
}

.dynamic-benefits li .icon {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	padding-bottom: 20%;
	margin: 0px 5% 0px 0px;
	background-image: url(../images/sub/dynamic-jobs/white-icons/license.png);
}

.dynamic-benefits li span {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}

.dynamic-benefits sup {
	font-size: .75em;
	line-height: .01em;
}

.dynamic-benefit-footnote {
	display: block;
	width: 90%;
	font-size: .9em;
	color: #ffffff;
	text-align: center;
	margin: 20px auto 0px;
}

.dynamic-benefits li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/health-insurance.png);
}

.dynamic-benefits li:nth-child(2) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/paid-time-off.png);
}

.dynamic-benefits li:nth-child(3) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/401k.png);
}

.dynamic-benefits li:nth-child(4) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/training.png);
}

.dynamic-benefits li:nth-child(5) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/referal.png);
}

.dynamic-benefits li:nth-child(6) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/nationwide.png);
}

.dynamic-benefits li:nth-child(7) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/flexible-schedule.png);
}

.dynamic-benefits li:nth-child(8) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/training.png);
}

/*--Therapist Hilites SLP Dynamic Job--*/
section.therapist-hilites {
	padding: 4em 0px 3em;
	background-color: #047d96;
	margin-top: 1.25em !important;
}

.therapist-hilites h2 {
	color: #ffffff;
	padding: 0px 0px 1em;
	/*added by KD*/
	width: 94%;
	margin: 0 auto;
}

.therapist-hilites h3 {
	color: #ffffff;
	width: 100%;
	font-size: 24px;
	margin: 0 auto 10px;
	text-transform: uppercase;

}

.therapist-hilites ul,
.therapist-hilites ul {
	list-style: none;
	padding: 0px;
	width: 100%;
	text-align: center;
	display: flex;
	  justify-content: center;
}

.therapist-hilites ul {
	font-size: 20px;
	line-height: 1.5;
}

.therapist-hilites ul {
	color: #ffffff;
}

.therapist-hilites li {
	display: inline-block;
	padding: 2% 1% 1%;
	width: 19%;
	margin: 0px .5% 25px;
	vertical-align: top;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, .3);

}

.therapist-hilites li span {
	display: inline-block;
	width: 85%;
	margin: 0px 0px .75em;
	vertical-align: middle;
	min-height: 12em;

}

.therapist-hilites li:last span {
	margin: 0px 0px 0em;
}

.therapist-hilites li .icon {
	width: 40%;
	padding-bottom: 40%;
	margin: 0px auto 1.5em;
	background-image: url(../images/sub/dynamic-jobs/white-icons/license.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.therapist-hilites li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/care-family.png);
}

.therapist-hilites li:nth-child(2) .icon {
	background-image: url("../images/sub/dynamic-jobs/white-icons/support2.png");
}

.therapist-hilites li:nth-child(3) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/collaboration.png);
}

.therapist-hilites li:nth-child(4) .icon {
	background-image: url(../images/sub/dynamic-jobs/white-icons/fun.png);
}







.response-requirements {
	background-color: #0077bc;
	color: #ffffff;
	padding: 5em 0px;
	margin-top: 1.25em !important;
}

.response-requirements .table {
	width: 90% !important;
	margin: 0px auto;
	max-width: 1500px;
	vertical-align: middle;
}

.response-requirements .column {
	width: 50%;
	vertical-align: middle;
}

.response-requirements h2 {
	text-align: left;
	margin: .25em 0px .25em;
}

.response-requirements .sub-heading {
	font-size: 26px;
	line-height: 1.1em;
	margin: 10px auto 0;
}

.response-requirements ul {
	list-style: none;
	padding: 0px;
	margin: 40px 0 0;
	font-size: 18px;
	line-height: 1.5;
}

.response-requirements li {
	display: block;
	margin: .5em auto .75em;
	vertical-align: middle;
}

.response-requirements li span {
	width: 75%;
	margin: 0px;
	display: inline-block;
	vertical-align: middle;
}

.response-requirements li .icon {
	background-color: #FFFFFF;
	width: 8%;
	padding-bottom: 8%;
	margin: 0px 4% 0px 0px;
	border-radius: 50%;
	background-image: url(../images/sub/dynamic-jobs/white-icons/license.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 60%;
	display: inline-block;
	vertical-align: middle;
}

.requirements-col {
	padding: 2em 0px 2em 2.5%;
}

.responsibilities-col ul li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/electronic-charting.png);
}

.responsibilities-col ul li:nth-child(2) .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/medicine.png);
}

.responsibilities-col ul li:nth-child(3) .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/assessment.png);
}

.responsibilities-col ul li:last-child .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/family.png);
}

#caring-unskilled-aides.responsibilities-col ul li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/home-care.png);
}

#caring-unskilled-aides.responsibilities-col ul li:nth-child(2) .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/grooming.png);
}

#caring-skilled-rnlpn.responsibilities-col ul li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/home-care.png);
}

#caring-skilled-rnlpn.responsibilities-col ul li:nth-child(2) .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/adult-care.png);
}

#caring-skilled-rnlpn.responsibilities-col ul li:nth-child(3) .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/assessment.png);
}

#caring-skilled-rnlpn.responsibilities-col ul li:nth-child(4) .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/family.png);
}

#caring-skilled-rnlpn.responsibilities-col ul li:last-child .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/calendar.png);
}

#slp-qualifications.responsibilities-col ul li:first-child .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/home-care.png);
}

#slp-qualifications.responsibilities-col ul li:nth-child(2) .icon {
	background-image: url("../images/sub/dynamic-jobs/blue-icons/speech.png");
}

#slp-qualifications.responsibilities-col ul li:nth-child(3) .icon {
	background-image: url("../images/sub/dynamic-jobs/blue-icons/assessment.png");
}

#slp-qualifications.responsibilities-col ul li:nth-child(4) .icon {
	background-image: url(../images/sub/dynamic-jobs/blue-icons/team.png);
}

.response-requirements .videoWrapper {
	position: relative;
	padding-bottom: 50.625%;
	/* 16:9 */
	padding-top: 0px;
	height: 0;
	vertical-align: middle;
	display: inline-block;
	width: 90%;
	margin: 0px;
	max-width: 1000px !important;
}

.response-requirements .videoWrapper iframe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.dynamic-video .table {
	width: 100%;
}

.dynamic-video-right {
	width: 50%;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.dynamic-video-left {
	background-image: url(../images/sub/dynamic-jobs/white-curve2.png), linear-gradient(#ebebeb, #ffffff);
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;
	background-color: #ebebeb;
	padding: 3em 2.5%;
}

.dynamic-video-left .videoWrapper {
	position: relative;
	padding-bottom: 50.625%;
	max-width: 725px;
	padding-top: 0px;
	height: 0;
	vertical-align: middle;
	display: inline-block;
	width: 90%;
	margin: 0px;
}

.dynamic-video-left .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dynamic-video-copy {
	padding: 15% 15% 15% 10%;
	max-width: 550px;
	font-size: 16px;
	line-height: 1.5;
}

.dynamic-video-left .dynamic-video-copy {
	padding: 5% 10% 5% 15%;

}

.dynamic-video-copy .able {
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .15) !important;
}

.dynamic-video h3 {
	text-align: left;
	color: #047d96;
	font-size: 34px;
	line-height: 36px;
	padding: 0px 0px 1em;
	text-transform: uppercase;
	margin: 0px;
}

.dynamic-glassdoor {
	margin: 0px auto 40px;
	color: #ffffff;
	background-color: #0077bc;
	box-shadow: 0px -5px 120px 0 rgba(0, 0, 0, .15);
}

.dynamic-glassdoor-right {
	width: 50%;
	color: #06866b;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.dynamic-glassdoor-left {
	vertical-align: top;
	background-image: url(../images/sub/dynamic-jobs/talent-network.jpg);
	/* &url(../images/sub/dynamic-jobs/white-curve3.png), */
	background-size: cover;
	/*contain, */
	background-position: right center, center center;
	background-repeat: no-repeat;
}

.dynamic-glassdoor-left .utility-btn {
	border: 2px solid #ffffff;
}

.dynamic-glassdoor-right .dynamic-glassdoor-copy {
	padding: 10% 15% 10% 10%;
	text-align: center;
}

.dynamic-glassdoor-left .dynamic-glassdoor-copy {
	padding: 10% 15% 10% 15%;
}

.dynamic-glassdoor-left .dynamic-glassdoor-copy,
.dynamic-glassdoor-right .dynamic-glassdoor-copy {
	font-size: 16px;
	line-height: 1.5;
}

.dynamic-glassdoor h2 {
	text-align: left;
	padding: 0px 0px 1em;
}

.dynamic-glassdoor-right h2 {
	color: #06866b;
	text-align: center;
	padding: 0px 0px 0em;
}

.talent-link-holder {
	display: block;
	margin-top: 30px;
}

.dynamic-glassdoor .glassdoor-rating,
.dynamic-glassdoor .glassdoor-copy,
.dynamic-glassdoor .glassdoor-copy2 {
	font-family: proxima-nova, sans-serif;
}

.dynamic-glassdoor .glassdoor-rating {
	font-size: 3em;
	font-weight: 600;
	color: #2ca747;
}

.dynamic-benefits li .icon,
.dynamic-glassdoor .glassdoor-stars,
.dynamic-glassdoor .glassdoor-green {
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

.dynamic-glassdoor .glassdoor-stars {
	width: 110px;
	margin-left: 15px;
	margin-right: 5px;
	background-image: url(../images/sub/glassdoor-stars-gray.svg);
	display: block;
	margin: 5px auto 5px;
}

.glassdoor-star-and-rate {
	display: block;
	margin-bottom: .7em;
}

.dynamic-glassdoor .glassdoor-green {
	height: 20px;
	background-image: url(../images/sub/glassdoor-stars.svg);
}

.dynamic-glassdoor .glassdoor-copy1,
.dynamic-glassdoor .glassdoor-copy2 {
	margin-top: .75em;
	font-size: 1.3em;
	line-height: 1.05 !important;
}

.dynamic-glassdoor .glassdoor-copy1 {
	margin-bottom: 15px;
}

.dynamic-glassdoor .glassdoor-logo {
	width: 178px;
	height: 36px;
	margin: 0px auto;
}

.quotee {
	display: block;
	font-size: .6em;
	margin-top: .5em;
}

.quotee strong {
	font-weight: 800 !important;
}

section.bottom-buttons {
	width: 85%;
	text-align: center;
	margin: 40px auto 40px;
}

section.bottom-buttons .job-details-btns {
	display: block;
	margin: 30px auto;
}

.dynamic-seo {
	width: 88% !important;
	margin: 0px auto 40px !important;
	font-size: .75em !important;
	line-height: 1.2em;
	color: #454545;
}

/*--New Dynamic Job Section-added-kd-03-10-20*/
.dynamic-quote {
	box-shadow: 0px -5px 120px 0 rgba(0, 0, 0, .15);
	font-weight: 300;
	border-bottom: 9px solid #0077bc;
}

.dynamic-quote .table {
	max-width: 1572px !important;
}

.dynamic-quote2 {
	display: none;
}

.dynamic-quote-left,
.dynamic-quote-left2,
.dynamic-quote-left3,
.dynamic-quote-left4,
.dynamic-quote-left5 {
	width: 50%;
	text-align: right;
	background-repeat: no-repeat;
}

.dynamic-quote-right {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/quote-image.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-quote-right2 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/quote-image-lpn.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-quote-right3 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/quote-image-unskilled-aides.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-quote-right4 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/quote-image-skilled-RN-LPN.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-quote-right5 {
	width: 50%;
	padding-bottom: 35%;
	background-image: url(../images/sub/dynamic-jobs/white-curve.png), url(../images/sub/dynamic-jobs/quote-image-slp.jpg);
	background-size: contain, cover;
	background-position: left center, right center;
	background-repeat: no-repeat;
}

.dynamic-quote h2 {
	text-align: left;
	text-transform: none !important;
	letter-spacing: -.02em;
	color: #047d96;
	padding: 0px 0px 1em;
}
.video-holder {
 /* -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
 box-shadow: 2px 2px 2px rgba(0,0,0,.25); */
	max-width: 500px;
	margin: 0px auto 0px auto;
}
.video-holder video {
	max-width: 100%;
	height: auto;
}
.response-requirements .video-holder {
	width: 90%;
	margin: 0px;
	max-width: 1000px !important;
}
section.dynamic-video .video-holder {
	width: 90%;
	max-width: 700px !important;
}
section.vax-mandate {
	width: 90%;
	max-width: 1500px;
	display: block;
	text-align: left;
	margin: 40px auto 20px;
	font-size: 16px;
	line-height: 1.3em;
	font-weight: 300;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
}

#ccpa-notice-dynamic {
	width: 90%;
	max-width: 1500px;
	display: block;
	text-align: left;
	margin: 20px auto 20px;
	font-size: 16px;
	line-height: 1.3em;
	font-weight: 300;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
}

@media only screen and (max-width: 1540px) {
	.therapist-hilites li span {
		min-height: 15em;
	}
	.therapist-hilites li .icon {
		margin: 0px auto 1em;
	}
	.therapist-hilites li span {
		min-height: 11em;
	}
}

@media only screen and (max-width: 1300px) {
	#dynamic-details h1, .dynamic-job-posting h2, .dynamic-video h3 {
		font-size: 2.75vw;
		 line-height: 1em;
	}
	#dynamic-details dl {
		margin: 0px 0px 0px !important;
	}
	.dynamic-qualifications li .icon, #slp-rewards.dynamic-qualifications  li .icon {
		width: 28%;
		padding-bottom: 28%;
	}
	.dynamic-benefits li {
		font-size: 1em;
		line-height: 1.25em;
	}
	.dynamic-qualifications, .dynamic-culture, .dynamic-video, .dynamic-glassdoor, .dynamic-intro, .dynamic-location, .dynamic-benefits, .dynamic-quote, #slp-rewards.dynamic-qualifications  {
		font-size: 1.1em !important;
		line-height: 1.6em !important;
	}
	.dynamic-benefits li .icon {
		margin: 0px auto 15px;
	}
}

@media only screen and (max-width: 1200px) {
	#dynamic-details h1 {
		font-size: 3.75vw;
		 line-height: 1.15em;
	}
	.dynamic-job-posting h2, .dynamic-video h3 {
		font-size: 3.25vw;
		 line-height: 1em;
		padding: 0px 0px .5em;
	}
	#dynamic-details dl {
		margin: 0px 0px 5px;
	}
	#dynamic-details dl dd {
		margin: 0px 10px 0px 5px;
	}
	.dynamic-location .google-job-map {
		height: 400px;
	}
}

@media only screen and (max-width: 1100px) {
	.dynamic-intro-copy, .dynamic-culture-copy, .dynamic-glassdoor-left .dynamic-glassdoor-copy, .dynamic-quote-copy {
		padding: 15% 10% 14% 15%;
	}
	section.dynamic-qualifications {
		padding: 6em 0px 4em;
	}
	.dynamic-qualifications h2 {
		padding: 0px 0px 1.5em;
	}
	.dynamic-qualifications li, #slp-rewards.dynamic-qualifications li {
		width: 49%;
	}
	.dynamic-qualifications li span, #slp-rewards.dynamic-qualifications li span {
		width: 90%;
		margin: 0px 0px .75em;
	}
	.dynamic-benefits h2 {
		padding: 0px 0px 1em;
	}
	.dynamic-benefits li {
		width: 49%;
		margin: 0px 0% 1em;
		font-size: 1.45em;
		line-height: 1.35em;
	}
	.dynamic-benefits li .icon {
		width: 25%;
		padding-bottom: 25%;
		margin: 0px 5% 0px 0px;
	}
	.dynamic-intro-right3 {
		background-position: left center, 70% center;
	}
	.dynamic-quote-right3 {
		background-position: left center, 40% center;
	}
	.dynamic-quote-right4 {
		background-position: left center, 60% center;
	}
	.therapist-hilites ul {
		flex-wrap: wrap;
	}
	.therapist-hilites li {
		width: 40%;
		margin: 0px .5% 2%;
		vertical-align: top;
	}
}

@media only screen and (max-width: 1000px) {
	.table, .row, .cell, .column {
			display: block;
			width: 100% !important;
		}
		#dynamic-details h1 {
			font-size: 5.25vw;
			 line-height: 1.1em;
		}
		.dynamic-job-posting h2, .dynamic-video h3 {
			font-size: 4.5vw;
			 line-height: 1.1em;
			padding: 0px 0px .5em;
		}
		.dynamic-job-posting {
			font-size: 1.5vw;
			line-height: 1.5em;
		}
		.dynamic-intro h2, .dynamic-culture h2, .dynamic-glassdoor h2, .dynamic-video h3, .dynamic-intro-copy, .dynamic-culture-copy, .dynamic-video-right, .dynamic-video-left, .dynamic-video-copy, .dynamic-glassdoor-right, .dynamic-glassdoor-copy, .dynamic-glassdoor-left, .dynamic-glassdoor-right .dynamic-glassdoor-copy, .dynamic-quote h2, .dynamic-quote-copy {
			text-align: center;
		}
		.dynamic-intro-copy, .dynamic-culture-copy, .dynamic-video-copy, .dynamic-video-left, .dynamic-video-copy, .dynamic-glassdoor-copy, .dynamic-quote-copy {
			max-width: 100%;
		}
		.content-search-results-right, .dynamic-intro-left, .dynamic-intro-left2, .dynamic-intro-left3, .dynamic-intro-left4, .dynamic-culture-left, .dynamic-culture-left2, .dynamic-culture-left3, .dynamic-culture-left4, .dynamic-culture-left5,.dynamic-video-left, .dynamic-video-right, .dynamic-glassdoor-left, .dynamic-glassdoor-right, .dynamic-quote-left {
			width: 100%;
			margin: 0px auto;
			padding: 0px;
		}
		.dynamic-intro-left {
			margin-top: 1.2em;
			vertical-align: middle;
			background-image: url(../images/sub/dynamic-jobs/intro-image.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 63.6%;
			font-size: 1.35em;
			line-height: 1.5em;
		}
		.dynamic-intro-left2 {
			margin-top: 1.2em;
			vertical-align: middle;
			background-image: url(../images/sub/dynamic-jobs/intro-image-lvn-lpn.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 63.6%;
			font-size: 1.35em;
			line-height: 1.5em;
		}
		.dynamic-intro-left3 {
			margin-top: 1.2em;
			vertical-align: middle;
			background-image: url(../images/sub/dynamic-jobs/intro-image-unskilled-aide.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 63.6%;
			font-size: 1.35em;
			line-height: 1.5em;
		}
	   .dynamic-intro-left4 {
			margin-top: 1.2em;
			vertical-align: middle;
			background-image: url(../images/sub/dynamic-jobs/intro-image-skilled-aide.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 63.6%;
			font-size: 1.35em;
			line-height: 1.5em;
		}
		.dynamic-intro-left5 {
			margin-top: 1.2em;
			vertical-align: middle;
			background-image: url(../images/sub/dynamic-jobs/intro-image-slp.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 63.6%;
			font-size: 1.35em;
			line-height: 1.5em;
		}
		.dynamic-intro-copy, .dynamic-culture-copy, .dynamic-culture-copy, .dynamic-glassdoor-left .dynamic-glassdoor-copy, .dynamic-quote-copy {
			padding: 10% 10% 10% 10%;
			width: 80%;
		}
		.dynamic-intro-right {
			display: none;
		}
		.dynamic-intro-right2, 	.dynamic-intro-right3, .dynamic-intro-right4, .dynamic-intro-right5 {
			display: none;
		}
		.dynamic-intro h2 {
			text-align: center;
			padding: 0px 0px 1em;
		}
		.dynamic-culture-left {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/culture-image.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		.dynamic-culture-left2 {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/culture-image-lvn-lpn.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		.dynamic-culture-left3 {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/culture-image-unskilled-aide.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		.dynamic-culture-left4 {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/culture-image-skilled-RNLPN.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		.dynamic-culture-left5 {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/culture-image-slp.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		section.dynamic-culture {
			padding: 0em 0px 0px !important;
			margin-top: 1.5em;
		}
		.dynamic-culture-right, .dynamic-culture-right2, .dynamic-culture-right3, .dynamic-culture-right4, .dynamic-culture-right5  {
			display: none;
		}
		.dynamic-culture-left ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
		}
		.dynamic-culture-left li, .dynamic-culture-left2 li, .dynamic-culture-left3 li, .dynamic-culture-left4 li {
			padding: 0em 0px 1em;
			font-size: 1.4em;
			line-height: 1.5em;
		}
		.dynamic-culture-left li:last-child, .dynamic-culture-left2 li:last-child, .dynamic-culture-left3 li:last-child, .dynamic-culture-left4 li:last-child {
			padding: 0em 0px 0em;
		}
		.dynamic-culture-left5 li {
			padding: 0em 0px 1em;
			font-size: 1.4em;
			line-height: 1.5em;
		}
		.dynamic-culture-left5 li:last-child {
			padding: 0em 0px 0em;
		}
		.dynamic-culture h2 {
			padding: 0px 0px 1em;
		}
		 .dynamic-quote-left {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/quote-image.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		.dynamic-quote-left2 {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/quote-image-lpn.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		.dynamic-quote-left3 {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/quote-image-unskilled-aides.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		.dynamic-quote-left4 {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/quote-image-skilled-RN-LPN.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		.dynamic-quote-left5 {
			text-align: center;
			background-image: url(../images/sub/dynamic-jobs/quote-image-slp.jpg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			padding-top: 69%;
		}
		section.dynamic-quote {
			padding: 0em 0px 0px !important;
			margin-top: 1.5em;
		}
		.dynamic-quote-right {
			display: none;
		}
		.dynamic-quote-right2, .dynamic-quote-right3, .dynamic-quote-right4, .dynamic-quote-right5 {
			display: none;
		}
		.dynamic-quote h2 {
			padding: 0px 0px 1em;
		}
	 
		.talent-link-holder {
			margin-top: 20px;
		}
		.dynamic-qualifications, .dynamic-glassdoor, #slp-rewards.dynamic-qualifications {
			font-size: 1.3em !important;
			line-height: 1.5em !important;
		}
		section.dynamic-video {
			margin-top: 1.5em;
		}
		.dynamic-video-left .videoWrapper {
			padding-bottom: 56.25%;
			max-width: 100%;
			width: 100%;
		}
		.dynamic-video-copy {
			padding: 10%;
			max-width: 100%;
			font-size: 1.3em;
			line-height: 1.5em;
		}
		.dynamic-glassdoor-left {
			vertical-align: top;
			background-image: url(../images/sub/dynamic-jobs/talent-network.jpg);
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
		.dynamic-glassdoor .glassdoor-copy1, .dynamic-glassdoor .glassdoor-copy2 {
			margin-top: .75em;
			font-size: 1.8em;
			line-height: 1.05 !important;
		}
		.dynamic-glassdoor .glassdoor-logo {
			width: 222px;
			height: 45px;
			margin: -.5em auto 0px;
		}
		.quotee {
			font-size: .5em;
			margin-top: .5em;
		}
		.dynamic-glassdoor-right .dynamic-glassdoor-copy {
			padding: 10% 7.5% 10% 7.5%;
			text-align: center;
		}
}

@media screen and (max-width: 800px) {
	section.bottom-buttons .job-details-btns .utility-btn,
	#dynamic-details .job-details-btns .utility-btn {
		display: block;
	}
}

@media only screen and (max-width: 700px) {
	#dynamic-details h1 {
		font-size: 6.5vw;
		 line-height: 1em;
		width: 90%;
		font-weight: 300;
		letter-spacing: .0em;
		margin-bottom: .25em;
	}
	.dynamic-job-posting h2, .dynamic-video h3 {
		font-size: 5.75vw;
		 line-height: 1em;
		font-weight: 300;
		letter-spacing: .02em;
	}
	.dynamic-intro h3 {
		font-size: 4vw;
		line-height: 1.2em;
		margin-top: 0;
	}
	.dynamic-job-posting {
		font-size: 2vw;
		line-height: 1.5em;
	}
	.response-requirements {
		padding: 0em 0px 2em;
		margin-top: 1.25em !important;
	}
	.response-requirements li {
		display: block;
		width: 94%;
		padding: 1em 3%;
		border-bottom: 1px dashed rgba(255,255,255,.25);
	}
	.response-requirements li:last-child {
		padding: 1em 3% 0em;
		border-bottom: 0px dashed rgba(255,255,255,.25);
	}
	.response-requirements li span {
		width: 75%;
		margin: 0px;
		display: inline-block;
		vertical-align: middle;
	}
	.response-requirements li .icon {
		width: 20%;
		padding-bottom: 20%;
		margin: 0px 4% 0px 0px;
	}
	.dynamic-culture-left li, .dynamic-culture-left2 li, .dynamic-culture-left3 li, .dynamic-culture-left4 li, .dynamic-culture-left5 li {
		font-size: 1.3em;
		line-height: 1.4em;
	}
	.dynamic-culture h2 {
		padding: 0px 0px .5em;
	}
	.dynamic-quote h2 {
		padding: 0px 0px .5em;
	}
	section.dynamic-qualifications {
		padding: 5em 0px 4em;
	}
	.dynamic-qualifications h2, #slp-rewards.dynamic-qualifications h2 {
		padding: 0px 0px .5em;
		width: 80%;
		margin: 0px auto;
	}
	.dynamic-qualifications ul, #slp-rewards.dynamic-qualifications ul {
		width: 85%;
		margin: 0px auto;
	}
	.dynamic-qualifications li, #slp-rewards.dynamic-qualifications li {
		width: 94%;
		padding: 1em 3% 1em;
		border-bottom: 1px dashed rgba(0,119,188,.35);
		margin: 0px;
	}
	.dynamic-qualifications li:last-child, #slp-rewards.dynamic-qualifications  li:last-child {
		padding: 1em 3% 0em;
		border-bottom: 0px dashed rgba(0,119,188,.35);
	}
	.dynamic-qualifications li .icon, #slp-rewards.dynamic-qualifications li .icon {
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		padding-bottom: 20%;
		margin: 0px 4% 0em 0px;
	}
	.dynamic-qualifications li span, #slp-rewards.dynamic-qualifications  li span {
		display: inline-block;
		vertical-align: middle;
		width: 74%;
		margin: 0px 0px 0em;
		text-align: left;
	}
	.dynamic-qualifications, .dynamic-glassdoor, #slp-rewards.dynamic-qualifications {
		font-size: 1.2em !important;
		line-height: 1.6em !important;
	}
	.dynamic-benefits h2 {
		padding: 0px 0px 1em;
	}
	.dynamic-benefits li {
		width: 49%;
		margin: 0px 0% 1em;
		font-size: 1.35em !important;
		line-height: 1.35em;
	}
	.dynamic-benefits li .icon {
		width: 25%;
		padding-bottom: 25%;
		margin: 0px 5% 0px 0px;
	}
	.dynamic-benefits {
		padding: 5em 0px;
	}
	.dynamic-benefits h2 {
		padding: 0px 0px 1em;
	}
	.dynamic-benefits li {
		display: block;
		width: 100%;
		margin: 0px auto 2em;
	}
	.dynamic-benefits li .icon {
		display: block;
		width: 20%;
		padding-bottom: 20%;
		margin: 0px auto .5em;
	}
	.dynamic-benefits li span {
		width: 90%;
		font-size: 1.4em;
		line-height: 1.2em;
	}
	section.therapist-hilites {
		padding: 2em 0px 2em;
	}
	.therapist-hilites li {
		padding: 3% 1% 3%;
		width: 88%;
		margin: 0px 5% 2%;
	}
	.therapist-hilites li .icon {
		width: 30%;
		padding-bottom: 30%;
		margin: 0px auto 1em;
	}
	.therapist-hilites li span {
		width: 90%;
		margin: 0px auto .75em;
		vertical-align: middle;
		min-height: 0;
	}
}