
.talent-network-container .resume-upload-label, .talent-network-container .multi-choice-label {
	margin: 7px 0px 5px;
}
.talent-network-container > label input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.1em;
	width: calc(100% - 36px);
	height: 24px;
	border-radius: 0px;
	border: 1px solid #dedede;
	padding: 7px 18px;
	margin: 5px 0px 0px 0px;
}
.talent-network-container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image:url(../images/global/up-and-down-arrows.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: contain;
	height: 42px;
	font-size: 1.1em;
	padding: 7px 18px;
	width: 100%;
	border: 1px solid #E0E0E0;
	margin: 0px 0px 8px 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.talent-network-container input[type="file"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-size: 1.1em;
	height: auto;
	border: 0px solid #E0E0E0;
	padding: 2px 0px;
	margin: 5px 0px 0px 0px;
}
.talent-network-container span ul {
	font-size: .9em;
	width: calc(100% - 34px);
	border: 1px solid #E0E0E0;
	padding: 12px 17px;
	margin: 6px 0px 0px 0px;
	overflow-y: auto;
	height: 179px;
}
.talent-network-container span ul li {
	margin: 0px 0px 5px;
}
.talent-network-container span ul input {
	transform: scale(1.1, 1.1);
	padding: 0px 0px 1px 0px;
	margin: 0px 7px 2px 0px;
}

.talent-network-container .accordion-section-title {
	 line-height: 19px !important;
	 background-position: left 45%;
}
.talent-network-container .accordion-section-content {
	line-height: 1.1em;
	padding: 0px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 17px;
	height: auto !important;
	max-height: none !important;
	overflow: visible;
}
.accordion-section-content ul {
	padding: 1px !important;
}
#optimator-form .submitBtn {
	font-family: "proxima-nova",sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.25rem;
	font-weight: 400;
	text-align: center;
	padding: 13px 40px 12px;
	background: #ffffff;
	color: #0077bc !important;
	border: 2px solid #0077bc;
	border-radius: 100px;
	width: auto;
	margin: 15px 0px 0px 50%;
	transform: translateX(-50%);
	transition: all 0.2s ease;
	height: auto;
}
#optimator-form .submitBtn:hover {
	background-color: #0077bc;
	color: #ffffff !important;
}

/*---- Upload Button ----*/

.odds-n-ends-row button {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.1em;
	font-weight: 500;
	border-radius: 0px;
	padding: 7px 17px 7px 40px;
	border: 1px solid #CCCCCC;
	display: inline-block;
	transition: all 0.25s linear;
	margin-top: 10px;
	font-family: proxima-nova, sans-serif;
	color: #666666;
	background-image: url(../images/one-drive.png), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%) !important;
}
.upload-buttons-holder input {
	width: auto;
}
.one-drive > button {
	background-image: url(../images/one-drive.png), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%);
	background-repeat: no-repeat;
	background-size: 22px 22px, cover;
	background-position: 13px center, center center;
	text-align: left;
}
.one-drive > button:hover {
	border: 2px solid #ff5056;
	color: #ff5056;
}
.upload-buttons-holder button {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.1em;
	font-weight: 500;
	border-radius: 0px;
	padding: 7px 17px 7px 40px;
	border: 1px solid #CCCCCC;
	display: inline-block;
	transition: all 0.25s linear;
	margin-top: 10px;
	font-family: proxima-nova, sans-serif;
	color: #666666;
	background-image: url(../images/one-drive.png), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%) !important;
	width: auto !important;
	max-width: 100% !important;
}
.desktop-upload {
	width: 0.1px !important;
	height: 0.1px !important;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.desktop-upload + label {
	display: inline-block !important;
	width: auto !important;
	font-size: 1.1em;
	font-weight: 500;
	border-radius: 0px;
	padding: 7px 17px 7px 40px;
	border: 1px solid #CCCCCC;
	transition: all 0.25s linear;
	margin-top: 0px;
	background-image: url(../images/upload-icon.png), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%);;
	background-repeat: no-repeat;
	background-size: 17px 17px, cover;
	background-position: 16px 48%, center center;
	font-family: proxima-nova, sans-serif;
	color: #666666;
}
.desktop-upload:focus + label,
.desktop-upload + label:hover {
	border: 1px solid #ff5056;
	color: #ff5056;
}
.footnote {
	font-size: .8em !important;
	display: block !important;
	padding: 0px;
	margin: 0px;
	width: 100% !important;
}
.dropbox-dropin-btn, .dropbox-dropin-btn:link, .dropbox-dropin-btn:hover {
	display: inline-block;
	height: auto !important;
	font-family: proxima-nova, sans-serif !important;
	font-size: 1.1em !important;
	color: #666666 !important;
	padding: 8px 17px 6px 14px !important;
	border: 1px solid #CCCCCC !important;
	border-bottom-color: #CCCCCC !important;
	border-radius: 0px !important;
	background: -webkit-linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%);
	background: -o-linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%);
	background: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%);
	margin-top: 10px !important;
	font-weight: 500 !important;
}
.dropbox-dropin-btn:hover {
	color: #ff5056 !important;
	border: 1px solid #ff5056 !important;
	border-bottom-color: #ff5056 !important;
}
.dropbox-dropin-default:hover, .dropbox-dropin-error:hover {
	border: 1px solid #ff5056 !important;
	border-bottom-color: #ff5056 !important;
	color: #ff5056 !important;
	background: -webkit-linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%);
	background: -o-linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%);
	background: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(240,240,240,1.00) 100%);
}
.dropbox-dropin-default:active, .dropbox-dropin-error:active {
	border-color: #CCCCCC !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0) !important;
}
.dropbox-dropin-btn .dropin-btn-status {
	display: inline-block;
	width: 20px !important;
	height: 18px !important;
	vertical-align: middle !important;
	margin: 0 5px 0 0px !important;
	background: transparent url('https://www.dropbox.com/static/images/widgets/dbx-saver-status-2x.png') no-repeat !important;
	background-size: 80px 18px !important;
	-webkit-background-size: 80px 18px !important;
	position: relative;
	top: -1px;
}
.dropbox-dropin-progress .dropin-btn-status {
	width: 20px;
	margin: 0 4px 0 0;
	background: url('https://www.dropbox.com/static/images/widgets/dbx-progress-2x.png') no-repeat center center;
}
.dropbox-dropin-success .dropin-btn-status {
	background-position: -20px 0px !important;
}
.dropbox-dropin-disabled {
	border: 2px #e1e1e1 solid;
	border-bottom: 2px solid #e1e1e1;
	box-shadow: none;
}
.dropbox-dropin-disabled .dropin-btn-status {
	background-position: -40px 0px !important;
}
.dropbox-dropin-error .dropin-btn-status {
	background-position: -60px 0px !important;
}
.dropbox-chooser, .dropbox-dropin-btn {
	line-height: 1em !important;
	text-decoration: none !important;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}