/**************************** GLOBAL ****************************/  
*{
  box-sizing: border-box;
}
body {
  margin: 0px;
  color: #000;
  -webkit-text-size-adjust: none;
  font-family: 'Lato', "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.1em;
  line-height: 1.3em;
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle; /*  very important, otherwise there is a gap at the bottom  */
  border: 0;
}
/*      Slide Show     */
.container{
  width: 100%;
  position: relative;
  padding-bottom: 55%;
}
.slideshow{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}
#slide-1{
  background-image: url("../images/01.jpg");
}
#slide-2{
  background-image: url("../images/02.jpg");
}
#slide-3{
  background-image: url("../images/03.jpg");
}
.background-image{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 23px;
  width: 60px;
  padding: 23px 23px 15px 23px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
  left: 20px;
}
.prev:hover{
  left: 10px;
}
/* Position the "next button" to the right */
.next {
  left: 55px;
}
.next:hover {
  left: 65px;
}

.right-buttons{
  position: absolute;
  bottom: 23px;
  right:23px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.right-buttons span{
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  margin: 0;
  margin-left: 7px;
  width: 30px;
  position: relative;
  overflow: hidden;
  background-color: rgba(2,52,83,.9);
  color: #fff;
  text-align: center;
}
.right-buttons .current{
  background-color: #fff;
  color: rgba(2,52,83,.9);
}
.right-buttons span:hover{
  bottom: 10px;
  color: #fff;
  background-color: #41B6E6;
}
/* Caption text */
.caption-wrap{
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  color: #fff;
  font-size: 50px;
  line-height: 1.1em;
  padding: 15px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}

.active {
  background-color: #717171;
}
