<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Medical Laboratory Technician (MLT) Pathway Program | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/mlt-pathway-program.html" />
<meta property="og:title" content="Medical Laboratory Technician (MLT) Program | Careers - University of Vermont Health" />
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub MLTpathway">
    <div class="inner">
      <div class="copy">
        <h2>Medical Laboratory Technician (MLT) Pathway Program</h2>
        </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent">
  
<h1 class="visuallyhidden">Medical Laboratory Technician (MLT) Program at University of Vermont Health</h1>
	  
	<section class="intro-copy" id="pathwayprograms">
      <div class="inner">
	  <div class="text">
	
	  <h2>Ready to further your education?</h2>
	
	  <p>Offered in partnership with Weber State University, the MLT Pathway Program offers a comprehensive curriculum that includes didactic and laboratory learning via distance education, as well as hands-on clinical rotations within the UVM Health.</p>
		  <p>Upon completing Weber State’s Associate of Applied Science program, graduates will be eligible to sit for the exam to obtain certification as a Medical Laboratory Technician (MLT) through the American Society for Clinical Pathology (ASCP) and licensure as a Clinical Laboratory Technician (CLT). Graduates can seek employment as an MLT at one of our UVM Health partner sites across Vermont and northern New York.</p>
	  
	  </div>
	   <div class="photo" id="rnpath"><img src="files/images/sub/affiliates/cvmc-icons/icons-mlt.png" alt="" class="scalable"/></div>        
      </div>
    </section>
	  
	  <section class="callout-global-03" id="UVMHNMLTpathvideo">
      	<div class="inner2">
			<div class="video-title">
			
			<h2>Learn More about the UVM Health MLT Pathway Program</h2>
			
			</div>
		 <div class="video-holder"  id="MLTPathvideo">

          <div class="video-responsive">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZjzCZm_iJcs?si=muSOOQ1C-0wy1_hP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
        </div>
        </div>
	
	  </section>
	  
	   	  <section class="isolated-image">
		<div class="inner">
			<div class="text">
				<h2>Interested in Learning More?</h2>
			</div>

			 <div id="isolatedimagebtn"><a href="files/pdfs/MLT Pathway Program Informational Session 2025.pdf" target="_blank" class="button" aria-label="Pathfinder Information Session PDF (opens in a new window)">Download Informational Session PDF</a></div>
	  </div>
	</section>
	
	<section class="callout-circle" id="MLTdoes">
		<div class="inner">
			<div class="cc-photo">
			<span class="background-image" role="img" aria-label="Close up of masked Laboratory Technician organizing test tubes in tray on table"></span></div>

			<div class="copy">
				<h2>What does a Medical Laboratory Technician do?</h2>
				 <p>Medical Laboratory Technicians (MLT), also commonly known as Clinical Lab Technicians (CLT) are responsible for performing tests and analysis on blood, urine, spinal fluid and tissue. They are responsible for operating, maintaining and troubleshooting sophisticated biomedical instrumentation and technology. Laboratory testing includes disciplines in chemistry, hematology, immunology, immunohematology (transfusion medicine), microbiology, molecular biology, anatomic pathology and cytopathology.</p>
		
			</div>
	  </div>
	</section>
	
	<section class="callout-global-03" id="MLTcohortdates">
	  <div class="inner">
	  <div class="text">
	  <h2>Important Dates</h2>
	  <ul>
	 <li><strong>Weber State University Application Deadline:</strong> September 1st</li> 
<li><strong>UVM Health Applications Open:</strong> October 1st</li>  
<li><strong>UVM Health Application Deadline:</strong> October 15th</li>   
<li><strong>UVM Health Cohort Selection:</strong> November 1st</li>  
<li><strong>Classes Begin:</strong> January</li>  
	  </ul>
	  
	  </div>
	   <div class="photo" id="mltcohort" alt=""></div>        
      </div>
	</section>
	
	<section class="text-only-section" id="RTeligibility">
      <div class="inner">
	  <div class="text">
		  <h2>Eligibility Requirements:</h2>
		 
		   <div class="dates-holder">
<div class="dates-info"> 
<h4>All candidates must:</h4>
		<ul>
	 <li>Work at least 72 scheduled hours per pay period as a <strong>current employee of a laboratory department</strong> within the UVM Health (part-time/per diem employees are not eligible).</li>
<li>Be in good standing with no corrective actions above a counseling level.</li>
<li>Must commit to a Medical Laboratory Technician position at their respective partner location upon successful completion of program.</li></ul>
	</div>
          </div>
	 	  </div>
      </div>
    </section>
	  
	   <section class="callout-global-03">
       
	   <div class="inner" id="CVMCApply">
	  <div class="text">
	  <h2>How to Apply: MLT Pathway Program</h2>
	  <h3>Pathway Program Application Deadline – October 15th of each calendar year</h3>
		  <p>Please have ready the following items to upload with your application:</p>
	 <ul>
	  <li>Résumé</li>
		<li>Cover Letter</li>
		 
		 <li class="nobox">Leader Confirmation of Support - <em>Leaders must complete the electronic <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=N5_AX1rck0iVwK47te8Y35eW2SNXCFRKkuKw5Xo1cOBUQjBTWjlFNEdDSUdDUkJHTVlaSzYxUFk4WiQlQCN0PWcu" target="_blank">UVM Health Pathway Program Leader Approval Form (link opens in a new window)<span class="sr-only"> (link opens in a new window)</span></a> prior to the application deadline. Please coordinate with your leader to ensure this is completed.</em>
		 <p class="marginbtmnone"><em>*Please note that the Leader Approval Form must be accessed from a UVM Health account.</em></p></li>
		 <li>Weber State University Acceptance Letter</li>
		  </ul>
		 
	  
		  
		   
		   <a href="https://forms.office.com/Pages/DesignPageV2.aspx?prevorigin=shell&origin=NeoPortalPage&subpage=design&id=N5_AX1rck0iVwK47te8Y35eW2SNXCFRKkuKw5Xo1cOBUNENUTkVON0IyQ0YzQ0xKU081SjFNVVdYOCQlQCN0PWcu" target="_blank">Click here to Complete the Application October 1st – October 15th<span class="sr-only"> (link opens in a new window)</span></a>
	  </div>
	   <div class="photo"></div>        
      </div>
	  	  </section>
	
		<section class="callout-global-03" id="MLTinfo">
      <div class="inner">
	  <div class="text">
	  <h2>Upcoming Information Sessions</h2>
	  <p>Attend one of our upcoming virtual information sessions to learn more about the MLT Pathway Program and the application process.</p>
	  <p>Select an info session below and complete the short registration form to sign up. Once you have submitted the registration form, you will receive a confirmation email with information about accessing your session on the day and time it is held.</p>

	  <div class="talent-network-form" id="mltpathaway-pg-form-upper">
	  <!--||{% block upper_form %}||-->
	  <!--||{% endblock upper_form %}||-->

	  <!--||{% comment %}||-->
	      <form method="post" class="te-form debounce" id="talent-network-form-upper"
            aria-label="University of Vermont Health sign-up form" aria-describedby="talent-network-description">
        <input type="hidden" name="csrfmiddlewaretoken" value="qhU0V0FhU2c0sAraTB8qQl8V8CkmXyhJvI7D5YCfPhC3xgMfrBTiFal2H8JIqP3S">
        
            <div class="te-field te-field-information_session">
                <label for="id_upper-information_session_0">Information session:</label>
                
                <ul id="id_upper-information_session">
    <li><label for="id_upper-information_session_0"><input type="radio" name="upper-information_session" value="Tuesday, June 13, 7:30 – 8:30 am" required id="id_upper-information_session_0">
 Tuesday, June 13, 7:30 – 8:30 am</label>

</li>
    <li><label for="id_upper-information_session_1"><input type="radio" name="upper-information_session" value="Tuesday, June 13, 12:00 – 1:00 pm" required id="id_upper-information_session_1">
 Tuesday, June 13, 12:00 – 1:00 pm</label>

</li>
    <li><label for="id_upper-information_session_2"><input type="radio" name="upper-information_session" value="Tuesday, June 13, 6:00 – 7:00 pm" required id="id_upper-information_session_2">
 Tuesday, June 13, 6:00 – 7:00 pm</label>

</li>
</ul>
                
            </div>
        
            <div class="te-field te-field-first_name">
                <label for="id_upper-first_name">First name:</label>
                
                <input type="text" name="upper-first_name" maxlength="50" required id="id_upper-first_name">
                
            </div>
        
            <div class="te-field te-field-last_name">
                <label for="id_upper-last_name">Last name:</label>
                
                <input type="text" name="upper-last_name" maxlength="50" required id="id_upper-last_name">
                
            </div>
        
            <div class="te-field te-field-email">
                <label for="id_upper-email">Email:</label>
                
                <input type="email" name="upper-email" maxlength="100" required id="id_upper-email">
                
            </div>
        
        <div class="apply">
            <button name="upper" type="submit" class="te-submit">Submit</button>
        </div>
    </form>
	   
	   
	  <!--||{% endcomment %}||-->
      </div>

  <!--<p><a href="https://admissions.ccv.edu/portal/UVMHN_RT" target="_blank">Register for an Information Session<span class="sr-only"> (link opens in a new window)</span></a></p>-->
		
	  </div>
	   <div class="photo" id="MLTsession"></div>        
      </div>
		  
	  </section>
	

	
	<section class="text-only-section" id="RTcost">
      <div class="inner">
	  <div class="text">
	  
	  <h2>Program Costs and Commitments</h2>
		 
		   <div class="dates-holder">
<div class="dates-info"> 
<p>Students are responsible for paying all tuition and fees and must commit to working as a full-time Medical Laboratory Technician at a partner site within the UVM Health for three years upon successful completion of the program. UVM Health will begin reimbursing tuition costs one year after graduation.</p>

	</div>
          </div>
	 	  </div>
      </div>
    </section>
		
	<section class="text-only-section">
      <div class="inner">
	  <div class="text">
	
	  <h2>Frequently Asked Questions</h2>
	 <h3>What is the program structure for classes and clinicals?</h3>
	 <p>The MLT Pathway Program offers a comprehensive curriculum that includes didactic and laboratory learning via distance education, as well as hands-on clinical rotations within the UVM Health. Participation requires full-time commitment across four semesters at Weber State University. All classes will be virtual. Clinical practicum hours will take place in laboratory settings at participants’ UVM Health employer sites.</p>
		   <h3>How many work hours are required during the program?</h3>
	 <p>While enrolled in the MLT program at Weber State University, students will work their regular job 48 hours per pay period. Students will receive pay for an additional 24 hours per pay period to allow time for classwork, lab/clinical instruction, and studying.</p>
		   <h3>How does tuition reimbursement work?</h3>
	 <p>Students are responsible for paying all tuition and fees. For graduates who commit to working at their respective partner location for three years, they will reimbursed in one-third increments for all out-of-pocket tuition, fee, and books costs beginning one year after graduation.</p>
		  <h3>What if I’m not a lab employee at one of the UVM Health partners? Can I still apply?</h3>
	 <p>Being a full-time laboratory employee in a UVM Health partner is a requirement for application and enrollment. To be eligible for the program you’ll need to be hired as a full-time employee in the laboratory department of any UVM Health partner.</p>
		   <h3>Interested in joining our team?</h3>
	 <p>Call 800-722-9922 and choose option 3 to talk with one of our talent acquisition partners about full-time job opportunities at one of our UVM Health healthcare partners.</p>
		   <h3>What if I’m per diem or part-time? Am I eligible?</h3>
	 <p>In order to be eligible, you need to be a full-time employee.</p>
	  <h3>I’ve taken college courses in the past. Do I need to retake those courses?</h3>
	 <p>Possibly, depending on the timeframe and your grades. Weber State University will review the courses and grades on your transcript to determine whether they meet the requirements for this program. If you do need to retake courses, check out <a href="uvmhn-pathfinder-program.html">Pathfinder</a>, which is a program offered by UVM Health in partnership with Community College of Vermont and will support employees who are seeking to enter a UVM Health Pathway Program to begin taking prepaid preparatory, prerequisite and corequisite courses.</p>
		   <h3>I’ve started school in the past but did not finish. Do I need to start over?</h3>
	 <p>You will need to complete the MLT Program curriculum through Weber State University (coursework and lab/clinical instruction) in its entirety. Please contact <a href="https://www.weber.edu/mls/onlineaas.html" target="_blank">WSU Admissions<span class="sr-only"> (link opens in a new window)</span></a> for specific questions related to your academic history.</p>
		   <h3>Once I am enrolled in the Pathway Program, are there any tax implications that I should be aware of?</h3>
	 <p>The amounts paid under this Program have tax implications. Amounts that are paid to your educational institution for tuition, fees, books, supplies, or other expenses constitute payments under an educational assistance program described in Section 127 of the Internal Revenue Code and are therefore excludable up to $5,250 per calendar year. Amounts paid in excess of $5,250 per year are taxable income and are subject to applicable withholding taxes.</p>
		  <p>These taxes will be withheld from your regular earnings, resulting in a reduction to your usual paycheck.  To avoid unforeseen hardships, the reduction should be planned for, and if necessary, additional funding sources such as loans should be sought.</p>
		  <p>Please consult your personal tax advisor, as the Network cannot provide you with individualized tax advice.</p>
		  <h3>What happens if I am not selected for a seat?</h3>
 <p>Each VT UVM Health partner will determine the number of seats it can support annually. Partner-specific waitlists may be utilized depending on eligible applicant numbers. Application materials and interviews will determine how employees are initially placed on the partner waitlists. Should a seat become available, the next applicant on that partner waitlist will be contacted.</p>
<h3>I missed the application deadline; can I still be considered?</h3>
 <p>Individuals who do not meet the initial program deadline for consideration may submit a complete application for their partner’s waitlist. After the initial program deadline, employees applying directly to the waitlist will be reviewed in the order that applications are received, should seats become available. No waitlist applications will be accepted or reviewed for after July 1st.</p>
<h3>Can I apply for the Pathway Program if I am already actively enrolled and attending the academic program on my own?</h3>
 <p>Our Pathway Programs are designed to support employees through the entirety of the academic program. Off-cycle enrollments will not be accepted.</p>
	 
	  </div>
<!--	   <div class="photo"></div>        -->
      </div>
    </section>
	
	
	<section class="pathways-contact">
	  <div class="inner">
	  <h2>Questions?</h2>
	  <p><strong>Please contact:</strong> <br>
Rebecca Aldrich, Workforce Development Program Manager – <a href="mailto:Rebecca.aldrich@uvmhealth.org" target="_blank">Rebecca.Aldrich@uvmhealth.org<span class="sr-only"> (link opens in a new window)</span></a> <br>
or<br>
 Megan Foster, Workforce Development Program Manager – <a href="mailto:Megan.Foster@uvmhealth.org" target="_blank">Megan.Foster@uvmhealth.org<span class="sr-only"> (link opens in a new window)</span></a></p></div>
	  
	  </section>
	  
	  
	  	<section class="mltpathway-form-holder">
      <div class="inner">
	 <div class="talent-network-form" id="mltpathaway-pg-form">
				<!--||{% block te-header %}||-->

					<!-- This section will be replaced with either the Join Talent Network or Express Interest heading and copy -->
					<h1>MLT Pathway Program Application<br>
 (all required)</h1>

					<span class="form-intro">
					<p>Please complete the below form and a member of our team will be in touch.</p>
					
					</span>
		        
				<!--||{% endblock te-header %}||-->

				<!--||{% block content %}{% endblock %}||-->

				<!--||{% comment %}||-->

   				<form method="post" id="tn-form" class="debounce" enctype="multipart/form-data"
                          aria-label="{{ CORPORATE_NAME }} Talent Network sign-up form" aria-describedby="talent-network-description">
        

					<label>
						First name:
						<input type="text" name="first_name" maxlength="50" required="" id="id_first_name">
				    </label>
						
					<label>
						Last name:
						<input type="text" name="last_name" maxlength="50" required="" id="id_last_name">
				    </label>
						
					<label>
						Email:
						<input type="email" name="email" maxlength="100" required="" id="id_email">
				    </label>
					
						<label>
						Are you a current employee of a UVM Health partner? (Yes or No)
						<select name="contact_method" id="id_contact_method">
							<option value="1" selected="">Yes</option>
							<option value="2">No</option>
					    </select>
				    </label>
									
						
					<p class="talent-disclaimer">By submitting information, you are not officially applying to a position at this time, and you authorize
                        {{ CORPORATE_NAME }} to contact you via phone, email, and text messaging.</p>
						
					<div class="apply">
						<input name="submit" type="submit" class="submit" id="submit" value="SUBMIT">
				    </div>

			    </form>
				<!--||{% endcomment %}||-->				

		    </div>
	        
      </div>
    </section>
	  
	  
	
	  
	  
	  

	  
    
	  
	 
	  
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>