<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Advanced Practice Professional | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/advanced-practice-professional.html" />
<meta property="og:title" content="Advanced Practice Professional | Careers - University of Vermont Health" />
<script src="files/js/jquery-3.7.0.min.js"></script>
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub advpractice">
    <div class="inner">
      <div class="copy">
        <h2>Advanced Practice Professional</h2>
        
      </div>
    </div>
  </div><!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent">
	  
<h1 class="visuallyhidden">Advance Practice Professional Careers at University of Vermont Health</h1>
	  
    <section class="intro-copy2" id="NewRNintro">
      <div class="inner">
	  <div class="text">
	  <h2>Leading the Way in Professional Excellence</h2>
	  <p>Bring your knowledge, experience, and clinical expertise to one of the diverse and valued APP roles at the UVM Health. Explore advancing your career through joining our dynamic team of Nurse Practitioners, Physician Assistants, Certified Registered Nurse Anesthetists/Certified Anesthesiologist Assistants, and Certified Nurse Midwives among a growing network of medical professionals across Vermont and New York. Learn more about specific opportunities and find the position that is the perfect fit for you while living in an idyllic area of the Northeast surrounded by natural beauty and many outdoor opportunities.</p>
		 
      
	  </div>
	   <div class="photo" id="advpracticeintro">
		  <span class="background-image" role="img" aria-label="Group photo of Advanced Practice professionals posing for camera in lobby"></span>
		  </div>        
      </div>
    </section>
	  
	  	  <!-- ---- Advance Practice Areas Section START---- -->
	<section class="advpract-areas">
		<div class="inner">
			<h2>Advanced Practice Talent Areas</h2>

		  
<ul>
				  <li class="advpract-areas">
							<div class="advpract-areas-photo"><img src="files/images/sub/advanced-practice/advpractice-callout-02.jpg" width="1400" height="840" alt="Midwife checking pregnant patient at her home" class="scalable"/></div>
					  <div class="advpract-areas-text">
											
							<h3>Certified Nurse Midwife (CNM)</h3>
						  <p>Certified Nurse Midwives (CNMs) Provide care through all phases of pregnancy and birth, assist patients with their family planning and gynecological care as well as provide basic primary care for people who identify as female.</p>
						  
						  	
					  
					  </div>
				    <div class="advpract-areas-button"><a href="/jobs/midwife/?search_term=&zipcode=&radius=25">View Jobs</a></div>
              </li>
						<li class="advpract-areas">
							<div class="advpract-areas-photo"><img src="files/images/sub/advanced-practice/advpractice-callout-Anesthesia.jpg" width="1400" height="840" alt="Anesthetist administering anesthesia to patient before surgery" class="scalable"/></div>
							  <div class="advpract-areas-text">
											
							<h3>Certified Registered Nurse Anesthetist / Certified Anesthesiologist Assistant (CRNA/CAA)</h3>
						  <p>Anesthesia APPs at UVM Health are essential members of our care team, taking immense pride in their expertise and collaborative work with anesthesiologists. Together, we ensure safe, high-quality care for every patient during every procedure. Join our anesthesia family, where you’ll be supported by your peers and have the opportunity to build a fulfilling career while enjoying an excellent work-life balance.</p></div>
							    <div class="advpract-areas-button"><a href="/jobs/crna-aa/?search_term=&zipcode=&radius=25">View Jobs</a></div>
						</li>
						<li class="advpract-areas-main">
							<div class="advpract-areas-photo"><img src="files/images/sub/advanced-practice/advpractice-callout-NP.jpg" width="1400" height="840" alt="Nurse discusing monitor readings with another nurse" class="scalable"/></div>
						  <div class="advpract-areas-text">
											
							<h3>Nurse Practitioner (NP)</h3>
						  <p>As clinicians with at least six years of formal Nursing undergraduate and graduate academic and clinical training, NPs blend clinical expertise in diagnosing and treating health conditions with an added emphasis on disease prevention and health management. NPs are well-equipped to provide high-quality, patient-centered care.</p></div>
							    <div class="advpract-areas-button"><a href="/jobs/?search_term=nurse+practitioner&zipcode=&radius=25">View Jobs</a></div>
						</li>
						<li class="advpract-areas-main">
							<div class="advpract-areas-photo"><img src="files/images/sub/advanced-practice/advpractice-callout-PA.jpg" width="1400" height="840" alt="Physician Assistant seated at computer discussing patient case with Physician" class="scalable"/></div>
							  <div class="advpract-areas-text">
											
							<h3>Physician Assistant (PA)</h3>
						  <p>Physician Assistants play an integral part in the care team, working in collaboration with physicians to provide patient centered comprehensive care. Across numerous divisions and network sites, PAs treat patients throughout the lifespan, using compassionate evidence based practice.</p></div>
							    <div class="advpract-areas-button"><a href="/jobs/?search_term=physician+Assistant&radius=25">View Jobs</a></div>
						</li>
				<li class="advpract-areas-main">
					<div class="advpract-areas-photo"><img src="files/images/sub/advanced-practice/advpractice-callout-APP.jpg" width="1400" height="840" alt="APP student learning from other medical professional" class="scalable"/></div>
							  <div class="advpract-areas-text">
											
							<h3>APP Students/Learners Seeking Clinical Experiences</h3>
						  <p>APP students furthering their academic and clinical preparation by obtaining a graduate degree from a nationally accredited graduate program, can inquire about clinical rotations / experiences in the UVM Health here!</p></div>
					    <div class="advpract-areas-button"><a href="/advanced-practice/app-students/">Learn More</a></div>
			  </li>
						<li class="advpract-areas-main">
							<div class="advpract-areas-photo"><img src="files/images/sub/advanced-practice/advpractice-callout-APP-postgrad.jpg" width="1400" height="840" alt="Elizabethtown Community Hospital Building photo" class="scalable"/></div>
  <div class="advpract-areas-text">
											
							<h3>Post-graduate APP Transition to Practice Opportunities</h3>
						  <p>The Transition to Practice Program at CVPH offers Advanced Practice Providers transitioning into Emergency Medicine 12 months of immersive experience as they prepare for collaborative clinical practice. Through dedicated didactic time with content experts, procedure lab held at the state of the art Simulation Center at the Larner College of Medicine, and time spent at the bedside performing US, APPs finish the program with EM competence ready to matriculate into clinical practice.</p></div>
							    <div class="advpract-areas-button"><a href="/advanced-practice/app-transition/">Learn More</a></div>
						</li>
		  </ul>
		
		</div>
	</section>
	<!-- ---- Advance Practice Areas Section END---- -->
	  	  
	  <!-- ---- Affiliates Section START---- -->
	<section class="affiliates" id="affiliates-advpractpg">
		<div class="inner">
			
		  <p>UVM Health Partner Locations</p>
		  <div class="intro-txt">University of Vermont Health is an umbrella term for our healthcare system family–home to six operating hospitals, over 15,000 employees, and servicing more than one million patients across Vermont and Northern New York. In addition to our six medical center locations, UVM Health is also a home health and hospice provider.</div>
		   <div class="intro-txt">At UVM Health, we do not consider ourselves merely a healthcare system—we are your friends and neighbors. Our communities count on UVM Health and our Partner Locations to provide equitable, affordable, and compassionate healthcare.</div>
<ul>
	<li class="affiliates-main">
							<div class="affiliates-photo"><img src="files/images/main/bldgs/alice-hyde-bldg.webp" width="1140" height="600" alt="Alice Hyde Medical Center facilities photo" class="scalable"/></div>
							<a href="alice-hyde.html"><h3>Alice Hyde<br>
 Medical Center (AHMC)</h3></a>
							<h4>Malone, NY</h4>
						</li>	
						<li class="affiliates-main">
							<div class="affiliates-photo"><img src="files/images/main/bldgs/cvmc-bldg.webp" width="1140" height="600" alt="Central Vermont Medical Center (CVMC) facilities photo" class="scalable"/></div>
							<a href="cvmc.html"><h3>Central Vermont Medical Center (CVMC)</h3></a>
							<h4>Berlin, VT</h4>
						</li>
						<li class="affiliates-main">
							<div class="affiliates-photo"><img src="files/images/main/bldgs/champlain-building.webp" width="1140" height="600" alt="Champlain Valley Physicians Hospital (CVPH) facilities photo" class="scalable"/></div>
							<a href="cvph.html"><h3>Champlain Valley Physicians Hospital (CVPH)</h3></a>
							<h4>Plattsburgh, NY</h4>
						</li>
						<li class="affiliates-main">
							<div class="affiliates-photo"><img src="files/images/main/bldgs/ech-bldg.webp" width="1140" height="600" alt="Elizabethtown Community Hospital Building photo" class="scalable"/></div>
<a href="elizabethtown.html"><h3>Elizabethtown Community Hospital (ECH)</h3></a>
							<h4>Elizabethtown, NY</h4>
						</li>
	<li class="affiliates-main">
					<div class="affiliates-photo"><img src="files/images/main/bldgs/porter-bldg.webp" width="1140" height="600" alt="Porter Medical Center Building photo" class="scalable"/></div>
							<a href="porter-medical.html"><h3>Porter <br>
Medical Center (PMC)</h3></a>
							<h4>Middlebury, VT</h4>
			  </li>
	 <li class="affiliates-main">
							<div class="affiliates-photo"><img src="files/images/main/bldgs/uvmmc-bldg.webp" width="1140" height="600" alt="University of Vermont Medical Center facilities photo" class="scalable"/></div>
							
							<a href="uvmmc.html">
							<h3>University of Vermont<br>
 Medical Center (UVMMC)</h3></a>
								<h4>Burlington, VT</h4>
			  </li>
		  </ul>
		
		</div>
	</section>
	<!-- ---- Affiliates Section END---- -->
	  

	
	
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>