<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Center for Workforce Development | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
		<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/center-for-workforce-development.html" />
<meta property="og:title" content="Center for Workforce Development | Careers - University of Vermont Health" />
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub training-prog">
    <div class="inner">
      <div class="copy">
        <h2>Center for Workforce Development</h2>

      </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent">

<h1 class="visuallyhidden">Workforce Development Pathways at University of Vermont Health</h1>
	  
    <section class="intro-copy">
      <div class="inner">
	  <div class="text" style="width: 100%;">
	  <h2>Your future career starts here. Now.</h2>
	  <p>University of Vermont Health is dedicated to providing training and development opportunities to our employees and members of our local communities that help them to gain the skills, education and professional certifications they need to establish rewarding careers in health care.</p>
		<p>The programs listed below are some of the ways you can build your skillset and deepen your education through the UVM Health. Many allow participants to work and get paid while they receive training.</p>
		</div>
      </div></section>
	  
	  
	  <section class="callout-global-03" id="cvmcpathways">
		  
		  
		  	  <h2>Advancement Programs</h2>
	<div class="details-txt">If you're looking to advance your career in health care, University of Vermont Health offers educational opportunities to help our current and our future employees grow! </div>
		  
		   <div class="inner">
	  <div class="text">
	  <h3>UVM Health Pathfinder Program</h3>
	  <p>Pathfinder is a partnership with Community College of Vermont and will support employees who are seeking to enter a UVM Health Pathway Program to begin taking prepaid preparatory, prerequisite and corequisite courses.</p>
	  	<div class="callout-global3-btn"><a href="uvmhn-pathfinder-program.html">Learn More</a></div>
	 </div>
	   <div class="photo" id="pathways14"><span class="background-image" role="img" aria-label="Smiling masked Nurse standing in hospital hall"></span></div>        
      </div> 
		  
		   <div class="inner">
	  <div class="text">
	  <h3>Licensed Practical Nursing (LPN) Pathway Program</h3>
	  <p>Through our partnership with Vermont State University, our Licensed Practical Nursing Pathway Program allows full-time employees to continue earning a salary while taking classes toward their LPN degree.</p>
	  <div class="callout-global3-btn"><a href="/lpn-pathway-program.html">Learn More</a></div>
	 </div>
	   <div class="photo" id="pathways03">
		    <span class="background-image" role="img" aria-label="Smiling Licensed Practical Nurse standing in hospital hall"></span>
		   </div></div>
		  
		  <div class="inner">
	  <div class="text">
	  <h3>Registered Nurse (RN) Program</h3>
	  <p>Through our partnership with Vermont State University (VTSU), our RN Pathway Program allows full-time UVM Health LPN employees of our Vermont partners the opportunity to continue earning a salary while studying to complete their Associate of Science in Nursing degree, leading to eligibility for RN licensure.</p>
	  	<div class="callout-global3-btn"><a href="/rn-pathway-program.html">Learn More</a></div>
	 </div>
	   <div class="photo" id="pathways04"><span class="background-image" role="img" aria-label="Smiling masked Nurse standing in hospital hall"></span></div>        
      </div> 
		  
		   <div class="inner">
	  <div class="text">
	  <h3>Respiratory Therapy (RT) Program</h3>
	  <p>Through our partnership with Vermont State University and the Community College of Vermont, our RT Pathway Program allows full-time UVM Health employees to continue earning a salary while studying to complete their Associate of Science in Respiratory Therapy degree leading to their Registered Respiratory Therapist (RRT) licensure.</p>
	  	<div class="callout-global3-btn"><a href="/respiratory-therapy.html">Learn More</a></div>
	 </div>
	   <div class="photo" id="pathways09"><span class="background-image" role="img" aria-label="Respiratory Therapist administering breathing treatment to seated young boy"></span></div>        
      </div>
		  
<!--TURN ON WHEN PG IS LIVE
		   <div class="inner">
	  <div class="text">
	  <h3>Medical Laboratory Technician (MLT) Pathway Program</h3>
	  <p>Through our partnership with Weber State University, our MLT Pathway Program allows full-time employees working in the laboratory departments within the UVM Health to continue earning a salary while taking classes toward their Associate of Applied Science degree and obtaining certification as a Medical Laboratory Technician.</p>
	<div class="callout-global3-btn"><a href="/mlt-pathway-program.html">Learn More</a></div>
	  </div>
	   <div class="photo" id="medlabtechprogam"></div>  
      </div>
-->
		  
		   <div class="inner">
	  <div class="text">
	  <h3>UVMMC LNA to RN Pathway Program</h3>
	  <p>Through our partnership with Community College of Vermont (CCV) and Vermont State University (VTSU), UVMMC’s LNA to RN Pathway Program allows employees at UVMMC to continue earning a salary while taking classes toward an advanced healthcare degree.</p>
	<div class="callout-global3-btn"><a href="UVMMC-LNA-to-RN-Pathway-Program.html">Learn More</a></div>
	  </div>
	   <div class="photo" id="LNAtoRNprogram">
			    <span class="background-image" role="img" aria-label="Smiling Nurse speaking with patient"></span></div>  
      </div>
	  
	  
	  
	  <!--
	   <div class="inner">
	  <div class="text">
	  <h3>Surgical Technologist (ST) Program (New York)</h3>
	  <p>Through our partnership with Mohawk Valley Community College and Clinton Community College, our ST Pathway Program allows full-time UVM Health employees to continue earning a salary while studying to compete their Associate of Applied Science in Surgical Technology leading to the Certified Surgical Technician (CST) credential.</p>
	<div class="callout-global3-btn"><a href="/surg-tech-ny-program.html">Learn More</a></div>
	  </div>
	   <div class="photo" id="surgtechNYprogram"></div>  
      </div>
-->
		  
		  
		  
		  
	<h2>Training Programs – No Experience Required!</h2>
	<div class="details-txt">At University of Vermont Health, you can join our team at any level of experience! The opportunities below are open to everyone requiring little to no prior experience.</div>
<!--
	<div class="inner">
  <div class="text">
    <h3>Surgical Technician (ST) Program</h3>
    <p>Our ST Pathway Program allows participants to earn a full-time salary while receiving on-the-job training to become a Surgical Technician in the State of Vermont.</p>
    <div class="callout-global3-btn"><a href="/surg-pathway-program.html">Learn More</a></div>
    </div>
  <div class="photo" id="pathways06"></div>        
</div>
-->
	
<!--
<div class="inner">
  <div class="text">
    <h3>Medical Assistant (MA) Program</h3>
     <p>Our MA Pathway Program allows participants to develop the skills you’ll need to support one of our primary or specialty care practices.</p>
    <div class="callout-global3-btn"><a href="/MA-pathway-program.html">Learn More</a></div>

    </div>
  <div class="photo" id="pathways01"></div>        
</div>
-->

<!--
<div class="inner">
	  <div class="text">
	  <h3>Certified Nursing Assistant (CNA) Program</h3>
	  <p>Our CNA Pathway Program allows participants to earn a full-time salary while studying to complete the course and receive certification through the State of New York.</p>
	  <div class="callout-global3-btn"><a href="#">Coming Soon</a></div>
	  </div>
	   <div class="photo" id="pathways07"></div>  
      </div>
-->
	  
	   <div class="inner">
	  <div class="text">
	  <h3>Nursing Assistant Program (LNA/CNA)</h3>
	  <p>Our Nursing Assistant Programs allow participants to earn a salary while studying to complete the course and receive licensure through the State of Vermont or New York.</p>
	  <div class="callout-global3-btn"><a href="/nursing-assistant-pathway-program.html">Learn More</a></div>
	  </div>
	   <div class="photo" id="pathways02"><span class="background-image" role="img" aria-label="Licensed Nursing Assistant checking on patient in bed surrounded by medical equipment"></span></div>  
      </div>
	  
	   
	   <div class="inner">
	  <div class="text">
	  <h3>Clinical Assistant (CA) Program</h3>
	  <p>The Clinical Assistant (CA) Program trains qualified applicants to take their place on our patient care team at Champlain Valley Physicians Hospital (CVPH) in New York.</p>
	  <div class="callout-global3-btn"><a href="/clinical-assistant-program.html">Learn More<span class="sr-only"> (link opens in a new window)</span></a></div>
	  </div>
	   <div class="photo" id="pathways08">
		    <span class="background-image" role="img" aria-label="Smiling Clinical Assistant posing for camera"></span></div>  
      </div>
	
	  
	  <div class="inner">
	  <div class="text">
	  <h3>Phlebotomist Registered Apprenticeship</h3>
	  <p>Our Phlebotomist Apprenticeship Program is a paid, year-long training program that prepares applicants to become Phlebotomists at the University of Vermont Medical Center.</p>
	  <div class="callout-global3-btn"><a href="https://jobforward.org/phlebotomy/" target="_blank">Learn More<span class="sr-only"> (link opens in a new window)</span></a></div>
	  </div>
	   <div class="photo" id="phlebotomistprogam">
		   <span class="background-image" role="img" aria-label="Masked Phlebotomist organzing medical test tubes in tray on table"></span></div>  
      </div>
		  
		   <div class="inner">
	  <div class="text">
	  <h3>Surgical Technologist Registered Apprenticeship</h3>
	  <p>Coming in 2026: Thanks to funding championed by Senator Peter Welch, this one-year, paid apprenticeship will help build the next generation of Surgical Technologists across Central Vermont, Porter, and UVM Medical Centers.</p>
	  <div class="callout-global3-btn"><a href="https://jobforward.org/surgicaltech/" target="_blank">Learn More<span class="sr-only"> (link opens in a new window)</span></a></div>
	  </div>
	   <div class="photo" id="surgtechregappprogram">
		   <span class="background-image" role="img" aria-label="Surgical Technologist at work during surgery"></span></div>  
      </div>
		  
		   <div class="inner">
	  <div class="text">
	  <h3>Sterile Processing Technician Registered Apprenticeship</h3>
	  <p>Coming in 2026: Thanks to funding championed by Senator Peter Welch, this one-year, paid apprenticeship will help build the next generation of Sterile Processing Technicians across Central Vermont, Porter, and UVM Medical Centers.</p>
	  <div class="callout-global3-btn"><a href="#">Coming Soon<span class="sr-only"> (link opens in a new window)</span></a></div>
	  </div>
	   <div class="photo" id="sterileproctechappprogram">
		   <span class="background-image" role="img" aria-label="Masked Phlebotomist organzing medical test tubes in tray on table"></span></div>  
      </div>
	
	  

<!--		       <h2>Grant Funded Programs</h2>
	<div class="details-txt">University of Vermont Health offers educational opportunities through generous grant funding to help our current and future employees grow!</div>
		  
		     <div class="inner">
	  <div class="text">
	  <h3>UVM Health Home Health & Hospice – Pre-Pathway Program (P3)</h3>
	  <p>Our Pre-Pathway Program (P3) allows employees of UVM Health – Home Health & Hospice (HHH) to complete general education coursework. These courses are intended to prepare our employees for future academic pursuits in healthcare.</p>
		  
	  	<div class="callout-global3-btn"><a href="homehealthandhospice-prepathway-program.html">Learn More</a></div>
	 </div>
	   <div class="photo" id="pathways13"></div>        
      </div> -->
		  
		  
		   <h2>Education Programs</h2>
	<div class="details-txt">Not finding the right workforce development program for you? Explore the diverse educational programs below. These unique opportunities will help you gain essential skills to start a rewarding career in health care.</div>
		  
		    <div class="inner">
	  <div class="text">
	  <h3>Project SEARCH</h3>
	  <p>Project SEARCH is an innovative, business-led, school to work transition program for young adults with disabilities hosted at University of Vermont Medical Center.</p>
	  	<div class="callout-global3-btn"><a href="project-SEARCH.html">Learn More</a></div>
	 </div>
	   <div class="photo" id="projserachprogram"><span class="background-image" role="img" aria-label="Smiling disabled adult seated between filing cabinets"></span></div>        
      </div> 
		  
		   <div class="inner">
	  <div class="text">
	  <h3>School of Radiologic Technology</h3>
	  <p>Our School of Radiologic Technology at Champlain Valley Physicians Hospital (CVPH) is an accredited, 24-month radiographic science program that prepares graduates to sit for the American Registry of Radiologic Technologist (ARRT) examination and earns an associate’s degree from SUNY Empire State College.</p>
	  	<div class="callout-global3-btn"><a href="https://www.cvph.org/Residency-and-Education/School-of-Radiology/" target="_blank">Learn More</a></div>
	 </div>
	   <div class="photo" id="pathways12"><span class="background-image" role="img" aria-label="Three Radiologic Technicians posing for camera in medical classroom"></span></div>        
      </div> 
		  
		   <div class="inner">
	  <div class="text">
	  <h3>Paramedic Program</h3>
	  <p>Our Paramedic Education Program is an intensive training program which blends an on-line learning environment, classroom sessions, lab sessions, and clinical experience. It is a 18-month, 1200+ hour program.</p>
	  <div class="callout-global3-btn"><a href="https://www.ech.org/Departments-and-Programs/Paramedic-Program/" target="_blank">Learn More<span class="sr-only"> (link opens in a new window)</span></a></div>
	  </div>
	   <div class="photo" id="paramedicprogam">
			   <span class="background-image" role="img" aria-label="Masked paramedic organizing medical supplies in back of opened ambulance"></span></div>  
      </div>
		  
		  
	   <!--<div class="inner">
	  <div class="text">
	  <h3>Accelerated Bachelor of Science in Nursing (ABSN) Pathway Program</h3>
	  <p>Through a generous grant from the Vermont Agency of Health Services (AHS), our ABSN Pathway Program allows full-time employees to continue earning a salary while studying to complete their bachelor’s degree in nursing with Norwich University, leading to eligibility for RN licensure. This program is intended for individuals with non-nursing degrees that have a passion to become a registered nurse.</p>
		  <p class="blue-txt"><strong>Thank you for your interest in the Accelerated Bachelor of Science in Nursing (ABSN) Pathway Program. Applications are currently closed. Please check back for information about future programs.</strong></p>
	  <div class="callout-global3-btn"><a href="https://www.uvmhealthnetworkcareers.org/ahs-absn-pathway-program.html">Learn More</a></div>
	 </div>
	   <div class="photo" id="pathways10"></div></div>-->
	   
	    <!--<div class="inner">
	  <div class="text">
	  <h3>Master of Science in Nursing (MSN) Nursing Education Pathway Program</h3>
	  <p>Through a generous grant from the Vermont Agency of Health Services (AHS), our MSN Nursing Education Pathway Program is intended to produce MSN graduates through Norwich University and Vermont State University. Graduates will commit to becoming clinical nurse faculty for two years at a Vermont nursing program through a dual-service agreement.</p>
		   <p class="blue-txt"><strong>Thank you for your interest in the MSN Pathway Program. Applications are currently closed. Please check back for information about future programs.</strong></p>
	  	<div class="callout-global3-btn"><a href="/msn-nursing-edu-pathway-program.html">Learn More</a></div>
	 </div>
	   <div class="photo" id="pathways11"></div>        
      </div>-->  
		    
	  
	  </section>

	  <section class="callout-circle" id="frontlinewrk">
		<div class="inner">
			<div class="cc-photo" id="workforcecircle">
			 <span class="background-image" role="img" aria-label="CareerSTAT | National Fund for Workforce Solutions Frontline Worker Champion logo"></span>
			</div>

			<div class="copy">
				<h2>UVM Health Recognized as a 2024 Frontline Healthcare Worker Champion</h2>
				<p>University of Vermont Health has been recognized as a national leader for wide-ranging workforce development initiatives by a nationwide health care networking and strategy organization, for an innovative assortment of career training and continuing education programs that serve both employees and members of the community.</p>
				<p><a href="https://www.uvmhealth.org/news/uvmhn/uvm-health-network-recognized-a-2023-frontline-healthcare-worker-champion" target="_blank">Learn More<span class="sr-only"> (link opens in a new window)</span></a></p>
			
			</div>
	  </div>
	</section>
	
	
	<section class="callout-global-03">
	  <div class="inner">
	  <div class="text">
	  <h2>Growing and Strengthening Our Workforce:
Strategic Recruitment & Retention</h2>
	  <p>The national workforce shortage has made a massive impact on health care organizations across the country, and the UVM Health’s region is no exception. Fortunately, UVM Health is taking action to combat the workforce shortage in health care by strategically developing, nurturing and retaining new talent throughout Vermont and northern New York.</p>
<!--
	  <p>Learn more about how UVM Health continues to grow our workforce by improving recruitment efforts and establishing professional development initiatives across our Network.</p>
	  <p><a href="https://uvmhealthimpact.org/workforce/" target="_blank">Learn More<span class="sr-only"> (link opens in a new window)</span></a></p>
-->
	  </div>
	   <div class="photo" id="workingfields">
		  <span class="background-image" role="img" aria-label="Smiling group of graduating medical students standing outside in from of medical building"></span>
		  </div>        
      </div>
	</section>

  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>