<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Clinical Assistant Program | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub clin-asst">
    <div class="inner">
      <div class="copy">
        <h2>Clinical Assistant Program</h2>
        
      </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent" id="clinasstpg">
	  
<h1 class="visuallyhidden">Clinical Assistant (CA) Program at University of Vermont Health</h1>
	  
   <section class="intro-copy" id="pathwayprograms">
      <div class="inner">
	  <div class="text">
	
	  <h2>Earn While You Learn</h2>
	  
	  <p>We are looking for dedicated colleagues who want to be part of a dynamic team that takes great pride in their work and sees a career in health care as an opportunity to grow while caring for their community. Our Clinical Assistant (CA) Program trains qualified applicants to take their place on our patient care team as a CA. You’ll earn while you learn because you’ll be paid $16.85 an hour as you develop the skills and confidence to care of our patients.</p>
	  <p>Take the next step down a rewarding career path by applying today.</p>
	   
	 
	  
	  <div class="intro-btn"><a href="#">Apply Now</a></div>
	 
	  </div>
	   <div class="photo"><img src="files/images/sub/affiliates/cvmc-icons/icons-clinical-assistant.png" alt="" class="scalable"/></div>        
      </div>
    </section>
	
	
	
	<section class="text-only-section">
      <div class="inner">
	  <div class="text">
		  <h2>Upcoming Class Start Dates</h2>
	  </div>
	  
	   <div class="dates-holder">
		   
			<div class="dates-info" id="LPNInfoSessionDates"> <h3>Monday, March 6th, 2023</h3>
			 <p>The Clinical Assistant Program is a 6 week course held Monday through Friday from 7 a.m. to 3:30 p.m. at CVPH. It includes 240 hours of classroom instruction and clinical rotations with hands on training experience.</p>
	 <p><strong>Graduates Receive:</strong></p>
	 <ul>
	 <li>A choice of vacant Clinical Assistant positions on a variety of nursing units</li>
	 <li>A Clinical Assistant hourly wage ($18.20 / hour)</li>
	 <li>$4,000 sign on bonus</li>
	 <li>A robust total rewards package
</li>
	 </ul>
	 
	  </div>
	  
          </div>
      </div>
    </section>
	 <section class="intro-copy">
      <div class="inner">
	  <div class="photo" id="ca-incentives"></div> 
	  <div class="text">
	 <h2>Additional Incentives Offered at CVPH</h2>
				<p>Once you become a CA, you will enjoy a total rewards package that recognizes your contributions to our mission and supports your desire for a great work-life balance, including:</p>
			<ul>
				<li><strong>Competitive Wages and Benefits</strong></li>
				<li><strong>Employer Contributions to 403B, Generous 1199 SEIU Retirement</strong></li>
				<li><strong>Sizeable Wage Increases for 1199SEIU (over the next year)</strong></li>
				<li><strong>Tuition Assistance & Support</strong></li>
				<li><strong>Paid Time Off</strong></li>
				<li><strong>Flexible Health Care Options</strong></li>
				<li><strong>Educational Opportunities</strong></li>
				<li><strong>Simulation Lab</strong></li>
				<li><strong>Recognition Programs</strong></li>
				
			</ul>
	  </div>
	          
      </div>
    </section>
	
	
	
	
		<section class="callout-global-03">
	  <div class="inner">
	  <div class="text">
	  <h2>What is a Clinical Assistant?</h2>
	  <p>Clinical Assistants are an integral part of hands-on patient care. Working under the direction and supervision of a Registered Nurse, they have the ability to take and record vital signs, perform designated tests and collect patient samples, and support patients in all activities of daily living.  CAs meet patients and their families as they enter the unit, welcoming and acclimating them to the unit.</p>
	  <p>As a CA, you will interact with unit staff, physicians, and other hospital department personnel. It is critical that CAs provide timely and accurate communication, accurate documentation and maintain a harmonious, team oriented, customer friendly environment. You must be able to function competently in a computerized medical setting.</p>
	  
	  </div>
	   <div class="photo" id="whatisaclinasst"></div>        
      </div>
	</section>
	
	<section class="callout-circle" id="clinassist">
		<div class="inner">
			<div class="ca-requirements-photo" id="cacircle"></div>

			<div class="copy">
				<h2>Requirement for Course Completion</h2>
			<ul>
				<li><strong>High School Diploma or GED</strong></li>
				<li><strong>Previous experience in customer service and people skills preferred</strong></li>
				<li><strong>Must demonstrate competency of all components of current CA competencies and criteria</strong></li>
				<li><strong>Attend all classroom sessions (may not be absent in excess of 1 day not related to hospitalization, COVID+ diagnosis, or death of immediate family member during entire 6 week program)</strong></li>
				
			</ul>
			</div>
	  </div>
	</section>
	
	<section class="clinicalassistant-form-holder">
      <div class="inner">
	 <div class="talent-network-form" id="clinicalassistant-pg-form">
				

					<!-- This section will be replaced with either the Join Talent Network or Express Interest heading and copy -->
					<h1>Connect with a Recruiter</h1>

					<span class="form-intro">
					<p>Please complete the below form and a member of our team will be in touch.</p>
					
					</span>
		        
				

				

   				<form method="post" id="tn-form" class="debounce" enctype="multipart/form-data"
                          aria-label="{{ CORPORATE_NAME }} Talent Network sign-up form" aria-describedby="talent-network-description">
        

					<label>
						First name:
						<input type="text" name="first_name" maxlength="50" required="" id="id_first_name">
				    </label>
						
					<label>
						Last name:
						<input type="text" name="last_name" maxlength="50" required="" id="id_last_name">
				    </label>
						
					<label>
						Email:
						<input type="email" name="email" maxlength="100" required="" id="id_email">
				    </label>
						
					<label>
						Cell phone:
						<input type="text" name="phone_number" maxlength="30" id="id_phone_number">
				    </label>
						
								
					
					<label>
						Preferred contact method:
						<select name="contact_method" id="id_contact_method">
							<option value="1" selected="">Email</option>
							<option value="2">SMS (Text Message)</option>
					    </select>
				    </label>
						
					<p class="talent-disclaimer">By submitting information, you are not officially applying to a position at this time, and you authorize
                        {{ CORPORATE_NAME }} to contact you via phone, email, and text messaging.</p>
						
					<div class="apply">
						<input name="submit" type="submit" class="submit" id="submit" value="SUBMIT">
				    </div>

			    </form>
							

		    </div>
	        
      </div>
    </section>
		
	<section class="pathways-contact">
	  <div class="inner">
	  <h2>Questions?</h2>
	  <p>If you have questions about the program or need assistance filling out the application, call <strong>(518) 562-7180</strong>. </p></div>
	  
	  </section>
	
	
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>