<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Connect with a Talent Acquisition Partner | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/connect-with-a-talent-acquisition-partner.html" />
<meta property="og:title" content="Connect with a Talent Acquisition Partner | Careers - University of Vermont Health" />
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub meetourteam">
    <div class="inner">
      <div class="copy">
        <h2>Connect with a member of the Talent Acquisition Team</h2>
        </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent" id="meetourteam">
  
<h1 class="visuallyhidden">Connect with a Talent Acquisition Partner at University of Vermont Health</h1>
	
  <!--TA LEADERSHIP SECTION --START-->
	   <section class="benefits-pdfs">
		   <h2>Talent Acquisition Leadership</h2>
		  
      <div class="inner">
		  
		   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-berman.jpg" width="500" height="647" alt="Tina Berman photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Tina Berman</h3>
			   <p>Network Manager<br>
Talent Acquisition, Operations</p>
		   <a href="mailto:Tina.Berman
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		  
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-brunovsky.jpg" width="500" height="647" alt="Megan Brunovsky photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Megan Brunovsky</h3>
			   <p>Network Director Talent Acquisition, Nursing Recruitment</p>
		   <a href="mailto:Megan.Brunovsky
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		 
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-kapsalis.jpg" width="500" height="647" alt="Rebecca Kapsalis photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Rebecca Kapsalis</h3>
			   <p>HR AVP Talent Acquisition, COE Leader</p>
		   <a href="mailto:Rebecca.Kapsalis
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		
		 <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-stone.jpg" width="500" height="647" alt="Katrina Stone photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Katrina Stone</h3>
			   <p>Network Manager Talent Acquisition, Recruitment</p>
		   <a href="mailto:Katrina.Stone
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		  
		  </div>
		  </section>
	  
	  
	  <!--TA PARTNERS SECTION --START-->
	   <section class="benefits-pdfs">
		   <h2>Talent Acquisition Partners</h2>
		  
      <div class="inner">
		  
		  
		 
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-cary.jpg" width="500" height="647" alt="Greg Cary photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Greg Cary</h3>
			   <p>Nursing</p>
			     <a href="mailto:Gregory.Cary@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		   </div>
	    </div>
		   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-cummings.jpg" width="500" height="647" alt="Melissa Cummings photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Melissa Cummings</h3>
			   <p>Primary Care - Medical Group</p>
		   <a href="mailto:Melissa.Cummings
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-davies.jpg" width="500" height="647" alt="Kate Davies photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Kate Davies</h3>
			   <p>Environmental Services, Distribution, Case Management and Population Health</p>
		   <a href="mailto:Kate.Davies
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		      <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-dubuque.jpg" width="500" height="647" alt="Jason Dubuque photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Jason Dubuque</h3>
			   <p>Pharmacy, Facilities, Patient Access, and Quality</p>
		   <a href="mailto:Jason.Dubuque
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-ducatte.jpg" width="500" height="647" alt="Aaron Ducatte photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Aaron Ducatte</h3>
			   <p>Security and Physical Therapy</p>
		   <a href="mailto:Aaron.Ducatte
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		  
		  
		  	   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-eastman.jpg" width="500" height="647" alt="Meagan Eastman photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Meagan Eastman</h3>
			   <p>Nursing</p>
			    <a href="mailto:Meagan.Eastman@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		   </div>
	    </div>
		  
		   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-foley.jpg" width="500" height="647" alt="Brianna Foley photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Brianna Foley</h3>
			   <p>Radiology</p>
			    <a href="mailto:Brianna.Foley
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		  </div>
	    </div>
		  
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-hillier.jpg" width="500" height="647" alt="Kristina Hillier photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Kristina Hillier</h3>
			   <p>Graduate Nurse and Community Relations</p>
			    <a href="mailto:kristina.hillier@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		  </div>
	    </div>
		  
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-janeway.jpg" width="500" height="647" alt="Elinor Janeway photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Elinor Janeway</h3>
			   <p>Nursing</p>
			    <a href="mailto:elinor.janeway@uvmhealth.orgg" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		   </div>
	    </div>	
		 
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-keegan.jpg" width="500" height="647" alt="Abigail Keegan photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Abigail Keegan</h3>
			   <p>Nursing</p>
			   <a href="mailto:Abigail.Keegan@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		  </div>
	    </div>
		  
		    
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-kimak.jpg" width="500" height="647" alt="Jaclyn Kimak photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Jaclyn Kimak</h3>
			   <p>Nursing</p>
			    <a href="mailto:Jaclyn.Kimak@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		   </div>
	    </div>
		    <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-kpesse.jpg" width="500" height="647" alt="Naomi Kpesse photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Naomi Kpesse</h3>
			   <p>Specialty Care - Medical Group</p>
		   <a href="mailto:Naomi.Kpesse
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		  
		   
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-luck.jpg" width="500" height="647" alt="Abby Luck photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Abby Luck</h3>
			   <p>Finance</p>
		   <a href="mailto:Abby.Luck
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		
		  
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-marszalkowski.jpg" width="500" height="647" alt="Kara Marszalkowski photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Kara Marszalkowski</h3>
			   <p>Nursing</p>
			    <a href="mailto:Kara.Marszalkowski@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		   </div>
	    </div>
		  
		   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-parent.jpg" width="500" height="647" alt="Priscilla Parent photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Priscilla Parent</h3>
			   <p>Nursing</p>
			    <a href="mailto:Priscilla.Parent@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		   </div>
	    </div>
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-reichard.jpg" width="500" height="647" alt="Cindy Reichard photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Cindy Reichard</h3>
			   <p>Respiratory Therapy, Laboratory and Occupation / Employee Health</p>
		   <a href="mailto:Cindy.Reichard
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		  
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-shea.jpg" width="500" height="647" alt="Kelly Shea photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Kelly Shea</h3>
			   <p>Nursing</p>
			    <a href="mailto:Kelly.Shea@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		   </div>
	    </div>
		
		 <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-sherman.jpg" width="500" height="647" alt="Alicia Sherman photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Alicia Sherman</h3>
			   <p>Nursing</p>
			    <a href="mailto:Alicia.Sherman@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		  </div>
	    </div>
		  
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-stafford.jpg" width="500" height="647" alt="Jessica Stafford photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Jessica Stafford</h3>
			   <p>Nursing</p>
			    <a href="mailto:Jessica.Stafford@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		   </div>
	    </div>
		   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-sullivan.jpg" width="500" height="647" alt="Cathleen Sullivan photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Cathleen Sullivan</h3>
			   <p>Executive and Leadership Recruiting</p>
		   <a href="mailto:Cathleen.Sullivan
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-therrien.jpg" width="500" height="647" alt="Chelsea Therrien photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Chelsea Therrien</h3>
			   <p>Business Offices, Public Relations, and IT</p>
		   <a href="mailto:Chelsea.Therrien
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a></div>
	    </div>
		
		
		  </div>
		  </section>
	  
	  <!--TA COORDINATORS SECTION --START-->
	   <section class="benefits-pdfs">
		   <h2>Talent Acquisition Coordinators</h2>
		  
      <div class="inner">
		   <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-bryant.jpg" width="500" height="647" alt="Dom Bryant photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Dom Bryant</h3>
			   <p>Nursing</p>
			    <a href="mailto:dominique.bryant@uvmhealth.org
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		  </div>
	    </div>
		 
		  
		  <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-lamastres.jpg" width="500" height="647" alt="Laura LaMastres photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Laura LaMastres</h3>
			   <p>Clinical Support Pipeline</p>
			    <a href="mailto:Laura.LaMastres
@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		  </div>
	    </div>
		     <div class="benefits-box3">
		  <div class="benefits-box-top3">
		    <img src="files/images/sub/connect-with-ta-partner/contact-photo-sthilaire.jpg" width="500" height="647" alt="Stephanie St. Hilaire photo" class="scalable"/></div>
		   <div class="benefits-box-btm3">
		   <h3>Stephanie St. Hilaire</h3>
			   <p>Nursing</p>
			    <a href="mailto:Stephanie.StHilaire@uvmhealth.org" target="_blank">Contact via Email<span class="sr-only"> (link opens in a new window)</span></a>
		 </div>
	    </div>
		 
		 
		   
	
		
		  </div>
		  </section>
	  
	  
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>