<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>New to Nursing | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/new-to-nursing.html" />
<meta property="og:title" content="New to Nursing | Careers - University of Vermont Health" />
<script src="files/js/jquery-3.7.0.min.js"></script>
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub newtonursing">
    <div class="inner">
      <div class="copy">
        <h2>New to Nursing</h2>
        
      </div>
    </div>
  </div><!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent">
	  
<h1 class="visuallyhidden">New to Nursing Careers at University of Vermont Health</h1>
	  
    <section class="intro-copy2" id="NewRNintro">
      <div class="inner">
	  <div class="text">
	  <h2>University of Vermont Health is invested in supporting the growth of new Nurses entering the workforce.</h2>
		
		<p>Newly graduated Registered Nurses face many challenges as they transition from school to the bedside including role transition, high performance expectations in a high acuity setting, and an increased level of accountability. Our Nurse Residency programs provide additional tools to make the transition to clinical practice easier for our new RNs and prepare them for a successful start to their careers.</p>
		<p>Nurse Residency Programs across the health partners are designed to provide new nurses with the knowledge, skills, and critical behaviors needed to be successful starting their new career. Newly graduated nurses will engage with experienced nurses, nurse educators, and subject matter experts in a series of classes, hands on skills sessions, and precepted clinical experiences in order to be able to safely and confidently provide quality care to patients. Clinical preceptors will facilitate patient care experiences and provide direct supervision of care as you demonstrate skills and behaviors at the bedside. Applying to University of Vermont Health is the first step in a career of lifelong learning as a registered nurse.</p>
		  <div class="intro-btn" id="cvmcappbtn"><a href="/jobs/?search_term=cohort">Apply Now</a></div>
      
	  </div>
	   <div class="photo" id="newnursingintro"><span class="background-image" role="img" aria-label="Back view of a group of medical professionals walking down a hallway"></span></div>        
      </div>
    </section>
	  	  
	  <section class="callout-global-01" id="rn-entities">
				<h2>Explore the current offerings at each of our participating affiliates:</h2>
				<div class="inner3">
				<div class="rn-entity-dropdowns">
		   <ul>
						  <li>
							<div class="rnentity-headers">
							  <a class="rnentity-title" href="#accordion2-1" aria-controls="#accordion2-1" aria-expanded="false"><strong>University of Vermont Medical Center</strong> – Burlington, VT</a>
							  <div class="plus-minus"></div>
							</div>
							<div id="accordion2-1" class="rnentity-content" style="display: none;">
							  <div class="inner-accordion">
							  <h3>About the Program</h3>
								  <div class="logo-isolated-holder">
									  <div class="logo-isolated-inner"><img src="files/images/sub/grad-rn/vizient-logo.svg?1727981696" alt=""></div>
									  </div>
	  <h4>The Vizient/AACN Nurse Residency Program</h4>
							  <p>This program launched in February of 2018 and is a curriculum trusted by more than 350 healthcare organizations across the United States. This is a one-year transition-to-practice program designed to support nurses in their first year and help them flourish in their new career and provides 100+ hours of residency seminars and skills. Nurses will learn real-life skills such as stress management, decision-making, critical thinking, and patient safety.</p>
							  <p>Seminars include simulation, skills, case studies, interactive learning and team building activities, and wellness initiatives. “The nurse residency program offers multiple specialty tracks and includes skills immersion days, preceptor workshop, evidence-based practice education, and specialty practice experiences as part of the program.”</p>
							  
						  <p>Our program includes four to five cohorts a year that foster interprofessional connections amongst specialty internships. Applicants who apply to and are hired for a graduate nurse position are automatically enrolled in the nurse residency program. Nurses will learn with peers in their cohort and be led through monthly learning sessions by experts throughout the organization.</p>
								  <h3>Orientation</h3>
							  <p>Orientation includes a hospital orientation, a systems-level nursing orientation, and unit-level clinical experience and didactics. Working with trained preceptors, you'll learn the routine of the unit, master organizational skills and become confident with the computer applications related to nursing documentation.</p>
								  <h3>Program Offerings</h3>
							  <p>The UVM Medical Center hires graduate nurses into the following areas (please note that openings may not be available in all areas for each cycle):</p>
								  <ul>
								  <li>Ambulatory</li>
	  <li>Birthing Center</li>
	  <li>Cardiology</li>
	  <li>Cardiothoracic</li>
	  <li>Emergency Department</li>
	  <li>General Medicine</li>
	  <li>General Surgery</li>
	  <li>Hematology/Oncology</li>
	  <li>Inpatient Psychiatry</li>
	  <li>Inpatient Rehab</li>
	  <li>Medical ICU</li>
	  <li>Mother/Baby Unit</li>
	  <li>Neonatal ICU</li>
	  <li>Neurosciences and Surgery</li>
	  <li>Operating Room (OR)</li>
	  <li>Orthopedics and Urology</li>
	  <li>Pediatrics</li>
	  <li>SICU/PICU</li>
	  <li>Women's Health</li>
								  </ul>
								  <h3>Our Achievements</h3>
							  <p>In 2024, University of Vermont Medical Center received America’s Best Maternity Hospitals awarded by Newsweek illuminating hospitals that are best equipped to provide some of life’s most crucial care. The Medical Center also received the 2024 LGBTQ+ Healthcare Equity High Performer in recognition of their promoting equitable and inclusive care for Lesbian, Gay, Bisexual, transgender and queer patients, and their families.</p>
								  <div class="nursing-awards">
			  <div><img src="files/images/sub/grad-rn/awards/award-newsweek-maternity.jpg?1727981678" width="192" height="192" alt="Newsweek - 2024 America's Best Maternity Hospitals" class="scalable"></div>
			  <div><img src="files/images/sub/grad-rn/awards/award-lgbtq.jpg?1727981678" width="192" height="192" alt="2024 LGBTQ+ Healthcare Equality High Performer" class="scalable"></div>
			 
	  
			  <div><img src="files/images/sub/grad-rn/awards/award-healthgrades-joint.jpg?1727981678" width="192" height="192" alt="Healthgrades - Outpatient Joint Replacement Excellence Award 2024" class="scalable"></div>
			  <div><img src="files/images/sub/grad-rn/awards/award-healthgrades-speciality.jpg?1727981678" width="192" height="192" alt="Healthgrades - Speciality Excellence Award 2024" class="scalable"></div>
			   
			</div>
								  <h3>Program Timeline:</h3>
								  <section class="uvmcRNchart-holder" id="uvmcRNTimeline">
			   
		  <div class="inner">
			  
		  <div class="drkgreenbck"><strong>Track</strong></div>
		  <div class="drkgreenbck"><strong>Start Date</strong></div>
		  <div class="drkgreenbck"><strong>Application Window</strong></div>
		  <div class="greenbck"><strong>Critical Care and Progressive Care</strong></div>
		  <div class="graybck01">3/2/2026</div>
		  <div>9/1/2025 – 2/6/2026</div>
		  <div class="greenbck"></div>
		  <div class="graybck01">7/20/2026</div>
		  <div>10/20/2025 – 10/9/2026</div>
		  <div class="greenbck"></div>
		  <div class="graybck01">10/26/2026</div>
		  <div>10/20/2025 – 10/9/2026</div>
		  <div class="RNwhiteback-full"></div>
			  
		  <div class="greenbck"><strong>Med Surg</strong></div>
		  <div class="graybck01">3/3/2026</div>
		  <div>9/1/2025 – 2/6/2026</div>
		  <div class="greenbck"></div>
		  <div class="graybck01">6/22/2026</div>
		  <div>10/20/2025 – 10/9/2026</div>
		  <div class="greenbck"></div>
		  <div class="graybck01">8/31/2026</div>
		  <div>10/20/2025 – 10/9/2026</div>
		  <div class="greenbck"></div>
		  <div class="graybck01">10/26/2026</div>
		  <div>10/20/2025 – 10/9/2026</div>
		  <div class="RNwhiteback-full"></div>
			  
		  <div class="greenbck"><strong>Emergency Department</strong></div>
		  <div class="graybck01">9/28/2026</div>
		  <div>1/16/2026 – 2/20/2026</div>
		  <div class="RNwhiteback-full"></div>
			  
		  <div class="greenbck"><strong>Operating Room</strong></div>
		  <div class="graybck01">1/19/2026</div>
		  <div>8/12/2025 – 12/12/2026</div>
		  <div class="greenbck"></div>
		  <div class="graybck01">6/22/2026</div>
		  <div>1/16/2026 – 5/1/2026</div>
		  <div class="RNwhiteback-full"></div>
			  
		  <div class="greenbck border-bottom-none"><strong>Other Specialties</strong></div>
		  <div class="graybck01 border-bottom-none">Aligned with the start dates above</div>
		  <div class="border-bottom-none">10/20/2025 – 10/9/2026</div>
		  
		  </div>
		  </section>
								  
							  </div>
							  
							  
							  
							  
						   </div>
						   </li>
							  <li>
							<div class="rnentity-headers">
							  <a class="rnentity-title" href="#accordion2-2" aria-controls="#accordion2-2" aria-expanded="false"><strong>Central Vermont Medical Center</strong> – Berlin, VT</a>
							  <div class="plus-minus"></div>
							</div>
							<div id="accordion2-2" class="rnentity-content" style="display: none;">
							  <div class="inner-accordion">
									  <h3>About the Program</h3>
							  <p>This program allows new RN graduates to work directly with experienced nurses and transition into professional hospital nursing positions. You will work one-on-one with a preceptor to become proficient in the basic skills required to be an RN. You will also participate in monthly seminars focusing on different knowledge skills sets to prepare you as you become an RN. Residents of this program will receive full-time wages and benefits. Permanent position placements will be dependent upon current staffing needs.</p>
								  <h3>Program Offerings</h3>
								  <p>CVMC hires graduate nurses into the following areas (please note that openings may not be available in all areas for each cycle):</p>
								  <ul>
								  <li>Emergency Department</li>
								  <li>Intensive Care</li>
								  <li>Medical-Surgical</li>
								  <li>Surgical Services</li>
								  <li>Woodridge Skilled Nursing Facility</li>
								  <li>Women and Children’s Unit</li>
								  </ul>
								  
		  <h3>Program Timeline:</h3>
								  
	  <section class="uvmcRNchart-holder" id="cvmcRNTimeline">
			   
		  <div class="inner">
			  
		  <div class="drkgreenbck"><strong>Track</strong></div>
		  <div class="drkgreenbck"><strong>Start Date</strong></div>
		  <div class="drkgreenbck"><strong>Application Window</strong></div>
		  <div class="greenbck"><strong>Winter/Spring</strong></div>
		  <div class="graybck01">1/5/2026, 2/2/2026, 3/2/2026</div>
		  <div>9/1/2025 – 2/6/2026</div>
		  <div class="RNwhiteback-full"></div>
			  
		  <div class="greenbck  border-bottom-none"><strong>Summer/Fall</strong></div>
		  <div class="graybck01 border-bottom-none">6/8/2026, 7/6/2026, 7/20/2026, 8/3/2026, 8/17/2026, 9/14/2026, 10/12/2026</div>
		  <div class="border-bottom-none">10/21/2025 – 10/9/2026</div>
	  
		  
		  </div>
		  </section>			
								  
								  
							  </div>
							</div>
						  </li>
			   <li>
							<div class="rnentity-headers">
							  <a class="rnentity-title" href="#accordion2-3" aria-controls="#accordion2-3" aria-expanded="false"><strong>Champlain Valley Physicians Hospital</strong> – Plattsburgh, NY</a>
							  <div class="plus-minus"></div>
							</div>
							<div id="accordion2-3" class="rnentity-content">
							  <div class="inner-accordion">
								  <h3>About the Program</h3>
							  <p>This is a one-year transition-to-practice program designed to support nurses in their first year and help them flourish in their new career.</p>
								  <h3>Program Offerings</h3>
							  <p>CVPH hires graduate nurses into the following areas (please note that openings may not be available in all areas for each cycle):</p>
								  <ul>
								  <li>Cardiovascular Care</li>
	  <li>Emergency Department</li>
	  <li>Inpatient Psychiatry</li>
	  <li>Medical-Surgical (Oncology/Palliative)</li>
	  <li>Medical-Surgical (Ortho/Neuro/Trauma)</li>
	  <li>Medical-Surgical (Urology/Nephrology/Long-Term Care)</li>
	  <li>Operating Room</li>
	  <li>Progressive Care</li>
	  <li>Resource Pool (floats to Med/Surg units, possibly Prog, CVC, ED, etc.)</li>
	  <li>Skilled Nursing Facility</li>
	  <li>Women &amp; Children's Center</li>
								  </ul>
								  <h3>Our Achievements</h3>
								  <p>The CVPH New Nurse Residency Program is proud to be accredited by the American Nurses Credentialing Center (ANCC) as a Practice Transition Program (PTAP) since 2018.</p>
								  <p>PTAP accreditation is considered the gold standard for nurse residency programs around the world. By meeting the standards set by the ANCC, we know our new nurses are going to feel supported and confident and have the experiences necessary to provide excellent care to our patients.</p>
								  
		  <h3>Program Timeline:</h3>
								  
	  <section class="uvmcRNchart-holder" id="cvphRNTimeline">
			   
		  <div class="inner">
			  
		  <div class="drkgreenbck"><strong>Track</strong></div>
		  <div class="drkgreenbck"><strong>Start Date</strong></div>
		  <div class="drkgreenbck"><strong>Application Window</strong></div>
		  <div class="greenbck"><strong>Winter/Spring</strong></div>
		  <div class="graybck01">3/2/2026</div>
		  <div>9/1/2025 – 2/6/2026</div>
		  <div class="RNwhiteback-full"></div>
			  
		  <div class="greenbck  border-bottom-none"><strong>Summer/Fall</strong></div>
		  <div class="graybck01 border-bottom-none">7/6/2026, 8/3/2026, 9/14/2026</div>
		  <div class="border-bottom-none">10/21/2025 – 10/9/2026</div>
	  
		  
		  </div>
		  </section>		
								  
							  </div>
							</div>
						  </li>
			   <li>
							<div class="rnentity-headers">
							  <a class="rnentity-title" href="#accordion2-4" aria-controls="#accordion2-4" aria-expanded="false"><strong>Porter Medical Center</strong> – Middlebury, VT</a>
							  <div class="plus-minus"></div>
							</div>
							<div id="accordion2-4" class="rnentity-content">
							  <div class="inner-accordion">
								  <h3>About the Program</h3>
							  <p>Porter is proud to offer a 9-month Nurse Residency Program for new graduate RN’s. Our next cohort will be starting July 7th, 2025 and will finish up in March of 2026.</p> 
	  <p>Our program seeks to fulfill the requirements of the American Nurses Credentialing Centers (ANCC) Practice Transition Accreditation Program. The program meets weekly for the first 4-weeks of clinical orientation and then transitions to meeting once a month for the remaining 8 months. Residency days will consist of activities to enhance critical thinking, time management skills, personal wellbeing, communication, patient safety, and ethical decision making. Time will also be spent practicing key nursing skills and engaging with guest speakers on clinical hot topics.</p> 
	  <p>In addition to enhancing clinical education and support, the benefits of participation in a Residency program also include development of peer-to-peer relationships and mentorship relationships within the organization. Mentorship will continue past the residency program if desired by the mentee.</p> 
	  
								  <h3>Program Offerings</h3>
							  <p>Porter Medical Center hires graduate nurses into the following areas (please note that openings may not be available in all areas for each cycle):</p>
								  <ul>
								  <li>Cardiovascular Care</li>
	  <li>Birthing Center</li>
	  <li>Cardiovascular Care</li>
	  <li>Emergency Room</li>
	  <li>Helen Porter&nbsp;Rehabilitation &amp; Nursing</li>
	  <li>Medical-Surgical</li>
	  <li>Operating Room/ASU/PACU</li>
	  
								  </ul>
								  
								  <h3>Program Timeline:</h3>
								  
		  <section class="uvmcRNchart-holder" id="porterRNTimeline">
			   
		  <div class="inner">
		  <div class="drkgreenbck"><strong>Start Date</strong></div>
		  <div class="drkgreenbck"><strong>Application Window</strong></div>
		  
		  <div class="graybck01 border-bottom-none">7/6/2026</div>
		  <div class="border-bottom-none">10/21/2025 – 6/19/2026</div>
		  
		  </div>
		  </section>
								  
							  </div>
							</div>
						  </li>
							  <li>
							<div class="rnentity-headers">
							  <a class="rnentity-title" href="#accordion2-5" aria-controls="#accordion2-5" aria-expanded="false"><strong>Elizabethtown Community Hospital</strong> – Elizabethtown&nbsp;and Ticonderoga, NY</a>
							  <div class="plus-minus"></div>
							</div>
							<div id="accordion2-5" class="rnentity-content">
							  <div class="inner-accordion">
								  <h3>Program Offerings</h3>
							  <p>Elizabethtown Community Hospital Program Offerings – ECH hires graduate nurses into the following areas (please note that openings may not be available in all areas for each cycle):</p>
								  <ul id="ElizabethRN">
								  <li>Emergency Department (Elizabethtown)</li>
	  <li>Emergency Department (Ticonderoga)</li>
	  <li>25-bed Inpatient Unit (Elizabethtown)</li>
	  
								</ul>
								  <h3>Our Achievements</h3>
							  <p><strong>Elizabethtown Community Hospital was Named by Becker’s for Commitment to High Quality Care, Access in Rural Areas.</strong></p><p>Becker's&nbsp;Healthcare&nbsp;is&nbsp;the&nbsp;go-to source for healthcare decision makers and one of the fastest growing media platforms in the industry.&nbsp;Through print, digital, and live event platforms, Becker's Healthcare equips healthcare leaders with the information and forums they need to learn, exchange ideas and further conversations about the most critical issues in American healthcare.</p>
								  
								  <h3>Program Timeline:</h3>
								  
		  <section class="uvmcRNchart-holder" id="elizRNTimeline">
			   
		  <div class="inner">
		  <div class="drkgreenbck"><strong>Start Date</strong></div>
		  <div class="drkgreenbck"><strong>Application Window</strong></div>
		  
		  <div class="graybck01 border-bottom-none">7/6/2026</div>
		  <div class="border-bottom-none">10/21/2025 – 6/19/2026</div>
		  
		  </div>
		  </section>
								  
							  </div>
							</div>
						  </li>
		  <li>
							<div class="rnentity-headers">
							  <a class="rnentity-title" href="#accordion2-6" aria-controls="#accordion2-6" aria-expanded="false"><strong>Home Health &amp; Hospice</strong> – Chittenden and Grand Isle Counties</a>
							  <div class="plus-minus"></div>
							</div>
							<div id="accordion2-6" class="rnentity-content">
							  <div class="inner-accordion">
								  <h3>About the Program</h3>
								  <p>Home Health &amp; Hospice supports individuals and families at every age and stage of life through five primary programs – Family and Children’s, Adult Home Health, Adult Day, Long-Term Care and Hospice and Palliative Care – offering care wherever community members call home. New Graduate Nurses will have access to a robust training and orientation period where you are partnered with a preceptor to learn all aspects of the nursing role. As a nurse with The UVM Health Network – Home Health &amp; Hospice, you will have flexibility in your daily and weekly schedules — no evenings or nights required, work in a supportive team environment, receive ongoing clinical education/training opportunities, work just one weekend rotation per month while enjoying working in and supporting your community.</p>
								  <h3>Program Offerings</h3>
							  <p>Home Health &amp; Hospice offers opportunities for new nurses within the following areas:</p>
								  <ul id="HomeHealthRN">
								  <li>Adult Home Health</li>
	  <li>Hospice (Community &amp; Respite House)</li>
	  <li>Pediatric &amp; Adult High Tech</li>
	  </ul>
								  
								  <h3>Program Timeline:</h3>
								  
		  <section class="uvmcRNchart-holder" id="hhhRNTimeline">
			   
		  <div class="inner">
		  <div class="drkgreenbck"><strong>Start Date</strong></div>
		  <div class="drkgreenbck"><strong>Application Window</strong></div>
		  
		  <div class="graybck01 border-bottom-none">7/6/2026</div>
		  <div class="border-bottom-none">10/21/2025 – 6/19/2026</div>
		  
		  </div>
		  </section>
								  
							  </div>
							</div>
						  </li>
			   
			   <li>
							<div class="rnentity-headers">
							  <a class="rnentity-title" href="#accordion2-7" aria-controls="#accordion2-7" aria-expanded="false"><strong>Alice Hyde Medical Center </strong> – Malone, NY</a>
							  <div class="plus-minus"></div>
							</div>
							<div id="accordion2-7" class="rnentity-content">
							  <div class="inner-accordion">
								  <h3>About the Program</h3>
								  <p>We offer a clinical ladder program and several career development opportunities.</p>
								  <h3>Program Offerings</h3>
							  <p>Alice Hyde Medical Center offers opportunities for new nurses within the following areas:</p>
								  <ul id="AliceHydeRN">
								  <li>The Alice Center (Skilled Nursing and Assisted Living)</li>
	  <li>Inpatient&nbsp;Medical/Surgical</li>
	  </ul>
								  <h3>Our Achievements</h3>
							  <p><strong>Alice Hyde Medical Center was Named by Becker’s for Commitment to High Quality Care, Access in Rural Areas.</strong></p><p>Becker's&nbsp;Healthcare&nbsp;is&nbsp;the&nbsp;go-to source for healthcare decision makers and one of the fastest growing media platforms in the industry. Through print, digital, and live event platforms, Becker's Healthcare equips healthcare leaders with the information and forums they need to learn, exchange ideas and further conversations about the most critical issues in American healthcare.</p>
								  <p>The hospital’s critical access hospital (CAH) status, earned in November 2023, has strengthened its commitment to serving the community.</p>
								  
								  <h3>Program Timeline:</h3>
								  
		  <section class="uvmcRNchart-holder" id="alicehydeRNTimeline">
			   
		  <div class="inner">
		  <div class="drkgreenbck"><strong>Start Date</strong></div>
		  <div class="drkgreenbck"><strong>Application Window</strong></div>
		  
		  <div class="graybck01 border-bottom-none">7/6/2026</div>
		  <div class="border-bottom-none">10/21/2025 – 6/19/2026</div>
		  
		  </div>
		  </section>
								  
							  </div>
							</div>
						  </li>
						  
						  </ul></div>
				</div>
			</section>
	 <section class="text-only-section">
	   <div class="inner">
	   <div class="text">
		   <h2>Eligibility Requirements</h2>
			<p class="marginbtm10"><strong>All candidates must:</strong></p>
			<ul>
			<li>Have less than one-year experience as a registered nurse</li>
			<li class="marginbtm30">Pass the NCLEX-RN exam prior to start date</li>
					  </ul>
			  
			</div>
	   </div>
	 </section> 
	  <section class="callout-global-02" id="app-process">
		<div class="inner">
		  <h2>The Application Process</h2>
		  <p>Applications are accepted throughout the year.</p>
		  <div class="highlight-02">
		  <h3>How to apply:</h3>
		  <ul>
		  <li>You will be required to submit a resume and you will have the option to select your location and unit preferences at time of application.</li>
		  <li>Upon receiving your completed application, you will be sent a link via SkillSurvey to enter the names and contact information of five references (two Clinical Instructors, one Manager, and two coworkers).</li>
		  <li>Interviews will be scheduled based on your unit preferences.</li>
		  <li>The interview timeline varies due to position availability, and we will do our best to keep you informed throughout the process.</li>
		  </ul>
		  
		  <p><a href="/jobs/?search_term=cohort" target="_blank">Apply Now</a></p></div>
		</div></section>
	  
	  <section class="newRNchart-holder" id="newRNChart">
		  <h2>RN Residency cohorts occur in July, August, September, and October.</h2>
		  <p>Check back for updates as dates may possibly change.</p>
	<div class="inner">
		
	<div class="drkgreenbck"><strong>Process Step</strong></div>
	<div class="drkgreenbck"><strong>July 2024</strong></div>
	<div class="drkgreenbck"><strong>August 2024</strong></div>
	<div class="drkgreenbck"><strong>September 2024</strong></div>
	<div class="drkgreenbck"><strong>October 2024</strong></div>
	
	<div class="greenbck"><strong>Application Available</strong></div>
	<div class="graybck01">November</div>
	<div>November</div>
	<div class="graybck01">November</div>
	<div>November</div>
	
	<div class="greenbck"><strong>NCLEX Deadline</strong></div>
	<div class="graybck01">June 24, 2024</div>
	<div>July 22, 2024</div>
	<div class="graybck01">August 20, 2024</div>
	<div>Oct. 14, 2024</div>
	
	<div class="greenbck"><strong>VT and NY State RN License Deadline</strong></div>
	<div class="graybck01">Feb. 1, 2024, by 2 p.m. EST</div>
	<div>Apr. 25, 2024, by 2 p.m. EST</div>
	<div class="graybck01">Aug. 1, 2024, by 2 p.m. EST</div>
	<div>Oct. 24, 2024, by 2 p.m. EST</div>
	
	<div class="greenbck border-bottom-none"><strong>Start Date</strong></div>
	<div class="graybck01 border-bottom-none">July 8, 2024</div>
	<div class="border-bottom-none">August 5, 2024</div>
	<div class="graybck01 border-bottom-none">September 3, 2024</div>
	<div class="border-bottom-none">October 28, 2024</div>
	
	</div>
	</section>
	  
	  
	<section class="text-only-section">
		  <div class="inner">
		  <div class="text">
			  <h2>Frequently Asked Questions</h2>
			  <div class="faq-sub">Hiring Process</div>
	<h3>What are you looking for in candidates for nursing positions at UVM Health Network?</h3>
	<p>We are looking for energetic, passionate nurses that have a desire to provide exceptional care to their patients; prioritize patient safety in their care; and embrace the diversity of our patients, families and staff.</p> 
	
			  <h3>What does the application process entail?</h3>
	<p>Candidates are encouraged to submit a cover letter and résumé at time of application. Once your application is received, we will reach out to discuss your health partner and unit preferences and submit your information into our reference checking system called SkillSurvey.</p>
	<h3>When will I be notified about the status of my application?</h3>
	<p>You will be contacted by e-mail within two business days after submitting your application. If you have any questions about the status of your application, please reach out to us at <a href="mailto:GraduateNurse@uvmhealth.org" target="_blank">GraduateNurse@uvmhealth.org<span class="sr-only"> (link opens in a new window)</span></a>.</p> 
			  
			  <div class="faq-sub padtop1em">Orientation</div>
	<h3>How should I dress during my patient care orientation?</h3>
			  <p>For inpatient areas, required attire includes scrub top and pants, or business causal during classroom days. Closed-toe shoes are required in all areas. Your badge should be above the waist and visible to others in the hospital at all times.</p> 
	
			   <div class="faq-sub padtop1em">Nurse Residency&nbsp;</div>
						<h3>How many hours per week do nurse residents work?</h3>
	<p>Nurse Residents will work their hired FTE and may work up to 40 hours a week during weeks of residency coursework. Please note the first year of hire is demanding, as nurse residents must balance Nurse Residency classes, unit-based orientation, and patient care orientation shifts with their preceptors.</p> 
	 <h3>When are nurse residency classes?</h3>
	<p>Nurse Residency is a yearlong program. It is expected that the nurse resident will attend all residency classes. Class dates and times will vary throughout residency and will be communicated in advance for you to prepare. All residency time is paid time and is supported by the unit leadership team.</p> 
			  
			  <div class="faq-sub padtop1em">Joining the Unit</div>
						<h3>Will I be working weekends and holidays?</h3>
	<p>Each unit has varying weekend and holiday requirements. Make sure you ask the Nurse Management team during your interview about these requirements.</p> 
	
	 <div class="faq-sub padtop1em">Licensure</div>
						<h3>How long does it take to get my nursing license?</h3>
	<p>Candidates will want to plan for up to 8 total weeks between taking/passing the NCLEX exam and a cohort’s start date to ensure that they will be eligible.</p> 
			   <h3>What if my license is still pending upon start date?</h3>
	<p>In the event that a candidate accepts a job offer for the RN Residency Program but still has a pending RN license at the time of the deadline, we will work with that candidate to attempt to postpone their start date to that of the next available cohort, which is usually around 2 to 3 months later.</p> 
			  
			  <div class="faq-sub padtop1em">Benefits</div>
						<h3>What are the benefits available to me as a new nurse?</h3>
	<p>We offer our nurse residents comprehensive benefit packages that includes: paid time off, medical / dental / vision / life insurance benefits, and a 403B retirement plan available with matching opportunity. We are committed to helping nurses grow in their profession and happy to provide more information about opportunities specific to your goals.</p> 
			  <h3>Do I get vacation time during my nurse residency?</h3>
	<p>It is the nurse resident’s responsibility to schedule time off around residency classes. Vacation hours must be accrued and requested per union contract or company policy in order to take time off. You will discuss the process and timing for requesting time off with your nursing leaders once you have been hired.</p> 
		  </div>
		  </div>
		</section>
	
	
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>