<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Respiratory Therapist (RT) Pathway Program | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
	<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/respiratory-therapy.html" />
<meta property="og:title" content="Respiratory Therapist (RT) Pathway Program | Careers - University of Vermont Health" />
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub RTpathway">
    <div class="inner">
      <div class="copy">
        <h2>Respiratory Therapy (RT) Pathway Program</h2>
        </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
<div class="subcontent" id="rtpathprogram">
	  
  <h1 class="visuallyhidden">Respiratory Therapist (RT) Pathway Program at University of Vermont Health Network</h1>
		
	  <section class="intro-copy" id="pathwayprograms">
		<div class="inner">
		<div class="text widthfiftypercent">
	  
		<h2>Ready to further your education?</h2>
		
		<p>Through our partnership with Vermont State University, our RT Pathway Program allows full-time employees of partners within the UVM Health Network to continue earning full-time wages and benefits while studying to complete their Associate of Science in Respiratory Therapy degree and earn their Registered Respiratory Therapist (RRT) credential.</p>
	   
		</div>
		  <div class="video-holder">
  
			<div class="video-responsive">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/_DQZNnNtAxY?si=hZ7rFnWr3VPMT7Jo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
		  </div>        
		</div>
	  </section>
	  
		  <section class="callout-circle" id="RTwhofor">
		  <div class="inner">
			  <div class="cc-photo"><span class="background-image" role="img" aria-label="Two masked nurses looking at monitor while typing on computer"></span></div>
  
			  <div class="copy">
				  <h2>What does a Respiratory Therapist do?</h2>
				   <p>Respiratory Therapists deliver care that helps people manage a wide range of breathing problems caused by disease, accident, or illness. These professionals provide care whenever and wherever breathing is an issue. They work in hospitals or other acute care settings, or are employed in clinics, physicians’ offices, or skilled nursing facilities.</p>
		  
			  </div>
		</div>
	  </section>
	  
	  <section class="callout-global-03" id="RNpathpgvideo">
			<div class="inner2">
			  <div class="video-title">
			  
			  <h2>Learn more about our Respiratory Therapist Pathway Program here.</h2>
			  
			  </div>
		   <div class="video-holder"  id="RNPathvideo">
  
			<div class="video-responsive">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/N-mKMzS2b5o?si=rTdhszDsI30r8chd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
		  </div>
		  </div>
	  
		</section>
	  
		  
	  <section class="callout-global-03" id="RTcohortdates">
		<div class="inner">
		<div class="text">
		<h2>Next Cohort - Important Dates</h2>
			<ul>
			   <li>UVMHN Pathway Program Application Deadline: <strong>April 1st of each calendar year</strong></li>
  <li>Cohort Selected: <strong>by May 1st of each calendar year</strong></li>
  <li>VTSU Classes Begin: <strong>August of each calendar year</strong></li>
			</ul>
  
			</div>
		 <div class="photo" id="rtcohort"><span class="background-image" role="img" aria-label="Respiratory Therapist adjusting breathing apparatus for patient in hospital bed"></span></div>        
		</div>
	  </section>
	  
	  <section class="callout-global-03">
		<div class="inner" id="CCVApply">
		<div class="text">
		<h2>How to Apply: VTSU</h2>
	   <ol>
		<li>Apply to VTSU at <a href="https://vermontstate.edu/" target="_blank">Vermont State University<span class="sr-only"> (link opens in a new window)</span></a>
		<ul>
		<li>Apply to the Respiratory Therapy program (if you meet all pre-requisite requirements)
		</li>
		</ul></li>
		 <li>Apply for financial aid<ul>
		<li>Visit <a href="https://studentaid.gov/h/apply-for-aid/fafsa" target="_blank">https://studentaid.gov/h/apply-for-aid/fafsa<span class="sr-only"> (link opens in a new window)</span></a></li>
		</ul></li>
		</ol>
		</div>
		 <div class="photo"></div>        
		</div>
		
		 <div class="inner" id="CVMCApply">
		<div class="text">
		<h2>How to Apply: RT Pathway Program</h2>
		<h3>Pathway Program Application Deadline – April 1st of each calendar year</h3>
			<p>RT Pathway Program applications will only be accepted during the defined application period.</p>
	   
		<p>Please have ready the following items to upload with your application:</p>
		<ul>
			<li>Résumé</li>
		<li>Cover letter</li>
		
		<li class="nobox">
			Leader Confirmation of Support - <i>Leaders must complete the electronic <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=N5_AX1rck0iVwK47te8Y35eW2SNXCFRKkuKw5Xo1cOBUQjBTWjlFNEdDSUdDUkJHTVlaSzYxUFk4WiQlQCN0PWcu" class="no-btn" target="_blank">UVMHN Pathway Program Leader Approval Form<span class="sr-only"> (link opens in a new window)</span></a> prior to the application deadline. Please coordinate with your leader to ensure this is completed.</i><br>
			<p class="marginbtmnone">
			<em class="footnote">*Please note that the Leader Approval Form must be accessed from a UVM Health account.</em></p>
			
		</li>
			<li>Vermont State University RT Program Acceptance Letter</li>
		</ul>
			<a href="#">Check back soon regarding applying to the program</a>
<!--		 <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=N5_AX1rck0iVwK47te8Y35eW2SNXCFRKkuKw5Xo1cOBUN0NOOFQ3VzRCVzNTRllPT1FOM0pZRzBGTSQlQCN0PWcu" target="_blank">Click here to Complete the Application February 1st – April 1st<span class="sr-only"> (link opens in a new window)</span></a>-->
		</div>
		 <div class="photo"></div>        
		</div>
		
		
		</section>
	  
	  
	  
	  <section class="text-only-section" id="RTeligibility">
		<div class="inner">
		<div class="text">
			<h2>Eligibility Requirements:</h2>
		   
			 <div class="dates-holder">
  <div class="dates-info"> 
  <h4>All candidates must:</h4>
		  <ul>
	   <li>Currently work at least 72 scheduled hours per pay period at a partner site within the UVM Health Network (part-time/per diem employees are not eligible).</li>
  <li>Be in good standing with no corrective actions above a counseling level.</li>
  <li>Have earned or obtain a high school diploma or GED by July 1st (prior to VTSU academic program year).</li>
  </ul>
	  </div>
			</div>
			 </div>
		</div>
	  </section>
	  
	  
  <!--
	  <section class="callout-global-03" id="RTtraining">
		<div class="inner">
		<div class="text">
		<h2>Upcoming Information Sessions</h2>
		<ul>
		<li>Wednesday, December 13 at 7:30 AM</li>
  <li>Wednesday, December 13 at 12:00 PM</li>
  <li>Wednesday, December 13 at 6:00 PM</li> 
  <li>Tuesday, January 09 at 7:30 AM</li>
  <li>Tuesday, January 09 at 12:00 PM</li>
  <li>Tuesday, January 09 at 6:00 PM</li>
		</ul>
		<p><a href="https://admissions.ccv.edu/portal/UVMHN_RT" target="_blank">Register for Information sessions<span class="sr-only"> (link opens in a new window)</span></a></p>
  <p><a href="https://admissions.ccv.edu/portal/UVMHN_RT" target="_blank">Register for an Information Session<span class="sr-only"> (link opens in a new window)</span></a></p>-
		  
		</div>
		 <div class="photo" id="RTtrain"></div>        
		</div>
			
		</section>
  -->
	  
	  
	  
	  <section class="text-only-section" id="RTprogdetails">
		<div class="inner">
		<div class="text">
			<h2>Program Details</h2>
		   
			 <div class="dates-holder">
  <div class="dates-info"> 
  <p>Offered in partnership with Vermont State University (VTSU), the Respiratory Therapy Pathway Program offers full-time employees of a University of Vermont Health Network (UVMHN) Partner the opportunity to further their health care careers while continuing to earn a full-time salary.</p>
  <p>Students admitted into VTSU’s Respiratory Therapy program will begin their academic journey in a comprehensive curriculum that includes classroom learning, labs, and hands-on clinical rotations within the UVM Health Network. Additionally, participants will work reduced hours in their current positions at UVM Health Network partner sites.</p>
  <p>Upon completing Vermont State University’s 67-credit Associate of Science program, graduates will be prepared to earn the RRT credential, obtain state licensure and work as a respiratory therapist at one of our health care partner sites across Vermont and northern New York.</p>
  <p>Participation requires full-time commitment across four semesters at Vermont State University, as well as an internship during the summer semester. Classes take place at Vermont State University’s Williston campus. Virtual learning options may be available.</p>
	  </div>
			</div>
			 </div>
		</div>
	  </section>
	  
  <!--
	  <section class="text-only-section" id="RTcost">
		<div class="inner">
		<div class="text">	  <h2>Program Costs and Commitments</h2>
		   
			 <div class="dates-holder">
  <div class="dates-info"> 
  <p>Participants are required to sign a Tuition Repayment Agreement. Tuition costs will be financed through student loans under the participant's name. The UVM Health Network will then immediately begin repayment of these loans on behalf of the participant until fully paid or until the participant no longer meets the established program criteria. For more information, consult the official program guidelines.</p>
  <p>Participants must commit to working as a full-time respiratory therapist at a partner site within the UVM Health Network for three years upon successful completion of the program.</p>
	  </div>
			</div>
			 </div>
		</div>
	  </section>
  -->
	  
	  
	  <section class="text-only-section">
		<div class="inner">
		<div class="text">
			<h2>Frequently Asked Questions</h2> 
	   <h3>When does the next Cohort begin?</h3>
  <p>Program participants will apply to VTSU’s Respiratory Therapy (RT) program for Fall semester admission. The two-year program admits students annually, and participants are eligible to apply for the year in which they are eligible.</p>
  <h3>How many work hours are required during the program?</h3>
  <p><strong>Year 1</strong> – While enrolled in the RT program at VTSU, students will work their regular job for 24 hours per week. Students will receive pay for an additional 12 hours per week to allow time for classwork, lab/clinical instruction, and studying.</p>
  <p><strong>Year 2</strong> – Class and clinical hour requirements will increase in year two. Students in this academic year will adjust their work hours to 32 working hours per pay period, receiving 40 paid study hours per pay period.</p>
  <h3>How does tuition reimbursement work?</h3>
  <p>Students are responsible for paying all out-of-pocket expenses, related tuition and fees, and books/supplies. For graduates who commit to working at their UVMHN partner site for three years, the UVMHN will begin reimbursing tuition costs one year after graduation.</p>
  
  <h3>What if I’m not an employee within the UVM Health Network? Can I still apply?</h3>
  <p>Being a full-time employee at a partner within the UVM Health Network is a requirement for application and enrollment. To be eligible for the program you’ll need to be hired as a full-time employee in any department at any partner.</p>
  <h3>Interested in joining our team?</h3>
  <p>Call 800-722-9922 and choose Option 3 to talk with one of our talent acquisition partners about full-time job opportunities within the UVM Health Network.</p>
  <h3>What if I’m per diem or part-time? Am I eligible?</h3>
  <p>To be eligible, you need to be a working a full-time employee at a UVMHN partner.</p>
  <h3>What pre-requisite courses are required for this program?</h3>
  <p>Students applying to Vermont State University’s Respiratory Therapy program must have successfully completed Anatomy & Physiology I and II to apply. Please visit VTSU’s website for a complete listing of application eligibility requirements and criteria. If you do need to take any pre-requisite courses, check out <a href="uvmhn-pathfinder-program.html">Pathfinder</a>, which is a program offered by UVMHN in partnership with Community College of Vermont and will support employees who are seeking to enter a UVMHN Pathway Program to begin taking prepaid preparatory, prerequisite and corequisite courses.</p>
  <h3>I’ve taken pre-requisites in the past. Do I need to retake those courses?</h3>
  <p>Possibly, depending on the timeframe and your grades. VTSU will review the courses and grades on your transcript to determine whether they meet the requirements for this program. If you do need to retake courses, check out <a href="uvmhn-pathfinder-program.html">Pathfinder</a>, which is a program offered by UVMHN in partnership with Community College of Vermont and will support employees who are seeking to enter a UVMHN Pathway Program to begin taking prepaid preparatory, prerequisite and corequisite courses.</p>
  <h3>I’ve started RT school in the past, but did not finish. Do I need to start over?</h3>
  <p>For courses taken prior to enrollment, VTSU will review the courses and grades on your transcript to determine whether they meet the requirements for this program.</p>
			 <h3>Once I am enrolled in the Pathway Program, are there any tax implications that I should be aware of?</h3>
	   <p>The amounts paid under this Program have tax implications. Amounts that are paid to your educational institution for tuition, fees, books, supplies, or other expenses constitute payments under an educational assistance program described in Section 127 of the Internal Revenue Code and are therefore excludable up to $5,250 per calendar year. Amounts paid in excess of $5,250 per year are taxable income and are subject to applicable withholding taxes.</p>
			<p>These taxes will be withheld from your regular earnings, resulting in a reduction to your usual paycheck. To avoid unforeseen hardships, the reduction should be planned for, and if necessary, additional funding sources such as loans should be sought.</p>
			<p>Please consult your personal tax advisor, as the Network cannot provide you with individualized tax advice.</p>
			<h3>What happens if I am not selected for a seat?</h3>
   <p>Each VT UVMHN partner will determine the number of seats it can support annually. Partner-specific waitlists may be utilized depending on eligible applicant numbers. Application materials and interviews will determine how employees are initially placed on the partner waitlists. Should a seat become available, the next applicant on that partner waitlist will be contacted.</p>
  <h3>I missed the application deadline; can I still be considered?</h3>
   <p>Individuals who do not meet the initial program deadline for consideration may submit a complete application for their partner’s waitlist. After the initial program deadline, employees applying directly to the waitlist will be reviewed in the order that applications are received, should seats become available. No waitlist applications will be accepted or reviewed for after July 1st.</p>
  <h3>Can I apply for the Pathway Program if I am already actively enrolled and attending the academic program on my own?</h3>
   <p>Our Pathway Programs are designed to support employees through the entirety of the academic program. Off-cycle enrollments will not be accepted.</p>
		</div>
		</div>
	  </section>
	  
	<section class="rtpathway-form-holder">
      <div class="inner">
	 <div class="talent-network-form" id="rtpathaway-pg-form">
				<!--||{% block te-header %}||-->

					<!-- This section will be replaced with either the Join Talent Network or Express Interest heading and copy -->
					<h1>RT Pathway Program Application<br>
 (all required)</h1>

					<span class="form-intro">
					<p>Please complete the below form and a member of our team will be in touch.</p>
					
					</span>
		        
				<!--||{% endblock te-header %}||-->

				<!--||{% block content %}{% endblock %}||-->

				<!--||{% comment %}||-->

   				<form method="post" id="tn-form" class="debounce" enctype="multipart/form-data"
                          aria-label="{{ CORPORATE_NAME }} Talent Network sign-up form" aria-describedby="talent-network-description">
        

					<label>
						First name:
						<input type="text" name="first_name" maxlength="50" required="" id="id_first_name">
				    </label>
						
					<label>
						Last name:
						<input type="text" name="last_name" maxlength="50" required="" id="id_last_name">
				    </label>
						
					<label>
						Email:
						<input type="email" name="email" maxlength="100" required="" id="id_email">
				    </label>
					
						<label>
						Are you a current employee of a CVMC employee? (Yes or No)
						<select name="contact_method" id="id_contact_method">
							<option value="1" selected="">Yes</option>
							<option value="2">No</option>
					    </select>
				    </label>
									
						
					<p class="talent-disclaimer">By submitting information, you are not officially applying to a position at this time, and you authorize
                        {{ CORPORATE_NAME }} to contact you via phone, email, and text messaging.</p>
						
					<div class="apply">
						<input name="submit" type="submit" class="submit" id="submit" value="SUBMIT">
				    </div>

			    </form>
				<!--||{% endcomment %}||-->				

		    </div>
	        
      </div>
    </section>
		  
	  <section class="pathways-contact">
		<div class="inner">
		<h2>Questions?</h2>
	   <p><strong>Please contact:</strong><br>
   Rebecca Aldrich, Workforce Development Program Manager – <a href="mailto:Rebecca.aldrich@uvmhealth.org" target="_blank">Rebecca.aldrich@uvmhealth.org<span class="sr-only"> (link opens in a new window)</span></a></p></div>
		
		</section>
	  
	  <!--<section class="callout-global-03">
      <div class="inner" id="CCVApply">
	  <div class="text">
	  <h2>How to Apply: <br>
Vermont State University</h2>
	   <h3>Application Deadline – May 31, 2023</h3>
	 <ul>
	  
	  <li>Apply to VTSU at <a href="https://vermontstate.edu/admission/how-to-apply/" target="_blank">VermontState.edu/Apply</a>
	</li>
	  </ul>
	  </div>
	   <div class="photo"></div>        
      </div>
	  
	   <div class="inner" id="CVMCApply">
	  <div class="text">
	  <h2>How to Apply: <br>
University of Vermont Health</h2>
	  <h3>VTSU Application Deadline – May 31, 2023 (Cohort 1)</h3>
	 
	  <p>Please have ready the following items to upload with your application:</p>
	  <ul>
	  <li> Cover Letter and Résumé</li>
	  <li>Two letters of reference</li>
	  <ul>
	  <li> (1) Internal reference from Direct Supervisor (i.e. Manager or Director) with confirmation of departmental ability to support employee during completion of program</li>
	   <li>(1) Additional reference (non-family) who can speak to your desire to enter Respiratory Therapy and ability to be successful in our program</li>
	  </ul>
	  <li>Confirmation of completion of VSAC Financial Aid process</li>
	  <li>VTSU Acceptance Letter</li>
	  </ul>
	   <a href="#" target="_blank">Click Here to Submit the Application Form No Later Than July 15</a>
	  </div>
	   <div class="photo"></div>       
      </div>
	  
	   <div class="inner" id="Cohort2Apply">
	  <div class="text">
	  <h2>How to Apply: <br>
University of Vermont Health</h2>
	  <h3>Deadline - July 15, 2023 (Cohort 2)</h3>
	 
	  <p>Prerequisite Classes Begin This Fall for Second Cohort:</p>
	  <ul>
	  <li>The second cohort of the new RT Pathway Program is open to full-time employees of partners within the UVM Health.</li>
	  <li>Starting this fall, participants in the second cohort will take prerequisite classes at Community College of Vermont (CCV).</li>
	  <li>While completing their prerequisites, participants in the second cohort will apply to Vermont State University to continue their studies in the fall of 2024.</li>
	  </ul>
 <p>Please have ready the following items to upload with your application:</p>
	  <ul>
	  <li> Cover Letter and Résumé</li>
	  <li>Two letters of reference</li>
	  <ul>
	  <li> (1) Internal reference from Direct Supervisor (i.e. Manager or Director) with confirmation of departmental ability to support employee during completion of program</li>
	   <li>(1) Additional reference (non-family) who can speak to your desire to enter Respiratory Therapy and ability to be successful in our program</li>
	  </ul>
	  <li>Confirmation of completion of VSAC Financial Aid process</li>
	  <li>CCV Academic Status Letter</li>
	  </ul>
	  </div>
	   <div class="photo"></div>       
      </div>
	</section>
	-->
	
	
	  
	  
	  	  
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>