<!doctype html>
<html lang="en">
<head>
    <meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Careers - University of Vermont Medical Center</title>
      <meta name="description" content="Join Our Team Today! Thank you for your interest in employment at the University of Vermont Medical Center. Click Here to view and apply for current opportunities. For more information about Nursing opportunities, please contact Human Resources at 802-847-0000." />
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

   <!-- Google
    <meta itemprop="name" content="Careers | The University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | The University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | The University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">


	  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="files/images/favicon.png">
	<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
	<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
	
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
	<script type="text/javascript" src="files/js/accordion.js"></script>
	
	<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

</head>

<body>
	
<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-uvm-health-network" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-network-employees" target="_blank">For Network Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="index.html" target="_blank">Careers Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="nursing.html">Nursing</a></li>
					<li><a href="food-and-nutrition.html">Food & Nutrition</a></li>
					<li><a href="https://www.uvmprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (BENEFITS)  --->
				
				<a href="#benefits" aria-controls="#benefits" aria-expanded="false" target="_blank" class="hamburger-title-2">Benefits<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="benefits" class="hamburger-content-2">
					<li><a href="benefits.html">Benefits Package</a></li>
					<li><a href="growth-and-development.html">Growth & Development</a></li>
					<li><a href="wellness.html">Wellness</a></li>
				</ul>
				
				<!--- Secondary nav level (BENEFITS) end --->
				
					</li
				><li>
				
							
					</li
				><li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2">Life in Vermont<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="#">Our Culture</a></li>
					<li><a href="#">Social Responsibility</a></li>
					<li><a href="#">Environmental Responsibility</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Entities)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Our Affliates<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="https://www.uvmhealth.org/medcenter" target="_blank">University of Vermont Medical Center<span class="sr-only"> (link opens in a new window)</span></a></li
					>
					<li><a href="https://www.alicehyde.com/" target="_blank">Alice Hyde Medical Center<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="https://www.cvmc.org/" target="_blank">Central Vermont Medical Center (CVMC)<span class="sr-only"> (link opens in a new window)</span></a></li
					><li><a href="https://www.cvph.org/" target="_blank">Champlain Valley Physicians Hospital (CVPH)<span class="sr-only"> (link opens in a new window)</span></a></li
					>
					<li><a href="https://www.portermedical.org/" target="_blank">Porter Medical Center<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="https://www.ech.org/" target="_blank">Elizabethtown Community Hospital<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="https://www.uvmhomehealth.org/" target="_blank">Home Health & Hospice<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="https://www.uvmhealth.org/about-the-uvm-health-network/medical-group" target="_blank">Medical Group<span class="sr-only"> (link opens in a new window)</span></a></li>	
				</ul>
				
				<!--- Secondary nav level (INTERNSHIPS) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
	
<main class="subpage">

<!-- ---- BANNER AREA SUB PAGE ---- --> 
    
<div class="bannersub jbsrch">
    <div class="inner">
      <div class="copy">
        <h2>Discover the Heart and Science of Medicine</h2>
        <h3>Where quality of care meets quality of life</h3>
      </div>
    </div>
  </div>
    
<!-- ---- SHARE THIS SUB PAGE ---- -->
	  <div class="shareThis-holder-main-pg">
        <div class="shareThisMain">
          <div class="stLeft">SHARE THIS PAGE</div>
          <div class="stRight">
            <div class="addthis_sharing_toolbox"></div>
            <!-- Go to www.addthis.com/dashboard to customize your tools --> 
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53a47c2d2f5ca32d" async="async"></script> 
            </div>
          </div>
      </div>
	
<!------------------------  CONTENT --------------------------- -->
	
	<div id="search-body" class="clearfix">
        <div class="inner">

            <section class="sub-search">
                <button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>

                <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->

                <!--||{% comment %}||-->
                <ul class="search-content" id="search-content">
                    <li>
                        <form id="search-form" method="get" action="/jobs/">
                            <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
                            <input type="submit" class="search-button" value="" aria-label="submit keyword search"/>
                        </form>
                    </li>
                    <li>
                        <button class="search-accordion-button" href="#search-content4" aria-controls="#search-content4" aria-expanded="false">Search Jobs by Category</button>
                        <ul class="search-content2" id="search-content4">

                                <li><a href="#">Administration Jobs</a></li>
                                <li><a href="#">Advanced Practitioner Jobs</a></li>
                                <li><a href="#">Clinical Specialties Jobs</a></li>
                                <li><a href="#">CRNA/AA Jobs</a></li>
                                <li><a href="#">Diagnostic Imaging Jobs</a></li>
                                <li><a href="#">Emergency Technicians Jobs</a></li>
                                <li><a href="#">Facilities Management Jobs</a></li>
                                <li><a href="#">Finance and Accounting Jobs</a></li>
                                <li><a href="#">Human Resources Jobs</a></li>
                                <li><a href="#">Information Systems (Mgmt) Jobs</a></li>
                                <li><a href="#">Medical Records Jobs</a></li>
                                <li><a href="#">Mental Health Jobs</a></li>
                                <li><a href="#">Nursing Jobs</a></li>
                                <li><a href="#">Pharmacology Jobs</a></li>
                                <li><a href="#">Physicians and Residents Jobs</a></li>
                                <li><a href="#">Public Relations and Marketing Jobs</a></li>
                                <li><a href="#">Purchasing (Supply Chain) Jobs</a></li>
                                <li><a href="#">Rehabilitation Services/Therapies Jobs</a></li>
                                <li><a href="#">Services Jobs</a></li>
                                <li><a href="#">Support Services Jobs</a></li>
                                <li><a href="#">Training and Education Jobs</a></li>

                        </ul>
                    </li>
					<li>
                        <button class="search-accordion-button" href="#search-content3" aria-controls="#search-content3" aria-expanded="false">Search Jobs by Hospital</button>
                        <ul class="search-content2" id="search-content3">

                                <li><a href="#">The University of Vermont Medical Center Jobs</a></li>
                                <li><a href="#">Alice Hyde Medical Center Jobs</a></li>
                                <li><a href="#">Central Vermont Medical Center Jobs</a></li>
                                <li><a href="#">CRNA/AA Jobs</a></li>
                                <li><a href="#">Champlain Valley Physicians Hospital Jobs</a></li>
                                <li><a href="#">Elizabethtown Community Hospital Jobs</a></li>
                                <li><a href="#">Porter Medical Center Jobs</a></li>
                                <li><a href="#">The University of Vermont Health Home Health & Hospice Jobs</a></li>
                                
                        </ul>
                    </li>
                    <li>
                        <button class="search-accordion-button" href="#search-content2" aria-controls="#search-content2" aria-expanded="false">Search Jobs by Location</button>
                        <ul class="search-content2" id="search-content2">

                                <li><a href="#">Barre, VT</a></li>
                                <li><a href="#">Berlin, VT</a></li>
                                <li><a href="#">Burlington, VT</a></li>
                                <li><a href="#">Colchester, VT</a></li>
							    <li><a href="#">Elizabethtown, NY</a></li>
							    <li><a href="#">Essex, VT</a></li>
							    <li><a href="#">Milton, VT</a></li>
							    <li><a href="#">Newport, VT</a></li>
							    <li><a href="#">South Burlington, VT</a></li>
							    <li><a href="#">St Albans, VT</a></li>
							    <li><a href="#">Williston, VT</a></li>
							    <li><a href="#">Winooski, VT</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="zip-search">
                            <form id="zip-form" name="zip-form" method="get" action="{% url 'search' %}">
                                <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                                <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                                    <optgroup>
                                        {% for r in radius_choices %}
                                        <option value="{{ r }}"{% if r == radius %} selected{% endif %}>{{ r }} Miles</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </form>
                            <a href="javascript:$('#zip-form').submit()" id="id-zipcode-btn">
                                <span class="sr-only"> Submit Zip Code and Radius Search</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="/jobs/" class="advanced-button">View All Jobs</a>
                    </li>
                </ul>
                <!--||{% endcomment %}||-->

            </section>

            <section class="search-results saved-jobs-subpage">
				
				<!--||{% block content %}{% endblock %}||-->

				<!--||{% comment %}||-->
				
				<h1 id="saved-jobs-top">
					Saved Jobs
				</h1>
				
				<div class="results-content" id="job-list-section" >
					
					  <div>
                        <a href="#" rel="nofollow">
                            <h3>Medical Assistant II</h3>
                        </a>
                        <dl>
                            <span><dt>Job Ref:</dt> <dd>R0033520</dd></span>
							 <span><dt>Location:</dt><dd>111 Colchester Avenue, Burlington Vermont</dd></span>
                            <span><dt>Building Name:</dt><dd>UVMMC - Medical Center - Main Campus</dd></span>
							 <span><dt>Department:</dt><dd> Otolaryngology</dd></span>
                           <span><dt>Primary Shift:</dt><dd> Other</dd></span>
                        </dl>
                        <span class="description">Lorm ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque ut vulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Namtristique finibus nibh nec pellentesque. Ut vestibulum lectusnsequa Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque utulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Nam tristique finibus nibh nec pellentesque. Ut vestibulum lectusnsequat faucibus...</span>
                    </div>
					
					  <div>
                        <a href="#" rel="nofollow">
                            <h3>Medical Assistant II</h3>
                        </a>
                        <dl>
                            <span><dt>Job Ref:</dt> <dd>R0033520</dd></span>
							 <span><dt>Location:</dt><dd>111 Colchester Avenue, Burlington Vermont</dd></span>
                            <span><dt>Building Name:</dt><dd>UVMMC - Medical Center - Main Campus</dd></span>
							 <span><dt>Department:</dt><dd> Otolaryngology</dd></span>
                           <span><dt>Primary Shift:</dt><dd> Other</dd></span>
                        </dl>
                        <span class="description">Lorm ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque ut vulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Namtristique finibus nibh nec pellentesque. Ut vestibulum lectusnsequa Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque utulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Nam tristique finibus nibh nec pellentesque. Ut vestibulum lectusnsequat faucibus...</span>
                    </div>
					
					  <div>
                        <a href="#" rel="nofollow">
                            <h3>Medical Assistant II</h3>
                        </a>
                        <dl>
                            <span><dt>Job Ref:</dt> <dd>R0033520</dd></span>
							 <span><dt>Location:</dt><dd>111 Colchester Avenue, Burlington Vermont</dd></span>
                            <span><dt>Building Name:</dt><dd>UVMMC - Medical Center - Main Campus</dd></span>
							 <span><dt>Department:</dt><dd> Otolaryngology</dd></span>
                           <span><dt>Primary Shift:</dt><dd> Other</dd></span>
                        </dl>
                        <span class="description">Lorm ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque ut vulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Namtristique finibus nibh nec pellentesque. Ut vestibulum lectusnsequa Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque utulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Nam tristique finibus nibh nec pellentesque. Ut vestibulum lectusnsequat faucibus...</span>
                    </div>
					
				</div>

				<!--||{% endcomment %}||-->

			</section>

            <!--||{% block side-bar %}||-->

            <div class="search-results-right">
                    <section class="tn-callout">
                    <a href="{% url 'subscriptions' %}"><div><span>Join Our <strong>Talent Network</strong></span></div></a>
                </section>

                

           

                <!-- Glassdoor Section -->
                <section class="glassdoor-sub">
                    <h2 class="sr-only">The University of Vermont Medical Center Glassdoor Reviews and Ratings</h2>
                    <div class="glassdoor-rating">
                        <span class="sr-only">Rated </span>3.8<span class="sr-only"> out of 5 stars</span>
                    </div>
                    <div class="glassdoor-stars">
                        <div class="glassdoor-green" style="width: 75%;"></div>
                    </div>
                    <div class="glassdoor-copy">
                        Reviews and Ratings on
                    </div>
                    <div class="glassdoor-logo">
                        <a href="https://www.glassdoor.com/Reviews/The-University-of-Vermont-Medical-Center-Reviews-E920836.htm" target="_blank" aria-label="Find UMGC on Glassdoor (Opens in a new window)"><img src="files/images/jobsearch/glassdoor-logo.png" alt="Glassdoor (logo)" width="276" height="55" class="scalable"/></a>
                    </div>
                    <div class="glassdoor-copy2">
                        "<strong>Pretty good place to work...</strong>"
                    </div>
                    <div class="quote-person">
                        <strong>- Clinical Social Supervisor</strong>
                        in Burlington, VT
                    </div>
                </section>

            </div>

            <!--||{% endblock side-bar %}||-->

        </div>

    </div>
	
	<div class="shareThis-holder-main-pg">
        <div class="shareThisMain">
          <div class="stLeft">SHARE THIS PAGE</div>
          <div class="stRight">
                          <!-- Go to www.addthis.com/dashboard to customize your tools --> 
<div class="addthis_inline_share_toolbox"></div> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e1c9dd5056102d9"></script>
            
            </div>
          </div>
      </div>
	

  <div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers"><a href="tel:8448864325">844-UVM-HEALTH</a>
		<a href="tel:8448864325">844-886-4325</a>
		</div>
	  <div class="social-icons">
		<ul>			
		
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
		
	  
</main>


<!------------------------  FOOTER --------------------------- -->
	
<footer>
	<div class="inner">
	<div class="footer-top">
		<div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;The University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		><div class="eoe">The University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
		<ul class="footer-nav">
			<li>
				<a href="https://www.uvmhealth.org/contact-us" target="_blank">
					Contact Us<span class="sr-only"> (link opens in a new window)</span>
				</a>
			</li>
			<li>
				<a href="https://www.uvmhealth.org/privacy-policy" target="_blank">
					Privacy Policy<span class="sr-only"> (link opens in a new window)</span>
				</a>
			</li>
		</ul>
	</div>
	</div>
</footer>
	
</body>
</html>