<!--||{% load job_tags static %}||-->
<!doctype html>
<html lang="en">

<head>
	<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="https://www.uvmhealthnetworkcareers.org/" />
	<meta property="og:site_name" content="Careers –  University of Vermont Health" />
	<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/" />
	<meta property="og:title" content="Careers - University of Vermont Health Network" />
	<title>Careers - University of Vermont Health</title>
	<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Google
	<meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Twitter
	<meta name="twitter:title" content="Careers | University of Vermont Health"> -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
	<!-- Open Graph general (Facebook, Pinterest & Google+)
	<meta property="og:title" content="Careers |  University of Vermont Health"> -->
	<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
	<!-- Open Graph (LinkedIn) -->
	<meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">

	<link rel="shortcut icon" href="files/images/favicon.ico">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="files/images/favicon.png">
	<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
	<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
	<link href="files/styles/blog.css" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')
	</script>
	<script type="text/javascript" src="files/js/accordion.js"></script>

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "{{ CANONICAL_URL }}/",
			"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
			"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
		}
	</script>

	<!-- GOOGLE G4 ANALYTICS-->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'G-2T8BSRS4JM');
	</script>


</head>

<body>
	<!--GOOGLE TRANSLATOR SCRIPT START-->
	<div id="google_translate_element"></div>

	<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({
				pageLanguage: 'en',
				layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
			}, 'google_translate_element');
		}
	</script>

	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<!--GOOGLE TRANSLATOR SCRIPT END-->

	<div class="skip-to-content">
		<a href="#mainpgvideo">
			Skip to Page Content <span class="sr-only">(will bypass menus and search fields)</span>
		</a>
	</div>
	<!--------------------------- HEADER -------------------------->

	<header>



		<div class="header-inside">
			<div class="header-logo">
				<a href="https://www.uvmhealth.org/" target="_blank" class="logo" alt="The University of Vermont Health Network home"><span class="sr-only"> (link opens in a new window)</span></a>
			</div>
			<a class="hamburger-title" href="#hamburger-content" aria-controls="hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
			<nav id="hamburger-content" class="hamburger-content">
				<ul class="nav-top">
					<li>
						<a href="https://www.uvmhealth.org/about-uvm-health-network" target="_blank">About UVM Health Network<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
					</li>

				</ul>
				<ul class="lower-nav">
					<li>
						<a href="/" id="HomeLink">Home</a>
					</li>
					<li>

						<!--- Secondary nav level (TALENT AREAS) --->

						<a href="#talent" aria-controls="talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
						<ul id="talent" class="hamburger-content-2">
							<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
							<li><a href="environmental-services.html">Environmental Services</a></li>
							<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
							<li><a href="imaging.html">Imaging</a></li>
							<li><a href="medical-office-support.html">Medical Office Support</a></li>
							<li><a href="new-to-nursing.html">New to Nursing</a></li>
							<li><a href="nursing.html">Nursing</a></li>
							<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
							<li><a href="pharmacy.html">Pharmacy</a></li>
							<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
							<li><a href="therapies.html">Therapies</a></li>
						</ul>

						<!--- Secondary nav level (TALENT AREAS) end --->

					</li>
					 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li>
						<a href="benefits.html" id="BeneLink">Benefits</a>
					</li>
					<li>

						<!--- Secondary nav level (HIRING PROCESS)  --->

						<a href="#hiring" aria-controls="hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
						<ul id="hiring" class="hamburger-content-2">
							<li>
								<a href="hiring-process-overview.html">Hiring Process Overview</a>
							</li>
							<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
						</ul>

						<!--- Secondary nav level (HIRING PROCESS) end --->

					</li>
					<li>
						<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
					</li>
					<li>

						<!--- Secondary nav level (LIFE IN VT)  --->

						<a href="#life" aria-controls="life" aria-expanded="false" target="_blank" class="hamburger-title-2">Culture<span class="sr-only"> (link opens in a new window)</span></a>
						<ul id="life" class="hamburger-content-2">
							<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
							<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>

						</ul>

						<!--- Secondary nav level (LIFE IN VT) end --->

					</li>


					<li>

						<!--- Secondary nav level (Our Partner Locations)  --->

						<a href="#intern" aria-controls="intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
						<ul id="intern" class="hamburger-content-2">
							<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>	
						</ul>

						<!--- Secondary nav level (Our Partner Locations) end --->

					</li>
				</ul>
			</nav>
		</div>
	</header>

	<main class="subpage">

		<!-- ---- BANNER AREA SUB PAGE ---- -->

		<!-- InstanceBeginEditable name="sub-banner" -->
		<div class="banner-image" id="blogbanner">
			<div class="inner">
				<div class="copy">
					<h2>The PULSE</h2>
					<h3>Stories from the heart.<br>
						The UVM Health Network Talent Acquisition Blog.</h3>
				</div>
			</div>
		</div><!-- InstanceEndEditable -->

		<!-- ---- SEARCH AREA SUB PAGE ---- -->

	

		<div id="search-body" class="clearfix">



			<div class="inner">
				<section class="sub-search">
					<button class="mobile-search-button" href="#search-form" aria-controls="#search-form" aria-expanded="false">Search Blog</button>

					<!--||{% block blog-filters %}||-->
					<!--||{% comment %}||-->
					<form id="search-form" method="get" action="/jobs/">

						<ul class="search-content search-fields" id="search-content">
							<li>
								<label for="search_term" class="sr-only">Search by Keyword</label>
								<input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="" aria-label="keyword search">
								<input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
							</li>
							<li>
								<button class="search-accordion-button" href="#search-content3" aria-controls="#search-content3" aria-expanded="false">Search Blog by Category</button>
								<ul class="search-content2" id="search-content3">
							
										<li><a href="#">The University of Vermont Medical Center Jobs</a></li>
										<li><a href="#">Alice Hyde Medical Center Jobs</a></li>
										<li><a href="#">Central Vermont Medical Center Jobs</a></li>
										<li><a href="#">CRNA/AA Jobs</a></li>
										<li><a href="#">Champlain Valley Physicians Hospital Jobs</a></li>
										<li><a href="#">Elizabethtown Community Hospital Jobs</a></li>
										<li><a href="#">Porter Medical Center Jobs</a></li>
										<li><a href="#">The University of Vermont Health Network Home Health & Hospice Jobs</a></li>
								</ul>
							</li>
							<li>
								<button class="search-accordion-button" href="#search-content4" aria-controls="search-content3" aria-expanded="false">Search Blog by Date</button>
								<ul class="search-content2" id="search-content4">
									<li><a href="/blog/?date=2024-02">February 2024 (1)</a></li>
									<li><a href="/blog/?date=2024-01">January 2024 (3)</a></li>
									<li><a href="/blog/?date=2023-10">October 2023 (1)</a></li>
									<li><a href="/blog/?date=2023-09">September 2023 (2)</a></li>
									<li><a href="/blog/?date=2023-08">August 2023 (2)</a></li>
									<li><a href="/blog/?date=2023-06">June 2023 (2)</a></li>
									<li><a href="/blog/?date=2023-05">May 2023 (3)</a></li>
									<li><a href="/blog/?date=2023-02">February 2023 (1)</a></li>
									<li><a href="/blog/?date=2023-01">January 2023 (1)</a></li>
									<li><a href="/blog/?date=2022-11">November 2022 (2)</a></li>
									<li><a href="/blog/?date=2022-10">October 2022 (3)</a></li>
									<li><a href="/blog/?date=2022-09">September 2022 (2)</a></li>
									<li><a href="/blog/?date=2022-08">August 2022 (2)</a></li>
									<li><a href="/blog/?date=2022-03">March 2022 (1)</a></li>
									<li><a href="/blog/?date=2021-12">December 2021 (1)</a></li>
									<li><a href="/blog/?date=2021-11">November 2021 (1)</a></li>
								</ul>
							</li>
						
						</ul>
					</form>
					<!--||{% endcomment %}||-->
					<!--||{% endblock blog-filters %}||-->
				</section>
				<section class="search-results">
					<div class="search-headings">
						<!--||{% block blog-title %}||-->
						<!--||{% endblock blog-title %}||-->
						<!-- <h1>Our Blog</h1> -->
						<div class="blog-filter-info">
							<!--||{% block blog-filter-info %}||-->
							<!--||{% endblock blog-filter-info %}||-->
						</div>
					</div>
					<!--||{% block content %}{% endblock %}||-->
					
					<!--||{% block blog-body %}||-->
					<!--||{% endblock blog-body %}||-->
					
                    <!--||{% comment %}||-->
					<ul class="blog-listing">
						<li>
							<article>
								<h3><a href="#0">Lorem Ipsum Blog Article</a></h3>
								<span class="published-date">Published <time>Feb. 2, 2024</time></span>
								<div class="blog-teaser">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias molestiae inventore, perspiciatis sapiente possimus voluptates nam ab quaerat at optio autem quibusdam neque. Deleniti quae veniam velit culpa atque?</div>
								<p class="read-more">
									<a href="#0" class="button">
										Read more
										<span class="sr-only">Why be a Chef for Erickson Senior Living?</span>
									</a>
								</p>
							</article>
						</li>

						<li>
							<article>
								<h3><a href="#0">Lorem Ipsum Blog Article</a></h3>
								<span class="published-date">Published <time>Feb. 2, 2024</time></span>
								<div class="blog-teaser">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias molestiae inventore, perspiciatis sapiente possimus voluptates nam ab quaerat at optio autem quibusdam neque. Deleniti quae veniam velit culpa atque?</div>
								<p class="read-more">
									<a href="#0" class="button">
										Read more
										<span class="sr-only">Why be a Chef for Erickson Senior Living?</span>
									</a>
								</p>
							</article>
						</li>
						<li>
							<article>
								<h3><a href="#0">Lorem Ipsum Blog Article</a></h3>
								<span class="published-date">Published <time>Feb. 2, 2024</time></span>
								<div class="blog-teaser">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias molestiae inventore, perspiciatis sapiente possimus voluptates nam ab quaerat at optio autem quibusdam neque. Deleniti quae veniam velit culpa atque?</div>
								<p class="read-more">
									<a href="#0" class="button">
										Read more
										<span class="sr-only">Why be a Chef for Erickson Senior Living?</span>
									</a>
								</p>
							</article>
						</li>
						<li>
							<article>
								<h3><a href="#0">Lorem Ipsum Blog Article</a></h3>
								<span class="published-date">Published <time>Feb. 2, 2024</time></span>
								<div class="blog-teaser">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias molestiae inventore, perspiciatis sapiente possimus voluptates nam ab quaerat at optio autem quibusdam neque. Deleniti quae veniam velit culpa atque?</div>
								<p class="read-more">
									<a href="#0" class="button">
										Read more
										<span class="sr-only">Why be a Chef for Erickson Senior Living?</span>
									</a>
								</p>
							</article>
						</li>
						<li>
							<article>
								<h3><a href="#0">Lorem Ipsum Blog Article</a></h3>
								<span class="published-date">Published <time>Feb. 2, 2024</time></span>
								<div class="blog-teaser">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias molestiae inventore, perspiciatis sapiente possimus voluptates nam ab quaerat at optio autem quibusdam neque. Deleniti quae veniam velit culpa atque?</div>
								<p class="read-more">
									<a href="#0" class="button">
										Read more
										<span class="sr-only">Why be a Chef for Erickson Senior Living?</span>
									</a>
								</p>
							</article>
						</li>
						<li>
							<article>
								<h3><a href="#0">Lorem Ipsum Blog Article</a></h3>
								<span class="published-date">Published <time>Feb. 2, 2024</time></span>
								<div class="blog-teaser">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias molestiae inventore, perspiciatis sapiente possimus voluptates nam ab quaerat at optio autem quibusdam neque. Deleniti quae veniam velit culpa atque?</div>
								<p class="read-more">
									<a href="#0" class="button">
										Read more
										<span class="sr-only">Why be a Chef for Erickson Senior Living?</span>
									</a>
								</p>
							</article>
						</li>

					</ul>
                    <!--||{% endcomment %}||-->

				</section>

				<!-- <div class="search-results-right">
		
		
							
							<section class="tn-callout">
								<a href="/talentnetwork/">
									<div><span>Join Our <strong>Talent Network</strong></span></div>
								</a>
							</section>
							
							
		
						</div> -->
			</div>


		</div>



		<div class="shareThis-holder-main-pg">
			<div class="share-this-icons">
				<div>Share This Page</div>
				<ul>
					<li>
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
					</li>
					<li>
						<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
					</li>
					<li><a href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
				</ul>
			</div>
		</div>


		<div class="contact-row">
			<div class="inner">
				<div class="phone-numbers">Connect With Us</div>
				<div class="social-icons">
					<ul>
						<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
						<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
					</ul>
				</div>
			</div>
		</div>

	</main>


	<!------------------------  FOOTER --------------------------- -->

	<footer>
		<div class="inner">
			<div class="footer-top">
				<div class="address">
					<strong><span>©</span>
						<script type="text/javascript">
							date = new Date();
							year = date.getFullYear();
							document.write(year); //
						</script>&nbsp;University of Vermont Health
					</strong>
					462 Shelburne Road<br />
					Burlington, Vermont 05401<br />
					844-UVM-Health (886-4325)
				</div>
				<div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.
					<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-logo">
					<a href="https://www.uvmhealth.org/" target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
				</div>
				<ul class="footer-nav">
					<li>
						<a href="https://www.uvmhealth.org/contact-us" target="_blank">
							Contact Us<span class="sr-only"> (link opens in a new window)</span>
						</a>
					</li>
					<li>
						<a href="https://www.uvmhealth.org/privacy-policy" target="_blank">
							Privacy Policy<span class="sr-only"> (link opens in a new window)</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>

</body>

</html>