<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub dj-nurses">
    <div class="inner">
      <div class="copy">
        <h2>When You Care <br>
This Much...It’s More <br>
Than a Career.</h2>
      </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
<div id="dj-content">
    <div id="search-body" class="clearfix">
        <div class="inner">
            <section class="search-results">
       
                <div class="search-headings">

                    <!--||<h1 class="dj-job-title">{{ job.title }}</h1>||-->
        
                    <!--||{% comment %}||-->
                    <h1>AHMC Registered Nurse - Emergency Department</h1>
                    <!--||{% endcomment %}||-->
                </div>
                <div class="job-details-content">
                        
                    <!--||{% include "includes/job_action_buttons.html" %}||-->
                        
                    <!--||{% comment %}||-->
                    <div class="job-details-btns">
                        <ul class="sub-buttons">
                            <li class="apply-button"><a href="/crm/apply/nurse-practitioner-physician-assistant-nurse-practitioner-physician-assis-us-ny-malone-133-park-st-r0050149-12/" class="utility-btn">Apply</a></li>
                            <li>
                                <form action="/save/nurse-practitioner-physician-assistant-nurse-practitioner-physician-assis-us-ny-malone-133-park-st-r0050149-12/" method="post" style="display: inline-block">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="1Q9cCVOpMLgKOY84HEMbpVjUghCd1yCi197xEqXehptytGL4LqVfVlsrzEDvqdpd">
                                    <a href="#" onclick="$(this).closest('form').submit(); return false;" class="utility-btn">
                                        Save Job
                                    </a>
                                </form>
                            </li>
                            <li><a href="/referral/nurse-practitioner-physician-assistant-nurse-practitioner-physician-assis-us-ny-malone-133-park-st-r0050149-12/" class="utility-btn">Refer a Friend</a></li>
                            <li><a href="javascript:history.back();" id="backbtn" class="utility-btn">Back</a></li>
                        </ul>
                    </div>
                    <!--||{% endcomment %}||-->

                    <div id="job-details-map-holder">

                        <!--||{% include "includes/job_details_subhead.html" %}||-->

                        <!--||{% comment %}||-->
                        <dl>
                            <span><h2>Job Details</h2></span>
                            <span class="job-ref"><dt>Job Ref:</dt><dd>R0038511</dd></span>
                            <span class="location"><dt>Location:</dt><dd>133 Park St, Malone, NY</dd></span>
                            <span class="category"><dt>Category:</dt><dd>Registered Nurse</dd></span>
                            <span class="employment_type"><dt>Employment Type:</dt><dd>Full Time</dd></span>
                            <span class="hospital"><dt>Hospital:</dt><dd>Alice Hyde Medical Center</dd></span>
                            <span class="department"><dt>Department:</dt><dd>AHMC - Emergency Room</dd></span>
                            <span class="job_type"><dt>Job Type:</dt><dd>Regular</dd></span>
                            <span class="workshift"><dt>Primary Shift:</dt><dd>Day/Eve-8-12hr</dd></span>
                            <span class="hours"><dt>Hours:</dt><dd>11:00 am - 7:30 pm</dd></span>
                            <span class="hours_per_week"><dt>Hours per Week:</dt><dd>40</dd></span>
                            <span class="weekend_needs"><dt>Weekend Needs:</dt><dd>As Scheduled</dd></span>
                            <span class="pay_display"><dt>Pay Rate:</dt><dd> $34.28 - $49.07 per hour</dd></span>
                        </dl>
                        <div class="google-job-map clearfix">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBiJSbY9rSwLAVkwcXelpOeGvjSH2LiM4k&amp;q=133%20Park%20St%2CMalone%20NY" style="border:0" allowfullscreen="" width="auto" height="auto" frameborder="0"></iframe>
                        </div>
                        <!--||{% endcomment %}||-->
                        
                        <!--||{% include 'includes/job_map.html' %}||-->
                    </div>
                </div>
            </section>
        </div>
    </div>
		  
	  <!--JOB DESCRIPTION SECTION-->
		  <section class="intro-copy">
      <div class="inner">
	  <div class="text">
	  <h2>Job description:
</h2>
	  <p>Our nurses are a critical part of the UVM Health team. We celebrate their daily contributions and the positive impact they have on our patients and their health.</p>
		<p>At University of Vermont Health, you will work with a diverse group of nurses, physicians, and specialty practitioners who personally care about their patients and community. No matter the location, every employee has a hand in contributing to the wellness of patients. You'll discover a culture of teamwork, professionalism, and mutual respect at UVM Health.
</p>
		  {{ job.posting.description|safe }}
		  
		</div>
      </div></section>	  
	  
	  <!--REQUIREMENT SECTION-->
	  <section class="callout-circle">
		<div class="inner">
			<div class="cc-photo" id="djRN"><span class="background-image" role="img" aria-label="Male Registered Nurse holding folded towels"></span></div>

			<div class="copy">	<h2>Requirements:</h2>
				
			<ul>
				<li>Current RN licensure recognized by the State of New York required.</li>
				
				<li>Appropriate experience in specific clinical area. Varies by unit.</li>
			</ul>
			</div>
	  </div>
	</section>
	
	
		  <!--BENEFITS PACKAGE SECTION --START-->
	   <section class="benefits-package">
		   <h2>Our Total Rewards package includes:</h2>
      <div class="inner">
		  <div class="benefits-box">
		   <a href="#benefit1">
		  <div class="benefits-box-top"><img src="files/images/sub/benefits/benefits-icons/icon-health.png" class="scalable" alt="icon showing outline of heart with heart beat within it"/></div>
          <div class="benefits-box-btm"><strong>Health Care</strong> <br>
(Medical, Dental, Vision)</div>
		   <div id="benefit1" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Health Care</strong> (Medical, Dental, Vision)</div>
         Eligible employees can choose between 4 medical, 3 dental, and 2 vision plans. Offering extensive coverage with flexible rates.</div>
		</div></a>
		   </div>
		
        <div class="benefits-box">
		 <a href="#benefit2">
			<div class="benefits-box-top"><img src="files/images/sub/benefits/benefits-icons/icon-spending.png" class="scalable" alt="icon showing hand holding mobile phone with banking application active on screen"/></div>
          <div class="benefits-box-btm"><strong>Flexible Spending Account</strong></div>
		   <div id="benefit2" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Flexible Spending Account</strong></div>
          Take money out of your paycheck on a pre-tax basis to pay for eligible expenses</div>
		</div></a>
		  </div>
		  
		   <div class="benefits-box">
		 <a href="#benefit3">
			<div class="benefits-box-top"><img src="files/images/sub/benefits/benefits-icons/icon-retirement.png" class="scalable" alt="icon showing money in the form of an egg within a nest implying nest egg savings"/></div>
          <div class="benefits-box-btm"><strong>Retirement Benefits</strong><br>
 (403b)</div>
		   <div id="benefit3" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Retirement Benefits</strong><br>
 (403b)</div>403(b) Retirement Plan with Company Contributions</div>
		</div></a>
		  </div>
		  
		  <div class="benefits-box">
		 <a href="#benefit4">
			<div class="benefits-box-top"><img src="files/images/sub/benefits/benefits-icons/icon-insurance.png" class="scalable" alt="icon showing umbrella representing concept of insurance coverage"/></div>
          <div class="benefits-box-btm"><strong>Insurance Benefits</strong> <br>
(Life, Short-Term, Long-Term)</div>
		   <div id="benefit4" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Insurance Benefits</strong> (Life, Short-Term, Long-Term)</div>Feel secure with extensive life insurance plans, along with short-term and long-term disability</div>
		</div></a>
		  </div>
		  
		  <div class="benefits-box">
		 <a href="#benefit5">
			<div class="benefits-box-top"><img src="files/images/sub/benefits/benefits-icons/icon-time-off.png" class="scalable" alt="icon showing parasol shading an empty beach chair"/></div>
          <div class="benefits-box-btm"><strong>CTO/PTO:</strong><br>
 Paid time off</div>
		   <div id="benefit5" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>CTO/PTO:</strong> Paid time off</div><br>
CTO combines time off into a single program. Providing paid time off for holidays, sick time, vacation, and personal days.</div>
		</div></a>
		  </div>
      </div>
    </section>
	    <!--BENEFITS PACKAGE SECTION --END-->
		
		 <!--ADDITIONAL BENEFITS SECTION --START-->
	  <section class="additional-benefits">
		   <h2>Additional benefits may include:</h2>
      <div class="inner">  
		 <div class="benefits-box2">
		  <a href="#benefit6">
		  <div class="benefits-box2-top"><img src="files/images/sub/benefits/benefits-icons/icon-discount.png" class="scalable" alt="icon showing two hands ready to catch falling money"/></div>
          <div class="benefits-box2-btm"><strong>Employee Discounts</strong></div>
		   <div id="benefit6" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Employee Discounts</strong></div>Employees are eligible for discounts at a wide range of businesses. From Automotive and Banking expenses to seasonal discounts on ski passes.</div>
		</div>
		</a>
		   </div>
		   
		    <div class="benefits-box2">
		  <a href="#benefit7">
		  <div class="benefits-box2-top"><img src="files/images/sub/benefits/benefits-icons/icon-family.png" class="scalable" alt="icon showing parents and kids standing together"/></div>
          <div class="benefits-box2-btm"><strong>Employee & Family Assistance Program</strong></div>
		   <div id="benefit7" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Employee & Family Assistance Program</strong></div>Counseling and other forms of support to help ensure a healthy personal and professional lifestyle.</div>
		</div>
		</a>
		   </div>
		   
		     <div class="benefits-box2">
		  <a href="#benefit8">
		  <div class="benefits-box2-top"><img src="files/images/sub/benefits/benefits-icons/icon-tuition.png" class="scalable" alt="icon show showing bust of graduate wearing cap and gown"/></div>
          <div class="benefits-box2-btm"><strong>Tuition Reimbursement</strong></div>
		   <div id="benefit8" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Tuition Reimbursement</strong></div>Eligible employees have access to a simple and expansive tuition reimbursement system.</div>
		</div>
		</a>
		   </div>
		   
		   <div class="benefits-box2">
		  <a href="#benefit9">
		  <div class="benefits-box2-top"><img src="files/images/sub/benefits/benefits-icons/icon-erp.png" class="scalable" alt="icon showing two hands shaking"/></div>
          <div class="benefits-box2-btm"><strong>Employee Referral Program</strong></div>
		   <div id="benefit9" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Employee Referral Program</strong></div>Encourage your talented network to apply for a job, and you may qualify for a Referral Bonus. Amounts vary by location.</div>
		</div>
		</a>
		   </div>
		  
		  <div class="benefits-box2">
		  <a href="#benefit10">
		  <div class="benefits-box2-top"><img src="files/images/sub/benefits/benefits-icons/icon-relocation.png" class="scalable" alt="icon showing moving truck"/></div>
          <div class="benefits-box2-btm"><strong>Relocation Assistance</strong></div>
		   <div id="benefit10" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Relocation Assistance</strong></div>$9,200 relocation award and up to 2 months furnished housing for select roles.</div>
		</div>
		</a>
		   </div>
		   
		   <div class="benefits-box2">
		  <a href="#benefit11">
		  <div class="benefits-box2-top"><img src="files/images/sub/benefits/benefits-icons/icon-food.png" class="scalable" alt="icon showing sandwich"/></div>
          <div class="benefits-box2-btm"><strong>On-Site Food Service</strong></div>
		   <div id="benefit11" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>On-Site Food Service</strong></div>Enjoy reasonably priced meals that include locally sourced and organic options.
			  <p>*not available at all locations</p></div>
		</div>
		</a>
		   </div>
		   
		   <div class="benefits-box2">
		  <a href="#benefit12">
		  <div class="benefits-box2-top"><img src="files/images/sub/benefits/benefits-icons/icon-pets.png" class="scalable" alt="icon showing dog and cat"/></div>
          <div class="benefits-box2-btm"><strong>Pet Insurance</strong></div>
		   <div id="benefit12" class="benefit-description">
		      	  <div class="description-text">
			  <div class="description-header"><strong>Pet Insurance</strong></div>Employees are eligible for discounted pricing on America's #1 pet insurance
			  </div>
		</div>
		</a>
		   </div>
      </div>
    </section>
	   <!--ADDITIONAL BENEFITS SECTION --END-->
	   
	    <!--ABOUT THE AREA SECTION --START-->
	   <section class="intro-copy" id>
      <div class="inner">
	  <div class="text">
	  <h2>About the area:</h2>
	  <p>Malone, NY is a community rich in history and heritage. Snuggled between farmlands, forests, lakes and streams, Malone offers everything you need for a northern New York adventure. From the active Malone Recreational Center, Malone's Fish & Game Club, Titus Mountain, and nearby Whiteface Mountain Ski Areas, to a diverse downtown district, historic sites and museums, plus access to the Adirondacks, Malone NY has something for everyone. In addition, the US-Canadian border is just 20 miles away.</p>
	  </div>
	   <div class="photo" id="alticearea"><span class="background-image" role="img" aria-label="Scenic view from top of mountain showing woods and other mountains on summer day"></span></div>        
      </div>
    </section>
	<!--ABOUT THE AREA SECTION --END-->
	
	 <!--TEAM PERKS SECTION-->
	  <section class="callout-circle">
		<div class="inner">
			<div class="cc-photo" id="djRNperks"><span class="background-image" role="img" aria-label="Two nurses psoing for photo in busy hospital setting"></span></div>

			<div class="copy">	<h2>Joining our team has its perks:</h2>
				
			<ul>
				<li>We encourage professional growth and development</li>
<li>We ensure our nurses are truly happy and feel valued</li>
<li>We offer structured preceptorships and continuing education</li>
<li>We are committed to great patient ratios</li>
<li>Our team culture is unlike what you’ll find at other hospitals</li>
<li>We’ve made significant investments in safe patient handling and mobility equipment</li>
<li>Nurses truly have a voice here through our shared governance</li>
			</ul>
			</div>
	  </div>
	</section>
	
	   
	    <!--FAST FACTS SECTION --START-->
	   <section class="affiliates-ff">
<h2>Fast Facts</h2>
	   <div class="inner">
	     <div class="fact-holder">
		   <div class="fact">
		     <div class="ff-icon"><img src="files/images/sub/affiliates/icons/icons-employees.png" width="345" height="344" alt="" class="scalable"/></div>
		     <div class="ff-btm"><h3>699</h3>
			 <p>Employees</p></div>
           </div>
		   <div class="fact">
		     <div class="ff-icon"><img src="files/images/sub/affiliates/icons/icons-serves.png" width="345" height="344" alt="" class="scalable"/></div>
		     <div class="ff-btm"><h3>35,175</h3>
			 <p>Serves 35,175 people in our region</p></div>
           </div>
		   <div class="fact">
		     <div class="ff-icon"><img src="files/images/sub/affiliates/icons/icons-beds.png" width="345" height="344" alt="" class="scalable"/></div>
		     <div class="ff-btm"><h3>241</h3>
			 <p>76 licensed acute care hospital beds, 135 skilled nursing beds, and 30 assisted living program beds</p></div>
           </div>
		   <div class="fact">
		     <div class="ff-icon"><img src="files/images/sub/affiliates/icons/icons-practices.png" width="345" height="344" alt="" class="scalable"/></div>
		     <div class="ff-btm"><h3>21</h3>
			 <p>Medical practices</p></div>
           </div>
		   <div class="fact">
		     <div class="ff-icon"><img src="files/images/sub/affiliates/icons/icons-physicians.png" width="345" height="344" alt="" class="scalable"/></div>
		     <div class="ff-btm"><h3>98</h3>
			 <p>Physicians</p></div>
           </div>
		   <div class="fact">
		     <div class="ff-icon"><img src="files/images/sub/affiliates/icons/icons-patients.png" width="345" height="344" alt="" class="scalable"/></div>
		     <div class="ff-btm"><h3>248,047</h3>
			 <p>Patient care encounters at our hospital and clinics</p></div>
           </div>
         </div>
       </div>	  
	  </section>
	  <!--FAST FACTS SECTION --END-->
		  
		  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" -->
<!--||{% block js %}{% endblock %}||-->
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>