<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Therapies | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
	<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/therapies.html" />
<meta property="og:title" content="Therapies | Careers - University of Vermont Health" />
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub therapies">
    <div class="inner">
      <div class="copy">
        <h2>Therapies</h2>
        
      </div>
    </div>
  </div><!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent">
	  
<h1 class="visuallyhidden">Therapies Careers at University of Vermont Health</h1>
	  
    <section class="intro-copy2" id="therapiesintro">
      <div class="inner">
	  <div class="text">
	  <h2>Our Rehabilitation Departments are focused on improving the quality of life for our community while providing a work life balance for you at UVM Health.</h2>
		
		<p>Our exceptional rehabilitation teams in Vermont and Northern New York determine the path for their patient’s treatment plans, aiding them to return to a functional life. While playing a vital role in our patient’s recovery path, we focus on supporting our employees which helps support our patients.</p>
		  <p>Rehabilitation professionals at UVM Health practice in a variety of settings including: acute care, acute rehabilitation, sub-acute rehabilitation, home health, and outpatient.</p>
		  <ul>
		<li><a href="#respiratory"><strong>Respiratory Therapy</strong></a></li>
		<li><a href="#audiology"><strong>Audiology</strong></a></li>
		<li><a href="#occtherapy"><strong>Occupational Therapy</strong></a></li>
		<li><a href="#phystherapy"><strong>Physical Therapy</strong></a></li>
		<li><a href="#radtherapy"><strong>Radiation Therapy</strong></a></li>
		<li><a href="#speechtherapy"><strong>Speech Language Pathology</strong></a></li>
		</ul>
		
       
	  </div>
	   <div class="photo"></div>        
      </div>
    </section>
	  
			 <section class="isolated">
	 <h2>The exceptional employees at University of Vermont Health are at the forefront of the patient experience. The collegiality of the therapy team is not only valued by the patients we care for; it’s important to the health and wellbeing of our employees.</h2>
	</section>
	
	<section class="callout-circle" id="ImagingBenefits">
		<div class="inner">
			<div class="cc-photo" id="imagingcircle"></div>

			<div class="copy">
				<h2>We’re proud to offer exceptional benefits.</h2>
			
			<p><a href="benefits.html" target="_blank">Learn more about the benefits we offer</a></p>
			</div>
	  </div>
	</section>

	    <section class="intro-copy" id="worklifecomm">
      <div class="inner">
	 <div class="wlcphoto" id="wlcphoto01"></div>
			    <div class="wlctext">
				  <h2>Our Community</h2>
			 <p>Vermont and Northern New York are known for their beautiful scenery, small towns, and abundance of outdoor activities. If you are looking for a place to live with a high quality of life, plenty of things to do, and easy access to nature, either state is a great choice.</p>
<p>Vermont is home to the Green Mountains and Lake Champlain, which offer opportunities for biking, hiking, skiing, boating and other outdoor activities. Northern New York is home to the Adirondack Mountains, Catskill Mountains, and Lake George, which also offer opportunities for activities on the water or on the land.</p>
<p>We value the communities we serve. Ways we support our communities include annual sponsorships of organizations and events and partnerships with local farms and food producers for healthy and sustainable foods.</p>
			    </div>
			   <div class="wlcphoto" id="wlcphoto02"></div>    
      </div>
    </section>
	
	
	<!--UVMC Program START-->
	  	<section class="global-title-holder" id="respiratory">
	<h2>Respiratory Therapy:</h2>
	</section>
	  
	  <section class="intro-copy2" id="resptherapiesintro">
      <div class="inner">
	  <div class="text">
	 
		
		<p>Respiratory Therapists play a vital role in helping our patients breathe and recover from lung diseases and injuries and are a critical part of the multidisciplinary care team.  Across our Health Network, our therapists can advance their careers by specializing in a particular area, such as neonatal respiratory care, critical care respiratory therapy, or pulmonary rehabilitation. They can also pursue leadership positions or become educators. You will work in areas such Adult Surgical & Medical ICU, NICU, Emergency Department and Med/Surg units. We are looking for critical thinkers, good problem solvers and effective communicators to join our team. If you are interested in a career in healthcare that is rewarding, challenging, and in high demand come join our RT team.</p>
		  
		   <a href="/jobs/cardiology-respiratory-care/?search_term=Respiratory">View all Respiratory Therapy Jobs</a>
	
	  </div>
	   <div class="photo"></div>        
      </div>
		  <h3>Hear from our Respiratory Therapists:</h3>
    </section>
	  
	  
	
	 <section class="intro-copy padtopnone" id="mattwquote">
		 
      <div class="inner">
		  
	  <div class="text">
	  <h2>Matthew, Alice Hyde Medical Center</h2>
		<p>“Working at Alice Hyde feels like I am part of a family, a large family with many team members. I was drawn to the area for the outdoor recreational opportunities and have been a North Country resident for almost ten years. I love living and working in the Adirondack Region, our quality of life is top notch. Alice Hyde Medical Center welcomed me and made me feel like a part of the team. My co-workers are always giving 110% and that is what I love about working here, they are a motivating group of professionals who always put the patient first!”</p>
	  </div>
	   <div class="photo" id="therapies01"></div>        
      </div>
    </section>
	   <section class="intro-copy" id="donnawquote">
      <div class="inner">
	  <div class="text">
	  <h2>Donna, Champlain Valley Physicians Hospital</h2>
		<p>“Moving from Nashville, TN to the North Country I have found myself surrounded by an abundance of support here at CVPH. Our Respiratory Department is focused on expanding the knowledge of our RTs and offering equal opportunities to gain skills in emergency and intensive care. Being an RT at CVPH means you are never alone, if there is a challenge, we face it together. Working here you’re not just another medical professional in scrubs, you are part of a tight knit medical family.”</p>
	  </div>
	   <div class="photo" id="therapies02"></div>        
      </div>
    </section>
	  
	   <section class="intro-copy" id="kevinwquote">
      <div class="inner">
	  <div class="text">
	  <h2>Kevin, University of Vermont Medical Center</h2>
		<p>“As respiratory therapists, we see patients all over the hospital. From stabilizing preemies in the NICU to treating asthma patients in ER to caring for patients with chronic lung diseases like COPD, Cystic Fibrosis and interstitial lung disease in the ICUs and inpatient floors, we are everywhere. I chose to be a respiratory therapist because of the variety of patients we see and the many different modalities we use to treat the members of our community. One of my favorite parts of being a respiratory therapist at UVMMC is my coworkers, we all learn from one another and that helps provide the best care for our patients. Being a respiratory therapist at UVMMC means you will have a supportive staff that provides a great learning environment in a rewarding career field!”</p>
	  </div>
	   <div class="photo" id="therapies03"></div>        
      </div>
    </section>
	    <section class="intro-copy" id="hannahwquote">
      <div class="inner">
	  <div class="text">
	  <h2>Hannah, Central Vermont Medical Center</h2>
		<p>“Being a respiratory therapist at CVMC is a rewarding and fulfilling experience. I have the opportunity to make a positive impact on the lives of patients every day. From helping them breathe easier to providing critical care during emergencies, I am constantly reminded of the importance of my role in the healthcare team. I am proud to be a part of CVMC and to contribute to the wellbeing of our community.”</p>
	  </div>
	   <div class="photo" id="therapies05"></div>        
      </div>
    </section>
	  
	     <section class="callout-global-03" id="resptherapyvideo">
      	<div class="inner2">
			<div class="video-title">
			
			<h2>A Day in the Life of a <br>
Respiratory Therapist</h2>
			
			</div>
		 <div class="video-holder">

          <div class="video-responsive">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/_DQZNnNtAxY?si=oFuceqWo8-MGnhMq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
        </div>
        </div>
	
	  </section>
	   
	  
	  
	  	<section class="global-title-holder" id="audiology">
	<h2>Audiology Therapy:</h2>
	</section>
	  
	  <section class="intro-copy2" id="audiointro">
      <div class="inner">
	  <div class="text">
	 
		
		<p>Audiologists provide expert evaluation and diagnosis of hearing loss. From newborns to adults, audiologists offer personalized treatment and care for a wide range of hearing disorders.</p>
		  <a href="/jobs/audiology/">View all Audiology Therapy Jobs </a>
		  
	  </div>
	   <div class="photo"></div>        
      </div>

    </section>
	  
	  <section class="global-title-holder" id="occtherapy">
	<h2>Occupational Therapy:</h2>
	</section>
	  
	   <section class="intro-copy2" id="occtherapyintro">
      <div class="inner">
	  <div class="text">
	 
		
		<p>Occupational Therapy is the therapeutic use of everyday activities (occupations) for the purpose of participation in roles and activities at home, in school, at work in the community or in other settings. Occupational therapy services are provided for the purpose of promoting health and wellness and to those who have or are at risk for developing an illness, injury, disease, disorder, condition, impairment, disability, activity limitation, or participation restriction. Occupational Therapy addresses the physical, cognitive, psychosocial, sensory, and other aspects of health, well-being and quality of life.</p>
		  
		   <a href="/jobs/rehabilitation-service-therapy/?search_term=occupational">View all Occupational Therapy Jobs </a>
	
	  </div>
	   <div class="photo"></div>        
      </div>

    </section>
	  
	  
	  
	  <section class="global-title-holder" id="phystherapy">
	<h2>Physical Therapy:</h2>
	</section>
	  
	  
	   <section class="intro-copy2 padbtmnone" id="phystherapyintro">
      <div class="inner">
	  <div class="text">
	 
		
		<p>Physical therapy provides treatment to help with recovery from surgery or an injury, reduce risk of injury and decrease pain.</p>
		  <p class="marginbtmnone">Physical Therapists are health care professionals who specialize in the restoration, maintenance and promotion of optimal physical function. Physical Therapists at The UVM Medical Center:</p>
		  <ul>
		  <li><strong>Diagnose and treat movement dysfunction</strong></li>
			  <li><strong>Enhance physical and functional abilities</strong></li>
			  <li><strong>Evaluate, treat, and prevent symptoms, progression of impairments, functional limitations, and disabilities that can result from injury or disease.</strong></li>
		  </ul>
		  <p>Physical Therapists assess joint motion, muscle strength and endurance, function of the heart and lungs, and performance of activities required in daily living, among other responsibilities.</p>
		   <a href="/jobs/rehabilitation-service-therapy/?search_term=physical">View all Physical Therapy Jobs</a>
	
	  </div>
	   <div class="photo"></div>        
      </div>

    </section>
	  
	  <section class="callout-global-03" id="phystherapyvideo">
      	<div class="inner2">
			<div class="video-title">
			
			<h2>Physical Therapy Careers at the UVM Health</h2>
			
			</div>
		 <div class="video-holder">

          <div class="video-responsive">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/dQKBV_uxDDQ?si=2gJ7MxXg4KvAT3fE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
        </div>
        </div>
	
	  </section>
	  
	  
	  	  <section class="global-title-holder" id="radtherapy">
	<h2>Radiation Therapy:</h2>
	</section>
	  
	   <section class="intro-copy2" id="radtherapyintro">
      <div class="inner">
	  <div class="text">
	 
		
		<p>Radiation Therapists partner with our Physicians to provide radiation therapy to patients, and provide accurate billing and documentation to support billing. Our team of Radiation Therapists provide the best quality of care with autonomy to make clinical decisions.</p>
		  
		   <a href="/jobs/?search_term=radiation+therapist&zipcode=&radius=25">View all Radiation Therapy Jobs </a>
	
	  </div>
	   <div class="photo"></div>        
      </div>

    </section>
	  
	  
	  
	  
	  
	  <section class="global-title-holder" id="speechtherapy">
	<h2>Speech-Language Pathology:</h2>
	</section>
	  
	     <section class="intro-copy2" id="slpintro">
      <div class="inner">
	  <div class="text">
	  
		
		<p>Speech-Language Pathologists&nbsp; evaluate and treat a large range of communication and swallowing disorders. These include problems with speech, voice, language, thinking and swallowing. These problems can result from neurological conditions such as stroke, traumatic brain injury, head and neck cancer, Parkinson’s disease, swallowing complications from birth - or from infections and other causes.</p>
		   <a href="/jobs/rehabilitation-service-therapy/?search_term=speech">View all Speech-Language Pathology Jobs</a>
	  </div>
	   <div class="photo"></div>        
      </div>

    </section>
	  
	
	  
	  
	
	
	  
	
	  
	 
	  
	  <section class="imaging-form-holder" id="therapiespg">
      <div class="inner">
	 <div class="talent-network-form" id="imaging-pg-form">
				<!--||{% block te-header %}||-->

					<!-- This section will be replaced with either the Join Talent Network or Express Interest heading and copy -->
					<h1>Connect with a Recruiter</h1>

					<span class="form-intro">
					
					<p>Please complete the below form and a member of our team will be in touch.</p>
						
					
					</span>
		        
				<!--||{% endblock te-header %}||-->

				<!--||{% block content %}{% endblock %}||-->

				<!--||{% comment %}||-->

   				<form method="post" id="tn-form" class="debounce" enctype="multipart/form-data"
                          aria-label="{{ CORPORATE_NAME }} Talent Network sign-up form" aria-describedby="talent-network-description">
        

					<label>
						First name:
						<input type="text" name="first_name" maxlength="50" required="" id="id_first_name">
				    </label>
						
					<label>
						Last name:
						<input type="text" name="last_name" maxlength="50" required="" id="id_last_name">
				    </label>
						
					<label>
						Email:
						<input type="email" name="email" maxlength="100" required="" id="id_email">
				    </label>
						
					<label>
						Cell phone:
						<input type="text" name="phone_number" maxlength="30" id="id_phone_number">
				    </label>
						
								
					<div class="multi-box-section">
						<span class="multi-box-label">Area of Practice</span>
						<ul id="id_categories">
							<li>
								<label for="id_categories_0"><input type="checkbox" name="categories" value="20" id="id_categories_0">CT</label>
						    </li>
							<li>
								<label for="id_categories_1"><input type="checkbox" name="categories" value="10" id="id_categories_1">MRI</label>
						    </li>
							<li>
								<label for="id_categories_2"><input type="checkbox" name="categories" value="22" id="id_categories_2">Ultrasound</label>
						    </li>
							
					    </ul>
				    </div>
					
					<label>
						Preferred contact method:
						<select name="contact_method" id="id_contact_method">
							<option value="1" selected="">Email</option>
							<option value="2">SMS (Text Message)</option>
					    </select>
				    </label>
						
					<p class="talent-disclaimer">By submitting information, you are not officially applying to a position at this time, and you authorize
                        {{ CORPORATE_NAME }} to contact you via phone, email, and text messaging.</p>
						
					<div class="apply">
						<input name="submit" type="submit" class="submit" id="submit" value="SUBMIT">
				    </div>

			    </form>
				<!--||{% endcomment %}||-->				

		    </div>
	        
      </div>
    </section>
	

	
	
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>