<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>UVMMC LNA to RN Pathway Program | Careers - University of Vermont Health</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="docdescription" -->
<meta name="description" content="University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs. Join Our Team Today!" />
<!-- InstanceEndEditable -->
<meta property="og:site_name" content="Careers – University of Vermont Health" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | University of Vermont Health"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Careers | University of Vermont Health"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | University of Vermont Health"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T8BSRS4JM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T8BSRS4JM');
</script>

<!-- InstanceBeginEditable name="head" -->
	<meta property="og:url" content="https://www.uvmhealthnetworkcareers.org/AHS-ABSN-pathway-program.html" />
<meta property="og:title" content="Accelerated Bachelor of Science in Nursing (ABSN) Pathway Program | Careers - University of Vermont Health" />
<!-- InstanceEndEditable -->
<!-- InstanceParam name="search-area" type="boolean" value="true" -->
<!-- InstanceParam name="share-this" type="boolean" value="true" -->
<!-- InstanceParam name="talent-network" type="boolean" value="true" -->

<!--||{% load job_tags static %}||-->
<script src="{% static 'js/common.js' %}"></script>
<!--||{% block head %}{% endblock %}||-->

</head>

<body>
<!--GOOGLE TRANSLATOR SCRIPT START-->
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--GOOGLE TRANSLATOR SCRIPT END-->

<!--------------------------- HEADER -------------------------->

<header>
	<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				<li>
					<a href="https://www.uvmhealth.org/about-us" target="_blank">About UVM Health<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				<li>
					<a href="https://www.uvmhealth.org/for-employees" target="_blank">For Employees<span class="sr-only"> (link opens in a new window)</span></a>
				</li>
				
			</ul>
			<ul class="lower-nav">
				<li>
					<a href="/">Home</a>
				</li
				><li>
				
				<!--- Secondary nav level (TALENT AREAS) --->
				
				<a href="#talent" aria-controls="#talent" aria-expanded="false" target="_blank" class="hamburger-title-2">Talent Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="talent" class="hamburger-content-2">
					<li><a href="advanced-practice-professional.html">Advanced Practice Professional</a></li>
					<li><a href="environmental-services.html">Environmental Services</a></li>
					<li><a href="food-and-nutrition.html">Food &#38; Nutrition</a></li>
				    <li><a href="imaging.html">Imaging</a></li>
					<li><a href="medical-office-support.html">Medical Office Support</a></li>
					<li><a href="new-to-nursing.html">New to Nursing</a></li>
			        <li><a href="nursing.html">Nursing</a></li>
					<li><a href="https://lna.uvmmedicalcentercareers.org/" target="_blank">Nursing Assistants<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="pharmacy.html">Pharmacy</a></li>
					<li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li><a href="therapies.html">Therapies</a></li>
				</ul>
				
				<!--- Secondary nav level (TALENT AREAS) end --->
				
					</li
				>
				 <li><a href="https://www.uvmhnprovidercareers.org/" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a></li>
				<li>
				<a href="benefits.html" id="BeneLink">Benefits</a>
				</li
				>
				
					<li>
				
				<!--- Secondary nav level (HIRING PROCESS)  --->
				
				<a href="#hiring" aria-controls="#hiring" aria-expanded="false" target="_blank" class="hamburger-title-2">Hiring Process<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="hiring" class="hamburger-content-2">
					<li>
				<a href="hiring-process-overview.html">Hiring Process Overview</a>
				</li>
					<li><a href="connect-with-a-talent-acquisition-partner.html">Connect with the Talent Acquisition Team</a></li>
				</ul>
				
				<!--- Secondary nav level (HIRING PROCESS) end --->
				
					</li
				><li>
				<a href="center-for-workforce-development.html" id="TrainingLink">Workforce Development</a>
			  </li
				>
			<li>
				
				<!--- Secondary nav level (LIFE IN VT)  --->
				
				<a href="#life" aria-controls="#life" aria-expanded="false" target="_blank" class="hamburger-title-2"> Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="life" class="hamburger-content-2">
					<li><a href="culture-experience-and-community-health.html">Culture, Experience and Community Health</a></li>
					<li><a href="life-in-VT-NY.html">Life in VT &#38; NY</a></li>
				</ul>
				
				<!--- Secondary nav level (LIFE IN VT) end --->
				
					</li
				><li>
				
				<!--- Secondary nav level (Our Partner Locations)  --->
				
				<a href="#intern" aria-controls="#intern" aria-expanded="false" target="_blank" class="hamburger-title-2">Partner Locations<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="intern" class="hamburger-content-2">
					<li><a href="alice-hyde.html">Alice Hyde Medical Center</a></li>
			  <li><a href="cvmc.html">Central Vermont Medical Center </a></li>
              <li><a href="cvph.html">Champlain Valley Physicians Hospital</a></li>
			  <li><a href="elizabethtown.html">Elizabethtown Community Hospital</a></li>
			  <li><a href="home-health-hospice.html">Home Health &#38; Hospice</a></li>
              <li><a href="medical-group.html">Medical Group</a></li>
			  <li><a href="porter-medical.html">Porter Medical Center</a></li>
			  <li><a href="uvmmc.html">University of Vermont Medical Center</a></li>					
					
				</ul>
				
				<!--- Secondary nav level (Our Partner Locations) end --->
				
					</li
				></ul>
		</nav>
	</div>
</header>
<main class="subpage"> 
  
  <!-- ---- BANNER AREA SUB PAGE ---- -->
  
  <!-- InstanceBeginEditable name="sub-banner" -->
  <div class="bannersub LNAtoRNprog">
    <div class="inner">
      <div class="copy">
        <h2>UVMMC LNA to RN Pathway Program</h2>
        </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
	
<!-- ---- SEARCH AREA SUB PAGE ---- -->
  
  <section class="horizontal-search-bar search sub-page-search">

			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				<!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
				
				<!--||{% comment %}||-->                
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
           <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" aria-label="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Administration Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Advanced Practitioner Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Clinical Specialties Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">CRNA/AA Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Diagnostic Imaging Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Emergency Technicians Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Facilities Management Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Finance and Accounting Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Information Systems (Mgmt) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Medical Records Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Mental Health Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Nursing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Pharmacology Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Physicians and Residents Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Public Relations and Marketing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Purchasing (Supply Chain) Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Rehabilitation Services/Therapies Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Support Services Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Training and Education Jobs</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#hospital-search" aria-controls="#hospital-search" aria-expanded="false">
                    Search Jobs by Hospital
                </button>
                <ul class="search-content2" id="hospital-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Hospitals</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Alice Hyde Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Central Vermont Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Champlain Valley Physicians Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Elizabethtown Community Hospital</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Porter Medical Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">The University of Vermont Health Network Home Health &#38; Hospice</a></li>
                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
			<!--||{% endcomment %}||-->	
				
			</div>
		
		</section>
  

<!------------------------  CONTENT --------------------------- -->
  
  <!-- InstanceBeginEditable name="sub-content" -->
  <div class="subcontent">
  
	
	<section class="intro-copy" id="pathwayprograms">
      <div class="inner">
	  <div class="text">
	
	  <h2>Ready to further your education?</h2>
	  
	  <p>Through our partnership with Community College of Vermont (CCV) and Vermont State University (VTSU), UVMMC’s LNA to RN Pathway Program allows employees at UVMMC to continue earning a salary while taking classes toward an advanced healthcare degree. Upon completion of the NCLEX-RN, graduates will commit to a three-year employment agreement with UVMMC.</p>
	   
	 
	  
<!--	  <div class="intro-btn"><a href="#">Apply Now</a></div>-->
	 
	  </div>
	   <div class="photo" id="lnatornprogram"></div>        
      </div>
    </section>
	
  
  	<section class="callout-circle" id="lnatornprog">
		<div class="inner">
			<div class="cc-photo"></div>

			<div class="copy">
				<h2>What is the purpose of this program?</h2>
				<p>The UVMMC LNA to RN Pathway program is designed to support employees who wish to pursue a nursing career. The Program offers tuition support, paid study hours so you can dedicate time to your coursework, and additional wrap around services available as needed to help ensure your success.</p>
		
			</div>
	  </div>
	</section>

	  
	
<!--
	<section class="callout-global-03">
	  <div class="inner">
	  <div class="text">
		   <h2>Upcoming Information Sessions</h2>
	 
		  <ul>
		  <li><strong>Wednesday, January 22 at 7:30 AM</strong></li>
		  <li><strong>Wednesday, January 22 at 12:00 PM</strong></li>
		<li><strong>Thursday, January 23 at 6:00 PM</strong></li></ul>
	  
  <p><a href="https://admissions.ccv.edu/portal/UVMMC_RN" target="_blank">Register for an Information Session<span class="sr-only"> (link opens in a new window)</span></a></p>
	  </div>
	   <div class="photo" id="lnatornphoto02"></div>        
      </div>
	</section>
-->
		

	<section class="text-only-section">
      <div class="inner border-bottom">
	  <div class="text">
		  <h2>Eligibility Requirements</h2>
		   <p class="marginbtm10"><strong>All candidates must:</strong></p>
		   <ul>
		   <li>Be either a current UVMMC LNA or an eligible LNA candidate employed by UVMMC.</li>
		   <li>Be in good standing in terms of performance and obtain recommendation from leader in support of participation in the Program.</li>
		   <li class="marginbtm30">Must commit to an RN position for three years at UVMMC upon successful completion of the program.</li>
		   </ul>
		  
		   
	 	  </div>
      </div>
    </section>
	
	
	
	  
	  <section class="text-only-section">
      <div class="inner border-bottom">
	  <div class="text">
		  <h2>Program Details</h2>
		  <p>Offered in partnership with Community College of Vermont and Vermont State University, the LNA to RN Pathway Program offers a comprehensive nursing curriculum while participants continue their employment at UVMMC. This Pathway Program is designed to offer employees the opportunity to advance their nursing careers to become Registered Nurses (RN).</p>
<p>Visit the <a href="https://ccv.edu/academics/programs/healthcare/" target="_blank">CCV website<span class="sr-only"> (link opens in a new window)</span></a> to learn more about the coursework designed to prepare you for a career in healthcare.</p>
<p>Visit the <a href="https://vermontstate.edu/nursing-programs/" target="_blank">website of Vermont State University<span class="sr-only"> (link opens in a new window)</span></a> to learn more about their nursing programs.</p>


	 	  </div>
      </div>
		   
    </section>
	  
	 
	
	
	<section class="text-only-section">
      <div class="inner">
	  <div class="text">
		  <h2>Frequently Asked Questions</h2>
	<h3>How many work hours are required during the program?</h3>
<p>Employees in the LNA to RN Pathway Program hold full-time FTEs (.9 FTE or 36 hours/week). During the LPN year, employees are required to work a minimum of one 12-hour shift per week. During the ADN year, employees are required to work a minimum of 20-hours per week.</p> 
<p>Employees will receive paid study hours for their remaining schedule (up to 24 hours per week).</p> 
<p>Employees have the option to work up to full-time hours (36 hours/week) but must maintain satisfactory academic grade progression with CCV and VTSU. Employees are expected to work closely with their leaders to agree upon work schedules.</p> 
<p>Employees must fulfill their FT FTE during non-academic sessions and school breaks.</p> 
		  <h3>I am not currently an employee at UVMMC – can I still apply?</h3>
<p>This program is open to current UVMMC LNAs and eligible UVMMC LNA candidates.</p>
<h3>I’ve taken college coursework in the past. Do I need to retake any courses?</h3>
<p>It’s possible you will have to retake some courses depending on the grades you received and how long ago you completed them.</p> 
<p>Your CCV Counselor, Kerri Brooks, will review your transcripts, previous coursework, GPA and Accuplacer scores. Schedule an appointment with Kerri by calling 802-524-6541. Be sure to let CCV staff know that you are interested in the UVMMC LNA to RN Pathway Program.</p> 
<h3>When do I need to apply to CCV and what are the requirements?</h3>
		 
<p>Info sessions are generally offered in January to provide details about the program, and the application period typically begins in February. Specific deadlines will be announced during these sessions.</p> 
<p>Visit <a href="https://admissions.ccv.edu/apply/" target="_blank">https://admissions.ccv.edu/apply/<span class="sr-only"> (link opens in a new window)</span></a> to apply and indicate that you are:</p>
<ul class="marginbtm20">
<li>Employee of UVMMC</li>
<li>Degree Seeking</li> 
<li>Allied Health Preparation Certificate</li></ul>
<p>Transcripts will be needed for all non-VSC institutions. Transcripts can be mailed to: CCV Transcript Clerk, P.O. Box 489, Montpelier, VT 05601 or emailed to: <a href="mailto:registrar@ccv.edu" target="_blank">registrar@ccv.edu<span class="sr-only"> (link opens in a new window)</span></a>. <strong>If you get an official transcript in the mail – do not open!</strong></p>
<p>You will also need to study and take Accuplacer Assessments if you do not already have a qualifying college English and math class. You may retake each Accuplacer assessment once.</p> 
<ul>
<li>Study for your Accuplacers: <a href="https://practice.accuplacer.org/login" target="_blank">https://practice.accuplacer.org/login<span class="sr-only"> (link opens in a new window)</span></a></li> 
<li>Schedule your Accuplacers: <a href="https://ccv.edu/find/locations/winooski/" target="_blank">https://ccv.edu/find/locations/winooski/<span class="sr-only"> (link opens in a new window)</span></a></li> </ul>
		  
		  
		  <h3>When do I need to apply to VTSU and what are the requirements?</h3>

<p>Info sessions are generally offered in January to provide details about the program, and the application period typically begins in February. Specific deadlines will be announced during these sessions.</p> 

<p>Once you have completed your prerequisite classes with CCV, students must apply and be admitted to VTSU to proceed to LPN.</p> 

<p>Visit <a href="https://connect.vermontstate.edu/apply/" target="_blank">https://connect.vermontstate.edu/apply/<span class="sr-only"> (link opens in a new window)</span></a> and select University of Vermont Medical Center (UVMMC) Site to apply.</p> 

<p><strong>You will need to submit:</strong></p>
<ol>
<li>Official transcripts of any college coursework previously completed.
     <ol type="a">
     <li>3.0 GPA desired for most recent college coursework.</li></ol></li>
<li>3.0 GPA desired for most recent college coursework.</li>
<li>Official high school or GED transcript if you have less than 18 college credits.</li> 
<li>Personal Essay (500 words)</li>
 
     <li>Two Letters of Recommendation
     <ol type="a"><li>Letter of recommendation from your leader.</li>
<li>Letter of recommendation from someone who is not directly related to you.</li></ol></li>
<li>Accuplacer scores
<ol type="a"><li>Math (QRAS) = 243 or higher</li>
	<li>English (Writing and Reading) = 261 or higher</li></ol></li></ol>
		  
		  <h3>How are the classes paid for?</h3>
		  <p>Steps to securing financial aid:</p>
<ol>
<li><strong>Meet with your VSAC EOC Counselor, Hemant Ghising. To schedule, call 877-961-4369 or 802-654-3793. You will review financial aid options and make a plan based on your academic needs with CCV. Hemant will help you to:</strong>
<ol type="a">
<li>Submit federal and state financial aid applications.</li>
<li>Understand how to pay the balance due for tuition, fees, and textbooks (after federal and state grants awarded).</li> 
<li>Complete the application for the employer funded loan option for employees called Workforce Opportunity Loan Program (WOLP).</li> 
<li>Assist with renewing financial aid applications as you progress through the program from CCV to VTSU for the LPN, AND, and RN years.</li></ol></li> 
<li><strong>Apply for the Workforce Opportunity Loan Program to pay remaining balance after federal and state aid for tuition, fees, and textbooks.</strong> 
<ol type="a"><li>UVMMC will repay the WOLP while you are enrolled and meeting your work agreement.</li> 
<li>If you do not continue with the program or do not meet your work agreement, then the WOLP will be your responsibility to pay back.</li></ol></li> 
<li><strong>Some students choose to also accept federal student loans to assist with living expenses. These loans are the student’s responsibility to repay and are not covered by UVMMC.</strong></li></ol>
		  
		  
		  
		  <h3>Is there a work commitment after I graduate? How long is the agreement and when does it start?</h3>
<p>You will sign an Employment Agreement with UVMMC if you are accepted into the LNA to RN Pathway Program. The agreement lasts 3 years and is in effect after successful completion of NCLEX-RN.</p>
<h3>What unit do I complete my work agreement on?</h3>
<p>The unit you are hired into at your start of the LNA to RN Pathway Program.</p>
<h3>What if I want to move between units once I’m an RN?</h3>
<p>We encourage you to stay with the unit that has invested in your growth and supported you through this Program, but you are able to work with your leaders to move units if an opportunity arises.</p>
	  </div>
      </div>
    </section>
	

	
	<section class="pathways-contact">
	  <div class="inner">
	  <h2>Questions?</h2>
	  <p><strong>Please contact:</strong> Betsy Hassan, Director, UVMMC Nursing Education &#38; Professional Development – <a href="mailto:betsy.hassan@uvmhealth.org" target="_blank">betsy.hassan@uvmhealth.org
<span class="sr-only"> (link opens in a new window)</span></a>
</p></div>
	  
	  </section>	  
	  
	  	  
  </div>
  <!-- InstanceEndEditable -->
<!-- ---- TALENT NETWORK AREA SUB PAGE ---- -->
  
 <section class="talent-main" aria-label="Join University of Vermont Health Talent Network.">
  <div class="inner table">
    <div class="row">
      <div class="cell table-text">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with University of Vermont Health and receive alerts with new job opportunities and news relative to your interests</p>
		  <div id="talentbtn"><a href="{% url 'subscriptions' %}" class="button" id="viewjobsbtns" aria-label="Join University of Vermont Health's Talent Community">Sign Up Now</a></div>
      </div>
      <div class="cell image"></div>
    </div>
  </div>
</section>
 
	
	
	<!-- ---- SHARE THIS SUB PAGE ---- -->
  
<div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This Page</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
   <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
  
	
	<!-- ---- CONTACT ROW ---- -->
	<div class="contact-row">
	<div class="inner">
	  	  <div class="phone-numbers">Connect With Us</div>
	  <div class="social-icons">
		<ul>			
		<li><a class="youtube" href="https://www.youtube.com/channel/UCXenKlAK5l7lEr8hrH6pmZQ" target="_blank" aria-label="Follow Us On YouTube (opens in a new window)"></a></li>
		<li><a class="linked" href="https://www.linkedin.com/company/8821879" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a></li>
	    </ul>
		</div>
    </div>
  </div>
	
	</main>

<!------------------------  FOOTER --------------------------- -->

<footer>
  <div class="inner">
    <div class="footer-top">
     <div class="address">
			<strong><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;University of Vermont Health</strong>
			462 Shelburne Road<br />
			Burlington, Vermont 05401<br />
			844-UVM-Health (886-4325)</div
		>
      <div class="eoe">University of Vermont Health is an integrated academic health system that serves more than one million residents across Vermont and Northern New York. We are working to preserve access to care for our families, friends and communities while also innovating to change the way that care is delivered to focus on wellness as much as illness and to control costs.<p>We provide a workplace that practices non-discrimination and equal opportunity. All qualified persons, regardless of age, race, skin color, sex, sexual orientation, gender identity or expression, ethnicity, color, place of birth, HIV status, national origin, religion, marital status, language, socioeconomic status, physical or mental disability, protected veteran status or obligation for service in the armed forces, or any other characteristic protected by law, are offered equal employment opportunities.</p></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"> <a href="https://www.uvmhealth.org/"  target="_blank" class="logo" alt="University of Vermont Health home"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <ul class="footer-nav">
        <li> <a href="https://www.uvmhealth.org/contact-us" target="_blank">Contact Us<span class="sr-only"> (link opens in a new window)</span> </a> </li>
        <li> <a href="https://www.uvmhealth.org/privacy-policy" target="_blank">Privacy Policy<span class="sr-only"> (link opens in a new window)</span> </a> </li>
      </ul>
    </div>
  </div>
</footer>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>