<!doctype html>
<html>
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Nursing and CNA Jobs in Concord, MA | Emerson Hospital</title>
<meta name="description" content="Apply online for jobs at Emerson Hospital in Concord. At Emerson Hospital, we know the real difference in our care is what you bring to it. Apply online today.">
<link rel="canonical" href="https://jobs.emersonhospital.org/" />
<!-- Google -->
<meta itemprop="image" content="https://jobs.emersonhospital.org/static/sites/www/files/images/share-this/social-image.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image:src" content="https://jobs.emersonhospital.org/static/sites/www/files/images/share-this/social-twitter-image.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:image" content="https://jobs.emersonhospital.org/static/sites/www/files/images/share-this/social-image.jpg">
<!-- Open Graph (LinkedIn) -->
<meta itemprop="image" content="https://jobs.emersonhospital.org/static/sites/www/files/images/share-this/social-image.jpg">
	
<!-- icons -->
<link rel="icon" sizes="16x16 32x32 48x48" href="/static/sites/www/files/images/favicon.ico">
<link rel="icon" sizes="192x192" type="image/png" href="/static/sites/www/files/images/favicon-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" type="image/png"  href="/static/sites/www/files/images/touch-icon-180x180.png">
	
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "https://jobs.emersonhospital.org/#org",
  "name": "Emerson Hospital",
  "url": "https://jobs.emersonhospital.org/",
  "logo": {
	"@type": "ImageObject",
	"url": "https://jobs.emersonhospital.org/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
  },
  "image": "https://jobs.emersonhospital.org/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
  "address": {
	"@type": "PostalAddress",
	"streetAddress": "133 Old Rd to 9 Acre Corner",
	"addressLocality": "Concord",
	"addressRegion": "MA",
	"postalCode": "01742",
	"addressCountry": "US"
  },
  "contactPoint": [{
	"@type": "ContactPoint",
	"telephone": "+1-978-369-1400",
	"contactType": "customer service",
	"areaServed": "US",
	"availableLanguage": ["English"]
  }],
  "sameAs": [
	"https://www.linkedin.com/company/emerson-hospital",
	"https://www.facebook.com/EmersonHospital/",
	"https://twitter.com/EmersonHospital"
  ]
}
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8LZX26');</script>
<!-- End Google Tag Manager -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;600&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.typekit.net/ecs2ovi.css">

<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link href="files/styles/p7PM3-01.css" rel="stylesheet" type="text/css">
<link href="files/styles/p7SOM-Core.css" rel="stylesheet" type="text/css" media="all">
<link href="files/styles/p7SOM-01.css" rel="stylesheet" type="text/css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.3.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/p7SOMscripts.js"></script>
<script type="text/javascript" src="files/js/p7PM3scripts.js"></script>
<script type="text/javascript" src="files/js/rollover.js"></script>
<script type="text/javascript" src="files/js/accordion.js"></script>
<script type="text/javascript" src="files/js/show-hide-2.js"></script>


<!--[if lt IE 9]>
	<script src="files/js/html5shiv.js"></script>
	<script src="files/js/respond.min.js"></script>
	<script src='files/js/modernizr.min.js'</script>
	<script src='files/js/placeholder.js'</script>
	<![endif]-->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-925D0BYD5P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-925D0BYD5P');
	</script>

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8LZX26"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	
<div id="mainContainer">
<header>
 <div class="top-nav">
	<!-- MOBILE NAV -->
   <div class="mobile-nav">
<div id="p7SOM_1" class="p7SOM-01 p7SOM p7SOMnoscript som-from-left">
          <div id="p7SOMtb_1" class="p7SOM-01 som-toolbar p7SOMnoscript som-top-right"><a href="#p7SOM_1" title="Hide/Show Menu">&equiv;</a></div>
          <ul>
            <li class="som-header-bar"><span id="p7SOMhd_1" class="som-header"></span></li>
            <li><a href="/">CAREERS</a></li>
            <li><a href="benefits.html">BENEFITS</a></li>
			<li><a href="https://emersonhealth.org/pay-a-bill/?">Pay A Bill</a></li>
			<li><a href="https://www.emersonhospital.org/patients-visitors/patient-portals">Patient Portals</a></li>
            <li><a href="https://www.emersonhospital.org/find-a-doctor">Find A Doctor</a></li>
			<li><a href="https://www.emersonhospital.org/clinical-services">Clinical Services</a></li>
			<li><a href="https://www.emersonhospital.org/locations">Locations</a></li>
			<li><a href="https://www.emersonhospital.org/patients-visitors">Patients & Visitors</a></li>
			<li><a href="https://www.emersonhospital.org/contact-us">Contact Us</a></li>
			<li><a href="https://www.emersonhospital.org/">Emerson Hospital</a></li>
            <li><a href="https://www.emersonhospital.org/clinical-services">Emerson Urgent Care</a></li>
            <li><a href="https://www.emersonhospital.org/community-programs/support-groups">Emerson Wellness</a></li>
          </ul>
          <script type="text/javascript">P7_SOMop('p7SOM_1',3000,1,1,600,1,1,1,1,400,0,0,0)</script> 
        </div>
   </div>
  <div class="top-nav-inner clearfix">
   <div class="top-nav-inner-left">
    <nav>
     <ul>
      <li> <a href="https://www.emersonhospital.org/"  target="_blank">Emerson Hospital</a> </li>
      <li> <a href="http://www.emersonhospital.org/MedServicesAndCenters.aspx" target="_blank">Emerson Urgent Care</a> </li>
      <li> <a href="https://www.emersonhospital.org/community-programs/support-groups" target="_blank">Emerson Wellness</a> </li>
     </ul>
    </nav>
   </div>
   <div class="top-nav-inner-right">
    <nav>
     <ul>
      <li  class="active"> <a href="/" target="_blank">Careers</a> </li>
      <li> <a href="benefits.html">Benefits</a> </li>
      <li> <a href="https://emersonhealth.org/pay-a-bill/?" target="_blank">Pay A Bill</a> </li>
      <li> <a href="https://www.emersonhospital.org/patients-visitors/patient-portals" target="_blank">Patient Portals</a> </li>
     </ul>
    </nav>
   </div>

  </div>
	   
 </div>
 <div class="middle-nav">
  <div class="middle-nav-inner clearfix">
   <div class="middle-nav-inner-left"><a href="http://www.emersonhospital.org/" target="_blank"> <img src="files/images/global/eh_h_pos_clr_rgb_220406.png" width="220" height="67" alt="Emerson Hospital logo" class="scalable"/> </a></div>
   <div class="middle-nav-inner-right">
    <ul>
     <li><a href="https://www.emersonhospital.org/find-a-doctor" target="_blank">Find A Doctor</a></li>
     <li><a href="https://www.emersonhospital.org/clinical-services" target="_blank">Clinical Services</a></li>
     <li><a href="https://www.emersonhospital.org/locations" target="_blank">Locations</a></li>
     <li><a href="https://www.emersonhospital.org/patients-visitors" target="_blank">Patients & Visitors</a></li>
     <li><a href="https://www.emersonhospital.org/contact-us" target="_blank">Contact Us</a></li>
    </ul>
   </div>
  </div>
 </div>

</header>
<div class="banner-mainpg">
  <div class="inner">
    <div class="banner-mainpg-image"><img src="files/images/main/main-graphic.jpg" width="1182" height="806" alt="" class="scalable"/></div>

<div class="banner-mainpg-txt"><h2>The difference <br>
is you.</h2></div>
  </div>
</div>

 <div id="content">
  <div class="content-search-bar-holder">
   <div class="content-row1 clearfix"> {% include 'includes/search_options.html' %} </div>
  </div>
  

	 
 <!-- ---- BUILDING  Section START---- --> 
<section class="building-area" id="building-section">
			<div>
			  <h2>Welcome Home to a Nursing Career Designed For You.</h2>
				<p><a href="https://emersonhospitalnursingcareers.org/" target="_blank">&nbsp;Learn more about our RN careers</a></p>
	</div>
			<div class="fade-in-image"></div>
			

	    </section>
	 
    <section class="icons-front">
	  <div class="inner">
	  <h2>Your insight. Your talent. Your confidence. Your touch.</h2>
	  <p>At Emerson Hospital, we know the real difference in our care is what you bring to it.</p>
	  <div class="icons-holder">
	   <ul>
				<li>
					<a href="https://pm.healthcaresource.com/cs/emerson#/signIn" target="_blank">
						<div class="icon"></div>
						<span>Previous Applicants</span>
					</a>
				</li>
				<li>
					<a href="benefits.html">
						<div class="icon"></div>
						<span>Benefits</span>
					</a>
				</li>
				<li>
					<a href="{% url 'subscriptions' %}">
						<div class="icon"></div>
						<span>Join Our Talent Community</span>
					</a>
				</li>
					<li>
					<a href="https://www.linkedin.com/company/emerson-hospital/about/" target="_blank">
						<div class="icon"></div>
						<span>Follow Us On LinkedIn</span>
					</a>
				</li>
			</ul>
      </div>
      </div>
    </section>
	

  
<div class="main-content-row3 clearfix">
   <div class="featuredjobs-holder"><div class="heading5">Featured Jobs</div>
    <div class="content-row3-col1-featured-jobs-row">
		{% load job_tags %}
		{% featured_jobs %}
		
		{% comment %}
		
	<p class="odd">
            <a href="/job/recruiter-professional-management-emerson-hospital-1267/" rel="nofollow">
                <span style="font-weight: bold;">Recruiter</span>
                -
                

Concord, MA


            </a>
            <br>
            <span>
                Reporting to the Director of Human Resources, performs recruitment for specific positions of internal and external candidates and guides managers through the recruitment process. Develops resources to meet employment objectives by formulating and implementing long and short-term goals and strategies ...
            </span>
        </p>
    
        <p class="even">
            <a href="/job/registered-nurse-rn-medical-surgical-adult-pedi-unit-nursing-emerson-hospital-1212/" rel="nofollow">
                <span style="font-weight: bold;">Registered Nurse (RN)  Medical Surgical Adult/Pedi Unit</span>
                -
                

Concord, MA


            </a>
            <br>
            <span>
                Job SummaryReporting to the Director, Medical Surgical Services, responsible for utilizing the nursing process to provide comprehensive care appropriate to the age of the patients served in the Medical Surgical Adult Pediatric ...
            </span>
        </p>
    
        <p class="odd">
            <a href="/job/patient-care-technician-cna-nursing-assistant-emerson-hospital-1387/" rel="nofollow">
                <span style="font-weight: bold;">Patient Care Technician</span>
                -
                

Concord, MA


            </a>
            <br>
            <span>
                Job SummaryProvides assistance with nursing care of patients as needed under the direction and supervision of licensed nursing personnel. Nursing care is provided in accordance with the stated philosophy and standards established ...
            </span>
        </p>
    
        <p class="even">
            <a href="/job/group-leader-environmental-services-housekeeping-emerson-hospital-1211/" rel="nofollow">
                <span style="font-weight: bold;">Group Leader - Environmental Services</span>
                -
                

Concord, MA


            </a>
            <br>
            <span>
                Job SummaryUnder general supervision from the Director of Environmental Services and/or Environmental Services Supervisors, the Group Leader assists in maintaining a neat, safe, orderly, and sanitary environment for patients, visitors and staff ...
            </span>
        </p>
		
		{% endcomment %}
	   
	</div></div>
  </div>
  
   <div class="video-main">
    <div class="inner">
	<div class="video-txt"><h2>Working at Emerson Hospital</h2>
	<h3>Join Us.</h3></div>
	
	 <div class="video-holder">

          <div class="video-responsive">
<iframe src="https://player.vimeo.com/video/720363844?h=c6e2180705&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Recruitment Video"></iframe>
</div>
        </div>
	
	</div>
  </div>
  
  <section class="quote-slider">
		<div class="inner">
			<h2>What Our Employees Have To Say</h2>
			<ul id="quote-slider" class="quote-carousel">
			 <div class="circle-shape"><img src="files/images/global/shapes-02.svg" alt=""/></div>
				<li id="quote1" class="quote-slide">
					<div class="photograph">
					 
					</div>
					<div class="copy">
						<span class="quote">
							“I love working in healthcare because I enjoy the impact I am able to make on my patients’ lives. Being with someone who is at their most vulnerable and being able to provide care that will promote a beneficial outcome is incredibly rewarding.”
						</span>
						<span class="name">
							<strong>Christine C.</strong>, RN, BSN, MSNHCA, CNOR, Operating Room Manager
						</span>
					</div>
				</li>
				<li id="quote2" class="quote-slide">
					<div class="photograph">
					</div>
					<div class="copy">
						<span class="quote">
							“Working as a pediatric physical therapist is such a rewarding career. I love helping kids of all ages learn new skills or recover from injury. It is amazing to see them take the skills gained in PT and go on to conquer even harder skills and challenges. It is so gratifying to make a difference in the life of a child.”
						</span>
						<span class="name">
							<strong>Hannah M.</strong>, PT, DPT
						</span>
					</div>
				</li>
				<li id="quote3" class="quote-slide">
					<div class="photograph">
					</div>
					<div class="copy">
						<span class="quote">
							“I love working at Emerson because I always feel appreciated and respected.”
						</span>
						<span class="name">
							<strong>Silvia O.N.</strong>, Meal Service Representative
						</span>
					</div>
				</li>
				<li id="quote5" class="quote-slide">
					<div class="photograph">
					</div>
					<div class="copy">
						<span class="quote">
							“I love working at Emerson because I always feel welcome and part of a team. It is a very friendly and clean environment, and the staff is kind. Emerson brings out the best in me and gives me opportunities to grow.”
						</span>
						<span class="name">
							<strong>Yerina D.</strong>, Group Leader, Environmental Services
						</span>
					</div>
				</li>
			</ul>
		<ul class="prev-next">
			<li>
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			</li>
			<li>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
			</li>
		</ul>
		<ul class="lower-controls" aria-controls="#quote-slider">
			<li>
				<a class="dot" onclick="currentSlide(1)">
					<span class="sr-only">Slide 1 of 4</span>
				</a>
			</li>
			<li>
				<a class="dot" onclick="currentSlide(2)">
					<span class="sr-only">Slide 2 of 4</span>
				</a>
			</li>
			<li>
				<a class="dot" onclick="currentSlide(3)">
					<span class="sr-only">Slide 3 of 4</span>
				</a>
			</li>
			<li>
				<a class="dot" onclick="currentSlide(4)">
					<span class="sr-only">Slide 4 of 4</span>
				</a>
			</li>
		</ul>
			
			<script>
				var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("quote-slide");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].className = slides[i].className.replace(" live", "");
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].className += " live"; 
  dots[slideIndex-1].className += " active";
}
			</script>
			
		</div>
	</section>
  
 </div>
 <footer>
 <div class="footer-top-area">
   <div class="inner">
     <div class="footer-logo-new">
	 <a href="https://www.emersonhospital.org/" target="_blank"><img src="files/images/global/eh_h_pos_clr_rgb_220406.png" width="2501" height="758" alt="Emerson Hospital logo" class="scalable"/></a>
<h2>133 Old Road to Nine Acre Corner <br>
        Concord, MA 01742</h2>
	 </div>
	 <div class="footer-phone-numbers">
	   <div class="phone-numbers-new">Main: <a class="phone-number" href="tel:1-978-369-1400">1-978-369-1400</a></div>
	   <div class="phone-numbers-new">TTY: <a class="phone-number" href="tel:1-978-369-1400">1-978-369-1400</a></div>
     </div>
	 <div class="footer-links">
	 <ul class="links">
	 <li><a href="https://www.emersonhospital.org/about-emerson" target="_blank">About Emerson</a></li>
	  <li><a href="https://www.emersonhospital.org/community-programs" target="_blank">Community Programs</a></li>
	   <li><a href="https://www.emersonhospital.org/patients-visitors/support-emerson" target="_blank">Support Emerson</a></li>
	 <li><a href="/">Careers</a></li>
	 <!--<li><a href="#" target="_blank">For Physicians</a></li>-->
	 </ul>
	 </div>
   </div>
 </div>
 
 <div class="footer-btm-area">
   <div class="inner">
     <div class="eoe-new">Emerson Hospital is committed as a matter of policy and in accordance with all applicable laws to equal employment opportunity and a work environment free of discrimination or harassment for all employees and qualified applicants, without regard to race, color, religion, creed, national origin, sex, sexual orientation, age, ancestry, disability or any other characteristic protected by law.</div>
	 <div class="legal-new">
	   <div class="copyright-new">
	   © 
     <script>document.write(new Date().getFullYear())</script> 
    Emerson Hospital. All Rights Reserved. 
	   </div>
	   <div class="legal-links-new">
	   <ul>
	   <li><a href="https://www.emersonhospital.org/about-emerson/disclaimer" target="_blank">Disclaimer</a></li>
	   <li><a href="https://www.emersonhospital.org/patients-visitors/patient-rights-responsibilities/patient-privacy" target="_blank">Notice of Privacy Practices</a></li>
	   </ul></div>
	   
	   <div class="social-media-new">
	   <ul>
	    <a href="https://twitter.com/EmersonHospital" target="_blank"><li><img src="files/images/global/social-media-icons/twitter.svg" alt="" class="scalable"/></li></a>
	   <a href="https://www.facebook.com/EmersonHealth/" target="_blank"><li><img src="files/images/global/social-media-icons/facebook.svg" alt="" class="scalable"/></li></a>
	   <a href="https://www.instagram.com/emersonhealth/?hl=en" target="_blank"><li><img src="files/images/global/social-media-icons/instagram-logo.svg" alt="" class="scalable"/></li></a>
	   <a href="https://www.youtube.com/user/emersonhospital" target="_blank"><li><img src="files/images/global/social-media-icons/youtube-play-icon.svg" alt="" class="scalable"/></li></a>
	   </ul>
	   </div>
     </div>
   </div>
 </div>
 </footer>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('.show_hide').showHide({
			speed: 200,  // speed you want the toggle to happen
			easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
			changeText: 0, // if you dont want the button text to change, set this to 0
			showText: 'View',// the button text to show when a div is closed
			hideText: 'Close' // the button text to show when a div is open
		});
	});
</script>

<!--Emerson LinkedIn Insight Tag-->
<script type="text/javascript">
_linkedin_partner_id = "4003257";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(l) {
if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
window.lintrk.q=[]}
var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})(window.lintrk);
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4003257&fmt=gif" />
</noscript>
	
</body>
</html>