/*------ Location-- Primary Care Group & Specialty PhysicianGroup & Corporate page ------*/
@media only screen and (max-width: 1550px) {
.career-areas h2 {
    font-size: 3vw;
    line-height: 1.1em;
  }
}
@media only screen and (max-width: 1450px) {
    .pcg-content.pcg2 .photo{
         padding-top: 22%;
      padding-bottom: 22%;
    }
    .spg-content.spg1 .photo, .hmc-content.hmc1 .photo, .hmc-content.hmc2 .photo{
      padding-top: 15%;
      padding-bottom: 15%;
    }
}
@media only screen and (max-width: 1350px) {
    .spg-content.spg1 .photo{
        padding-top: 18%;
        padding-bottom: 18%;
    }
    .spg-content.spg2 .photo{
        padding-top: 15%;
        padding-bottom: 15%;
    }
}
@media only screen and (max-width: 1310px) {
    .pcg-content.pcg2 .photo{
         padding-top: 25%;
      padding-bottom: 25%;
    }
    .hmc-content.hmc1 .photo, .hmc-content.hmc2 .photo{
      padding-top: 18%;
      padding-bottom: 18%;
    }
}
@media only screen and (max-width: 1250px) {
    .pcg-content.pcg2 .photo{
         padding-top: 28%;
      padding-bottom: 28%;
    }
}
@media only screen and (max-width: 1150px) {
    .hmc-content.hmc1 .photo, .hmc-content.hmc2 .photo{
      padding-top: 22%;
      padding-bottom: 22%;
    }
}
@media only screen and (max-width: 1110px){
    .pcg-content.pcg2 .photo{
         padding-top: 32%;
      padding-bottom: 32%;
    }
    .spg-content.spg1 .photo{
        padding-top: 22%;
        padding-bottom: 22%;
    }
     .spg-content.spg2 .photo{
        padding-top: 18%;
        padding-bottom: 18%;
    }
}
@media only screen and (max-width: 1060px) {
    .pcg-content.pcg2 .photo{
         padding-top: 40%;
      padding-bottom: 40%;
        background-position: 75%;
    }
    .sustainability .row{
        flex-direction: column;
    }
    .sustainability .first-row .image-column, .sustainability .second-row .image-column{
        padding: 30%;
    }
    .sustainability .inner-wrap{
        padding: 5% 50px;
    }
}
@media only screen and (max-width: 1020px) {
   .hmc-content.hmc2 .photo{
      padding-top: 25%;
      padding-bottom: 25%;
    }
}
@media only screen and (max-width: 980px) {
    .spg-content.spg1 .photo{
        padding-top: 26%;
        padding-bottom: 26%;
    }
     .spg-content.spg2 .photo{
        padding-top: 21%;
        padding-bottom: 21%;
    }
   .hmc-content.hmc1 .photo{
      padding-top: 25%;
      padding-bottom: 25%;
    }
    .hmc-content.hmc2 .photo{
        background-position: center;
        padding-top: 33%;
    }
}
@media screen and (max-width: 900px) {
  .pcg-content .inner, .spg-content .inner, .hmc-content .inner {
    flex-direction: column-reverse;
  }
  .pcg-content.pcg2 .inner, .spg-content.spg2 .inner, .hmc-content.hmc2 .inner {
    flex-direction: column;
  }
  .pcg-content.pcg1 .photo, .pcg-content.pcg2 .photo {
    width: 100%;
    margin-top: 30px;
    padding: 25%;
  }
    .pcg-content.pcg2 .photo{
        margin-top: 0;
    }
  .pcg-content .inner .inner-wrap, .spg-content .inner .inner-wrap, .hmc-content .inner .inner-wrap {
    width: 80%;
    padding: 50px;
  }
  .spg-content.spg1 .photo, .spg-content.spg2 .photo {
    width: 100%;
    padding: 25%;
  }
  .featured-talent h1 {
    margin-top: 0;
  }
  .hmc-content.hmc1 .photo, .hmc-content.hmc2 .photo {
    width: 100%;
    padding: 25%;
  }
  .career-areas {
    padding: 2em 0px;
  }
  .career-areas li {
    width: 40%;
    padding-bottom: 40%;
    margin: 0px 9px 15px
  }
  .career-areas li:hover .career-areas-label {
    padding: 50% 0;
  }
  #corp-areas.career-areas li {
    width: 40%;
    padding-bottom: 40%;
    margin: 0px 9px 15px
  }
  #corp-areas.career-areas li:hover .career-areas-label {
    padding: 50% 0;
  }
  .career-areas-01 .career-areas-label, .career-areas-05 .career-areas-label, .career-areas-06 .career-areas-label {
    min-height: 0;
    padding: 12px 0px;
  }
  .career-areas h2 {
    font-size: 4vw;
  }
  .career-areas p {
    font-size: 2vw;
  }
  .career-areas h2 {
    font-size: 4vw;
    line-height: 1.1em;
  }
}
@media screen and (max-width: 768px) {
  .pcg-content .inner .inner-wrap, .spg-content .inner .inner-wrap, .hmc-content .inner .inner-wrap {
    padding: 20px;
  }
  .featured-talent {
    display: block
  }
  .featured-talent h1 {
    display: block;
    font-size: 2.5rem;
    margin-top: 0;
  }
  .featured-talent-container {
    flex-direction: column;
  }
  .featured-talent-container .inner {
    display: block;
    width: 100%;
    padding-bottom: 50%;
    background-position: center 15%;
  }
  .featured-talent .inner .copy {
    max-height: 100%;
    background-color: rgba(30, 50, 90, .7215686275)
  }
  .featured-talent .inner .copy h2 {
    font-size: 40px;
  }
    
  .career-areas {
    padding: 2em 0px 1em;
  }
  #corp-areas.career-areas li {
    width: 42%;
    padding-bottom: 42%;
    margin: 0px 9px 15px
  }
  #corp-areas.career-areas li:hover .career-areas-label {
    padding: 50% 0;
  }
     .career-areas ul {
        flex-direction: column;
        align-items: center;
    }
  .career-areas li {
    width: 80%;
    padding-bottom: 80%;
    margin: 0px 9px 25px
  }
  .career-areas li:hover .career-areas-label {
    padding: 50% 0;
  }
  .career-areas-label {
    font-size: 2.5vw;
  }
  .career-areas p {
    font-size: 1.2em;
    margin: 0 auto 30px;
  }
/*  .career-areas-label br {
    display: none;
  }*/
}
@media screen and (max-width: 500px) {
  .pcg-content .inner .inner-wrap, .spg-content .inner .inner-wrap, .hmc-content .inner .inner-wrap {
    width: 90%;
    padding: 30px;
  }
  .pcg-content .inner h3, .spg-content .inner h3, .hmc-content .inner h3 {
    font-size: 24px;
  }
  .pcg-content.pcg2 .inner h3, .spg-content.spg2 .inner h3, .hmc-content.hmc2 .inner h3 {
    font-size: 24px;
  }
  .pcg-content .inner ul, .spg-content .inner ul, .hmc-content .inner ul {
    font-size: 18px;
  }
  .pcg-content .inner p, .spg-content .inner p, .hmc-content .inner p {
    font-size: 18px;
  }
  .featured-talent .inner .copy h2 {
    font-size: 25px;
  }
    .career-areas p {
    font-size: 3.5vw;
    margin: 0 auto 15px;
  }
  .career-areas {
    padding: 20px 0px;
    margin: 0px auto;
  }
  .career-areas li {
    width: 80%;
    padding-bottom: 80%;
    margin: 10px auto;
  }
  .career-areas-label {
    font-size: 4vw;
    letter-spacing: -.0em;
    line-height: 1.1em;
  }
    .career-areas h2 {
    font-size: 6vw;
    line-height: 1em;
  }
  #corp-areas.career-areas li {
    width: 75%;
    padding-bottom: 55%;
    margin: 0px 9px 15px;
    background-position: center top;
  }
  .career-areas li:hover .career-areas-label span {
    top: 65%;
    transform: translateY(-65%);
  }
    .initiatives .inner{
        padding: 20px;
    }
    .initiatives h2{
        font-size: 2em;
    }
}
@media screen and (max-width: 300px) {
    .view-all-jobs .btn{
        white-space: unset !important;
    }
    .ViewJobsBtn:first-of-type{
        margin: 5px;
    }
    .initiatives h2{
        font-size: 1.5em;
    }
}
