<!doctype html>
<html lang="en">
<!--|| {% load job_tags static %} ||-->

<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Nursing and Physician Jobs| Home | Southcoast Health Careers</title>
<meta name="description" content="Apply online for nursing and physician jobs at Southcoast Health. Join our team and help fulfill our promise to deliver exceptional care from people who care." />
<meta name="keywords" content="nursing jobs, physician jobs" />
<link rel="canonical" href="{{ CANONICAL_URL }}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Google
    <meta itemprop="name" content="Careers | Southcoast Health"> -->
<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<!-- Twitter
    <meta name="twitter:title" content="Careers | Southcoast Health"> -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | Southcoast Health"> -->
<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<meta property="og:type" content="website">
<!-- Open Graph (LinkedIn) -->
<meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<meta property="og:description" content="Apply online for nursing and physician jobs at Southcoast Health. Join our team and help fulfill our promise to deliver exceptional care from people who care." />
<meta property="og:url" content="https://www.southcoast.org/careers/" />
<meta property="og:site_name" content="Southcoast Health Careers" />

<!-- icons -->
<link rel="icon" sizes="16x16 32x32 48x48" href="{{ CANONICAL_URL }}/static/sites/www/files/images/favicon.ico">
<link rel="icon" sizes="192x192" type="image/png" href="{{ CANONICAL_URL }}/static/sites/www/files/images/favicon-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" type="image/png"  href="{{ CANONICAL_URL }}/static/sites/www/files/images/touch-icon-180x180.png">
<link rel="stylesheet" href="https://use.typekit.net/odd2qzk.css">
<script src="https://kit.fontawesome.com/5ef61d302c.js" crossorigin="anonymous"></script>
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link href="files/styles/styles-corp.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script> 
<script type="text/javascript" src="files/js/accordion.js"></script> 
<script type="text/javascript" src="files/js/lazysizes.min.js"></script> 
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "@id": "{{ CANONICAL_URL }}",
      "name": "Southcoast Health",
      "url": "{{ CANONICAL_URL }}",
      "logo": {
      "@type": "ImageObject",
      "url": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
      },
      "image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "101 Page Street",
      "addressLocality": "New Bedford",
      "addressRegion": "MA",
      "postalCode": "02740",
      "addressCountry": "US"
      },
      "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+1-508-973-1212",
      "contactType": "customer service",
      "areaServed": "US",
      "availableLanguage": ["English", "Spanish"]
      }],
      "sameAs": [
      "https://www.linkedin.com/company/southcoast-hospitals-group/",
      "https://www.facebook.com/southcoasthealth",
      "https://twitter.com/SouthcoastHlth/",
      "https://www.instagram.com/southcoasthealth",
      "https://www.youtube.com/user/SouthcoastHospitals"
      ]
    }
    </script>
    
<script src="{% static "js/common.js" %}"></script> 
<!--||{% block head %}{% endblock %}||-->
</head>

<body>
<div class="skip-to-content"> <a href="#careerhilites"> Skip to Page Content <span class="sr-only">(will bypass menus and search fields)</span> </a> </div>
<!--------------------------- HEADER -------------------------->

<header>
  <div class="topnavbar">
    <div class="inner">
      <ul class="talenttopnav" >
        <li><a href="https://employees-southcoast.icims.com/jobs/login?loginOnly=1&redirect=&in_iframe=1&sso_connection=hs-13920-saml" target="_blank">Current Employee Job Search<span class="sr-only"> (link opens in a new window)</span></a></li>
		  <li><a href="https://careers-southcoast.icims.com/jobs/login?loginOnly=1&redirect=search&in_iframe=1&hashed=-625911919" target="_blank">Returning Job Seeker<span class="sr-only"> (link opens in a new window)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="header-nav-wrapper">
    <div class="header-inside">
      <div class="header-logo"> <a href="https://www.southcoast.org/" target="_blank" class="logo" alt="Southcoast Health Logo"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <div class="nav-right-top"> <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
        <div class="burger mmmmmm">
          <div class="burger-box">
            <div class="all-the-fixins"> </div>
          </div>
        </div>
        <nav id="hamburger-content" class="hamburger-content">
          <div class="mobile-header clearfix">
            <div class="header-logo"> <a href="https://www.southcoast.org/" target="_blank" class="logo" alt="Southcoast Health Homepage"><span class="sr-only"> (link opens in a new window)</span></a> </div>
            <button id="close-menu">&times;<span class="sr-only">Close Menu</span></button>
          </div>
          <ul class="nav-top">
            <li><a href="index.html">Careers Home</a> </li>
            <li id="culturedd"> 
              <!--- Secondary nav level (Career Highlights) --->
              <button href="#culture" aria-controls="#culture" aria-expanded="false" target="_blank" class="hamburger-title-2">Career Highlights<span class="sr-only"> (link opens in a new window)</span></button>
              <ul id="culture" class="hamburger-content-2">
                <li><a href="nursing.html">Nursing</a></li>
                <li><a href="providers.html">Providers</a></li>
				<li><a href="/jobs/leadership/">Leadership</a></li>
                <li><a href="/jobs/allied-health/">Allied Health</a></li>
               	<li><a href="mtm-staffing.html">MTM Staffing</a></li>
				<li><a href="same-day-surgiclinic.html">Same Day SurgiClinic</a></li>
              </ul>
              <!--- Secondary nav level (Career Highlights) end ---> 
            </li>
            <li><a href="benefits.html">Benefits</a> </li>
            <li><a href="community.html">Community</a></li>
            <li><a href="https://www.southcoast.org/community/belonging-at-southcoast-health/" title="link to Belonging" target="_blank">Belonging</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<main> 
  
  <!-- ---- BANNER AREA MAIN PAGE ---- -->
  
  <div class="hero-main-block show-breadcrumbs" id="mainpg-banner">
    <div class="background"></div>
    <div class="container"> 
      <!--
      <div class="breadcrumbsWrapper desktop-breadcrumbs">
        <p id="breadcrumbs"><span><span><a class="breadcrumb_home" href="https://heart.southcoast.org/"><i class="fas fa-home" style="font-weight:400" aria-hidden="true"></i></a></span> <i class="fa-solid fa-chevron-right" aria-hidden="true"></i> <span><a href="https://heart.southcoast.org/treatment-and-services/">Treatment and Services</a></span> <i class="fa-solid fa-chevron-right" aria-hidden="true"></i> <span class="breadcrumb_last" aria-current="page">Advanced Cardiac Surgery</span></span></p>
      </div>
      <div class="breadcrumbsWrapper mobile-breadcrumbs">
        <p id="mobile-breadcrumbs"><span><span><a href="https://heart.southcoast.org"><i class="far fa-home" aria-hidden="true"></i></a></span> <i class="fa-solid fa-chevron-right separator" aria-hidden="true"></i> <span><a href="https://heart.southcoast.org/treatment-and-services/">Treatment and Services</a></span></span></p>
      </div>
-->
      <div class="grid">
        <div class="col-bleed-y">
          <div class="inner-wrap">
            <div class="content-col">
              <h1>Community Focused. Care Driven.</h1>
              <h2>Southcoast Health Careers</h2>
              <div class="copy-wrap ">
                <p>Southcoast Health is a not-for-profit, charitable health system with multiple hospitals, clinics and facilities throughout Southeastern Massachusetts and Rhode Island. Nestled within local communities, Southcoast Health provides inclusive, ethical workplaces where our highly skilled caregivers offer world-class, comprehensive healthcare close to home. Join Southcoast Health, where your future is as promising as the care we provide. Our commitment to each other, our patients and our community is more than a mission - it’s our way of life, and you’ll be at the heart of it.</p>
              </div>
            </div>
            <div class="video-holder" id="mainheadervideo">
              <div class="video-responsive">
               <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1106603182?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Unity in the Community"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!------------------------  CONTENT --------------------------- -->
  
  <section class="horizontal-search-bar search front-page-search">
    <div class="inner">
      <button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Job Opportunities</button>
      
      <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||--> 
      
      <!--||{% comment %}||-->
      <form id="search-form" method="get">
        <ul class="search-content" id="search-content">
          <li>
            <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
            <label for="" class="sr-only">Search by Keyword</label>
            <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
          </li>
          <li>
            <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false"> Search Jobs by Category </button>
            <ul class="search-content2" id="category-search">
              <li class="accordion-link active"> <a class="accordion-link search_link" href="/jobs/">Search All Categories</a> </li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 01</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 02</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 03</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 04</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 05</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 06</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 07</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 08</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 09</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 10</a></li>
              <li class="accordion-link"><a class="accordion-link search_link" href="#">Category 11</a></li>
            </ul>
          </li>
          <li>
            <button class="search-accordion-button" href="#location-search" aria-controls="#location-search" aria-expanded="false"> Search Jobs by Location </button>
            <ul class="search-content2" id="location-search">
              <li class="accordion-link active"> <a class="accordion-link search_link" href="#">Search All Locations</a> </li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">(All)</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;Dartmouth&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;Fairhaven&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;Fall River&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;Lakeville&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;New Bedford&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;Swansea&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;Taunton&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;Wareham&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">MA&nbsp;Westport&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">RI&nbsp;Middletown&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">RI&nbsp;Portsmouth&nbsp;US</a></li>
              <li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">RI&nbsp;Providence&nbsp;US</a></li>
            </ul>
          </li>
          <li>
            <div class="zip-search">
              <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
              <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                <optgroup>
                <option value="10">10 Miles</option>
                <option value="25" selected="">25 Miles</option>
                <option value="50">50 Miles</option>
                <option value="100">100 Miles</option>
                </optgroup>
              </select>
              <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn"> <span class="sr-only"> Submit Zip Code and Radius Search</span> </a> </div>
          </li>
          <li> <a href="/jobs/" class="advanced-button">Advanced Job Search</a> </li>
        </ul>
      </form>
      <!--||{% endcomment %}||--> 
      
    </div>
  </section>
  <section class="employee-jobsrch-section">
    <div class="inner">
      <div class="employee-jobsrch-header">
        <h2>Current employees, find new opportunities and remain a part of the Southcoast Health Family.</h2>
      </div>
      <div class="employjbsrch-btn"><a href="https://employees-southcoast.icims.com/jobs/login?loginOnly=1&redirect=&in_iframe=1&sso_connection=hs-13920-saml" target="_blank">Employee Job Search<span class="sr-only"> (link opens in a new window)</span></a></div>
    </div>
  </section>
  
  <!--Career Highlights (Start)-->
  <section class="global-full-width" id="careerhilites">
    <h2>Career Highlights</h2>
    <div class="inner">
      <div class="careerhilite-holder">
        <div class="photo" id="hilitenursing"></div>
        <h3><a href="nursing.html">Nursing</a></h3>
      </div>
      <div class="careerhilite-holder">
        <div class="photo" id="hiliteproviders"></div>
        <h3><a href="providers.html">Providers</a></h3>
      </div>
      <div class="careerhilite-holder">
        <div class="photo" id="hiliteleader"></div>
        <h3><a href="/jobs/leadership/">Leadership</a></h3>
      </div>
		<div class="careerhilite-holder">
        <div class="photo" id="hilitealliedhlth"></div>
        <h3><a href="/jobs/allied-health/">Allied Health</a></h3>
      </div>
    </div>
  </section>
  <!--Career Highlights Area (End)--> 
  
  <!--By The Numbers (Start)-->
  <section class="global-full-width" id="bythenumbers">
    <h2><strong>Southcoast Health</strong> By The Numbers</h2>
    <div class="inner">
      <div class="bythenumbers-holder">
        <div class="photo"><img src="files/images/main/icons/calendar.svg" alt="" class="scalable"/></div>
        <div class="copy">
          <h3><strong>365</strong> Years</h3>
          <p>of Hospital’s Collective Continuous Service</p>
        </div>
      </div>
      <div class="bythenumbers-holder">
        <div class="photo"> <img src="files/images/main/icons/money.svg" alt="" class="scalable"/></div>
        <div class="copy">
          <h3><strong>$1.6B</strong> in Net Revenue</h3>
       <p>Reinvesting in the South Coast</p> </div>
      </div>
      <div class="bythenumbers-holder">
        <div class="photo"> <img src="files/images/main/icons/globe.svg" alt="" class="scalable"/></div>
        <div class="copy">
          <h3><strong>1000</strong> Square Miles</h3>
          <p>Service Area across Southern MA &#38; East Bay, RI</p>
        </div>
      </div>
      <div class="bythenumbers-holder">
        <div class="photo"> <img src="files/images/main/icons/employee.svg" alt="" class="scalable"/></div>
        <div class="copy">
          <h3><strong>8,600+</strong> Employees</h3>
          <p>Doctors, Nurses, Social Workers, Drivers and more</p>
        </div>
      </div>
      <div class="bythenumbers-holder">
        <div class="photo"> <img src="files/images/main/icons/award.svg" alt="" class="scalable"/></div>
        <div class="copy">
          <h3><strong>TOP 10%</strong> of USA Hospitals</h3>
          <p>Newsweek World's Best Hospital for Seven Years in a row (2019-2025)</p>
         
        </div>
      </div>
    </div>
  </section>
  <!--By The Numbers Area (End)--> 
  
  <!--Community Main Pg (Start)-->
  <section class="global-full-width" id="community">
    <div class="inner">
      <div class="photo"> <span class="background-image" role="img"></span> </div>
      <div class="copy">
        <h2>Life on the South Coast</h2>
        <p>As a New England community, we offer we offer proximity to the ocean, mountains and plenty of sites and activities to explore. Southcoast Health resides within a tight-knit community offering the ideal work-life balance and an optimal place to raise a family.</p>
        <div class="callout-global-btn"><a href="community.html">Learn More</a></div>
      </div>
    </div>
  </section>
  <!--Community Main Pg  (End)--> 
  
  <!-- ---- FEATURED JOBS Section ---- -->
  <section class="featured-jobs-front" id="featured-front">
    <h2 id="featured-jobs-top">Featured Jobs</h2>
    <div class="featured-jobs-bottom"> 
      
      <!--||{% featured_jobs %}||--> 
      
      <!--||{% comment %}||-->
      <div> <a href="#">
        <h4>Occupational Therapist-Outpatient</h4>
        </a> <span>US-MA-New Bedford</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis mi quis nulla vehicula, et laoreet mauris luctus. Nullam aliquet sem ut eleifend facilisis. Mauris porttitor, est sed tincidunt dapibus, purus mauris finibus mi ...</p>
      </div>
      <div> <a href="#">
        <h4>Patient Care Representative - Occupational Health</h4>
        </a> <span>US-MA-Dartmouth</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis mi quis nulla vehicula, et laoreet mauris luctus. Nullam aliquet sem ut eleifend facilisis. Mauris porttitor, est sed tincidunt dapibus, purus mauris finibus mi ...</p>
      </div>
      <div> <a href="#">
        <h4>RN In-Patient Oncology/Palliative</h4>
        </a> <span>US-MA-Fall River</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis mi quis nulla vehicula, et laoreet mauris luctus. Nullam aliquet sem ut eleifend facilisis. Mauris porttitor, est sed tincidunt dapibus, purus mauris finibus mi ...</p>
      </div>
      <!--||{% endcomment %}||--> 
      
    </div>
  </section>
  
  <!--Awards & Achievements Area (Start)-->
  <section class="awards-main">
    <h2>Awards &#38; Achievements</h2>
    <div class="inner">
		<div><img src="files/images/main/awards/usnews-award.png" width="310" height="400" alt="U.S.News Best Regional Hospitals – Providence Metro Recognized in 8 Types of Care (2025-2026)" class="scalable"></div>
      <div><img src="files/images/main/awards/newsweek-worlds-best-hosp-award.png" width="310" height="400" alt="Newsweek – World's Best Hospitals (2019-2025)" class="scalable"></div>
      <div><img src="files/images/main/awards/newsweek-worlds-best-infect-award.png" width="310" height="400" alt="Newsweek – World's Best Hospitals Infection Prevention (2025)" class="scalable"></div>
		 
      <div><img src="files/images/main/awards/newsweek-diversity-award.png" width="310" height="400" alt="Newsweek – America's Greatest Workplaces for Diversity  (2024)" class="scalable"></div>
      <div><img src="files/images/main/awards/choice-winner-2024-award.png" width="310" height="400" alt="The Official Community's Choice Awards Winner (2024)" class="scalable"></div>
      <div><img src="files/images/main/awards/newsweek-great-workplc-award.png" width="310" height="400" alt="Newsweek – America's Greatest Workplaces (2025)" class="scalable"></div>
    </div>
  </section>
  <!--Awards & Achievements Area (Start)--> 
  
  <!--Talent Network Area (Start)-->
  <section class="global-full-width" id="talent">
    <div class="inner">
      <div class="copy">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with Southcoast and receive alerts with new job opportunities and news relative to your interests.</p>
        <div class="callout-global-btn2"><a href="/talentnetwork/">Sign Up Now<span class="sr-only">for job alerts from Southcoast </span></a></div>
      </div>
      <div class="photo"> <span class="background-image" role="img"></span> </div>
    </div>
  </section>
  <!--Talent Network Area (END)--> 
  
  <!--Share This Page (Start)-->
  <div class="shareThis-holder-main-pg">
    <div class="share-this-icons">
      <div>Share This Page</div>
      <ul>
        <li> <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a> </li>
        <li> <a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a> </li>
        <li> <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a> </li>
        <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
      </ul>
    </div>
  </div>
  <!--Share This Page (End)--> 
  
</main>

<!------------------------  FOOTER --------------------------- -->

<div class="footerFluid">
  <div class="container">
    <div class="grid">
      <div class="col-sm-12 col-bleed-y">
        <div class="inner">
          <div class="main"> <a title="home link" href="https://www.southcoast.org/" target="_self" class="mainLogoLink">
            <picture class="flex-img footerLogo"> <img src="files/images/global/southcoast-health-logo-rev.svg" alt="Southcoast Health logo"> </picture>
            </a>
            <div class="copy">
              <p>Southcoast Health provides quality, patient-focused care in a state-of-the-art environment. By uniting in a single purpose and building an integrated system of services and resources, we have become one of the largest and fastest-growing community hospital systems in the region.</p>
            </div>
            <div class="footer-social">
              <ul>
                <li> <a title="facebook link" href="https://www.facebook.com/southcoasthealth" target="_blank" class="facebook"><span class="sr-only">Follow Us On Facebook (opens in a new window)</span></a> </li>
                <li> <a title="twitter link" href="https://twitter.com/SouthcoastHlth/" target="_blank" class="twitter"><span class="sr-only">Follow Us On Twitter (opens in a new window)</span></a> </li>
                <li> <a title="linkedin link" href="https://www.linkedin.com/company/southcoast-hospitals-group/" target="_blank" class="linkedin"> <span class="sr-only">Follow Us On LinkedIn (opens in a new window)</span> </a> </li>
                <li> <a title="instagram link" href="https://www.instagram.com/southcoasthealth" target="_blank" class="instagram"> <span class="sr-only">Follow Us On Instagram (opens in a new window)</span> </a> </li>
                <li> <a title="youtube link" href="https://www.youtube.com/user/SouthcoastHospitals" target="_blank" class="youtube"><span class="sr-only">Check Us Out On YouTube (opens in a new window)</span></a> </li>
              </ul>
            </div>
          </div>
          <div class="navs">
            <div class="nav-column">
              <div class="column-heading">
                <p>Careers</p>
                <button class="icon-wrap"> <i class="fa-solid fa-chevron-down" aria-hidden="true"></i> </button>
              </div>
              <ul>
                <li>
                  <button aria-controls="career-areas-sub" class="footer-sub-menu-button"> Career Highlights <i class="fa fa-chevron-down"></i></button>
                  <ul class="sub-menu-footer" id="career-areas-sub" aria-expanded="false">
                    <li><a href="nursing.html">Nursing</a></li>
                    <li><a href="providers.html">Providers</a></li>
					<li><a href="/jobs/leadership/">Leadership</a></li>
                    <li><a href="/jobs/allied-health/">Allied Health</a></li>
                    <li><a href="mtm-staffing.html">MTM Staffing</a></li>
					  <li><a href="same-day-surgiclinic.html">Same Day SurgiClinic</a></li>
                  </ul>
                </li>
                <li> <a href="benefits.html" title="link to Benefits" target="_self"> Benefits </a> </li>
                <li> <a href="community.html" title="link to Community" target="_self"> Community </a> </li>
                <li> <a href="https://www.southcoast.org/community/belonging-at-southcoast-health/" title="link to Belonging" target="_blank"> Belonging </a> </li>
              </ul>
            </div>
            <div class="nav-column">
              <div class="column-heading">
                <p>Quick Links</p>
                <button class="icon-wrap"> <i class="fa-solid fa-chevron-down" aria-hidden="true"></i> </button>
              </div>
              <ul>
                <li> <a href="index.html" title="link to Careers"> Careers </a> </li>
                <li> <a href="https://www.southcoast.org/about-southcoast-health/" title="link to About Southcoast" target="_blank"> About Southcoast </a> </li>
                <li> <a href="https://www.southcoast.org/southcoast-media-inquiries/" title="link to Media Inquiries" target="_blank"> Media Inquiries </a> </li>
                <li> <a href="https://www.southcoast.org/website-privacy-policy/" title="link to Website Privacy Policy" target="_blank"> Website Privacy Policy </a> </li>
                <li> <a href="https://www.southcoast.org/privacy-practices/" title="link to Notice of Privacy Practices" target="_blank"> Notice of Privacy Practices </a> </li>
                <li> <a href="https://www.southcoast.org/for-patients-visitors/for-patients/care-charges/" title="link to Price Transparency" target="_blank"> Price Transparency </a> </li>
                <li> <a href="https://www.southcoast.org/southcoast-health-notice-of-non-discrimination/" title="link to Southcoast Health Notice of Non-Discrimination" target="_blank"> Southcoast Health Notice of Non-Discrimination </a> </li>
                <li> <a href="https://www.southcoast.org/community-benefits/community-benefits-reporting/" title="link to Community Needs Assessment" target="_blank"> Community Needs Assessment </a> </li>
              </ul>
            </div>
            <div class="nav-column">
              <div class="column-heading">
                <p>Areas of Care</p>
                <button class="icon-wrap"> <i class="fa-solid fa-chevron-down" aria-hidden="true"></i> </button>
              </div>
              <ul>
                <li> <a href="https://www.southcoast.org/at-home/" title="link to At Home Care" target="_blank"> At Home Care </a> </li>
                <li> <a href="https://www.southcoast.org/services/brain-and-spine-treatment/" title="link to Brain and Spine" target="_self"> Brain and Spine </a> </li>
                <li> <a href="https://www.southcoast.org/services/cancer-care/#/slot-search/specialtyGroup/AFEC3CD7-9223-47A9-A94F-A705AC4BF909" title="link to Cancer Care" target="_blank"> Cancer Care </a> </li>
                <li> <a href="https://www.southcoast.org/services/emergency-services/" title="link to Emergency Care" target="_blank"> Emergency Care </a> </li>
                <li> <a href="https://www.southcoast.org/services/orthopedics/#/slot-search/specialtyGroup/FADF766A-33CC-408D-B94A-0DA797011148" title="link to Orthopedics" target="_blank"> Orthopedics </a> </li>
                <li> <a href="https://www.southcoast.org/services/urgent-care/" title="link to Urgent Care" target="_blank"> Urgent Care </a> </li>
              </ul>
            </div>
            <div class="nav-column">
              <div class="column-heading">
                <p>I Want To</p>
                <button class="icon-wrap"> <i class="fa-solid fa-chevron-down" aria-hidden="true"></i> </button>
              </div>
              <ul>
                <li> <a href="https://www.southcoast.org/giving/" title="link to Donate" target="_blank"> Donate </a> </li>
                <li> <a href="https://www.southcoast.org/doctors/" title="link to Find a Doctor" target="_blank"> Find a Doctor </a> </li>
                <li> <a href="https://www.southcoast.org/locations/" title="link to Find a Location" target="_blank"> Find a Location </a> </li>
                <li> <a href="https://www.southcoast.org/services/urgent-care/antibiotics/" title="link to Find a Treatment" target="_blank"> Find a Treatment </a> </li>
                <li> <a href="https://www.southcoast.org/bill-pay/" title="link to Pay a Bill" target="_blank"> Pay a Bill </a> </li>
                <li> <a href="https://www.southcoast.org/appointment-request-form/" title="link to Schedule an Appointment" target="_blank"> Schedule an Appointment </a> </li>
                <li> <a href="https://www.southcoast.org/philanthropy/volunteer/" title="link to Volunteer" target="_blank"> Volunteer </a> </li>
              </ul>
            </div>
          </div>
          <div class="ctas"> <a class="mainCTA shadow light2" href="https://www.southcoast.org/contact-us/" target="_blank" title="Opens Contact Southcoast Health in new tab or window">Contact Southcoast Health</a><a class="mainCTA shadow light2" href="index.html" title="Opens Explore Careers in new tab or window">Explore Careers</a><a class="mainCTA shadow light2" href="https://www.southcoast.org/doctors/" target="_blank" title="Opens Find a Doctor in new tab or window">Find a Doctor</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--||{% block js %}{% endblock %}||-->

</body>
</html>
