<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!--|| {% load job_tags static %} ||-->
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Nursing | Southcoast Health Careers</title>
<!-- InstanceEndEditable -->
<meta name="description" content="Southcoast Health voted the best place to work six years in a row! Browse job openings & find where you might fit on our More than medicine team." />
<meta name="keywords" content="Community Focused Healthcare, Southcoast Health Careers in MA & RI" />
<link rel="canonical" href="#" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Google
    <meta itemprop="name" content="Careers | Delaware Valley Community Health"> -->
<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<!-- Twitter
    <meta name="twitter:title" content="Careers | Delaware Valley Community Health"> -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Careers | Delaware Valley Community Health"> -->
<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<meta property="og:type" content="website">
<!-- Open Graph (LinkedIn) -->
<meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<!-- icons -->
<link rel="icon" sizes="16x16 32x32 48x48" href="%7B%7B%20CANONICAL_URL%20%7D%7D/static/sites/www/files/images/favicon.ico">
<link rel="icon" sizes="192x192" type="image/png" href="%7B%7B%20CANONICAL_URL%20%7D%7D/static/sites/www/files/images/favicon-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" type="image/png"  href="%7B%7B%20CANONICAL_URL%20%7D%7D/static/sites/www/files/images/touch-icon-180x180.png">
<meta property="og:description" content="Southcoast Health voted the best place to work six years in a row! Browse job openings & find where you might fit on our More than medicine team." />
<meta property="og:url" content="https://www.southcoast.org/careers/" />
<meta property="og:site_name" content="Southcoast Health Careers" />
<link rel="stylesheet" href="https://use.typekit.net/odd2qzk.css">
<script src="https://kit.fontawesome.com/5ef61d302c.js" crossorigin="anonymous"></script>
<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
<link href="files/styles/styles-corp.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
<script type="text/javascript" src="files/js/accordion.js"></script>
<script type="text/javascript" src="files/js/lazysizes.min.js"></script>
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{ CANONICAL_URL }}/",
    "image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
    "logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
    }
    </script>
<script src="../{% static "js/common.js" %}"></script>
<!--||{% block head %}{% endblock %}||-->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="talentnetwork" type="boolean" value="true" -->
<!-- InstanceParam name="employee job search" type="boolean" value="true" -->
</head>

<body>

<div class="skip-to-content">
	<a href="#subpg-content">
		Skip to Page Content <span class="sr-only">(will bypass menus and search fields)</span>
	</a>
</div>
<!--------------------------- HEADER -------------------------->

<header>
  <!-- InstanceBeginEditable name="top-nav" -->
  <div class="topnavbar">
    <div class="inner">
      <ul class="talenttopnav" >
        <li><a href="https://employees-southcoast.icims.com/jobs/login?loginOnly=1&redirect=&in_iframe=1&sso_connection=hs-13920-saml" target="_blank">Current Employee Job Search<span class="sr-only"> (link opens in a new window)</span></a></li>
		<li><a href="https://careers-southcoast.icims.com/jobs/login?loginOnly=1&redirect=search&in_iframe=1&hashed=-625911919" target="_blank">Returning Job Seeker<span class="sr-only"> (link opens in a new window)</span></a></li>
      </ul>
    </div>
  </div>
  <!-- InstanceEndEditable -->
<div class="header-nav-wrapper">
    <div class="header-inside">
      <div class="header-logo"> <a href="https://www.southcoast.org/" target="_blank" class="logo" alt="Southcoast Health Logo"><span class="sr-only"> (link opens in a new window)</span></a> </div>
      <div class="nav-right-top">
        <a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
        <div class="burger mmmmmm">
          <div class="burger-box">
            <div class="all-the-fixins"> </div>
          </div>
        </div>
        <nav id="hamburger-content" class="hamburger-content">
          <div class="mobile-header clearfix">
            <div class="header-logo"> <a href="https://www.southcoast.org/" target="_blank" class="logo" alt="Southcoast Health Homepage"><span class="sr-only"> (link opens in a new window)</span></a> </div>
            <button id="close-menu">&times;<span class="sr-only">Close Menu</span></button>
          </div>
          <ul class="nav-top">
            <li><a href="index.html">Careers Home</a>
          </li><li id="culturedd"> 
              <!--- Secondary nav level (Career Areas) ---> 
              <button href="#culture" aria-controls="#culture" aria-expanded="false" target="_blank" class="hamburger-title-2">Career Areas<span class="sr-only"> (link opens in a new window)</span></button>
              <ul id="culture" class="hamburger-content-2">
                <li><a href="nursing.html">Nursing</a></li>
                <li><a href="providers.html">Providers</a></li>
				<li><a href="jobs/leadership/">Leadership</a></li>
                <li><a href="jobs/allied-health/">Allied Health</a></li>
                <li><a href="mtm-staffing.html">MTM Staffing</a></li>
				<li><a href="same-day-surgiclinic.html">Same Day SurgiClinic</a></li>
              </ul>
              <!--- Secondary nav level (Career Areas) end --->
            </li><li><a href="benefits.html">Benefits</a> 
          </li><li><a href="community.html">Community</a></li>
			  <li><a href="https://www.southcoast.org/community/belonging-at-southcoast-health/" title="link to Belonging" target="_blank">Belonging</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
	
<main>


<!-- ---- BANNER AREA (SUB PAGE) ---- --> 
  <!-- InstanceBeginEditable name="sub-banner" -->
        <div class="hero-main-block show-breadcrumbs">
    <div class="background"></div>
    <div class="container">
<!--
      <div class="breadcrumbsWrapper desktop-breadcrumbs">
        <p id="breadcrumbs"><span><span><a class="breadcrumb_home" href="https://heart.southcoast.org/"><i class="fas fa-home" style="font-weight:400" aria-hidden="true"></i></a></span> <i class="fa-solid fa-chevron-right" aria-hidden="true"></i> <span><a href="https://heart.southcoast.org/treatment-and-services/">Treatment and Services</a></span> <i class="fa-solid fa-chevron-right" aria-hidden="true"></i> <span class="breadcrumb_last" aria-current="page">Advanced Cardiac Surgery</span></span></p>
      </div>
      <div class="breadcrumbsWrapper mobile-breadcrumbs">
        <p id="mobile-breadcrumbs"><span><span><a href="https://heart.southcoast.org"><i class="far fa-home" aria-hidden="true"></i></a></span> <i class="fa-solid fa-chevron-right separator" aria-hidden="true"></i> <span><a href="https://heart.southcoast.org/treatment-and-services/">Treatment and Services</a></span></span></p>
      </div>
-->
      <div class="grid">
        <div class="col-bleed-y">
          <div class="inner-wrap">
            <div class="content-col">
              <h1>Nursing Careers at Southcoast Health</h1>
<!--				<h2>Nursing</h2>-->
           
            
            </div>
            <div class="media-col"> <img class="main-img " src="files/images/sub/banners/banner-nursing.webp" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 800px" alt="" loading="eager" decoding="async" fetchpriority="high"> <img decoding="async" class="corner-art" src="files/images/global/corner-art.svg" alt="corner art"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- InstanceEndEditable --> 
	
<!------------------------  CONTENT --------------------------- -->

<section class="horizontal-search-bar search front-page-search">
			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Job Opportunities</button>
				
          <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->

          <!--||{% comment %}||-->
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
            <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
			<li>
                <button class="search-accordion-button" href="#location-search" aria-controls="#location-search" aria-expanded="false">
                    Search Jobs by Location
                </button>
                <ul class="search-content2" id="location-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="#">Search All Locations</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Fairmount Primary Care Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Fairmount Primary Care Center @ Girard Medical Cen</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Maria de los Santos Express Care</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Maria de los Santos Health Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Norristown Regional Health Center</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="#">Parkview Health Center</a></li>

                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs by Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 01</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 02</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 03</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 04</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 05</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 06</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 07</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 08</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 09</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 10</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="#">Category 11</a></li>


                </ul>
            </li>
            
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
			
            <li>
                <a href="/jobs/" class="advanced-button">Advanced Job Search</a>
            </li>
        </ul>
    </form>
				<!--||{% endcomment %}||-->
				
			</div>
		</section>
	
	<!-- InstanceBeginEditable name="employee js" -->
<section class="employee-jobsrch-section">
  <div class="inner">
    <div class="employee-jobsrch-header">
      <h2>Current employees, find new opportunities and remain a part of the Southcoast Health Family.</h2>
    </div>
    <div class="employjbsrch-btn"><a href="https://employees-southcoast.icims.com/jobs/login?loginOnly=1&redirect=&in_iframe=1&sso_connection=hs-13920-saml" target="_blank">Employee Job Search<span class="sr-only"> (link opens in a new window)</span></a></div>
  </div>
</section>
<!-- InstanceEndEditable -->
	
	
	<!-- InstanceBeginEditable name="sub-content" -->
<div class="sub-content" id="subpg-content">
  <!--Intro (Start)-->
  <section class="global-full-width" id="mainintro">
    <div class="inner">
      <h2>Nursing at Southcoast Health</h2>
      <p>At Southcoast Health, we welcome nurses at every stage of their careers to join our dynamic team serving communities across Massachusetts and Rhode Island. With three acute-care hospitals — Charlton Memorial in Fall River, St. Luke’s in New Bedford, and Tobey in Wareham — as well as our Heart &#38; Vascular, Cancer Care, Brain &#38; Spine, Orthopedics and Health at Home programs, outpatient surgery centers, and multiple clinical specialties across 55+ physician practices and service locations, Southcoast Health offers a wide range of settings where nurses can grow and make a meaningful impact.</p>
    </div>
  </section>
  <!--Intro (End)-->
	
	<!--Our Values (Start)-->
  <section class="global-full-width-alt  lt-blue-bkgrd">
    <div class="inner lt-blue-bkgrd">
       <div class="video-holder" id="nursingvideo1">
              <div class="video-responsive">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1106598761?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;dnt=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="You Deserve More"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
              </div>
            </div>
		 
      <div class="copy">
       <h2>Our Values</h2>
		 <p>At Southcoast Health our nurses are the backbone of our health system, embodying the values that define who we are.</p>
<p><strong>Excellence.</strong> Our team strives to make Southcoast Health the best place to work and obtain health care.</p>
<p><strong>Commitment.</strong> We demonstrate our commitment through our mission, goals and action.</p>
<p><strong>Communication.</strong> We foster an atmosphere of open communication, mutual respect and trust.</p>
<p><strong>Patient First.</strong> We work to exceed the expectations of our patients, their families and the community we serve.</p>
      </div>
		
    </div>
  </section>
  <!--Our Values (End)--> 
	
	
	<!--Apply Now  (Start)-->
  <section class="global-full-width">
    <div class="inner">
      <h2>Apply Now</h2>
      <p>Our nurse recruiters are here to help you grow your nursing career in Massachusetts or Rhode Island. Learn more about how we can help you achieve your dreams of becoming an RN in the active and dynamic environment at Southcoast Health.</p>
		<div class="callout-global-btn"><a href="/jobs/nursing/">View Current Nursing Opportunities</a></div>
		<div class="callout-global-btn"><a href=" https://employees-southcoast.icims.com/jobs/login?loginOnly=1&redirect=&in_iframe=1&sso_connection=hs-13920-saml" target="_blank" title="Opens Current Employee Nursing Opportunities in new tab or window">View Current Employee Nursing Opportunities</a></div>
    </div>
  </section>
  <!--Apply Now  (End)-->
	
		<!--Nursing Achieve Videos (Start)-->
  <section class="callout-boxes-container" id="nursing-videos">
    <h2>Share In Our Nursing Achievements</h2>
    <div class="inner">
      <div class="callout-boxes">
         <div class="video-holder" id="nursingvideo2">
              <div class="video-responsive">
               <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1107180613?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Charlton Memorial Hospital&#039;s Pathway to Excellence Designation"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
              </div>
            </div>
        <p>Charlton Memorial Hospital is proud to be designated a Pathway to Excellence&reg; Hospital by the American Nurses Credentialing Center</p>
      </div>
      <div class="callout-boxes">
         <div class="video-holder" id="nursingvideo3">
              <div class="video-responsive">
               <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1107178608?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="The Simulation Lab At Southcoast Health"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
              </div>
            </div>
         <p>Southcoast Health’s State of the Art Simulation Labs allow nurses to prepare for a large variety of real-world scenarios.</p>
      </div>
    </div>
  </section>
  <!--Nursing Achieve Videos (End)--> 
	
	
	<!--Pathway Section (Start)-->
  <section class="callout-boxes-container white-bkgrd padding-btm-twenty" id="nurse-pathway">
    <h2>Pathway to Excellence: Your Voice is the Pathway to More</h2>
	  <div class="nurse-pathway-intro"><p>Southcoast Health is committed to creating a positive, empowering environment for nurses—recognized through our Pathway to Excellence journey.</p>
	  <p><strong>The Pathway to Excellence Program<sup>&reg;</sup></strong> is a premier nursing designation offered by the American Nurses Credentialing Center, the nursing excellence branch of the American Nurses Association.</p>
	  <p>This designation recognizes healthcare organizations with positive practice environments that promote nursing autonomy. This includes empowering nurses to make decisions about patient care, while also encouraging wellness and support for each other.</p>
	  <p>We are proud to be one of the first Pathway<sup>&reg;</sup> designated hospitals in Massachusetts.</p>
	 </div>

    <div id="pathway-hospitals">
		<h3>Current Designations</h3>
      <div class="callout-boxes">
		  <div class="pathway-photo-row"><div class="photo" id="charlton">
			  <span class="background-image" role="img" aria-label="photo of Charlton Memorial Hospital"></span></div>
		  <div class="logo"><img src="files/images/sub/nursing/ANCC-PathwayDesignated-color.png" width="220" height="220" alt="" class="scalable"/></div></div>
		   <div class="pathway-text-row"><strong>Charlton Memorial Hospital</strong>
 Fall River, MA<br>
          <strong>Pathway<sup>&reg;</sup> designated Hospital</strong> (February 2024)</div>
      </div>
       <div class="callout-boxes">
		  <div class="pathway-photo-row"><div class="photo" id="tobey">
			  <span class="background-image" role="img" aria-label="photo of Tobey Hospital"></span></div>
		  <div class="logo"><img src="files/images/sub/nursing/ancc_pathway_wdistinction_pin_design-1.png" width="200" height="200" alt="" class="scalable"/></div></div>
		   <div class="pathway-text-row"><strong>Tobey Hospital</strong>
 Wareham, MA<br>
          <strong>Pathway<sup>&reg;</sup> designated Hospital</strong> (August 2025)</div>
      </div>
      <div class="callout-boxes">
		  <div class="pathway-photo-row"><div class="photo" id="stlukes"> <span class="background-image" role="img" aria-label="photo of St. Luke’s Hospital"></span></div>
		  <div class="logo"><img src="files/images/sub/nursing/Journey-to-Excellence-Designation-Award.png" width="220" height="220" alt="" class="scalable"/></div></div>
		   <div class="pathway-text-row"><strong>St. Luke’s Hospital</strong>
 New Bedford, MA<br>
          <strong>Designation in process</strong> (anticipated Winter 2026)</div>
      </div>
    </div>
  </section>  
  <!--Pathway Section (End)-->
	
	<section class="philan-teams">
    <div class="inside">
      
      <div class="philan-teams-box"> <a href="#benefit1" onclick="return false;">
        <div class="philan-teams-box-btm">Shared Decision Making</div>
        <div id="benefit1" class="philan-teams-description">
          <div class="philan-teams-text"><ul>
<li>Strong Shared Governance Model across all sites</li>
<li>Unit-Based &#38; Quality Councils led by frontline nurses</li>
<li>Monthly Shared Governance Days for collaboration</li>
<li>Nurses are working on evidence-based projects</li>
<li>Use interprofessional teams to handle ethical issues</li>
<li>Frontline Nurses are involved in decisions related to technology and hiring new staff.</li>
</ul>
			</div>
        </div>
        </a> </div>
      <div class="philan-teams-box"> <a href="#benefit2" onclick="return false;">
        <div class="philan-teams-box-btm">Leadership</div>
        <div id="benefit2" class="philan-teams-description">
          <div class="philan-teams-text">
			<ul>
<li>Supportive, accessible nurse leaders</li>
<li>Focus on mentorship, succession planning, and career growth</li>
<li>Opportunities to lead councils and initiatives</li>
<li>Leadership development and education support</li></ul></div>
        </div>
        </a> </div>
      <div class="philan-teams-box"> <a href="#benefit3" onclick="return false;">
        <div class="philan-teams-box-btm">Wellbeing</div>
        <div id="benefit3" class="philan-teams-description">
          <div class="philan-teams-text"><ul>
<li>Wellbeing Councils at each hospital</li>
<li>Initiatives include:
<ul>
<li>Gratitude &#38; Coffee Rounding</li>
<li>Zen Dens, Pet Therapy, and Webinars</li>
<li>Recognition Programs (DAISY, Eagle Awards, etc.)</li>
<li>Nurses lead community outreach (e.g., care packages, food drives)</li></ul>
</li></ul></div>
        </div>
        </a> </div>
      <div class="philan-teams-box"> <a href="#benefit4" onclick="return false;">
        <div class="philan-teams-box-btm">Professional Development</div>
        <div id="benefit4" class="philan-teams-description">
          <div class="philan-teams-text"><ul>
<li>Nurse Residency Program (Vizient/AACN)</li>
<li>Residency 101 for specialty areas (ED, Periop, FCU)</li>
<li>Succession planning to prepare nurses for leadership positions</li>
<li>Tailored Orientation, Mentorship, and Sim Lab</li>
<li>Tuition Reimbursement, Scholarships, and CE Programs
</li>
</ul></div>
        </div>
        </a> </div>
      <div class="philan-teams-box"> <a href="#benefit5" onclick="return false;">
        <div class="philan-teams-box-btm">Safety</div>
        <div id="benefit5" class="philan-teams-description">
          <div class="philan-teams-text"><ul>
<li>Culture of safety where staff feel empowered to report concerns</li>
<li>Nurses are part of reporting, reviewing, and trending patient and nurse-related safety events.</li>
<li>A respectful culture free of incivility, bullying, and violence.</li>
<li>Nurses are involved in decisions related to daily staffing</li>
<li>Interprofessional teams collaborate to make decisions about transferring patients to different levels of care.</li>
</ul>
</div>
        </div>
        </a> </div>
     
      <div class="philan-teams-box"> <a href="#benefit7" onclick="return false;">
        <div class="philan-teams-box-btm">Quality</div>
        <div id="benefit7" class="philan-teams-description">
          <div class="philan-teams-text"><ul>
<li>We live out our More than Medicine promise each and every day.</li>
<li>Apply evidence-based findings into practice</li>
<li>Interprofessional teams collaborate on facility-wide quality improvement activities.</li>
<li>Quality data is benchmarked with external sources</li>
<li>We contribute every day to the health of our community.</li>
<li>Ongoing support through Quality &#38; Safety Councils</li>
</ul></div>
        </div>
        </a> </div>
     	 
      
    </div>
  </section>
	
	<!--Continue to Learn (Start)-->
  <section class="callout-boxes-container" id="continuetolearn">
    <h2>Continue to Learn with Us</h2>
	  <div class="inner">
	    <div class="callout-boxes-intro">
		  <div class="text">
			  <h3>The Perioperative 101 RN Residency Training Program</h3>
		<p>Focuses on imparting the skills and proficiencies needed to thrive as a professional perioperative nurse. This six-month full-time paid program is focused on providing the knowledge and competencies required for the  professional perioperative nurse. It welcomes experienced RNs with no operating room experience, new graduates, or operating room nurses returning  after an extended absence. Current Southcoast Health employees are encouraged to apply.</p>	
			  <p>Participants will learn the theoretical concepts, principles and skills to care for patients in the perioperative setting, using the recommended practices established by the Association of Perioperative Registered Nurses (AORN). The individuals who successfully complete the program will continue their nursing career at Southcoast Health in surgical operating rooms.</p>
		</div>
			 <div class="photo"><img src="files/images/sub/nursing/priscilla-periop-photo.webp" width="1400" height="950" alt="" class="scalable"/></div>
	    </div>
<p>The first six weeks consist of the didactic portion of the program which includes classroom lectures, skills lab practice and observational experiences in the operating room. This will follow with clinical rotations to the circulating and scrub roles working with a preceptor in various surgical specialties.</p>
    </div>
	  <div class="quote-container">
	    <div class="icon"><img src="files/images/global/quote-icon.svg" alt="" class="scalable"/></div>
	    <div class="text">
	      <p>“I applied for the perioperative program because I wanted to be a part of a team and make a difference in patients’ lives. The best part of the program, to me, was building connections with fellow students and supporting each other along the way. For anyone considering applying, I say go for it – especially if you’re looking to join a great team!” – Kyle Duarte, Perioperative 101 Residency Training Program 2025.</p>
	    </div>
      </div>

	    
    
  </section>  
  <!--Continue to Learn (Start)  (End)-->
	
	
	
	
	<!--St Luke's Programs (Start)-->
  <section class="callout-boxes-container" id="stlukesprog">
    <h2>St Luke's Hospital Now Qualifies for Two Valuable Nurse Corps Programs:</h2>
	  
    <div class="inner">
      <div class="callout-boxes">
        <div class="icon"><img src="files/images/sub/nursing/icons-loan.svg" alt="" class="scalable"/></div>
		  <h3>Loan Repayment Program</h3>
        <p>provides RNs and APRNs with loan repayment assistance in return for a commitment to work at St. Luke’s Hospital.</p>
		  <div class="callout-global-btn3"><a href="https://bhw.hrsa.gov/funding/apply-loan-repayment/nurse-corps" target="_blank">To Learn More &#38; Apply<span class="sr-only"> (link opens in a new window)</span></a></div>
      </div>
      <div class="callout-boxes">
        <div class="icon"><img src="files/images/sub/nursing/icons-scholarship.svg" alt="" class="scalable"/></div>
        <h3>Scholarship Program</h3>
        <p>provides scholarships to nursing students in exchange for a service commitment at St. Luke’s Hospital (application period coming in March)</p>
		  <div class="callout-global-btn3"><a href="https://bhw.hrsa.gov/programs/nurse-corps/scholarship/apply" target="_blank">To Learn More &#38; Apply<span class="sr-only"> (link opens in a new window)</span></a></div>
      </div>
    </div>
  </section>  
  <!--St Luke's Programs (Start)  (End)-->
	
	<!--Apply Now  (Start)-->
  <section class="global-full-width">
    <div class="inner">
      <h2>Apply Now</h2>
      <p>Our nurse recruiters are here to help you grow your nursing career in Massachusetts or Rhode Island. Learn more about how we can help you achieve your dreams of becoming an RN in the active and dynamic environment at Southcoast Health.</p>
		<div class="callout-global-btn"><a href="/jobs/nursing/">View Current Nursing Opportunities</a></div>
		<div class="callout-global-btn"><a href=" https://employees-southcoast.icims.com/jobs/login?loginOnly=1&redirect=&in_iframe=1&sso_connection=hs-13920-saml" target="_blank" title="Opens Current Employee Nursing Opportunities in new tab or window">View Current Employee Nursing Opportunities</a></div>
    </div>
  </section>
  <!--Apply Now  (End)-->
	
	
	<!--Talent Network Area (Start)-->
  <section class="global-full-width" id="talent">
    <div class="inner">
      <div class="copy">
        <h2>Join Our Talent Network</h2>
        <p>Stay connected with Southcoast and receive alerts with new job opportunities and news relative to your interests.</p>
        <div class="callout-global-btn2"><a href="/talentnetwork/">Sign Up Now<span class="sr-only">for job alerts from Southcoast </span></a></div>
      </div>
      <div class="photo" id="talent-nursing"> <span class="background-image" role="img"></span> </div>
    </div>
  </section>
  <!--Talent Network Area (END)--> 
</div>
<!-- InstanceEndEditable -->
	
	<!--Share This Page (Start)-->
  <div class="shareThis-holder-main-pg">
    <div class="share-this-icons">
      <div>Share This Page</div>
      <ul>
        <li> <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a> </li>
        <li> <a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a> </li>
        <li> <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a> </li>
        <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
      </ul>
    </div>
  </div>
  <!--Share This Page (End)--> 
	

	
	

	
</main>




<!------------------------  FOOTER --------------------------- -->
	
<div class="footerFluid">
  <div class="container">
    <div class="grid">
      <div class="col-sm-12 col-bleed-y">
        <div class="inner">
          <div class="main"> <a title="home link" href="https://www.southcoast.org/" target="_self" class="mainLogoLink">
            <picture class="flex-img footerLogo"> <img src="files/images/global/southcoast-health-logo-rev.svg" alt="Southcoast Health logo"> </picture>
            </a>
            <div class="copy">
              <p>Southcoast Health provides quality, patient-focused care in a state-of-the-art environment. By uniting in a single purpose and building an integrated system of services and resources, we have become one of the largest and fastest-growing community hospital systems in the region.</p>
            </div>
            <div class="footer-social">
              <ul>
                <li> <a title="facebook link" href="https://www.facebook.com/southcoasthealth" target="_blank" class="facebook"><span class="sr-only">Follow Us On Facebook (opens in a new window)</span></a> </li>
                <li> <a title="twitter link" href="https://twitter.com/SouthcoastHlth/" target="_blank" class="twitter"><span class="sr-only">Follow Us On Twitter (opens in a new window)</span></a> </li>
                <li> <a title="linkedin link" href="https://www.linkedin.com/company/southcoast-hospitals-group/" target="_blank" class="linkedin"> <span class="sr-only">Follow Us On LinkedIn (opens in a new window)</span> </a> </li>
                <li> <a title="instagram link" href="https://www.instagram.com/southcoasthealth" target="_blank" class="instagram"> <span class="sr-only">Follow Us On Instagram (opens in a new window)</span> </a> </li>
                <li> <a title="youtube link" href="https://www.youtube.com/user/SouthcoastHospitals" target="_blank" class="youtube"><span class="sr-only">Check Us Out On YouTube (opens in a new window)</span></a> </li>
              </ul>
            </div>
          </div>
          <div class="navs">
            <div class="nav-column">
              <div class="column-heading">
                <p>Careers</p>
                <button class="icon-wrap"> <i class="fa-solid fa-chevron-down" aria-hidden="true"></i> </button>
              </div>
              <ul>
                <li>
                  <button aria-controls="career-areas-sub" class="footer-sub-menu-button"> Career Areas <i class="fa fa-chevron-down"></i></button>
                  <ul class="sub-menu-footer" id="career-areas-sub" aria-expanded="false">
                    <li><a href="nursing.html">Nursing</a></li>
                    <li><a href="providers.html">Providers</a></li>
					<li><a href="jobs/leadership/">Leadership</a></li>
                    <li><a href="jobs/allied-health/">Allied Health</a></li>
                    <li><a href="mtm-staffing.html">MTM Staffing</a></li>
					  <li><a href="same-day-surgiclinic.html">Same Day SurgiClinic</a></li>
                  </ul>
                </li>
                <li> <a href="benefits.html" title="link to Benefits" target="_self">Benefits </a> </li>
                <li> <a href="community.html" title="link to Community" target="_self">Community </a> </li>
                <li> <a href="https://www.southcoast.org/community/belonging-at-southcoast-health/" title="link to Belonging" target="_blank">Belonging </a> </li>
              </ul>
            </div>
            <div class="nav-column">
              <div class="column-heading">
                <p>Quick Links</p>
                <button class="icon-wrap"> <i class="fa-solid fa-chevron-down" aria-hidden="true"></i> </button>
              </div>
              <ul>
                <li> <a href="index.html" title="link to Careers"> Careers </a> </li>
                <li> <a href="https://www.southcoast.org/about-southcoast-health/" title="link to About Southcoast" target="_blank"> About Southcoast </a> </li>
                <li> <a href="https://www.southcoast.org/southcoast-media-inquiries/" title="link to Media Inquiries" target="_blank"> Media Inquiries </a> </li>
                <li> <a href="https://www.southcoast.org/website-privacy-policy/" title="link to Website Privacy Policy" target="_blank"> Website Privacy Policy </a> </li>
                <li> <a href="https://www.southcoast.org/privacy-practices/" title="link to Notice of Privacy Practices" target="_blank"> Notice of Privacy Practices </a> </li>
                <li> <a href="https://www.southcoast.org/for-patients-visitors/for-patients/care-charges/" title="link to Price Transparency" target="_blank"> Price Transparency </a> </li>
                <li> <a href="https://www.southcoast.org/southcoast-health-notice-of-non-discrimination/" title="link to Southcoast Health Notice of Non-Discrimination" target="_blank"> Southcoast Health Notice of Non-Discrimination </a> </li>
                <li> <a href="https://www.southcoast.org/community-benefits/community-benefits-reporting/" title="link to Community Needs Assessment" target="_blank"> Community Needs Assessment </a> </li>
              </ul>
            </div>
            <div class="nav-column">
              <div class="column-heading">
                <p>Areas of Care</p>
                <button class="icon-wrap"> <i class="fa-solid fa-chevron-down" aria-hidden="true"></i> </button>
              </div>
              <ul>
                <li> <a href="https://www.southcoast.org/at-home/" title="link to At Home Care" target="_blank"> At Home Care </a> </li>
                <li> <a href="https://www.southcoast.org/services/brain-and-spine-treatment/" title="link to Brain and Spine" target="_self"> Brain and Spine </a> </li>
                <li> <a href="https://www.southcoast.org/services/cancer-care/#/slot-search/specialtyGroup/AFEC3CD7-9223-47A9-A94F-A705AC4BF909" title="link to Cancer Care" target="_blank"> Cancer Care </a> </li>
                <li> <a href="https://www.southcoast.org/services/emergency-services/" title="link to Emergency Care" target="_blank"> Emergency Care </a> </li>
                <li> <a href="https://www.southcoast.org/services/orthopedics/#/slot-search/specialtyGroup/FADF766A-33CC-408D-B94A-0DA797011148" title="link to Orthopedics" target="_blank"> Orthopedics </a> </li>
                <li> <a href="https://www.southcoast.org/services/urgent-care/" title="link to Urgent Care" target="_blank"> Urgent Care </a> </li>
              </ul>
            </div>
            <div class="nav-column">
              <div class="column-heading">
                <p>I Want To</p>
                <button class="icon-wrap"> <i class="fa-solid fa-chevron-down" aria-hidden="true"></i> </button>
              </div>
              <ul>
                <li> <a href="https://www.southcoast.org/giving/" title="link to Donate" target="_blank"> Donate </a> </li>
                <li> <a href="https://www.southcoast.org/doctors/" title="link to Find a Doctor" target="_blank"> Find a Doctor </a> </li>
                <li> <a href="https://www.southcoast.org/locations/" title="link to Find a Location" target="_blank"> Find a Location </a> </li>
                <li> <a href="https://www.southcoast.org/services/urgent-care/antibiotics/" title="link to Find a Treatment" target="_blank"> Find a Treatment </a> </li>
                <li> <a href="https://www.southcoast.org/bill-pay/" title="link to Pay a Bill" target="_blank"> Pay a Bill </a> </li>
                <li> <a href="https://www.southcoast.org/appointment-request-form/" title="link to Schedule an Appointment" target="_blank"> Schedule an Appointment </a> </li>
                <li> <a href="https://www.southcoast.org/philanthropy/volunteer/" title="link to Volunteer" target="_blank"> Volunteer </a> </li>
              </ul>
            </div>
          </div>
          <div class="ctas"> <a class="mainCTA shadow light2" href="https://www.southcoast.org/contact-us/" target="_blank" title="Opens Contact Southcoast Health in new tab or window">Contact Southcoast Health</a><a class="mainCTA shadow light2" href="index.html" title="Opens Explore Careers in new tab or window">Explore Careers</a><a class="mainCTA shadow light2" href="https://www.southcoast.org/doctors/" target="_blank" title="Opens Find a Doctor in new tab or window">Find a Doctor</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
<!--||{% block js %}{% endblock %}||-->

</body>
<!-- InstanceEnd --></html>
