<!doctype html>
<html lang="en">
<head>
    <meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Papa John&#39;s Jobs &amp; Open Positions - Hiring Today! | Papa Johns</title>
      <meta name="description" content="Get your piece of the pie. Learn more about careers at Papa John's, ranked #1 in customer satisfaction among national pizza brands for 18 of 20 years." />
	   <meta name="keywords" content="Papa Johns, jobs, careers, search, locations, events, talent network" />
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Google
    <meta itemprop="name" content="Papa John's Jobs & Open Positions - Hiring Today! | Papa Johns"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter
    <meta name="twitter:title" content="Papa John's Jobs & Open Positions - Hiring Today! | Papa Johns"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+)
    <meta property="og:title" content="Papa John's Jobs & Open Positions - Hiring Today! | Papa Johns"> -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	<meta property="og:type" content="website">
    <!-- Open Graph (LinkedIn) -->
    <meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
    <link rel="shortcut icon" href="files/images/favicon.ico">

	<link rel="stylesheet" href="files/fonts/font-styles.css">
	<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
	<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="files/styles/active-slides-2.css" media="screen" type="text/css"/>
	
	
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
	<script type="text/javascript" src="files/js/accordion.js"></script>
	
	<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>


</head>

<body>


<div class="skip-to-content">
	<a href="#main-intro">
		Skip to Page Content <span class="sr-only">(will bypass menus and search fields)</span>
	</a>
</div>
<!--------------------------- HEADER -------------------------->

<header>

<div class="header-inside">
		<div class="header-logo">
			<a href="https://www.papajohns.com/" target="_blank" class="logo" alt="Papa John's Homepage"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
		
		<div class="nav-right-top">
		<a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)"></a>
			<div class="burger mmmmmm">
				<div class="burger-box">
					<div class="all-the-fixins">
					</div>
				</div>
			</div>
		<nav id="hamburger-content" class="hamburger-content">
			<ul class="nav-top">
				 <li>
				  <a href="/">Careers Home</a>
			  </li
				>
				<li id="careerareasdd">
				
				<!--- Secondary nav level (Career Areas) --->
				
				<a href="#careerareas" aria-controls="#careerareas" aria-expanded="false" target="_blank" class="hamburger-title-2">Career Areas<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="careerareas" class="hamburger-content-2">
					<li><a href="#">Pizza Makers</a></li>
					<li><a href="#">Delivery Drivers</a></li>
					<li><a href="#">Distribution Center</a></li>
					<li><a href="#">Transportation &#38; CDL Drivers</a></li>
					<li><a href="#">Corporate</a></li>
					<li><a href="#">Technology</a></li>
				</ul>
				
				<!--- Secondary nav level (Career Areas) end --->
				
				  </li
				>
				<li id="culturedd">
				
				<!--- Secondary nav level (Culture) --->
				
				<a href="#culture" aria-controls="#culture" aria-expanded="false" target="_blank" class="hamburger-title-2">Culture<span class="sr-only"> (link opens in a new window)</span></a>
				<ul id="culture" class="hamburger-content-2">
					<li><a href="#">Our Culture</a></li>
              <li><a href="#">Diversity Equity & Inclusion</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Learning & Development</a></li>
			  <li><a href="#">Military Program</a></li>
				</ul>
				
				<!--- Secondary nav level (Culture) end --->
				
				  </li
				>
			  
			</ul>
		  <div class="nav-top-social">
		  <div class="shareThis-holder-main-pg">
       <div class="share-this-icons">
  <div>Share This</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
		  </div>
        </nav>
		</div>

	</div>
</header>
	
<main>

<!-- ---- BANNER AREA (SUB PAGE) ---- --> 
        <div class="bannerarea jobdetailspg">
    <div class="inner">
      <div class="copy">
        <h1>Bring Your Flavor</h1>
      </div>
    </div>
  </div>

<!------------------------  CONTENT --------------------------- -->
<div class="subcontent">

<div id="search-body" class="clearfix">
        <div class="inner">
		
		
		<section class="sub-search">
                <button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>

                <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->

                <!--||{% comment %}||-->
                <ul class="search-content" id="search-content">
                    <li>
                        <form id="search-form" method="get" action="/jobs/">
                            <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
                            <input type="submit" class="search-button" value="" aria-label="submit keyword search"/>
                        </form>
                    </li>
                    <li>
                        <button class="search-accordion-button" href="#search-content4" aria-controls="#search-content4" aria-expanded="false">Search Jobs by Category</button>
                        <ul class="search-content2" id="search-content4">

                                <li><a href="#">Category 01</a></li>
                                <li><a href="#">Category 02</a></li>
                                <li><a href="#">Category 03</a></li>
                                <li><a href="#">Category 04</a></li>
                                <li><a href="#">Category 05</a></li>
                                <li><a href="#">Category 06</a></li>
                                <li><a href="#">Category 07</a></li>
                                <li><a href="#">Category 08</a></li>
                                <li><a href="#">Category 09</a></li>
                                <li><a href="#">Category 10</a></li>
                                 </ul>
                    </li>
                    <li>
                        <button class="search-accordion-button" href="#search-content2" aria-controls="#search-content2" aria-expanded="false">Search Jobs by Location</button>
                        <ul class="search-content2" id="search-content2">

                                <li><a href="#">Location 01</a></li>
                                <li><a href="#">Location 02</a></li>
                                <li><a href="#">Location 03</a></li>
                                <li><a href="#">Location 04</a></li>
							    <li><a href="#">Location 05</a></li>
							    <li><a href="#">Location 06</a></li>
							    <li><a href="#">Location 07</a></li>
							    <li><a href="#">Location 08</a></li>
							    <li><a href="#">Location 09</a></li>
							    <li><a href="#">Location 10</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="zip-search">
                            <form id="zip-form" name="zip-form" method="get" action="{% url 'search' %}">
                                <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                                <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                                    <optgroup>
                                        {% for r in radius_choices %}
                                        <option value="{{ r }}"{% if r == radius %} selected{% endif %}>{{ r }} Miles</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </form>
                            <a href="javascript:$('#zip-form').submit()" id="id-zipcode-btn">
                                <span class="sr-only"> Submit Zip Code and Radius Search</span>
                            </a>
                        </div>
                    </li>
					<li>
                <a href="#" class="jobsnearme-button">Search Jobs Near Me</a>
            </li>
                    <li>
                        <a href="/jobs/" class="advanced-button">View All Jobs</a>
                    </li>
                </ul>
                <!--||{% endcomment %}||-->

            </section>
		

        <!--||{% block content-outer %}||-->

            <section class="search-results">
				
				<!--||{% block content %}{% endblock %}||-->

				<!--||{% comment %}||-->
				
				<div class="search-headings">
					<h1>Assistant Manager</h1>
					
							  <div class="shareThis-holder-jobs">
       <div class="share-this-icons">
  <div>Share This</div>
  <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
  </ul>
</div>
</div>
				
				</div>
				
				
				
				<ul class="sub-buttons">
					<li>
						<a href="#">Apply</a>
					</li>
					<li>
						<a href="#" class="utility-btn">Refer a Friend</a>
					</li>
					<li>
						<form action="#" method="post" style="display: inline-block">
							<input type="hidden" name="csrfmiddlewaretoken" value="5xMJjaW3rsFhKKAHKiPeQvumrAQN0EwNbCbONmd75hHVtJDfMKaL743QXAGf9Bj7">
							<a href="#" onclick="$(this).closest('form').submit(); return false;" class="utility-btn">Save Job</a>
						</form>
					</li>
					<li>
						<a href="javascript:history.back();">Back</a>
					</li>
<!--
					<li class="shareThis">
						<span class="stLeft">
						Share This Job
						</span>
						<div class="stRight">
            	    	    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53a47c2d2f5ca32d"></script>
            	        	<div class="addthis_sharing_toolbox"></div>
            	    	</div>
					</li>
-->
				</ul>
				
				
				<div class="job-details-content">
				<div id="job-details-map-holder">
					
							<dl>
								<span><h2>Job Details</h2></span>
					<span class="job-ref"><dt>Job Ref:</dt><dd>46893</dd></span>
					<span class="location"><dt>Location:</dt><dd>45 6th St, 
				
				Malone, 
				NY
				</dd></span>
					<span class="category"><dt>Location:</dt><dd>
1145 Johnnie Dodds Blvd., Mt Pleasant, SC</dd></span>
										
					
						<span class="job_type"><dt>Job Type:</dt><dd>Regular</dd></span>
					
					
					
					
					
					
					
				
				</dl>
				
							
					<div class="google-job-map clearfix">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.2463529024003!2d-79.85969178742299!3d32.812236982073046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe71bcd6c093c3%3A0xe4a209a5a5875668!2sPapa%20Johns%20Pizza!5e0!3m2!1sen!2sus!4v1686326298530!5m2!1sen!2sus" style="border:0" allowfullscreen="" width="auto" height="auto" frameborder="0"></iframe>
						
					</div>
				
				
						</div>
					
					<div class="copy">
						<div>
					<p><b>This is a Franchise Position</b></p>
						
							<p>At Papa John's, people are always our top priority. Our secret ingredient is YOU! Our employees are much like our toppings. They're all different but come together to make the ultimate pizza! Will you be the pepperoni or the banana pepper to our team? Exciting things are happening at Papa John's and our career experience keeps getting "better"!</p>
							<p>Papa John's Assistant Managers help manage all parts of the restaurant for profitability. You'll help make sure we deliver high-quality products and services to our customers. We're looking for a team-oriented leader who gives your team a sense of pride and accountability.</p>
							<p><b>Education:</b></p>
							<p>State of Vermont Registered Nurse (RN) license required. The University of Vermont Medical Center is moving toward an all Bachelor of Science in Nursing (BSN) workforce. All external candidates hired into, or current employees promoted to, a RN position will be required to obtain their BSN as outlined in the terms of their offer letter. Current internal RNs are strongly encouraged to pursue a BSN to support this initiative.</p>
							<p><b>Responsibilities:</b></p>
							<ul>
							<li>Manage operations</li>
							<li>Perform all Company policies, procedures, programs, and systems</li>
							<li>Follow all federal, state, and local laws</li>
							<li>Use ethical business practices</li>
							</ul>
							<p><b>Requirements:</b></p>
							<ul>
							<li>Contribute to profit goals by keeping within company guidelines and target goals using the PROFIT System.</li>
<li>Perform cash management duties.</li>
<li>Help manage adequate inventory levels using company systems and guidelines to reduce loss.</li>
<li>Manage company's assets and keep the restaurant is clean, safe and organized.</li>
<li>Follow safety and security standards at all times.</li>
<li>Shows dependability and a sense of urgency in getting results.</li>
<li>Cash management skills.</li>
<li>High School diploma or GED.</li>
<li>Successful and stable employment history.</li>
<li>Lift at least 50 lbs.</li>
<li>Perform the job duties of all positions in the restaurant, including pizza delivery.</li>
<li>Lead a team during a shift with no supervision.</li>
<li>Work with phones, computers, fax machines, and copiers.</li>
<li>Reliable transportation to and from work</li>
<li>Responsible to open or close the shift</li>
<li>Dependable and on time</li>
							</ul>
							<p><b>At Papa John's, our team members are more than employees! We care about you and your development. In fact, most of our promotions come from within! So become a part of the Papa John's family and join us as an Assistant Manager.</b></p>
							<p><b>Exciting things are happening at Papa John's franchise restaurants. Work where the best ingredient is YOU!</b> If you are looking for a fulfilling career with an international company, flavored with challenging work, mixed with professional development opportunities, a competitive salary and a collaborative team environment, then look no further! Papa John's seeks people who share our philosophy for success, are looking for quality business practices and meaningful work. All these combine to produce not only the best pizza, but also the best team members!</p>
							<p>Papa John's has over 5,000 locations in 44 countries and territories around the world. We offer a competitive benefits and compensation package. Driven to be the best. Better Ingredients. Better People.®</p>
							<p><b>It is the policy of Papa John's to provide equal employment opportunities</b> for all applicants and team members without regard to race, color, religion, sex, age, marital status or civil partnership, national or ethnic origin, pregnancy or maternity, veteran status, uniformed service (as defined by 10 U.S.C. §101 (a)(5)), protected disability status, genetic information, sexual orientation, gender identity, gender reassignment, or gender expression, or any other characteristic protected by statute or law. </p>
							</div>
					</div>
					
					<div class="apply">
						<a href="#">Apply</a>
					</div>
				
				</div>

				<!--||{% endcomment %}||-->

			</section>

            <!--||{% block side-bar %}||-->
            

            <div class="search-results-right">
                    <section class="tn-callout">
                    <a href="{% url 'subscriptions' %}"><div><span>Join Our Talent Network</span></div></a>
                </section>

               <div class="video-responsive">
<div style="padding:56.25% 0 0 0;position:relative;"><iframe width="560" height="315" src="https://www.youtube.com/embed/0BFO5MOxiyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>

               


            </div>
            <!--||{% endblock side-bar %}||-->

        </div>
        <!--||{% endblock content-outer %}||-->

    </div>
</div>

	
	
</main>


<!------------------------  FOOTER --------------------------- -->
	
<footer>
<div class="footer-disclaimer">
<div class="inner">*Keep in mind that employees of franchised restaurants are not employees of Papa John's corporate and Papa John’s corporate does not set or control the terms of employment at its franchised restaurants. Employment terms, including pay, hours and benefits, will be determined by the franchisee/owner of the franchised restaurant and may not be the same as those offered by Papa John’s corporate.</div>
</div>
<div class="footer-lower">
<div class="inner">
<div class="footer-lower-right">
         <div id="footerhome">
            <div class="footer-logo">
			<a href="https://www.papajohns.com/" target="_blank" class="logo" alt="Papa John's Homepage"><span class="sr-only"> (link opens in a new window)</span></a>
		</div>
          </div>
          <div>
            <p><a href="#giving-footer-menu">Career Areas</a></p>
            <ul id="giving-footer-menu">
              <li><a href="#">Pizza Makers</a></li>
              <li><a href="#">Delivery Drivers</a></li>
              <li><a href="#">Distribution Center</a></li>
			  <li><a href="#">Distribution Center</a></li>
			  <li><a href="#">Corporate</a></li>
			  <li><a href="#">Technology</a></li>
            </ul>
           
          </div>

          <div>
            <p><a href="#connect-footer-menu">Culture</a></p>
            <ul id="connect-footer-menu">
              <li><a href="#">Our Culture</a></li>
              <li><a href="#">Diversity Equity &#38; Inclusion</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Learning &#38; Development</a></li>
			  <li><a href="#">Military Program</a></li>
            </ul>
            
          </div>
        </div>
        <div class="footer-lower-left">
          <p>Follow Us</p>
		     <div class="sm-holder-outer">
              <a href="https://www.facebook.com/papajohnsus" target="_blank" aria-label="View Papa Johns' Facebook Page (opens in a new window)">
                <div class="sm-holder padright5px">
			    <img src="files/images/global/footer-sm/icon-sm-fb.svg" alt="Facebook" class="scalable"/></div>
              </a>
			  
			     <a href="https://www.instagram.com/papajohns/" target="_blank" aria-label="View Papa Johns' Instagram Page (opens in a new window)">
                <div class="sm-holder padright5px">
			     <img src="files/images/global/footer-sm/icon-sm-instagram.svg" alt="Instagram" class="scalable"/> </div>
              </a>

              <a href="#" target="_blank" aria-label="View Papa Johns' LinkedIn Page (opens in a new window)">
                <div class="sm-holder">
		        <img src="files/images/global/footer-sm/icon-sm-linkedin.svg" alt="LinkedIn" class="scalable"/></div>
              </a>

              <a href="https://www.youtube.com/user/papajohns" target="_blank" aria-label="View Papa Johns' YouTube Page (opens in a new window)">
                <div class="sm-holder">
			    <img src="files/images/global/footer-sm/icon-sm-youtube.svg" alt="YouTube" class="scalable"/> </div>
              </a>

              <a href="https://twitter.com/papajohns" target="_blank" aria-label="View Papa Johns' Twitter Page (opens in a new window)">
                <div class="sm-holder padright5px">
			    <img src="files/images/global/footer-sm/icon-sm-twitter.svg" alt="Twitter" class="scalable"/> </div>
              </a>
			  
			    <a href="https://www.pinterest.com/papajohnspizza/" target="_blank" aria-label="View Papa Johns' Pinterest Page (opens in a new window)">
                <div class="sm-holder">
			    <img src="files/images/global/footer-sm/icon-sm-pinterest.svg" alt="Pinterest"  class="scalable"/> </div>
              </a>
            </div>
          
        </div>
        
      </div>
</div>
<div class="inner">
	<div class="footer-bottom">
	<p>Papa John's is a Federal Contract employer who participates in E-Verify to confirm employment eligibility for each new team member.</p>
	<p><span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;Papa John's International, Inc. All Rights Reserved</p>
	</div>
	</div>
</footer>

</body>
</html>
