body{
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 1.2rem;
}
.title {
	background-color: #929474;
	color: #FFFFFF;
	font-size: 1.4rem;
	line-height: 1.1rem;
	padding: 10px 40px;
}
.container {
	width: 960px;
	margin: 30px auto 0 auto;
}
h3, h4{
	text-align: center;
}
h4{
	margin: 10px auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 20px;
}
.column{
	flex: 32%;
	padding: 0 4px;
	overflow: hidden;
}
.column img{
	object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%; 
	vertical-align: middle;
}
figure{
	position: relative;
	overflow: hidden;
}
figure:hover{
	background-color: #00B4DB;
}
figure:hover img{
	opacity: .25
}
figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    width: 100%;
    z-index: 1; 
}
.code-caption{
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
	border: 1px solid #000;
}
/*----------- Zoom In (Bigger) -----------*/
.zoom-in img{
	transition: all .6s ease-in-out;
}

.zoom-in:hover img{
	transform: scale(1.25);
}
/*----------- Zoom Out (Smaller) -----------*/
.zoom-out img{
	transform: scale(1.25);
	transition: all .6s ease-in-out;
}

.zoom-out:hover img{
	transform: scale(1);
}

/*----------- Pan Up -----------*/
.pan-up img{
	transform-origin: top;
	transform: scale(1.2) translate(0,0);
	transition: all .6s ease-in-out;
}

.pan-up:hover img{
	transform: scale(1.2) translate(0,-15%);
}

/*----------- Pan Down -----------*/
.pan-down img{
	transform-origin: bottom;
	transform: scale(1.2) translate(0,0);
	transition: all .6s ease-in-out;
}

.pan-down:hover img{
	transform: scale(1.2) translate(0,15%);
}

/*----------- Pan Left -----------*/
.pan-left img{
	transform-origin: left;
	transform: scale(1.2) translate(0,0);
	transition: all .6s ease-in-out;
}

.pan-left:hover img{
	transform: scale(1.2) translate(-15%,0);
}

/*----------- Pan Right -----------*/
.pan-right img{
	transform-origin: right;
	transform: scale(1.2) translate(0,0);
	transition: all .6s ease-in-out;
}

.pan-right:hover img{
	transform: scale(1.2) translate(15%,0);
}

/*----------- Rotate Left -----------*/
.rotate-left img{
	transform: scale(1.1) translate(0,0);
	transition: all .6s ease-in-out;
}

.rotate-left:hover img{
	transform: scale(1.3) rotate(-15deg);
}
/*----------- Rotate Right -----------*/
.rotate-right img{
	transform: scale(1.1) translate(0,0);
	transition: all .6s ease-in-out;
}

.rotate-right:hover img{
	transform: scale(1.3) rotate(15deg);
}

/*----------- Blur -----------*/
.blur img{
	transform: scale(1.1) translate(0,0);
	transition: all .6s ease-in-out;
}

.blur:hover img{
	filter: blur(4px);
	transform: scale(1.1);
}

























