<!DOCTYPE html>
<html lang="en">

<head>

	<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Retail Sales and Fashion Jobs at Chico's FAS</title>
	<meta name="description" content="Apply online for retail sales, fashion, and corporate jobs at Chico's FAS, and join our three brands and hundreds of boutiques across the U.S.">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Google -->
	<meta itemprop="image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image:src" content="/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:image" content="/static/sites/www/files/images/global/share-this/social-image.jpg?new">
	<meta property="og:image:secure_url" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
	<!-- Open Graph (LinkedIn) -->
	<meta name="image" property="og:image" content="/static/sites/www/files/images/global/share-this/social-image.jpg">
	<link rel="shortcut icon" href="/static/sites/www/files/images/favicon.ico">
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "",
			"image": "files/images/global/knowledge-graph-logo/logo.png",
			"logo": "files/images/global/knowledge-graph-logo/logo.png"
		}
	</script>
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/files/images/global/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/files/images/global/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/files/images/global/favicons/favicon-16x16.png">
	<link rel="manifest" href="/files/images/global/favicons/site.webmanifest">
	<link rel="mask-icon" href="/files/images/global/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<!-- End Favicon -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" href="files/css/style.css">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<!-- <script src="files/js/video.js"></script> -->
	<script src="files/js/jquery.init.js"></script>
	
</head>

<body>
	<header id="header">
		<div class="top-row">
			<div class="wrap">
				<div class="left">
					<ul>
						<li>
							<a href="https://www.dayforcehcm.com/MyDayforce/MyDayforce.aspx#SG9tZQ%3D%3D">Current Associate Login</a>
							
						</li>
						<li class="has-children">
							<button href="#return-apps-sub" class="">Returning Applicant Login</button>
							<ul class="top-sub sub-menu" id="return-apps-sub">
								<li><a href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas">Corporate Positions Login</a></li>
								<li><a href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas/Site/STORECAREERS">Store Positions Login</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="share-this-icons">
						<div>share this</div>
						<ul>
							<li>
								<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
							</li>
							<li>
								<a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
							</li>
							<li>
								<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
							</li>
							<li><a href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-row">
			<a href="https://chicosfas.com/" class="logo">
				<img src="files/images/logo.png" alt="">
			</a>
			<button class="mobile-toggle" aria-label="Open Mobile Menu"><span></span></button>
			<nav>
				<ul>
					<li><a href="index.html">Career Home</a></li>
					<li><a href="who-we-are.html">Who We Are</a></li>
					<li class="has-children">
						<a href="what-we-do.html">What We Do </a>
						<button href="#what-we-do"><span class="sr-only">(Open Sub Menu)</span></button>
						<ul id="what-we-do" class="sub-menu">
							<li><a href="store-careers.html">Store Careers</a></li>
							<li><a href="fashion-careers.html">Fashion Careers</a></li>
							<li><a href="corporate.html">Corporate Careers</a></li>
							
							<li><a href="internships.html">Internships</a></li>
						</ul>
					</li>
					<li class="has-children">
						<a href="life-at-chicos.html">Life at Chico's</a>
						<button href="#life-at-chicos"><span class="sr-only">(Open Sub Menu)</span></button>
						<ul id="life-at-chicos" class="sub-menu">
							<li><a href="values-and-culture.html">Values &amp; Culture </a></li>
							<li><a href="inclusion-and-diversity.html">Inclusion &amp; Diversity</a></li>
							<li><a href="philanthropy.html">Philanthropy</a></li>
						</ul>
					</li>
					<li><a href="benefits.html">Benefits</a></li>
					<li><a href="after-work.html">After Work</a></li>
					<li><a href="/talentnetwork/">Join our Talent Network</a></li>
					<li class="mobile-only">
						<a href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas">Current Associate Login</a>
					</li>
					<li class="mobile-only has-children">
						<button href="#return-apps-sub-mobile" class="">Returning Applicant Login</button>
						<ul class="top-sub sub-menu" id="return-apps-sub-mobile">
							<li><a rel="noreferrer noopener" target="_blank" href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas">Corporate Positions Login</a></li>
							<li><a rel="noreferrer noopener" target="_blank" href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas/Site/STORECAREERS">Store Positions Login</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="inner-banner">
		<div class="inner-banner-img benefits"></div>
		<div class="inner-banner-title">
			<h1>BENEFITS</h1>
			<p>CHICO’S FAS CAREERS</p>
		</div>
	</section>
	<section class="job-search-bar">
		  <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
	
		  <!--||{% comment %}||-->
		  <ul class="search-field-wrap search-content">
			<li>
				<div class="input-wrap">
					<label for="" class="sr-only">Search by Keyword</label>
					<input name="search_term" type="text" id="search_term" placeholder="Search by Keyword" value="" aria-label="keyword search">
					<button class="search-button"><span class="sr-only">Submit Search by Keyword</span></button>
				</div>
			</li>
			<li>
				<button class="search-accordion-button" href="#location-search" aria-controls="#location-search" aria-expanded="false">
					Search Jobs by Location
				</button>
				<ul id="location-search" class="search-accordion-list">
					<li class="accordion-link active"><a class="accordion-link search_link" href="/jobs/">Search All Locations</a></li>
					<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/virtual/">Virtual Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/ca-on/">Ontario Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-al/">Alabama Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ar/">Arkansas Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-az/">Arizona Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ca/">California Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-co/">Colorado Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ct/">Connecticut Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-de/">Delaware Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-fl/">Florida Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ga/">Georgia Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-hi/">Hawaii Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ia/">Iowa Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-id/">Idaho Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-il/">Illinois Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-in/">Indiana Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ks/">Kansas Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ky/">Kentucky Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-la/">Louisiana Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ma/">Massachusetts Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-md/">Maryland Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-me/">Maine Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-mi/">Michigan Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-mn/">Minnesota Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-mo/">Missouri Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ms/">Mississippi Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-mt/">Montana Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nc/">North Carolina Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nd/">North Dakota Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ne/">Nebraska Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nh/">New Hampshire Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nj/">New Jersey Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nm/">New Mexico Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nv/">Nevada Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ny/">New York Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-oh/">Ohio Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ok/">Oklahoma Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-or/">Oregon Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-pa/">Pennsylvania Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-pr/">Puerto Rico Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ri/">Rhode Island Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-sc/">South Carolina Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-sd/">South Dakota Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-tn/">Tennessee Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-tx/">Texas Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ut/">Utah Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-va/">Virginia Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-vi/">Virgin Islands Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-wa/">Washington Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-wi/">Wisconsin Jobs</a></li>
					<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-wv/">West Virginia Jobs</a></li>
				</ul>
			</li>
			<li>
				<a href="/jobs/" class="btn grey">Advanced Job Search</a>
			</li>
			<li>
				<a href="/jobs?remote=1" class="btn remote-jobs">View Remote Jobs</a>
			</li>
		</ul>
		<!--||{% endcomment %}||-->
	</section>
	
	<div class="mission-statement centered-content">
		<div class="wrap">
			<p>The Chico’s FAS benefits program offers a full range of competitive options for our Associates and their families. We pay the majority of the cost to ensure that programs are affordable to our Associates and meet their diverse lifestyle needs.</p>
		</div>
	</div>
	
	<section class="benefits">
		<div class="wrap">
			<h2>We Offer <i>a</i> Generous Benefits Package:</h2>
			<ul class="benefits-list">
				<li>
					<div class="icon-box">
						<img src="files/images/sub/benefits/health.png" alt="" width="203" height="176">
					</div>
					<h3>Health, Life<br> &amp; Disability</h3>
				</li>
				<li>
					<div class="icon-box">
						<img src="files/images/sub/benefits/401k.png" alt="" width="212" height="188">
					</div>
					<h3>401(k)</h3>
				</li>
				<li>
					<div class="icon-box">
						<img src="files/images/sub/benefits/time-off.png" alt="" width="191" height="164">
					</div>
					<h3>Paid Time Off &amp;<br> Work-life benefits</h3>
				</li>
				<li>
					<div class="icon-box">
						<img src="files/images/sub/benefits/bonus.png" alt="" width="214" height="152">
					</div>
					<h3>
						Bonus <br>Opportunities
					</h3>
				</li>
				<li>
					<div class="icon-box">
						<img src="files/images/sub/benefits/discounts.png" alt="" width="171" height="178">
					</div>
					<h3>Store<br>Discounts</h3>
				</li>
			</ul>
			<a href="files/pdf/Benefits-At-a-Glance-2025-Full-Time-Associates.pdf" class="btn ghost-white">For a full list of benefits, click here to view our <strong>Benefits Overview PDF</strong></a>
		</div>
	</section>
		
	
	
	
	<div class="testimonials">
		<div class="wrap">
			<h2>Hear What <i>our</i> Team Members Have <i>to</i> Say </h2>
			<div class="testimonial-slider">
				
				<div class="testimonial-slide">
					<div class="img-wrap">
						<img src="files/images/testimonials/leslie.jpg" alt="Leslie ">
					</div>
					<div class="content-wrap">
						<blockquote>Our beautiful campus is one of my favorite parts of working for Chico’s FAS. I love taking walks from building to building, enjoying the Florida scenery as well as taking advantage of our great amenities. It is so convenient to walk over to the gym after work as well as meeting up with co-workers weekly at the campus coffee truck or Metro café.</blockquote>
						<p><strong>Leslie</strong>, Merchant – WHBM</p>
					</div>
				</div>
			</div>
			
		</div>
		<div class="dots-container" style="visibility: hidden;"></div>
	</div>
	
	
	<div class="centered-content">
		<div class="wrap">
			<h2 class="special">Fort Myers Campus Benefits</h2>
		</div>
	</div>
	<section class="two-col flipped">
		<div class="img-col beach-photo">
		</div>
		
		<div class="content-col dark-blue">
			<div class="inner-wrap">
				
				<p>Living in Southwest Florida, you will enjoy white sandy beaches, dozens of golf courses, a thriving sports scene and outdoor recreation of all kinds.</p>
				
			</div>
		</div>
	</section>
	
		
	<section class="two-col ">
		<div class="video-col">
			<div class='embed-container'><iframe width="560" height="315" src="https://www.youtube.com/embed/4JvWSS9d77Y?si=_p09z4mPnM3WWOUH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
		</div>
		<div class="content-col pink">
			<div class="inner-wrap">
				<p>In addition to the fabulous Florida lifestyle, we offer amazing benefits at our Fort Myers campus including:  </p>
				<ul>
					<li>On-site Health Center</li>
					<li>On-site Fitness Center/Classes</li>
					<li>On-site Child Care</li>
					<li>Bikes for Cross Company Travel</li>
					<li>Fresh Flowers</li>
				</ul>
			</div>
		</div>
	</section>
	
	<section class="centered-content">
		<div class="wrap">
			<h2>Learning <i>and</i> Development</h2>
			<p class="upper-style">Make Chico’s FAS your runway to success!</p>
			<p>From FAS University, which offers a variety of learning experiences, to LinkedIn Learning, and our incredible development programs – they are all designed to help grow your skills and achieve your career goals.</p>
		</div>
	</section>
	
	<div class="banner-ad">
		<img src="files/images/sub/benefits/fas.jpg" alt="FASU | Your runway to success" class="desktop-ad">
		<img src="files/images/sub/benefits/fas-mobile.jpg" alt="FASU | Your runway to success" class="mobile-ad">
	</div>
	
	
	<section class="join-our-talent-network two-col">
		<div class="img-col talent-network-img"></div>
		<div class="content-col">
			<div class="inner-wrap">
				<h2>Join <i>our</i> Talent Network</h2>
				<p>Stay connected with Chico's FAS about career news.</p>
				<a href="/talentnetwork/" class="btn">Sign Up Now</a>
			</div>
		</div>
	</section>	
		
	<footer id="footer">
			<div class="top-row">
				<div class="wrap">
					<nav>
						<ul>
							<li><a href="index.html">Career Home</a></li>
							<li><a href="who-we-are.html">Who We Are</a></li>
							<li class="has-children">
								<a href="what-we-do.html">What We Do </a>
								<button href="#what-we-do-foot"><span class="sr-only">(Open Sub Menu)</span></button>
								<ul id="what-we-do-foot" class="sub-menu">
									<li><a href="store-careers.html">Store Careers</a></li>
									<li><a href="fashion-careers.html">Fashion Careers</a></li>
									<li><a href="corporate.html">Corporate Careers</a></li>
									
									<li><a href="internships.html">Internships</a></li>
								</ul>
							</li>
							<li class="has-children">
								<a href="life-at-chicos.html">Life at Chico's</a>
								<button href="#life-at-chicos-foot"><span class="sr-only">(Open Sub Menu)</span></button>
								<ul id="life-at-chicos-foot" class="sub-menu">
									<li><a href="values-and-culture.html">Values &amp; Culture </a></li>
									<li><a href="inclusion-and-diversity.html">Inclusion &amp; Diversity</a></li>
									<li><a href="philanthropy.html">Philanthropy</a></li>
								</ul>
							</li>
							<li><a href="benefits.html">Benefits</a></li>
							<li><a href="after-work.html">After Work</a></li>
						</ul>
					</nav>
					<p>Chico’s FAS, Inc. is an equal opportunity employer. We do not discriminate on the basis of race, color, religion, marital status, age, national origin, ancestry, physical or mental disability, medical condition, pregnancy, childbirth and related medical conditions, lactation, genetic information, gender, sexual orientation, gender identity or expression, military service, veteran status, or any other category protected under federal, state, or local law. </p>
				</div>
			</div>
			<div class="bottom-row">
				<div class="wrap">
					<div class="brands-nav">
						<span><img src="files/images/global/chicos.png" width="150" height="53" alt="Chico's" ></span>
						<span><img src="files/images/global/whbm.png" alt="WHBM" width="150" height="53"></span>
						<span><img src="files/images/global/soma.png" alt="SOMA" width="150" height="60"></span>
					</div>
				</div>
			</div>
		</footer>
		
	</body>
	
	</html>