<!DOCTYPE html>
<html lang="en">
	<head>
		<!--|| {% load job_tags static %} ||-->
		<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% block headers %}
		<title>{% block title %}Retail Sales and Fashion Jobs at Chico's FAS{% endblock %}</title>
		<meta name="description" content="" />
		{% endblock %}

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<!-- Google -->
		<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
		<!-- Open Graph general (Facebook, Pinterest & Google+) -->
		<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
		<meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
		<!-- Open Graph (LinkedIn) -->
		<meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg?new">
		<link rel="shortcut icon" href="{{ CANONICAL_URL }}/static/sites/www/files/images/favicon.ico">
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "{{ CANONICAL_URL }}",
				"image": "{{ CANONICAL_URL }}files/images/global/knowledge-graph-logo/logo.png",
				"logo": "{{ CANONICAL_URL }}files/images/global/knowledge-graph-logo/logo.png"
			}
		</script>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="files/images/global/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="files/images/global/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="files/images/global/favicons/favicon-16x16.png">
		<link rel="manifest" href="files/images/global/favicons/site.webmanifest">
		<link rel="mask-icon" href="files/images/global/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<!-- End Favicon -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
		<link rel="stylesheet" href="files/css/style.css">
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script src="files/js/jquery.init.js"></script>

		<script src="{% static "js/common.js" %}"></script>
		<!--||{% block head %}{% endblock %}||-->
	</head>

	<body class="{% block body-class %}{% endblock %}">
		<header id="header">
			<div class="top-row">
				<div class="wrap">
					<div class="left">
						<ul>
							<li>
								<a href="https://www.dayforcehcm.com/MyDayforce/MyDayforce.aspx#SG9tZQ%3D%3D">Current Associate Login</a>
								
							</li>
							<li class="has-children">
								<button href="#return-apps-sub" class="">Returning Applicant Login</button>
								<ul class="top-sub sub-menu" id="return-apps-sub">
									<li><a href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas">Corporate Positions Login</a></li>
									<li><a href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas/Site/STORECAREERS">Store Positions Login</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="right">
						<div class="share-this-icons">
							<div>share this</div>
							<ul>
								<li>
									<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
								</li>
								<li>
									<a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
								</li>
								<li>
									<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
								</li>
								<li><a href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-row">
				<a href="#" class="logo">
					<img src="files/images/logo.png" alt="">
				</a>
				<button class="mobile-toggle" aria-label="Open Mobile Menu"><span></span></button>
				<nav>
					<ul>
						<li><a href="/index.html">Career Home</a></li>
						<li><a href="/who-we-are.html">Who We Are</a></li>
						<li class="has-children">
							<a href="/what-we-do.html">What We Do </a>
							<button href="#what-we-do"><span class="sr-only">(Open Sub Menu)</span></button>
							<ul id="what-we-do" class="sub-menu">
								<li><a href="/store-careers.html">Store Careers</a></li>
								<li><a href="/fashion-careers.html">Fashion Careers</a></li>
								<li><a href="/corporate.html">Corporate Careers</a></li>
								
								<li><a href="/internships.html">Internships</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="/life-at-chicos.html">Life at Chico's</a>
							<button href="#life-at-chicos"><span class="sr-only">(Open Sub Menu)</span></button>
							<ul id="life-at-chicos" class="sub-menu">
								<li><a href="/values-and-culture.html">Values &amp; Culture </a></li>
								<li><a href="/inclusion-and-diversity.html">Inclusion &amp; Diversity</a></li>
								<li><a href="/philanthropy.html">Philanthropy</a></li>
							</ul>
						</li>
						<li><a href="/benefits.html">Benefits</a></li>
						<li><a href="/after-work.html">After Work</a></li>
						<li><a href="/talentnetwork/">Join our Talent Network</a></li>
						<li class="mobile-only">
							<a href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas">Current Associate Login</a>
						</li>
						<li class="mobile-only has-children">
							<button href="#return-apps-sub-mobile" class="">Returning Applicant Login</button>
							<ul class="top-sub sub-menu" id="return-apps-sub-mobile">
								<li><a href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas">Corporate Positions Login</a></li>
								<li><a href="https://www.dayforcehcm.com/CandidatePortal/en-US/chicosfas/Site/STORECAREERS">Store Positions Login</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<main id="main">
		<section class="inner-banner">
			<div class="inner-banner-img associate-merchant"></div>
			<div class="inner-banner-title">
				<div class="h1-style"> Passion for fashion</div>
				<p>CHICO’S FAS CAREERS</p>
			</div>
		</section>
		
		<section class="job-search-bar">
			  <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->
		
			  <!--||{% comment %}||-->
			  <ul class="search-field-wrap search-content">
				<li>
					<div class="input-wrap">
						<label for="" class="sr-only">Search by Keyword</label>
						<input name="search_term" type="text" id="search_term" placeholder="Search by Keyword" value="" aria-label="keyword search">
						<button class="search-button"><span class="sr-only">Submit Search by Keyword</span></button>
					</div>
				</li>
				<li>
					<button class="search-accordion-button" href="#location-search" aria-controls="#location-search" aria-expanded="false">
						Search Jobs by Location
					</button>
					<ul id="location-search" class="search-accordion-list">
						<li class="accordion-link active"><a class="accordion-link search_link" href="/jobs/">Search All Locations</a></li>
						<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/virtual/">Virtual Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/ca-on/">Ontario Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-al/">Alabama Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ar/">Arkansas Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-az/">Arizona Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ca/">California Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-co/">Colorado Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ct/">Connecticut Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-de/">Delaware Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-fl/">Florida Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ga/">Georgia Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-hi/">Hawaii Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ia/">Iowa Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-id/">Idaho Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-il/">Illinois Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-in/">Indiana Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ks/">Kansas Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ky/">Kentucky Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-la/">Louisiana Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ma/">Massachusetts Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-md/">Maryland Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-me/">Maine Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-mi/">Michigan Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-mn/">Minnesota Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-mo/">Missouri Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ms/">Mississippi Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-mt/">Montana Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nc/">North Carolina Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nd/">North Dakota Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ne/">Nebraska Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nh/">New Hampshire Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nj/">New Jersey Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nm/">New Mexico Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-nv/">Nevada Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ny/">New York Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-oh/">Ohio Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ok/">Oklahoma Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-or/">Oregon Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-pa/">Pennsylvania Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-pr/">Puerto Rico Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ri/">Rhode Island Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-sc/">South Carolina Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-sd/">South Dakota Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-tn/">Tennessee Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-tx/">Texas Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-ut/">Utah Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-va/">Virginia Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-vi/">Virgin Islands Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-wa/">Washington Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-wi/">Wisconsin Jobs</a></li>
						<li class="accordion-link"><a class="accordion-link search-link-30" href="/jobs/us-wv/">West Virginia Jobs</a></li>
					</ul>
				</li>
				<li>
					<a href="/jobs/" class="btn grey">Advanced Job Search</a>
				</li>
				<li>
					<a href="/jobs?remote=1" class="btn remote-jobs">View Remote Jobs</a>
				</li>
			</ul>
			<!--||{% endcomment %}||-->
		</section>
		
		
		<section id="dynamic-job-details" class="dynamic-job-details">
			<div class="wrap">
				<h1>{{ job.title|safe }}</h1>

                <!--||{% include "includes/custom_job_details_subhead.html" %}||-->
                
                <nav class="job-actions">
                    <!--||{% include "includes/job_action_buttons.html" %}||-->
                </nav>
                
                <!--||{% comment %}||-->
				<h1>Associate Merchant</h1>
				<dl>
					<div>
						<dt>Job Ref: </dt>
						<dd>9264</dd>
					</div>
					<div>
						<dt>Brand: </dt>
						<dd>Chico's</dd>
					</div>
					<div>
						<dt>Category: </dt>
						<dd>Retail Assistant Manager</dd>
					</div>
					<div>
						<dt>Employment Type: </dt>
						<dd>9264</dd>
					</div>
					<div>
						<dt>Location: </dt>
						<dd>1350 Scenic Hwy, Suite 316, Snellville, GA</dd>
					</div>
				</dl>
				<nav class="job-actions">
					<ul>
						<li class="apply-button"><a href="#" class="btn blue">Apply</a></li>
						<li>
							<form action="#0" method="post">
								<input type="hidden" name="csrfmiddlewaretoken" value="2YwasfDrA8hxOcWwHHqTrRtUtE2pwyvwU0ZfW81tTu5NBLSHC84PkCZh2TOdcrIo">
								<button href="#" onclick="$(this).closest('form').submit(); return false;" class="btn blue">
									Save Job
								</button>
							</form>
						</li>
						<li><a href="#0" class="btn blue">Share Job</a></li>
						<li><a href="javascript:history.back();" id="backbtn" class="btn blue">Back</a></li>
					</ul>
				</nav>
                <!--||{% endcomment %}||-->
                
				<div class="share-this-icons">
					<div>share this</div>
					<ul>
						<li>
							<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
						</li>
						<li>
							<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
						</li>
						<li><a href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
					</ul>
				</div>
			</div>
		</section>
		
		<div class="job-mission asso-merchant">
			<div class="inner">
				<p>A Passion for FASHION is in our DNA. Our goal is to deliver distinctive, beautiful products that exude confidence and joy, and our Associates provide our competitive edge. If you share our passion for fashion, we invite you to join us.</p>
			</div>
		</div>
		
		<section class="two-col">
			<div class="img-col asso-merch-res"></div>
			<div class="content-col pink">
				<div class="inner-wrap">
					<h2>Responsibilities</h2>
					<ul class="no-list">
						<li>Achieve sales, gross margin, and profit goals of a specific Omni-channel classification and/or department through the selection, pricing and promotion of merchandise.</li>
						<li>Utilize merchandising and management techniques to maximize the company’s return on inventory investment and space in stores and online.</li>
						<li>Perform research analysis of the market and identify trends and opportunities, ensuring the merchandise reflects what our customers want to buy.</li>
						<li>Help develop and execute seasonal merchandise plans and pricing strategies.</li>
					</ul>
				</div>
			</div>
		</section>
		
		<div class="testimonials">
			<div class="wrap">
				<h2>Hear What <i>our</i> Team Members Have <i>to</i> Say </h2>
				<div class="testimonial-slider">
					
				
					<div class="testimonial-slide">
						<div class="img-wrap">
							<img src="files/images/testimonials/lauren.jpg" alt="Lauren">
						</div>
						<div class="content-wrap">
							<blockquote>I love working in merchandising because every day is different and presents new opportunities! The merch team collaborates with so many different teams to deliver product strategies that resonate with our customers.  Merchandising is a great balance between being creative and product obsessed, and using analytical skills to build strategies. I really feel the impact I have on the company.  </blockquote>
							<p><strong>Lauren</strong>, Merchant – Soma</p>
						</div>
					</div>
					
					<div class="testimonial-slide">
						<div class="img-wrap">
							<img src="files/images/testimonials/hadley.jpg" alt="Hadley">
						</div>
						<div class="content-wrap">
							<blockquote>My time at Chico’s FAS has been incredibly valuable for my growth as a merchant. During my time, I have gained experience through managing a variety of product categories and managing dynamic cross functional teams. I began my journey with Chico’s FAS as a store Associate and have been able to grow to the merchant level in 5 years in an environment that emphasizes personal growth and best-in-class business practices.</blockquote>
							<p><strong>Hadley</strong>, Merchant – WHBM</p>
						</div>
					</div>
					
					<div class="testimonial-slide">
						<div class="img-wrap">
							<img src="files/images/testimonials/leslie.jpg" alt="Leslie ">
						</div>
						<div class="content-wrap">
							<blockquote>Our beautiful campus is one of my favorite parts of working for Chico’s FAS. I love taking walks from building to building, enjoying the Florida scenery as well as taking advantage of our great amenities. It is so convenient to walk over to the gym after work as well as meeting up with co-workers weekly at the campus coffee truck or Metro café.</blockquote>
							<p><strong>Leslie</strong>, Merchant – WHBM</p>
						</div>
					</div>
					
				</div>
				
			</div>
			<div class="dots-container"></div>
		</div>
		
		
		<section class="two-col flipped">
			<div class="img-col asso-merch-req"></div>
			<div class="content-col pink">
				<div class="inner-wrap">
					<h2>Requirements</h2>
					<ul class="no-list">
						<li>Bachelor’s degree preferred</li>
						<li>3+ years of experience with an apparel retailer</li>
						<li>Excellent computer skills with emphasis on Excel</li>
						<li>Strong interpersonal and presentation skills; excellent written and verbal communication</li>
						<li>Ability to multi-task and work with cross-functional teams to complete projects on time</li>
						<li>Broad-based business acumen</li>
					</ul>
				</div>
			</div>
		</section>
		
		<section class="benefits">
			<div class="wrap">
				<h2>We Offer <i>a</i> Generous Benefits Package:</h2>
				<ul class="benefits-list">
					<li>
						<div class="icon-box">
							<img src="files/images/sub/benefits/health.png" alt="" width="203" height="176">
						</div>
						<h3>Health, Life<br> &amp; Disability</h3>
					</li>
					<li>
						<div class="icon-box">
							<img src="files/images/sub/benefits/401k.png" alt="" width="212" height="188">
						</div>
						<h3>401(k)</h3>
					</li>
					<li>
						<div class="icon-box">
							<img src="files/images/sub/benefits/time-off.png" alt="" width="191" height="164">
						</div>
						<h3>Paid Time Off &amp;<br> Work-life benefits</h3>
					</li>
					<li>
						<div class="icon-box">
							<img src="files/images/sub/benefits/bonus.png" alt="" width="214" height="152">
						</div>
						<h3>
							Bonus <br>Opportunities
						</h3>
					</li>
					<li>
						<div class="icon-box">
							<img src="files/images/sub/benefits/discounts.png" alt="" width="171" height="178">
						</div>
						<h3>Store<br>Discounts</h3>
					</li>
				</ul>
				<a href="files/pdf/Chicos-Benefits-At-a-Glance-2023-Full-Time-Associates-6-20-23.pdf" class="btn ghost-white">For a full list of benefits, click here to view our <strong>Benefits Overview PDF</strong></a>
			</div>
		</section>
		
		<section class="vision-purpose-values">
			<div class="our-values">
				<div class="wrap">
					<h2><i>our</i> Values</h2>
					<ul>
						<li>
							<div class="icon-wrap">
								<img src="files/images/sub/value-and-cultures/fashion-icon.png" alt="">
							</div>
							<h3>Fashion</h3>
							<p>Inhale fashion, exhale style.<br>  It’s what we love to do.</p>
						</li>
						<li>
							<div class="icon-wrap">
								<img src="files/images/sub/value-and-cultures/curiosity-icon.png" alt="">
							</div>
							<h3>Improve</h3>
							<p>Ask questions. Share something.<br> Learn something.</p>
						</li>
						<li>
							<div class="icon-wrap">
								<img src="files/images/sub/value-and-cultures/customer-icon.png" alt="">
							</div>
							<h3>CUSTOMER</h3>
							<p>Our customer is at the center <br>of everything we do, both internal <br>and external.</p>
						</li>
						<li>
							<div class="icon-wrap">
								<img src="files/images/sub/value-and-cultures/inspire-icon.png" alt="">
							</div>
							<h3>INSPIRE</h3>
							<p>Seek out diverse ideas and thoughts.<br>Embrace new ways of thinking.</p>
						</li>
						<li>
							<div class="icon-wrap">
								<img src="files/images/sub/value-and-cultures/accountable-icon.png" alt="">
							</div>
							<h3>ACCOUNTABLE</h3>
							<p>We are accountable to metrics. <br>We are recognized for results.</p>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<section class="power-in-the-numbers">
			<div class="inner">
				<h2>Commitment to Inclusion <br>and Diversity</h2>
				<p>We value the diverse experiences, perspectives and backgrounds of our Associates and customers. We are committed to an inclusive environment that celebrates our individuality, influences our culture, and innovates the way we work.</p>
			</div>
			<ul class="power-in-num-list">
				<li>
					<div class="icon-box">
						<img src="files/images/sub/diversity/calendar.png" alt="" width="152" height="129">
					</div>
					<p><strong>12</strong> Inclusion and diversity inspired holiday and observance events and resources calendars</p>
				</li>
				<li>
					<div class="icon-box">
						<img src="files/images/sub/diversity/comm-internal.png" alt="" width="196" height="136">
					</div>
					<p><strong>12+</strong> Communications and internal site pages with curated content recognizing the importance of Juneteenth and Black History, Asian American Pacific Islander Heritage, Hispanic Heritage and more</p>
				</li>
				<li>
					<div class="icon-box">
						<img src="files/images/sub/diversity/i-d.png" alt="" width="158" height="158">
					</div>
					<p><strong>100%</strong> of new hires introduced to our I&D programs &amp; inclusive culture</p>
				</li>
			</ul>
		</section>
		
		<section class="recognition">
			<h2>Recognition</h2>
			<ul>
				<li>Named one of America’s Greatest Workplaces for Diversity in 2024 (Newsweek)</li>
				<li>For the 6th year in a row - Awarded Seramount's 2023 Top Companies for Executive Women (Previously known as Working Mother Media NAFE)</li>
				<li>For the 4th year in a row - Awarded 2023 Forbes Best Employer for Diversity</li>
				<li>For the 2nd year in a row - Awarded 2023 Most Loved Workplace Certified Company</li>
				<li>Awarded 2023 America's Best Retailers</li>
				<li>Awarded 2023 Hot 25 Retailers National Retail Federation</li>
			</ul>
			<img src="files/images/sub/diversity/awards.jpg" alt="Searmount logo, Forbes logo, newsweek award, NRF award.">
		</section>
		
		<section class="two-col flipped">
			<div class="img-col about-chicos-dyanmic"></div>
			<div class="content-col pink">
				<div class="inner-wrap">
					<h2>About Chico’s</h2>
					<p>Our passion for fashion and desire to inspire confidence and joy have been guiding the creation of our women’s clothing, intimates, and accessories for more than 40 years. Our portfolio consists of three brands: Chico’s, WHBM, and Soma found in over 1,000 stores throughout the United States and online. </p>
				</div>
			</div>
		</section>
		
		<div class="philanthropic-orgs">
			<h2>We are proud to support diverse philanthropic organizations including:</h2>
			<img src="files/images/sub/philanthropy/logo-wall.jpg" alt="Logo's of orgs we support.">
		</div>
		
		<section class="join-our-talent-network two-col">
			<div class="img-col talent-network-img"></div>
			<div class="content-col">
				<div class="inner-wrap">
					<h2>Join <i>our</i> Talent Network</h2>
					<p>Stay connected with Chico's FAS about career news.</p>
					<a href="/talentnetwork/" class="btn">Sign Up Now</a>
				</div>
			</div>
		</section>	
		
		</main>
				
			<footer id="footer">
				<div class="top-row">
					<div class="wrap">
						<nav>
							<ul>
								<li><a href="/index.html">Career Home</a></li>
								<li><a href="/who-we-are.html">Who We Are</a></li>
								<li class="has-children">
									<a href="/what-we-do.html">What We Do </a>
									<button href="#what-we-do-foot"><span class="sr-only">(Open Sub Menu)</span></button>
									<ul id="what-we-do-foot" class="sub-menu">
										<li><a href="store-careers.html">Store Careers</a></li>
										<li><a href="/fashion-careers.html">Fashion Careers</a></li>
										<li><a href="/corporate.html">Corporate Careers</a></li>
										
										<li><a href="/internships.html">Internships</a></li>
									</ul>
								</li>
								<li class="has-children">
									<a href="/life-at-chicos.html">Life at Chico's</a>
									<button href="#life-at-chicos-foot"><span class="sr-only">(Open Sub Menu)</span></button>
									<ul id="life-at-chicos-foot" class="sub-menu">
										<li><a href="/values-and-culture.html">Values &amp; Culture </a></li>
										<li><a href="/inclusion-and-diversity.html">Inclusion &amp; Diversity</a></li>
										<li><a href="/philanthropy.html">Philanthropy</a></li>
									</ul>
								</li>
								<li><a href="/benefits.html">Benefits</a></li>
								<li><a href="/after-work.html">After Work</a></li>
							</ul>
						</nav>
						<p>Chico’s FAS, Inc. is an equal opportunity employer. We do not discriminate on the basis of race, color, religion, marital status, age, national origin, ancestry, physical or mental disability, medical condition, pregnancy, childbirth and related medical conditions, lactation, genetic information, gender, sexual orientation, gender identity or expression, military service, veteran status, or any other category protected under federal, state, or local law. </p>
					</div>
				</div>
				<div class="bottom-row">
					<div class="wrap">
						<div class="brands-nav">
							<span><img src="files/images/global/chicos.png" width="150" height="53" alt="Chico's" ></span>
							<span><img src="files/images/global/whbm.png" alt="WHBM" width="150" height="53"></span>
							<span><img src="files/images/global/soma.png" alt="SOMA" width="150" height="60"></span>
						</div>
					</div>
				</div>
			</footer>
		<!--||{% block js %}{% endblock %}||-->
		</body>
		</html>
