/*-- ---- ---- ---- BANNER ---- ---- ---- --*/
.banner-image {
  margin: 104px auto 0px;
  background-color: #dadada;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 42vw;
  max-height: calc(100vh - 120px);
  overflow: hidden;
  background-image: url("../images/banner-image.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat
}
.banner-image .inner {
  width: 85%;
  max-width: 1160px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 43.5%;
  transform: translate(-50%, -50%);
}
.banner-image .inner .copy {
  width: 40%;
  max-width: 590px;
  padding: 5%;
  background-color: rgba(0, 100, 60, .9);
  color: #ffffff;
  right: 0px;
  float: right;
}
.banner-image .inner .copy h2 {
  font-size: 25px;
  line-height: 1.1em;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0;
  margin: .25em auto 0px;
  text-transform: none;
}
.banner-image .inner .copy span {
  display: block;
  margin: .5em 0px;
}
.banner-image .inner .copy span + a {
  margin: .5em 0px 0px;
}
.banner-image .inner .copy a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 10px 30px;
  margin: 1.5em 0px 0px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  position: relative;
  z-index: 1;
}
.banner-image .inner .copy a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #699d27;
  transform-origin: left;
  transform: scaleX(0);
  transition: .2s all ease-in-out;
}
.banner-image .inner .copy a:hover::before, .banner-image .inner .copy a:focus::before, .banner-image .inner .copy a:active::before {
  transform: scaleX(1);
}
#blogbanner.banner-image {
  background-image:  url("../images/blog/banner-blog-v2.jpg");
  height: 35vw;
}
#blogbanner.banner-image .inner .copy {
  width: 35%;
  max-width: 500px;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0);
  color: #333333;
  right: 0px;
  float: left;
}
#blogbanner.banner-image .inner .copy h2 {
  font-size: 55px;
  line-height: 46px;
  font-weight: 600;
  margin: 0px 0 10px;
  letter-spacing: -.03em;
  color: #333333;
  padding: 0 0 10px;
  border-bottom: 1px solid #333333;
}
#blogbanner.banner-image .inner .copy h3 {
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 600;
  color: #333333;
  letter-spacing: 0;
  margin: .25em auto 0px;
  text-transform: none;
}

.blog-listing {
	list-style: none;
	padding:0;
	margin:0;
}

.blog-listing li {
	margin-bottom: 40px;
}


.blog-post {
	font-family: 'Inter', sans-serif !important;
	  color: #3C3C3C !important;
	  font-weight: 400 !important;
	  font-size: .9em;
	  line-height: 1.5em;
	  width: 100%;
	  text-align: left;
	  margin-bottom: 10px;
}

.blog-listing li h3 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  color: rgba(0, 100, 60, 1);
  letter-spacing: -.01em;
  width: 100%;
  font-size: 24px;
  line-height: 1.1em;
  text-align: left;
  margin-bottom: 10px;
}
.blog-listing li h3 a {
	color: rgba(0, 100, 60, 1);
}
.blog-listing li .published-date {
	text-transform: uppercase;
  font-family: 'Inter', sans-serif !important;
  color: #3f3f3f !important;
  font-weight: 400 !important;
  font-size: .75em;
  line-height: 1.5em;
  width: 100%;
  text-align: left;
  letter-spacing: .03em;
  margin-bottom: 10px;
}
.blog-listing li p {
  font-family: 'Inter', sans-serif !important;
  color: #3C3C3C !important;
  font-weight: 400 !important;
  font-size: .9em;
  line-height: 1.5em;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.blog-article-copy img {
  max-width: 100% !important;
  height: auto !important;
}
.blog-listing li a.button {
  font-family: 'Inter', sans-serif !important;
  font-size: 16px;
  line-height: 1.05em;
  letter-spacing: .01em;
  font-weight: 800 !important;
 
  text-transform: uppercase;
  
}
.blog-listing li a.button:hover {
	text-decoration: underline;
}

.blog-filters h2 {
  color: #fff;
  margin: 0 0 20px;
  font-size: 1.2em;
}

.blog-filters form {
  position: relative;
  z-index: 1;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  box-sizing: border-box;
}

.blog-filters form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Inter', sans-serif;
  color: #000000 !important;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 600;
  border: none;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 20px 8px;
  width: 80%;
}
 .blog-filters .submit-search{
   width: 26px;
   height: 26px;
   background:none;
   border:none;
   padding:0;
   position: absolute;
   top: 50%;
   right: 19px;
   transform: translateY(-50%);
   width: 16px;
   height: 16px;
   background-image: url("../images/global/magnifying-glass.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   -webkit-transition: all .2s ease-out;
   transition: all .2s ease-out;
 }



@media only screen and (max-width: 1500px) {
	.banner-image {
		margin: 90px auto 0px;
	  }
	  .banner-image .inner .copy a {
		padding: 3% 8%;
		margin: 1.5em 0px 0px;
		font-size: 1.2vw;
		line-height: 1.2vw !important;
	  }
	  .banner-image .inner .copy h2 {
		font-size: 1.65vw;
		line-height: 1.1em;
	  }
	  #blogbanner.banner-image {
		margin: 90px auto 0px;
	  }
	  #blogbanner.banner-image .inner .copy h3 {
		font-size: 1.65vw;
		line-height: 1.2em;
	  }
	  #blogbanner.banner-image .inner .copy h2 {
		font-size: 3vw;
		line-height: 1em;
	  }
	  h1 {
		font-size: 3vw;
		line-height: 1em;
	  }
}

@media only screen and (max-width: 1100px) {
	.banner-image {
		margin: 72px auto 0px;
	  }
	  .banner-image .inner .copy {
		width: 37%;
		max-width: 1390px;
		padding: 5%;
	  }
	  .banner-image .inner .copy h2 {
		font-size: 1.65vw;
	  }
	  #blogbanner.banner-image {
		margin: 72px auto 0px;
	  }
	  #blogbanner.banner-image .inner .copy {
		width: 37%;
		max-width: 1390px;
		padding: 5%;
	  }
	  #blogbanner.banner-image .inner .copy h3 {
		font-size: 1.65vw;
	  }
	  #blogbanner.banner-image .inner .copy h2 {
		font-size: 2.8vw;
		line-height: 1.2em;
	  }
	  h1 {
		font-size: 2.8vw;
		line-height: 1.2em;
	  }
}

@media only screen and (max-width: 700px) {
  .banner-image {
	padding: 5% 5% 100%;
	width: 90%;
	position: static;
	height: auto;
	max-height: auto;
	background-image: url("../images/top-weave-mobile.png"), url("../images/mobile-banner.jpg");
	background-size: contain, cover;
	background-position: bottom center;
	background-repeat: no-repeat
  }
  #blogbanner.banner-image {
	padding: 30% 5% 15% !important;
	background-image: url("../images/top-weave-mobile.png"), url("../images/mobile-banner-blog.jpg") !important;
	background-size: contain, cover;
	background-position: bottom center, top center;
  }
  .banner-image .inner {
	width: 100%;
	max-width: 1450px;
	position: static;
	z-index: 1;
	transform: none;
  }
  .banner-image .inner .copy {
	width: 90%;
	max-width: 1390px;
	padding: 7% 5%;
	background-color: rgba(0, 100, 60, .9);
	text-align: center;
  }
  #blogbanner.banner-image .inner .copy {
	width: 90%;
	max-width: 1390px;
	padding: 7% 5%;
	text-align: center;
	background-color: rgba(255, 255, 255, .8);
  }
  .banner-image .inner .copy h2 {
	width: 80%;
	font-size: 4.5vw;
	line-height: 1.1em;
	margin: .1em auto .65em;
  }
  .banner-image .inner .copy a {
	padding: 3% 8%;
	margin: 0px 0px 0px;
	font-size: 2.2vw;
	line-height: 1.2vw !important;
  }
  #blogbanner.banner-image {
	padding: 5% 5% 100%;
	width: 90%;
	position: static;
	height: auto;
	max-height: auto;
	background-image: url("../images/top-weave-mobile.png"), url("../images/mobile-banner-blog2.jpg");
	background-size: contain, cover;
	background-position: bottom center;
	background-repeat: no-repeat
  }
  #blogbanner.banner-image .inner .copy h2 {
	font-size: 6.75vw;
	line-height: 1em;
	margin: 0em auto;
  }
  #blogbanner.banner-image .inner .copy h3 {
	width: 90%;
	font-size: 4vw;
	line-height: 1.3em;
	margin: 0.1em auto 0;
  }
  h1 {
	font-size: 6.75vw;
	line-height: 1em;
	margin: 0em auto;
  }
}