/**************************** GLOBAL ****************************/
body {
    margin: 0 0 0 20px;
    padding: 0px;
    font-size: 1em;
    line-height: 1.4em;
    font-family: Titillium Web, Arial, sans-serif;
    color: #000;
    background-size: contain;
    letter-spacing: -0.5px;
}
.title {
    background-color: #929474;
    color: #FFFFFF;
    font-size: 1.4rem;
    line-height: 1.1rem;
    padding: 10px 40px;
}
.container {
    width: 960px;
    margin: 30px auto 0 auto;
}
a:link, a:active, a:visited {
	outline: none;
	color: #27659E;
	text-decoration: none;
}
a:hover {
	color: #ab1434;
}
img {
	margin-top: 0px;
	width: auto;
	vertical-align: top;
}
.scalable {
	max-width: 100%;
	height: auto;
	margin-bottom: 0px;
}
.clearfix {
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
sup{
	vertical-align: super;
    font-size: smaller;
}
.rule {
	border-bottom: 1px solid #A3A3A3;
	padding-bottom: 2%;
}
.hz-rule {
	border-bottom: 1px solid #000000;
	margin-top: 15px;
	margin-bottom: 15px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
ul{
  list-style: none;
}
h1, h2, h3, h4{
	text-align: center;
}
h2{
	text-decoration: underline;
}
/*  Horizontal Centering   */
.row1{
	text-align: center;
}
.row2-inner{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.row3{
     width: 400px;
     height: 400px;
     padding: 30px;
     color: #ffffff;
     background: green;
     position:absolute;
     top:50%;
     left:50%;    /* 定位父级的50% */
     transform: translate(-50%,-50%); /*自己的50% */
   }
.row4{
      width: 400px;
      height: 400px;
     padding: 30px;
     color: #000000;
      background: #dddddd;

      position:absolute;
      top: 0;
      left:0;
      bottom: 0;
      right: 0;
      margin: auto;
  }
  .row5{
      width: 400px;
      height: 400px;
     padding: 30px;
     color: #000000;
      background: #dddddd;

      position:absolute;
      top: 50%;
      left:50%;
      margin-top: -230px; /*高度的50% + padding */
      margin-left: -230px; /*宽度的50% + padding */
  }
  .row6{
   height:300px;
   display:flex;
   justify-content:center;  /*子元素水平居中*/
   align-items:center;      /*子元素垂直居中*/
     /* aa只要三句话就可以实现不定宽高水平垂直居中。*/
    }
  .row6-box-1{
  	display: inline-block;
    background: green;
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  .row6-box-2{
  	display: inline-block;
    background: red;
    width: 200px;
    height: 200px;
  }
/*  Vertical Centering  */
  .row7{
	border: 2px solid #aaa;
	height: 50px;
	line-height: 50px;
	width: 300px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
  }

  .row7 p{
		margin: 0;
	}

  .row8{
    width: 100%; /* if there is no width, no v-center*/
      height: 400px;
     color: #000000;
      background: #dddddd;
     padding: 30px;
  }
  .row8::after, .row8-inner{
    display:inline-block;
    vertical-align: middle;
}
  .row8::after{
      content:"";
      height:100%;
      width: 0;
  }

  .row9{
    width: 600px;
    margin: 0 auto; /* H-center */
    height: 600px;
    border: 1px solid red;
    text-align: center;
  }

  .row9 span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  img{
    width: 150px;
    height: 150px;
    vertical-align: middle;
  }
  
  .row10{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }

















