/* 
  -----------------------------------
  Slide-Out Menu
  by Project Seven Development
  www.projectseven.com
  Style Theme: 01 - Spartan Dark
  -----------------------------------
*/

.p7SOM-01 ul {
	background-color: #1F355E;
	background: rgba(43,56,93,0.96);
}

/*Design View Background*/
.p7SOM-01.p7SOMnoscript ul {
	background: none !important;
	background-color: #222 !important;
}

.p7SOM-01 ul ul {
	background-color: transparent;
	background: none;
}

.p7SOM-01 ul a {
	padding: 10px 18px;
	color: #fff !important;
	text-decoration: none;
	border-radius: 0px !important;
	-webkit-transition: all linear .25s;
	transition: all linear .25s;
}
.p7SOM-01 ul ul a {padding: 8px 18px;}

.p7SOM-01 ul a:hover {
	background-color: #617900;
}
.p7SOM-01 ul a.trig_open {
	background-color: #333;
	color: #45BED8;
}
.p7SOM-01 a.trig_closed {
	background-image: url(../images/mobile/mobile-nav/som-medium.gif);
}
.p7SOM-01 ul ul a.trig_closed {
	background-image: url(../images/mobile/mobile-nav/som-medium.gif);
}
.p7SOM-01 a.trig_open {
	background-image: url(../images/mobile/mobile-nav/som-medium.gif);
}
.p7SOM-01 ul ul a {
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: .9em;
}

/*Level indentations */
.p7SOM-01 ul a {
	padding-left: 18px;
}
.p7SOM-01 ul ul a {
	padding-left: 24px;
}
.p7SOM-01 ul ul ul a {
	padding-left: 36px;
}
.p7SOM-01 ul ul ul ul a {
	padding-left: 48px;
}


/*CURRENT MARK */
.p7SOM-01 a.current_mark {
	font-weight: bold;
}

/*Toolbar */
.p7SOM-01.som-toolbar a {
	color: #fff !important;
	background-color: #1F355E!important;
	-webkit-transition: all linear .25s;
	transition: all linear .25s;
}
.p7SOM-01.som-toolbar a:hover {
	color: #fff !important;
	background-color: #617901;
}
.p7SOM-01.som-toolbar.opened a {
	color: #fff !important;
	background-color: #617901 !important;
}

/* Toolbar Icon Text */
.som-toolbar i {
    color: #fff;
    display: block;
    font-size: 9px;
    font-style: normal;
    padding-top: 3px;
    text-transform: uppercase;
}

/*Menu Header */
.p7SOM-01 .som-header {
	padding: 14px 18px;
	font-size: 1.2em;
	background-image: url(../images/mobile/mobile-nav/som-close-dark.png);
	background-color: #222E56;
	color: #fff;
	-webkit-transition: all linear .25s;
	transition: all linear .25s;
}
.p7SOM-01 .som-header:hover {

}

 @media only screen and (min-width: 0px) and (max-width: 900px) {

.scalable {width: 100%;}

}
