/*-----------------------------------
  Slide-Out Menu
 Mobile Nav*/

.p7SOM-01 ul {
	/*background-color of opened slider*/
	background-color: #FFFFFF;	
}

/*Design View Background*/
.p7SOM-01.p7SOMnoscript ul {
	background-color: transparent;
	background: none;
}

.p7SOM-01 ul ul {
	background-color: transparent;
	background: none;
	
}

.p7SOM-01 ul a {
	padding: 10px 18px;
	    color: #006443;
	text-decoration: none;
	border-radius: 0px !important;
	-webkit-transition: all linear .25s;
	transition: all linear .25s;
	border-bottom: 1px solid #006443;
	font-size: 1.3em;
	letter-spacing: .5px;
	    background-color: #d2e4c4;
}
.p7SOM-01 ul ul a {padding: 12px 18px;}

.p7SOM-01 ul a:hover {
	text-decoration: underline;
	color: #133b75;
}
.p7SOM-01 ul a.trig_open {
	background-color: #0B355C;
	color: #317a8b;
}
.p7SOM-01 a.trig_closed {
	background-image: url(../images/global/mobile-nav/arrow-right.png);
}
.p7SOM-01 ul ul a.trig_closed {
	background-image: url(../images/global/mobile-nav/arrow-right.png);
}
.p7SOM-01 a.trig_open {
	background-image: url(../images/global/mobile-nav/arrow-down.png);
}
.p7SOM-01 ul ul a {
	border-bottom: 1px solid #e1e1e0;
	font-size: 1em;
	background-color: rgb(1,122,170);
}

/*Level indentations */
.p7SOM-01 ul a {
	padding-left: 40px;
}
.p7SOM-01 ul ul a {
	padding-left: 24px;
}
.p7SOM-01 ul ul ul a {
	padding-left: 60px;
}
.p7SOM-01 ul ul ul ul a {
	padding-left: 48px;
}


/*CURRENT MARK */
.p7SOM-01 a.current_mark {
	font-weight: bold;
	    color: #000;
}

/*Toolbar */
.p7SOM-01.som-toolbar a {
	color: #d2e4c4 !important;
/*	background-color: #4ba0c9 !important;*/
	-webkit-transition: all linear .25s;
	transition: all linear .25s;
}
.p7SOM-01.som-toolbar a:hover {
	color: #5bcfcb !important;
}
.p7SOM-01.som-toolbar.opened a {
/*	background-color: #124B7F !important;*/
/*	color: #fff !important;*/
}

/* Toolbar Icon Text */
.som-toolbar i {
    color: #fff;
    display: block;
    font-family: 'Archivo', sans-serif;
	letter-spacing: .5px;
    font-size: 9px;
    font-style: normal;
    padding-top: 3px;
    text-transform: uppercase;
}

/*Menu Header */
.p7SOM-01 .som-header {
	padding: 27px 18px;
	font-size: 1.2em;
	background-image: url(../images/global/mobile-nav/close-x.png);
	background-color: #006443;
	color: #fff;
	-webkit-transition: all linear .25s;
	transition: all linear .25s;
}
.p7SOM-01 .som-header:hover {
	background-color: #28c667;
	color: #fff;
}

 @media only screen and (min-width: 0px) and (max-width: 700px) {

/*.scalable {width: 100%;}*/

}
