body{
	margin: 0 0 0 20px;
	padding: 0;
	font-family: "Microsoft YaHei","宋体","Segoe UI","Lucida Grande",Helvetica,Arial,sans-serif,FreeSans,Arimo;
	font-size: 14px;
	color: #666;
}
.title {
	background-color: #929474;
	color: #FFFFFF;
	font-size: 1.4rem;
	line-height: 1.1rem;
	padding: 10px 40px;
}
.container {
	width: 960px;
	margin: 30px auto 0 auto;
}
h2{
	font-size: 2em;
	line-height: 1em;
	text-align: center;
}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}
.flex-item{
	flex: 20%;
	position: relative;
	display: inline-block;
	width: 250px;
	height: 100%;
	margin: 1%;
	text-align: center;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgb(0 0 0 / 20%);
	box-shadow: 0 0 4px rgb(0 0 0 / 20%);
}
.flex-item::before, .flex-item::after{
	content: "";
	display: block;
	position: absolute;
	width: 100px;
	height: 15px;
}
.flex-item::before{
	background: url(../images/shadow-left.png) no-repeat bottom left;
	bottom: -11px;
	left: -3px;
}
.flex-item::after{
	background: url(../images/shadow-right.png) no-repeat bottom center;
	bottom: -9px;
	right: -6px;
}

/* Thumb Image */
.flex-item .thumb-img figure{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	z-index: 1;
	text-align: center;
}
.effect{
	background-color: #35acc5;
}
.effect img{
	position: relative;
	border: 0;
	width: 100%;
	vertical-align: middle;
	opacity: 1;
	transition: opacity .4s;
}

.effect:hover img{
	opacity: .4;
}
figcaption{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*padding: 2em;*/
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	cursor: pointer;
	backface-visibility: hidden;
}
.effect figcaption::before, .effect figcaption::after{
	content: "";
	position: absolute;
	top: 30px;
	right: 30px;
	left: 30px;
	bottom: 30px;
	opacity: 0;
	-webkit-transition: opacity .4s, transform .4s;
	transition: opacity .4s, transform .4s;
}

.effect figcaption::before{
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.effect figcaption::after{
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.effect:hover figcaption::before, .effect:hover figcaption::after{
	opacity: 1;
	transform: scale(1);
}

figcaption p{
	position: relative;
	margin: 0;
	font-size: 80%;
	letter-spacing: 1px;
	color: #fff;
	padding: 5px 10px;
	opacity: 0; /* 0 */
	transform: translate3d(0,20px,0);
	-webkit-transition: opacity .4s, transform .4s;
	transition: opacity .4s, transform .4s;
}

.effect:hover p{
	opacity: 1;
	transform: translate3d(0,0,0);
}

.fa{
	display: inline-block;
}

figcaption a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

/* Thumb Info */
.thumb-info{
	position: relative;
	padding: 15px;
	line-height: 20px;
	color: #8e8e8e;
}
.thumb-info-title{
	font-size: 1.2em;
	line-height: 18px;
}
.thumb-info-title a{
	color: #428bca;
	text-decoration: none;
}

.thumb-info-title a:focus, .thumb-info-title a:hover{
	color: #2a6496;
	text-decoration: underline;
}

.thumb-info-description{
	position: relative;
	width: 90%;
	height: 100px;
	margin: 10px auto 5px auto;
	padding-bottom: 8px;
	text-align: left;
	overflow: hidden;
	transition: .3s all ease-in-out;
}
.thumb-info-description.no-flow{
	height: 130px;
}
.thumb-info-description.full {
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.thumb-info-description::after{
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1));
	/*transition: .3s all ease-in-out;*/
}
.thumb-info-description.no-flow::after{
	height: 0;
}
.thumb-info-description.full::after {
	height: 10px;
}
/* Thumb Mesg */
.thumb-mesg{
	padding: 20px 15px;
	border-top: 1px solid #f2f2f2;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
	width: 45%;
}
li a{
	text-decoration: none;
	color: #79b47f;
}
li.left{
	text-align: left;
}
li.right{
	text-align: right;
}

.bottom-expander{
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
.bottom-expander a{
	text-decoration: none;
}
.utility-btn{
	position: relative;
	font-size: 16px;
	line-height: 28px;
	padding-top: .25rem;
	color: #1080a2;
	cursor: pointer;
}
.svg-icon{
	fill: #1080a2;
}
.svg-icon.up-arrow{
	transform: rotate(0deg);
}
.svg-icon.down-arrow{
	transform: rotate(180deg);
}

















