<!--||{% load job_tags %}||-->
<!doctype html>
<html>
	
<head>
    <meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta charset="utf-8">
    <title>Polymer Engineering and Manufacturing Jobs | Teknor Apex</title>
    <meta name="keywords" content="polymer engineering jobs, polymer manufacturing jobs">
    <meta name="description" id="description" content="Apply online now for polymer engineering and manufacturing jobs with Teknor Apex. If you are interested in joining our talented team, explore our career opportunities and apply online today."/>
	<link rel="canonical" href="https://www.teknorapexcareers.com/" />		
 	<!-- Google
	<meta itemprop="name" content="Careers | Teknor Apex"> -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.png">
	<!-- Twitter
	<meta name="twitter:title" content="Careers | Teknor Apex"> -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.png">
	<!-- Open Graph general (Facebook, Pinterest & Google+)
	<meta property="og:title" content="Careers | Teknor Apex"> -->
	<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.png">
	<meta property="og:type" content="website">
	
	<!-- icons -->
	<link rel="icon" sizes="16x16 32x32 48x48" href="/static/sites/www/files/images/favicon.ico">
	<link rel="icon" sizes="192x192" type="image/png" href="/static/sites/www/files/images/favicon-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" type="image/png"  href="/static/sites/www/files/images/touch-icon-180x180.png">
	
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Organization",
	  "@id": "https://www.teknorapexcareers.com/#org",
	  "name": "Teknor Apex",
	  "url": "https://www.teknorapexcareers.com/",
	  "logo": {
		"@type": "ImageObject",
		"url": "https://www.teknorapexcareers.com/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
	  },
	  "image": "https://www.teknorapexcareers.com/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
	  "address": {
		"@type": "PostalAddress",
		"streetAddress": "505 Central Avenue",
		"addressLocality": "Pawtucket",
		"addressRegion": "RI",
		"postalCode": "02861",
		"addressCountry": "US"
	  },
	  "contactPoint": [{
		"@type": "ContactPoint",
		"telephone": "+1-401-725-8000",
		"contactType": "customer service",
		"areaServed": "US",
		"availableLanguage": ["English", "Spanish"]
	  }],
	  "sameAs": [
		"https://www.linkedin.com/company/teknorapex",
		"https://www.facebook.com/TeknorApexCompany",
		"https://twitter.com/teknorapex"
	  ]
	}
	</script>
	<link rel="stylesheet" href="https://use.typekit.net/iqs8ymx.css">
	<link rel="stylesheet" href="https://use.typekit.net/olq2ovo.css">
	<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
	<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="files/js/jquery-3.4.1.min.js"><\/script>')</script>
	<script type="text/javascript" src="files/js/accordion.js"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-PY33SPY48K"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-PY33SPY48K');
	</script>

</head>

<body>
	
	<header id="scrollingDiv" class="default ">
	  <div class="inner">
		  
			<a href="https://www.teknorapex.com/" class="logo-holder">
				<div class="color-logo"></div>
			</a>
		  
			<nav>
        	    <a class="accordion-hamburger-title" href="#accordion-hamburger" aria-controls="#accordion-hamburger" aria-expanded="false" aria-label="Open Website Menu (Hamburger Menu)"></a>
				<div class="burger mmmmmm">
					<div class="burger-box">
						<div class="all-the-fixins">
						</div>
					</div>
				</div>
				<ul id="accordion-hamburger" class="accordion-hamburger">
					<li>
						<a href="index.html">Careers Home</a>
					</li>	
					<li>
						<a href="who-we-are.html">Who We Are</a>
					</li>
					<li>
						<a href="core-values.html">Our Core Values</a>
					</li>
					<li>
						<a href="benefits.html">Benefits</a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/contact-us">Contact Us </a>
					</li>
					<li class="talent-network-link">
						<a href="{% url 'subscriptions' %}">Join Our Talent Network</a>
					</li>
					<li class="shareThis">
						<div class="share-this-icons">
						  <div>Share This Page</div>
						  <ul>
							<li>
							   <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
							</li>
							<li>
							  <a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
							</li>
							<li>
							  <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
							</li>
							<li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
						  </ul>
						</div>
					</li>
				</ul>
			</nav>
		  
		</div>
	</header>
	
	<div class="menu-background"></div>
	
	<main class="home4 home7">
		
		<section class="bannerArea">
		
			<div class="inner">
				<div class="copy">
					<h1>When you treat employees with respect, success follows.</h1>					
				</div>
			</div>
			
			<div class="image-grid">
				<div class="images-row-1">
					<div class="img1"></div>
					<div class="img3"></div>
					<div class="img4"></div>
					<div class="img5"></div>
					<div class="img6 active"></div>
				</div>
				<div class="images-row-2">
					<div class="img1"></div>
					<div class="img4"></div>
					<div class="img5 active"></div>
				</div>
				<div class="images-row-3">
					<div class="img1 active"></div>
					<div class="img7 active"></div>
				</div>
				<div class="images-row-4">
					<div class="img2"></div>
					<div class="img3"></div>
					<div class="img4"></div>
				</div>
			</div>
			
		</section>
		
		
		<section class="horizontal-search-bar search front-page-search">
			
			<div class="inner">
				<button class="mobile-search-button" href="#search-content" aria-controls="#search-content" aria-expanded="false">Search Jobs</button>
				
                <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->

                <!--||{% comment %}||-->
				<form id="search-form" method="get">
        		<ul class="search-content" id="search-content">
            <li>
                <input name="search_term" type="text" id="search_term" placeholder="Search Jobs by Keyword" value="">
                <input type="submit" class="search-button" id="search_term_btn" value="" aria-label="submit keyword search">
            </li>
            <li>
                <button class="search-accordion-button" href="#category-search" aria-controls="#category-search" aria-expanded="false">
                    Search Jobs By Category
                </button>
                <ul class="search-content2" id="category-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Categories</a>
</li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/accounting-finance/">Accounting / Finance Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/customer-service/">Customer Service Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/human-resources/">Human Resources Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/maintenance/">Maintenance Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/manufacturing-production/">Manufacturing / Production Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/marketing-communications/">Marketing / Communications Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/quality-manufacturing/">Quality / Manufacturing Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/rd-technical/">R&amp;D / Technical Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search_link" href="/jobs/sales-business-development/">Sales / Business Development Jobs</a></li>



                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#location-search" aria-controls="#location-search" aria-expanded="false">
                    Search Jobs by Location
                </button>
                <ul class="search-content2" id="location-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Locations</a>
</li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-ca/">California Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-ky/">Kentucky Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-ma/">Massachusetts Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-nc/">North Carolina Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-ri/">Rhode Island Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-sc/">South Carolina Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-tn/">Tennessee Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-tx/">Texas Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-us/">US Jobs</a></li>
<li class="accordion-link"><a class="accordion-link search-link search-link-30" href="/jobs/us-vt/">Vermont Jobs</a></li>



                </ul>
            </li>
            <li>
                <button class="search-accordion-button" href="#employment_type-search" aria-controls="#employment_type-search" aria-expanded="false">
                    Search Jobs by Schedule
                </button>
                <ul class="search-content2" id="employment_type-search">

                    <li class="accordion-link active">
    <a class="accordion-link search_link" href="/jobs/">Search All Job Types</a>
</li>
<li class="accordion-link"><a class="accordion-link" href="/jobs/?employment_type=Full Time">Full Time Jobs</a></li>



                </ul>
            </li>
            <li>
                <div class="zip-search">
                    <input name="zipcode" type="text" id="id_zipcode" class="radius2-col1" value="" placeholder="Zip Code" aria-label="Enter your desired Zip Code">
                    <select name="radius" class="search2" id="id_radius" aria-label="Radius (select number of miles from your desired zipcode)">
                        <optgroup>
                            
                            <option value="10">10 Miles</option>
                            
                            <option value="25" selected="">25 Miles</option>
                            
                            <option value="50">50 Miles</option>
                            
                            <option value="100">100 Miles</option>
                            
                        </optgroup>
                    </select>
                    <a href="javascript:$('#search-form').submit()" id="id-zipcode-btn">
                        <span class="sr-only"> Submit Zip Code and Radius Search</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/jobs/" class="advanced-button">New Search</a>
            </li>
        </ul>
    </form
				<!--||{% endcomment %}||-->
				
			</div>
			
		</section>
			
		<!--EVENT HOLDER-->
			<section id="event-holder">
				<div class="inner">
					<div class="copy">
				<h2>Brownsville, TN is hiring Production Operators!</h2>
						<h3> Join us at our Job Fair!</h3>
						<h4>Wednesday, October 22nd | 10am – 2pm</h4>
						<h4>The Tennessee College of Applied Technology, 1685 HWY 64, Whiteville, TN</h4>
						<p>Start strong with:</p>
						<ul>
							<li>2 weeks of vacation</li>
							<li>13 paid holidays</li>
							<li>Competitive pay based on experience</li>
							<li>Shift differentials & production bonuses</li>
						</ul>
						<p><strong>We hope to see you at our event! If you can't attend, you can view and <a href="/jobs/us-tn-brownsville/">apply online here</a>.</strong></p>
					</div>
					<div class="photo">
					</div>
					</div></section>
			
		<section id="intro" class="front-page-intro">
			<div class="inner">
				<div class="copy">
					<h2>Careers at Teknor Apex</h2>
					<div class="callout">
						<div class="quote">"Manufacturing is a team sport."</div>
						<span>- Jonathan Fain, Chairman and former CEO, Teknor Apex</span>
					</div>
					<p>As a company, we have a proud legacy of supporting our employees as well as our customers. Regardless of their specific role, each employee plays a key part in our ongoing success. We remain committed to providing a supportive atmosphere that stimulates our diverse workforce to bring together the best ideas and talent across all divisions so we can continue to build for the future.</p>
</div>
				<div class="background-image"></div>
			</div>
		</section>
		
		<section class="benefits-home-callout">
			<div class="inner">
				<div class="copy">
					<h3>Benefits That Provide A Competitive Edge</h3>
					<p>Another way we support our employees is through our exciting new benefits package. Learn more and hear what our employees have to say!</p>
					<a href="https://www.teknorapexcareers.com/benefits.html" class="red-button">Click to the Benefits</a>
				</div>
			</div>
			<div class="image"></div>
		</section>
		
		<section id="anniversary-video">
			<div class="inner">	
				<h3>Watch how our people are <strong>#TeknorProud</strong></h3>
				<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/957740161?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="TA People"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
			</div>
		</section>	
		
		<section class="career-paths career-paths-front">
			<div class="inner">
				<div class="copy">
					<h2>Featured Career Paths</h2>
					<div class="career-paths-bottom">
						<a href="/jobs/production-and-operator/" class="path">
							<div class="background-image"></div>
							<div class="copy">
								<div class="center">
								<h3>Production / Operator Jobs</h3>
								<span>Production/Operator jobs are the bread and butter of our organization.  Click through to find openings on the plant floor.</span>
								</div>
							</div>
						</a>
						<a href="/jobs/chemist-and-lab-tech/" class="path">
							<div class="background-image"></div>
							<div class="copy">
								<div class="center">
								<h3>Product Development / Lab Tech Jobs</h3>
								<span>Interested in creating the products that make Teknor Apex Company a trusted partner and world leader in custom compounds?  Explore R&amp;D careers here.</span>
								</div>
							</div>
						</a>
						<a href="/jobs/sales-business-development/" class="path">
							<div class="background-image"></div>
							<div class="copy">
								<div class="center">
								<h3>Sales &amp; Marketing Jobs</h3>
								<span>Our vision is to embed innovation and partnership within all aspects of our business. If you thrive in scaling businesses and product ideation, explore opportunities on our commercial or marketing teams.</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		
		<section class="featured-jobs featured-jobs-front">
			<div class="inner">
			<h2>Featured Jobs</h2>
			<div class="featured-jobs-bottom">

                <!--||{% featured_jobs %}||-->

				<!--||{% comment %}||-->
				<div>
					<h3>Security Guard - Day Shift</h3>
					<dl>
						<dt>Location:</dt> <dd>Brownsville, TN</dd>
						<span class="category"><dt>Category:</dt> <dd>Maintenance</dd></span>
					</dl>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque ut vulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Nam tristique finibus nibh nec pellentesque. Ut vestibulum lectus vitae consequat faucibus. ...</div>
					<a class="red-button" href="#">Read More</a>
				</div>
				<div>
					<h3>Unit Operator (Extrusion 2nd &amp; 3rd Shift)</h3>
					<dl>
						<dt>Location:</dt> <dd>Brownsville, TN</dd>
						<span class="category"><dt>Category:</dt> <dd>Manufacturing / Production</dd></span>
					</dl>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque ut vulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Nam tristique finibus nibh nec pellentesque. Ut vestibulum lectus vitae consequat faucibus. ...</div>
					<a class="red-button" href="#">Read More</a>
				</div>
				<div>
					<h3>Unit Operator</h3>
					<dl>
						<dt>Location:</dt> <dd>St Albans, VT</dd>
						<span class="category"><dt>Category:</dt> <dd>Manufacturing / Production</dd></span>
					</dl>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan eget neque ut vulputate. Phasellus eu ex sit amet magna commodo vestibulum ac et diam. Suspendisse potenti. Nam tristique finibus nibh nec pellentesque. Ut vestibulum lectus vitae consequat faucibus. ...</div>
					<a class="red-button" href="#">Read More</a>
				</div>
				<!--||{% endcomment %}||-->
			</div>
			</div>
		</section>
		
		<section class="talent-network-callout">
			<div class="inner">
				<div class="copy">
					<h2>Join Our Talent Network</h2>
					<span>Stay connected with Teknor Apex and receive alerts with new job opportunities and news relative to your interests</span>
					<a class="red-button" href="{% url 'subscriptions' %}">Sign Up Now</a>
				</div>
				<div class="image">
				</div>
			</div>
		</section>
		
	</main>
	
	<footer>
		
		<div class="inner">
			
			<div class="left">
				<a class="logo-holder" href="https://www.teknorapex.com/" target="_blank">
					<div class="white-logo"></div>
				</a>
				<p>The scope of Teknor Apex products encompasses a universe. People around the world encounter Teknor Apex products in a myriad of  forms every day. As a premier compound solutions provider, Teknor Apex is one of the most ethical, customer-connected companies in the industry. A vast range of polymer solutions means each customer receives the best fit for their needs. For nearly a century, Teknor Apex has compounded creativity with technology with each customer, each product, and every single solution.</p>
				<span class="copyright">© <script type="text/javascript">date = new Date();
                year = date.getFullYear();
				document.write(year);//</script> Teknor Apex</span>
			</div>
			
			<div class="center">
				<ul>
					<li>
						<a href="/static/sites/www/files/pdf/Teknor-Privacy-Statement.pdf">Privacy Statement</a>
					</li>
					<li>
						<a href="https://submit-irm.trustarc.com/services/validation/short/c7896443">How to Exercise my Rights/Do Not Sell</a>
					</li>
					<li>
						<a href="https://www.teknorapexcareers.com/">Careers</a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/procurement-terms-conditions">Procurement Terms &amp; Conditions</a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/contact-us">Contact</a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/teknor-apex-company-terms-conditions-of-sale">TAC Terms &amp; Conditions</a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/request-a-quote">Request a Quote</a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/taap-terms-conditions-of-sale">TAAP Terms &amp; Conditions </a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/locations">Locations</a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/terms-of-use">Terms of Use</a>
					</li>
					<li>
						<a href="https://www.teknorapex.com/site-map">Site Map</a>
					</li>
				</ul>
			</div>
			
			<div class="right">
				<ul class="social">
					<li class="label"><br>
				  </li>
					<li class="label"><br>
				  </li>
					<li class="label"> Follow Us on Social Media </li>
					<li>
						<a class="linkedin" href="https://www.linkedin.com/company/teknor-apex-company/" target="_blank" aria-label="Follow Us On LinkedIn (opens in a new window)"></a>
					</li>
					<li>
						<a class="facebook" href="https://www.facebook.com/teknorapexconsumer/" target="_blank" aria-label="Follow Us On Facebook (opens in a new window)"></a>
					</li>
				</ul>
				<div class="eoe-notification">
					Teknor Apex is an equal opportunity employer and does not discriminate against any protected status under state or federal laws.  Must be 18 years of age or older to work at Teknor Apex.
				</div>
			</div>
			
		</div>
		
	</footer>
	<div id="consent_blackbar"></div>
	<div id="teconsent" style="display: none;"></div>
	<!-- <div id="footerCookie" style="display: none;"></div> -->
	<script async="async" src="//consent.trustarc.com/notice?domain=teknorapex.com&c=teconsent&js=nj&text=true&noticeType=bb&gtm=1" crossorigin="" ></script>
	<script>
		window.onscroll = function() {pageScroller()};

		var Header = document.getElementById("scrollingDiv");
		var Scrolled = (Header.offsetTop);

		function pageScroller() {
		if (window.pageYOffset > Scrolled) {
			Header.classList.add("onScroll");
		} else {
			Header.classList.remove("onScroll");
		}
	}
	</script>
</body>
</html>
