/*-- ---- ---- ACTIVE SLIDES ---- ---- --*/

.hidden {
	display: none;
}


/*-- ---- Global Slide Styles ---- --*/

#new-carousel {
	position: relative;
	z-index: 1;
	width: 100%;
	padding-bottom: calc(90vh - 90px);
	overflow: hidden;
}
#new-carousel .slide.current::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 60;
	background-image:linear-gradient(160deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 35%), linear-gradient(186deg, rgba(2,52,83,.9) 2%, rgba(2,52,83,0) 20%), linear-gradient(0deg, rgba(2,52,83,.7) 2%, rgba(0,30,50,0) 12%);
}
#new-carousel .slide.current > a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 65;
	transition: all .2s ease-in-out;
	background-image: linear-gradient(160deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 35%), linear-gradient(186deg, rgba(2,52,83,.9) 2%, rgba(2,52,83,0) 20%), linear-gradient(0deg, rgba(2,52,83,.7) 2%, rgba(0,30,50,0) 12%);
	background-color: rgba(2,52,83,0);
}
#new-carousel .slide.current > a:hover, #new-carousel .slide.current > a:focus, #new-carousel .slide.current > a:active {
	background-color: rgba(2,52,83,.25);
}
#slider-holder {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}
#main-banner li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.slide-background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: transparent;
	z-index: 19;
	overflow: hidden;
	transition: all .65s ease;
}
#slider-holder .slide-background {
	opacity: 0;
}
#slider-holder .slide-background.live {
	opacity: 1;
	z-index: 29;
}
.slide-inside {
	width: 90%;
	position: absolute;
	top: 77%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
 
}
.banner-area-sub .slide-inside {
	width: 90%;
	position: absolute;
	top: 51.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
}
.slide-copy {
	display: inline-block;
	text-align: center;
	color: #ffffff;
	transform: translateX(30%);
	opacity: 0;
	transition: transform 1s ease, opacity 1s ease;
	transition-delay: .65s;
	font-size: 66px;
	line-height: 69px;
	font-weight: 400;
	letter-spacing: -.03em;
	text-shadow: 0px 3px 4px rgba(5,55,80,.45);
}
.slide-background.live .slide-copy {
	transform: translateX(0%);
	opacity: 1;
}
.new-slide-copy {
	position: absolute;
	z-index: 70;
	top: 63%;
	left: 50%;
	width: 90%;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	transform: translateX(-20%);
	opacity: 0;
	transition: transform .2s ease, opacity .2s ease;
	font-size: 66px;
	line-height: 69px;
	font-weight: 400;
	letter-spacing: -.03em;
	text-shadow: 0px 3px 4px rgba(5,55,80,.45);
}
.slide.current .new-slide-copy {
	transform: translateX(-50%);
	opacity: 1;
	transition: transform .65s ease .4s, opacity .6s ease .4s;
}
.slide .new-slide-copy h1 {
	font-weight: 400;
    letter-spacing: -.01em;
	font-size: inherit;
	width: 100%;
	margin: 0px;
	margin-bottom: 0px !important;
	padding: 0px;
	padding-bottom: 0px !important;
}
.slide .new-slide-copy span {
	font-weight: 400;
	letter-spacing: -.03em;
	font-size: .5em;
	line-height: .5em;
	width: 100%;
	margin: 0px;
	padding: 0px;
	transform: translateY(0%);
	transition: all .3s ease-in-out;
}
.slide a:hover .new-slide-copy span, .slide a:focus .new-slide-copy span, .slide a:active .new-slide-copy span {
	text-decoration: underline;
	transform: translateY(-70%);
}
.lower-controls {
	display: none;
}
.slide-type-smallest {
	font-size: 2.6em;
	font-weight: 100;
	line-height: .85em;
}
.slide-type-small {
	font-size: 4.6em;
	font-weight: 100;
	line-height: .85em;
}
.slide-type-large {
	font-size: 5.6em;
	font-weight: 900;
	line-height: 1em;
	letter-spacing: -.03em;
	text-shadow: 2px 2px 12px rgba(255,255,255,.8);
}
.slide-type-large-white {
	font-size: 6em;
	font-weight: 400;/*was 900*/
	line-height: 1.05em;
	letter-spacing: -.03em;
	color: rgba(255,255,255,1.00);
	text-shadow: 2px 2px 6px rgba(3,27,41,.8);
}
.slide-type-largest {
	font-size: 11.2em;
	font-weight: 900;
	line-height: .76em;
	letter-spacing: -.03em;
}
sup {
	font-size: .45em;
}
#new-carousel .slidenav {
	position: absolute;
	z-index: 100;
	bottom: 23px;
	right: 23px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#new-carousel .slidenav li {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	margin: 0px 0px 0px 7px;
	width: 22px;
	padding-bottom: 22px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: all .2s ease-in-out;
}
#new-carousel .slidenav li:hover, #new-carousel .slidenav li:focus, #new-carousel .slidenav li:active {
	transform: translateY(-3px);
}
#new-carousel .slidenav li button {
	font-family: proxima-nova, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
	font-size: 13px;
	line-height: 13px;
	background-color: rgba(2,52,83,.9);
	color: #ffffff;
	font-weight: 700;
	border: 0px solid #ffffff;
	margin: 0px;
	display: block;
	padding: 51px 50px 50px 49px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#new-carousel .slidenav li button:hover, #new-carousel .slidenav li button:focus, #new-carousel .slidenav li button:active {
	background-color: #41B6E6;
}
#new-carousel .slidenav li button.current:hover, #new-carousel .slidenav li button.current:focus, #new-carousel .slidenav li button.current:active {
	background-color: rgba(255,255,255,.9);
}
#new-carousel .controls {
	position: absolute;
	z-index: 100;
	bottom: 23px;
	left: 23px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
#new-carousel .controls li {
	display: inline-block;
	vertical-align: middle;
	padding: 0px !important;
	margin: 0px 0px 0px 0px;
	transition: all .2s ease-in-out;
}
#new-carousel .controls li:first-child:hover, #new-carousel .controls li:first-child:focus, #new-carousel .controls li:first-child:active {
	transform: translateX(-5px);
}
#new-carousel .controls li:last-child:hover, #new-carousel .controls li:last-child:focus, #new-carousel .controls li:last-child:active {
	transform: translateX(5px);
}
#new-carousel .controls li button {
	font-family: proxima-nova, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
	font-size: 11px;
	line-height: 11px;
	background-color: rgba(255,255,255,0);
	color: #ffffff;
	font-weight: 700;
	border: 0px solid #ffffff;
	margin: 0px;
	display: block;
}
#new-carousel .slidenav li button.current {
	background-color: rgba(255,255,255,.9);
	color: #023453;
}
#new-carousel button img {
	width: 12px;
	height: 12px;
}
.desktop-background-image, .mobile-background-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: transparent;
	overflow: hidden;
	transition: all .65s ease;
}
.slide.current .desktop-background-image, .slide.current .mobile-background-image {
	opacity: 1;
}
#new-carousel .desktop-background-image {
	display: block;
}
#new-carousel .mobile-background-image {
	display: none;
}

/*-- ---- Starting Slide 1 ---- --*/

.slide1 {
	background-image:linear-gradient(160deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 35%), linear-gradient(190deg, rgba(2,52,83,.9) 0%, rgba(2,52,83,0) 20%), url(../images/main/slider/slide1-10-11-19.jpg);
	text-align: center;
}
.FixedHeader ~ .banner-area .slide1, .resize-me ~ .banner-area .slide1 {
	background-image: url(../images/main/slider/slide1-10-11-19.jpg);
	text-align: center;
	-webkit-transition: all ease-out .25s;
	transition: all ease-out .25s;
}


/*-- ---- Starting Slide 2 ---- --*/

.slide2 {
	background-image:linear-gradient(160deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 35%), linear-gradient(190deg, rgba(2,52,83,.9) 0%, rgba(2,52,83,0) 20%), url(../images/main/slider/slide2-10-11-19.jpg);
	text-align: center;
	-webkit-transition: all ease-out .25s;
	transition: all ease-out .25s;
}
.FixedHeader ~ .banner-area .slide2, .resize-me ~ .banner-area .slide2 {
	background-image: url(../images/main/slider/slide2-10-11-19.jpg);
	text-align: center;
}


/*-- ---- Starting Slide 3 ---- --*/

.slide3 {
	background-image:linear-gradient(160deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 35%), linear-gradient(190deg, rgba(2,52,83,.9) 0%, rgba(2,52,83,0) 20%), url(../images/main/slider/slide3-10-11-19.jpg);
	text-align: center;
	-webkit-transition: all ease-out .25s;
	transition: all ease-out .25s;
}
.FixedHeader ~ .banner-area .slide3, .resize-me ~ .banner-area .slide3 {
	background-image: url(../images/main/slider/slide3-10-11-19.jpg);
	text-align: center;
}

@media only screen and (max-width: 950px) {
	.slide1 {
		background-image: url(../images/main/slider/slide1-10-11-19.jpg);
	}
	.slide2 {
		background-image: url(../images/main/slider/slide2-10-11-19.jpg);
	}
	.slide3 {
		background-image: url(../images/main/slider/slide3-10-11-19.jpg);
	}
	#new-carousel {
		padding-bottom: 45%;
	}
	.new-slide-copy {
		font-size: 4.75vw !important;
		line-height: 1.05em !important;
		top: 45%;
	}
}

@media only screen and (max-width: 450px) {
 	#new-carousel {
 		top: 0;
 		left: 0;
 		bottom: auto;
 		padding-bottom: 90%; /*was 0% 0% 100%*/
 		position: relative;
 	}
	#new-carousel .desktop-background-image {
		display: none;
	}
	#new-carousel .mobile-background-image {
		display: block;
	}
	#new-carousel .slide.current::before {
		background-image:linear-gradient(160deg, rgba(255,255,255,.6) 1%, rgba(255,255,255,0) 15%), linear-gradient(186deg, rgba(2,52,83,.45) 0%, rgba(2,52,83,0) 15%), linear-gradient(0deg, rgba(2,52,83,.35) 0%, rgba(0,30,50,0) 15%);
	}
	#new-carousel .slide.current > a {
		background-image:linear-gradient(160deg, rgba(255,255,255,.6) 1%, rgba(255,255,255,0) 15%), linear-gradient(186deg, rgba(2,52,83,.45) 0%, rgba(2,52,83,0) 15%), linear-gradient(0deg, rgba(2,52,83,.35) 0%, rgba(0,30,50,0) 15%);
	}
	.new-slide-copy {
		font-size: 8vw !important;
		line-height: 1.05em !important;
		width: 90%;
		top: auto;
		bottom: 60px;
	}
}