<!doctype html>
<html>
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="IE=edge,chrome=1"/>
<title>New Cancer Hospital | Careers at Dana-Farber - Dana-Farber Cancer Institute | Boston, MA</title>
<meta name="keywords" content="Dana-Farber Cancer Institute, Nursing, Boston">
<meta name="description" content="With a career at Dana-Farber Cancer Institute, you play an important role in helping to fulfill our mission and ultimate goal: the eradication of cancer and related diseases."/>
<link rel="shortcut icon" href="files/images/global/favicon.ico"/>
 
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KL4RMT');</script>
<!-- End Google Tag Manager -->

<script type="application/ld+json">
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"url": "{{ CANONICAL_URL }}/",
	"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
	"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
	}
	</script>
 
<!-- Google -->
<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg" />
<!-- Open Graph (LinkedIn) -->
<meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
 
<!-- icons -->
<link rel="icon" sizes="16x16 32x32 48x48" href="files/images/favicon.ico">
<link rel="icon" sizes="192x192" type="image/png" href="files/images/favicon-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" type="image/png"  href="files/images/touch-icon-180x180.png">

<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="files/styles/styles.css" media="screen" type="text/css"/>
<link rel="stylesheet" href="files/styles/responsive.css" media="screen" type="text/css"/>
<link rel="stylesheet" href="files/styles/active-slides.css" media="screen" type="text/css"/>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="files/js/jquery-1.12.2.min.js"><\/script>')
</script>
<script type="text/javascript" src="files/js/rollover.js"></script>
<script type="text/javascript" src="files/js/accordion.js"></script>
<script type="text/javascript" src="files/js/showHide.js"></script>
	
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-XXXXX-Y', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4710GQHKC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L4710GQHKC');
</script>
<link rel="stylesheet" href="https://use.typekit.net/pau3yme.css">
<link rel="stylesheet" href="files/styles/quote-slider.css" media="screen" type="text/css"/>
</head>

<body>
 
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KL4RMT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
 
 
<!-- ---- HEADER AREA ---- -->

<header id="DFCIHeader">
	
	<div class="header-inside">
 
		<a href="https://www.dana-farber.org" aria-label="Dana-Farber Cancer Institute Home Page (opens in a new window)" target="_blank" id="logo" class="imagefit">
			<img src="files/images/global/img-logo-2x-new.png" alt="Dana-Farber Cancer Institute (logo)" class="scalable">
		</a>
		
        <div id="toplinks">
			<ul>
                <li>
					<a href="https://partnershealthcare.okta.com/app/workday/exk101k9zcqYfxdU0298/sso/saml" target="_blank" aria-label="Internal Applicants (link opens in a new window)">
						Internal Applicants
					</a>
				</li>
				<li>
					<a href="https://danafarber.wd5.myworkdayjobs.com/dana-farber/login" target="_blank" aria-label="Returning Applicants (link opens in a new window)">
						Returning Applicants
					</a>
				</li>
			</ul>
		</div>

		<nav class="accordion2">
        	<div class="accordion-section2">
            	<a class="accordion-section-title2" href="#accordion-slide-1" aria-controls="#accordion-slide-1" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)">
				</a>
				<div class="menu-button-holder">
					<div class="burger mmmmmm">
						<div class="burger-box">
							<div class="all-the-fixins">
							</div>
						</div>
					</div>
					<span class="menu-label">
						Menu
					</span>
				</div>
				<div id="accordion-slide-1" class="accordion-section-content2">
					<ul>
                	<li><a href="/index.html">Careers Home</a></li>
                	<li><a href="/well-being.html">Well-Being</a></li>
                	<li><a href="/learning.html">Learning</a></li>
                	<li><a href="/belonging.html">Belonging</a></li>
					<li><a href="/nursing-and-patient-care-services.html">Nursing and Patient Care Services</a></li>
					<li><a href="/division-of-pharmacy.html">Division of Pharmacy</a></li>
					<li><a href="/division-of-philanthropy.html">Division of Philanthropy</a></li>
                	<li><a href="https://www.dana-farber.org/about-us/careers-at-dana-farber/workforce-development/" target="_blank">Office of Workforce Development<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li class="no-line"><a href="/new-cancer-hospital/">New Cancer Hospital</a></li>
                	<li class="mobile-options">
						<a href="https://partnershealthcare.okta.com/app/workday/exk101k9zcqYfxdU0298/sso/saml" target="_blank" aria-label="Internal Applicants (link opens in a new window)">
						Internal Applicants
						</a>
					</li>
                	<li class="mobile-options">
						<a href="https://danafarber.wd5.myworkdayjobs.com/dana-farber/login" target="_blank" aria-label="Returning Applicants (link opens in a new window)">
							Returning Applicants
						</a>
					</li>
    	           </ul>
				</div>
			</div>
		</nav>

	</div>
		
</header>

	
<!-- ---- BANNER AREA ---- -->

<div id="sub-banner-collaboration" class="banner-area-sub">
  <div id="page-name">
    <div class="sub-banner-inner philanthropy">
      <div class="hero-sub-copy philanthropy">
        <h1>Dana-Farber Beth Israel Deaconess <br>
Cancer Collaboration</h1>
       
		 <a href="#collab-form">Stay up to Date with Future <br>
Cancer Hospital Career Opportunities</a> 
      </div>
 
    </div>
  </div>
</div>
<!-- ---- SEARCH AREA ---- -->

<div class="front-page-search">

    <div class="front-page-inside">

        <form method="get" action="/jobs/" id="keyword-search">
			<label for="search_term">Search Jobs Now!</label>
            <div class="search-field-sub">
                <input id="search_term" name="search_term" type="text" class="search-textbox-sub" value="" placeholder="Search Jobs by Keyword or Req #">
            </div>
            <input name="Submit" type="submit" class="search-button" id="search_term_btn" value="">
        </form>

        <a href="/jobs/" class="advanced-search">Advanced Job Search</a>
        
    </div>

</div>
	

 
 
<!-- ---- SUB CONTENT AREA ---- --> 
<div id="sub-content"> 
	
	<section class="collab-temp-intro" aria-label="DFCI is building a place for the future of cancer care">
		<div class="inner">
		<h2 class="workforce-dev">We're Building a Place for the Future of Cancer Care.</h2>
           
            <p>Since 1947, Dana-Farber has been at the forefront of blending exceptional cancer care with leading-edge, transformative science. At the core of what we do is a patient-centered approach with a singular focus — cancer care. That focus has driven us throughout our history, and it has resulted in plans for a new dedicated inpatient cancer hospital, and a transformative clinical collaboration.</p>
            <p>Owned and operated by Dana-Farber, the proposed Future Cancer Hospital will be the only independent cancer hospital in the region. It is the right care model for the future of cancer care and will allow us to provide the best care for our patients for years to come.</p>
		</div>
	</section>
	
  
  <!-- ---- Video Info Session ---- -->
<!--
  <section class="info-collab" aria-label="DFCI is building a place for the future of cancer care">
    <div class="inner table">
      <div class="row">
		  <div class="cell info-collab-image">

			  <div class="video2" id="collab-video">
          <div class="video-player">
            <div class="responsive-frame">
           <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1091272697?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Our Vision for the Future of Cancer Care"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
        </div>
		  </div>
        <div class="cell">
          <div class="table-text">
            <h2 class="workforce-dev">We're Building a Place for the Future of Cancer Care.</h2>
           
            <p>Since 1947, Dana-Farber has been at the forefront of blending exceptional cancer care with leading-edge, transformative science. At the core of what we do is a patient-centered approach with a singular focus — cancer care. That focus has driven us throughout our history, and it has resulted in plans for a new dedicated inpatient cancer hospital, and a transformative clinical collaboration.</p>
            <p>Owned and operated by Dana-Farber, the proposed Future Cancer Hospital will be the only independent cancer hospital in the region. It is the right care model for the future of cancer care and will allow us to provide the best care for our patients for years to come.</p>
             </div>
        </div>
        
      </div>
    </div>
  </section>
-->
	
 <!-- ---- Dana-Farber Beth Israel Deaconess Cancer Collaboration Form ---- -->
	<div id="collab-form">
	<div class="talent-inside">
  <div class="search-headings">
   <!--||{% block te-header %}||-->
    <h1>
     Sign Up for Email Updates
    </h1>
    <!--||{% endblock te-header %}||-->

  </div>
  
  <!--||{% block te-subheader %}||-->

  <div class="talent-network-description" id="talent-network-description">
  Be the first to hear about career opportunities at our future cancer hospital. We will provide regular updates on our new collaboration with BIDMC, the future cancer hospital, and job opportunities in your selected specialty when they become available.
  </div>
  <!--||{% endblock te-subheader %}||-->
  
 <div class="talent-network-container">
  
  <!--||{% block content %}{% endblock %}||-->
  
  <!--||{% comment %}||-->
  <form method="post" id="optimator-form" class="debounce" enctype="multipart/form-data" aria-label="Aveanna Talent Network sign-up form" aria-describedby="talent-network-description">
   
   <input type="hidden" name="csrfmiddlewaretoken" value="thlcV7y2ufgJLTWjUPoXmjGhLDJtIAxNpwIuNeRsTYrG5aWUC0ps4AYEc45s3uFF" />
   
   <ul aria-label="Talent Network sign-up form fields">
    
    <li>
     <label for="id_first_name">
      First Name:
      </label>
     <input type="text" name="first_name" maxlength="50" required id="id_first_name" />
     </li>
    
    <li>
     <label for="id_last_name">
      Last Name:
      </label>
     <input type="text" name="last_name" maxlength="50" required id="id_last_name" />
     </li>
    
    <li>
     <label for="id_email">
      Email:
      </label>
     <input type="email" name="email" maxlength="100" required id="id_email" />
     </li>
    
    <li>
     <label for="id_phone_number">
      Cell Phone:
      </label>
     <input type="text" name="phone_number" maxlength="30" id="id_phone_number" />
     </li>
    
    <li>
     <label for="id_current_employer">
      Current Employer:
      </label>
     <input type="text" name="current_employer" maxlength="100" id="id_current_employer" />
     </li>
    
    <li>
     <label for="id_current_title">
      Current Title:
      </label>
     <input type="text" name="current_title" maxlength="100" id="id_current_title" />
     </li>
    
 <li>
                    <label for="id_resume">Resume: </label>
                    <input type="file" name="resume" id="id_resume">
                    <br>Formats accepted: .pdf / .doc / .docx / .txt / .jpg / .jpeg / .png
                </li>
    
    
    <li>
     <span class="multi-choice-label">
      Categories:
      </span>
     <ul aria-label="Employment categories of interest (please select all that apply)" class="blacktext">
      <li>
       <input type="checkbox" name="categories" value="22" id="id_categories_0" />
       <label for="id_categories_0">Search All Categories</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="2" id="id_categories_1" />
       <label for="id_categories_1">Administrative & Frontline Operations</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="19" id="id_categories_2" />
       <label for="id_categories_2">Advanced Practice Providers</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="1" id="id_categories_3" />
       <label for="id_categories_3">Behavioral and Mental Health</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="16" id="id_categories_4" />
       <label for="id_categories_4">Chief Therapist</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="15" id="id_categories_5" />
       <label for="id_categories_5">Clinical Support Staff</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="23" id="id_categories_6" />
       <label for="id_categories_6">Diagnostic & Imaging Services</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="8" id="id_categories_7" />
       <label for="id_categories_7">Facilities, Safety & Technical Services</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="20" id="id_categories_8" />
       <label for="id_categories_8">Interpreters and Translators</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="17" id="id_categories_9" />
       <label for="id_categories_9">Nutrition/Dietitian</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="13" id="id_categories_10" />
       <label for="id_categories_10">Occupational Therapists</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="14" id="id_categories_11" />
       <label for="id_categories_11">Other Patient Care Services</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="15" id="id_categories_12" />
       <label for="id_categories_11">Pharmacy</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="16" id="id_categories_13" />
       <label for="id_categories_11">Physical Therapists</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="17" id="id_categories_14" />
       <label for="id_categories_11">Physicians and and Physician Trainees</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="18" id="id_categories_15" />
       <label for="id_categories_11">Radiation Oncology</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="19" id="id_categories_16" />
       <label for="id_categories_11">Radiation Therapist</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="20" id="id_categories_17" />
       <label for="id_categories_11">Registered Nurses</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="21" id="id_categories_18" />
       <label for="id_categories_11">Respiratory Therapists</label>
       </li>
      <li>
       <input type="checkbox" name="categories" value="22" id="id_categories_19" />
       <label for="id_categories_11">Social Workers</label>
       </li>

      </ul>
     </li>
    
	   
	   <li>
	   <div id="div_shifts" class="form-group">
  <label class="control-label  requiredField">
   Shift:
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <div class="checkbox">
      <label class="" for="id_shifts_0">
         <input type="checkbox" name="shifts" value="1" id="id_shifts_0">
         Day
      </label>
    </div>
    <div class="checkbox">
      <label class="" for="id_shifts_1">
        <input type="checkbox" name="shifts" value="2" id="id_shifts_1">
       Evening
      </label>
    </div>
	   <div class="checkbox">
      <label class="" for="id_shifts_3">
        <input type="checkbox" name="shifts" value="3" id="id_shifts_3">
       Night
      </label>
    </div>
	  <div class="checkbox">
      <label class="" for="id_shifts_4">
        <input type="checkbox" name="shifts" value="4" id="id_shifts_4">
       Swing
      </label>
    </div>
	  <div class="checkbox">
      <label class="" for="id_shifts_5">
        <input type="checkbox" name="shifts" value="5" id="id_shifts_5">
       Float Pool
      </label>
    </div>
  </div>
</div>
	   </li>

	   
	   <li>
                <label>&nbsp;</label>
                <div class="te-recaptcha" style="display:inline-block;">
                    
                    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
<div class="g-recaptcha" data-sitekey="6Le-yNkUAAAAAFogwy4aSYRfdbjwcZ6bjcVLyRWl"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-pwb0u922kk66" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Le-yNkUAAAAAFogwy4aSYRfdbjwcZ6bjcVLyRWl&amp;co=aHR0cHM6Ly9jYXJlZXJzLmRhbmEtZmFyYmVyLm9yZzo0NDM.&amp;hl=en&amp;v=h7qt2xUGz2zqKEhSc8DD8baZ&amp;size=normal&amp;cb=3stbd8nolo8q"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                </div>
            </li>
    
    <li class="talent-disclaimer">
    By submitting information, you are not officially applying to a position at this time and you authorize Dana-Farber Cancer Institute to contact you via phone, email, and text messaging. You also agree to receive automated messages. Message & data rates apply.</li>
	   <li class="talent-disclaimer">
    Upon sign up you will receive instructions to manage your profile and/or to opt out.</li>
	    <li class="talent-disclaimer">Dana-Farber Cancer Institute is an equal opportunity employer and affirms the right of every qualified applicant to receive consideration for employment without regard to race, color, religion, sex, gender identity or expression, national origin, sexual orientation, genetic information, disability, age, ancestry, military service, protected veteran status, or other characteristics protected by law.</li>
    
    <li>
     <input name="submit" type="submit" class="submitBtn" id="submit" value="SUBMIT">
     </li>
    
    </ul>
   
   </form>
  
  <!--||{% endcomment %}||-->

  
 </div>
  
 </div>
	</div>
	
	
</div>
	
<footer>
   <div class="footer-upper-inner">
	   <ul>
		   <li>
			   <img src="files/images/global/footer-awards/img-award-children.png" class="scalable" width="125" height="141" alt="U.S.News & World Report 2019-20 Best Children's Hospital for Cancer Treatment"/>
		   </li>
		  <li>
			   <img src="files/images/global/footer-awards/img-award-hospital.png" class="awards-v1 scalable" width="146" height="141" alt="U.S.News & World Report 2021-22 Best Hospitals for Cancer Treatment"/>
		   </li>
		   <li> <img src="files/images/global/footer-awards/H100_WinnersBadge-Icon-2024.png" class="awards-v1 scalable" width="157" height="141" alt="H100_WinnersBadge-Icon 2024"/> </li>
	   </ul>
	   <ul>
		   <li>
			   <img src="files/images/global/footer-awards/hmsth-logo.png" width="378" height="63" alt="Harvard Medical School Teaching Hospital" class="scalable"/>
			</li>
	   </ul>
	   <ul>
		   <li>
			   <img src="files/images/global/footer-awards/magnet-logo.png" class="scalable" width="125" height="98" alt="American Nurses Credentialing Center Magnet Recognized"/>
		   </li>
		   <li>
			   <img src="files/images/global/footer-awards/nci-logo.png" class="scalable" width="115" height="98" alt="National Cancer Institute Designated Comprehensive Cancer Center"/>
		   </li>
		   <li>
			   <img src="files/images/global/footer-awards/nccn-logo.png" class="scalable" width="253" height="98" alt="National Comprehensive Cancer Network"/>
		   </li>
		   <li>
			   <img src="files/images/global/footer-awards/TC21-Boston-logo.png" class="awards-v2 scalable" width="230" height="196" alt="LinkedIn – 2021 Top Companies in Boston"/>
		   </li>
           <li>
			   <img src="files/images/global/footer-awards/hx-guardian-logo.png" class="awards-v2 scalable" width="91" height="98" alt="2022_HX_Guardian_of_Excellence_Logo"/>
		   </li>
		   <li> <img src="files/images/global/footer-awards/ANCC-Accredited-NCPD-mark.png" class="awards-v2 scalable" width="411" height="411" alt="Accredited Nursing Continuing Professional Development – American Nurses Credentialing Center"/> </li>
		   <li><a target="_blank" href="https://www.nursingworld.org/organizational-programs/accreditation/ptap/
"><img src="files/images/global/footer-awards/Credentialing-Marks_PTAP-Distinction.png" class="awards-v2 scalable" width="1967" height="1967" alt="Accredited Practice Transition Program with Distinction – American Nurses Credentialing Center"/></a></li>
	   </ul>
	   
	   <div class="footer-contact-row">
		   <div class="footer-contact-address">Copyright <span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;Dana-Farber Cancer Institute<br>
			450 Brookline Avenue, Boston, MA 02215<br>
			Call us: <a href="tel:16176323052">617-632-3052</a></div>
 
<!-- ---- SOCIAL MEDIA ICONS FOOTER ---- -->
       <div class="footer-contact-social-media">
        <div class="header">Stay In Touch With Us</div>
        <div class="footer-contact-social-media-btm">
        <ul>
                <li>
                    <a href="http://www.facebook.com/danafarbercancerinstitute" target="_blank" aria-label="Visit Dana-Farber Cancer Institute on Facebook (opens in a new window)" class="facebook-link">
    
                        <!-- <img src="files/images/global/footer-social-icons/icon-facebook.png" width="104" height="115" alt="Facebook (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/danafarber" target="_blank"  aria-label="Visit Dana-Farber on Twitter (opens in a new window)" class="twitter-link">
                        <!-- <img src="files/images/global/footer-social-icons/icon-twitter.png" width="115" height="115" alt="Twitter (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/company/dana-farber-cancer-institute" target="_blank" aria-label="Visit Dana-Farber Cancer Institute on Linked-In (opens in a new window)" class="linkedin-link">
                        <!-- <img src="files/images/global/footer-social-icons/icon-linkedin.png" width="109" height="115" alt="LinkedIn (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com/danafarber" target="_blank" aria-label="Visit Dana-Farber Cancer Institute on Instagram (opens in a new window)" class="instagram-link">
                        <!-- <img src="files/images/global/footer-social-icons/icon-instagram.png" width="110" height="115" alt="Instagram (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com/user/DanaFarberCancerInst" target="_blank" aria-label="Visit Dana-Farber Cancer Institute on YouTube (opens in a new window)" class="youtube-link">
                        <!-- <img src="files/images/global/footer-social-icons/icon-youtube.png" width="110" height="115" alt="YouTube (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
             </ul>
        </div>
     </div>
 </div>
     <div class="footer-eoe">Dana-Farber Cancer Institute is an equal opportunity employer.</div>
	</div>
  
	<div class="footer-lower">
    	<ul>
			<li>
				<a href="https://danafarber.wd5.myworkdayjobs.com/dana-farber/loginnonrecruit?q=volunteer" target="_blank"  aria-label="Volunteer Services Application Portal (link opens in a new window)">Volunteer Services Application Portal</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/about-us/careers-at-dana-farber/it-jobs/">IS Jobs</a>
			</li>
			<li>
				<a href="https://careers.dana-farber.org/jobs/development-fundraising/?_ga=2.243568709.1132747995.1594672342-1211333875.1565877430">Division of Philanthropy Jobs</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/about-us/careers-at-dana-farber/communication-internships/">Communication Internships</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/about-us/collaborations/career-opportunities-at-our-collaborative-partners/">Collaborative Partner Careers</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="pay-transparency-policy.html">Pay Transparency Policy</a>
			</li>
			<li>
				<a href="accessibility-issues.html">Report Accessibility Issues</a>
			</li>
			<li>
				<a href="https://www.e-verify.gov/" target="_blank" aria-label="E-Verify Program (link opens in a new window)">E-Verify Program</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/privacy-policy/">Privacy Policy</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/legal-statements/">Legal Statements</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/sitemap/">Sitemap</a>
			</li>
		</ul>
	</div>
</footer>
    
	<script>
		window.onscroll = function() {myFunction()};

		var DFCIHeader = document.getElementById("DFCIHeader");
		var FixedHeader = (DFCIHeader.offsetTop);

		function myFunction() {
		if (window.pageYOffset > FixedHeader) {
			DFCIHeader.classList.add("FixedHeader");
		} else {
			DFCIHeader.classList.remove("FixedHeader");
		}
	}
	</script>
</body>
</html>
