<!doctype html>
<html><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="IE=edge,chrome=1"/>
<!-- InstanceBeginEditable name="doctitle" -->

	  <!--||{% block canonical_link %}{% endblock %}||-->
    <!--||{% include 'includes/job_headers.html' %}||-->
	
<!-- InstanceEndEditable -->
<meta name="keywords" content="Dana-Farber Cancer Institute, Nursing, Boston">
<meta name="description" content="With a career at Dana-Farber Cancer Institute, you play an important role in helping to fulfill our mission and ultimate goal: the eradication of cancer and related diseases."/>
<link rel="shortcut icon" href="files/images/global/favicon.ico"/>
 
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KL4RMT');</script>
<!-- End Google Tag Manager -->

<script type="application/ld+json">
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"url": "{{ CANONICAL_URL }}/",
	"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
	"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
	}
	</script>
 
<!-- Google -->
<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
<meta property="og:image:secure_url" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg" />
<!-- Open Graph (LinkedIn) -->
<meta name="image" property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
 
<!-- icons -->
<link rel="icon" sizes="16x16 32x32 48x48" href="files/images/favicon.ico">
<link rel="icon" sizes="192x192" type="image/png" href="files/images/favicon-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" type="image/png"  href="files/images/touch-icon-180x180.png">

<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="files/styles/styles.css" media="screen" type="text/css"/>
<link rel="stylesheet" href="files/styles/responsive.css" media="screen" type="text/css"/>
<link rel="stylesheet" href="files/styles/active-slides.css" media="screen" type="text/css"/>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="files/js/jquery-1.12.2.min.js"><\/script>')
</script>
<script type="text/javascript" src="files/js/rollover.js"></script>
<script type="text/javascript" src="files/js/accordion.js"></script>
<script type="text/javascript" src="files/js/showHide.js"></script>
	
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-XXXXX-Y', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4710GQHKC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L4710GQHKC');
</script>
	
<!-- InstanceBeginEditable name="head" -->
	
	    <!--||{% load job_tags %}||-->
    <!--||{% block head %}{% endblock %}||-->
	
<!-- InstanceEndEditable -->
<!-- InstanceParam name="sub-mobile-search" type="boolean" value="true" -->
</head>

<body>
 
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KL4RMT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
 
 
<!-- ---- HEADER AREA ---- -->

<header id="DFCIHeader">
	
	<div class="header-inside">
 
		<a href="https://www.dana-farber.org" aria-label="Dana-Farber Cancer Institute Home Page (opens in a new window)" target="_blank" id="logo" class="imagefit">
			<img src="files/images/global/img-logo-2x-new.png" alt="Dana-Farber Cancer Institute (logo)" class="scalable">
		</a>
		
        <div id="toplinks">
			<ul>
                <li>
					<a href="https://partnershealthcare.okta.com/app/workday/exk101k9zcqYfxdU0298/sso/saml" target="_blank" aria-label="Internal Applicants (link opens in a new window)">
						Internal Applicants
					</a>
				</li>
				<li>
					<a href="https://danafarber.wd5.myworkdayjobs.com/dana-farber/login" target="_blank" aria-label="Returning Applicants (link opens in a new window)">
						Returning Applicants
					</a>
				</li>
			</ul>
		</div>

		<nav class="accordion2">
        	<div class="accordion-section2">
            	<a class="accordion-section-title2" href="#accordion-slide-1" aria-controls="#accordion-slide-1" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)">
				</a>
				<div class="menu-button-holder">
					<div class="burger mmmmmm">
						<div class="burger-box">
							<div class="all-the-fixins">
							</div>
						</div>
					</div>
					<span class="menu-label">
						Menu
					</span>
				</div>
				<div id="accordion-slide-1" class="accordion-section-content2">
					<ul>
                	<li><a href="/index.html">Careers Home</a></li>
					<li><a href="https://olivia.paradox.ai/co/DanaFarberCancerInstitute/UpcomingEvent" target="_blank">Events<span class="sr-only"> (Opens in new tab)</span></a></li>
                	<li><a href="well-being.html">Well-Being</a></li>
                	<li><a href="learning.html">Learning</a></li>
                	<li><a href="belonging.html">Belonging</a></li>
					<li><a href="nursing-and-patient-care-services.html">Nursing and Patient Care Services</a></li>
					<li><a href="division-of-pharmacy.html">Division of Pharmacy</a></li>
					<li><a href="division-of-philanthropy.html">Division of Philanthropy</a></li>
                	<li><a href="https://www.dana-farber.org/about-us/careers-at-dana-farber/workforce-development/" target="_blank">Office of Workforce Development<span class="sr-only"> (link opens in a new window)</span></a></li>
					<li class="no-line"><a href="new-cancer-hospital.html">New Cancer Hospital</a></li>
                	<li class="mobile-options">
						<a href="https://partnershealthcare.okta.com/app/workday/exk101k9zcqYfxdU0298/sso/saml" target="_blank" aria-label="Internal Applicants (link opens in a new window)">
						Internal Applicants
						</a>
					</li>
                	<li class="mobile-options">
						<a href="https://danafarber.wd5.myworkdayjobs.com/dana-farber/login" target="_blank" aria-label="Returning Applicants (link opens in a new window)">
							Returning Applicants
						</a>
					</li>
    	           </ul>
				</div>
			</div>
		</nav>

	</div>
		
</header>

	
<!-- ---- BANNER AREA ---- -->

<!-- InstanceBeginEditable name="sub-banner" -->
<div id="sub-banner-clinic-coord" class="banner-area-sub">
<div id="page-name">
  <div class="sub-banner-inner">
   <div class="hero-copy">
	   What We Do Here <br>
Changes Lives Everywhere
    </div>
  </div>
 </div>
</div>
<!-- InstanceEndEditable -->

	
<!-- ---- SEARCH AREA ---- -->

<div class="front-page-search">

    <div class="front-page-inside">

        <form method="get" action="/jobs/" id="keyword-search">
			<label for="search_term">Search Jobs Now!</label>
            <div class="search-field-sub">
                <input id="search_term" name="search_term" type="text" class="search-textbox-sub" value="" placeholder="Search Jobs by Keyword or Req #">
            </div>
            <input name="Submit" type="submit" class="search-button" id="search_term_btn" value="">
        </form>

        <a href="/jobs/" class="advanced-search">Advanced Job Search</a>
        
    </div>

</div>
	

 
 
<!-- ---- SUB CONTENT AREA ---- --> 
<!-- InstanceBeginEditable name="sub-content" -->

<div id="sub-content">


    <section id="dynamic-details">
        <h1 class="dynamic-job-title">{{ job.title }}</h1>
        <dl>
            <dt>Job Ref:</dt><dd> {{ job.job_refid }}</dd>
            <dt>Location:</dt><dd> {{ job.location.name }} {{ job.location.postal_code }}</dd>
            <dt>Category:</dt><dd> {{ job.category.name }}</dd>
            {% if job.posting.employment_type %}<dt>Employment Type:</dt><dd> {{ job.posting.employment_type }}</dd>{% endif %}
        </dl>

        <!--||{% include 'includes/job_action_buttons.html' %}||-->

    </section>

    <!--||{% comment %}||-->	
	<section id="dynamic-details">
		<h1 class="dynamic-job-title">Clinic Coordinator</h1>
		<dl>
			<dt>Job ID:</dt><dd> 20071</dd>
       		<dt>Location:</dt><dd> 450 Brookline Ave, Boston, MA 02215</dd>
       		<dt>Category:</dt><dd> Clinical Research</dd>
       	    <dt>Employment Type:</dt><dd> Full Time</dd>
		</dl>
		<div class="job-details-btns">
    		<a href="{{ job.apply_url }}" class="utility-btn">
        		Apply
			</a>
			<a href="#" class="utility-btn">
				Refer a Friend
			</a>
			<a href="#" class="utility-btn">
				Save Job
			</a>
			<a href="javascript:history.back();" id="backbtn" class="utility-btn">
				Back
			</a>
        </div>
	</section>
    <!--||{% endcomment %}||-->

	
	<!--MAP ROW-->
		<div class="map-row">
			<div class="table">
				<div class="row">
				
					<div class="cell map-left">

          <!--||{% if FEATURE_LOCATION_MAPS and job.location.city %}||-->
              <div class="google-job-map">
                  <iframe src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_MAPS_API_KEY }}&q={{ job.location.google_maps_address }}"
                          width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
              </div>
          <!--||{% endif %}||-->

					</div>
						<div class="cell map-right">
						<div class="copy-container">
							<p>Clinic Coordinators demonstrate the values and mission of Dana-Farber everyday by providing expert compassionate care to our patients with cancer.</p>
							<div class="share-this-icons">
								<div>Share This Job</div>
								<ul>
								  <li>
									 <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
								  </li>
								  <li>
									<a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
								  </li>
								  <li>
									<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
								  </li>
								  <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
								</ul>
							  </div>
							 <!-- <div class="shareThis">
        <div class="shareThis-left">Share This Job</div>
        <div class="shareThis-right">
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53a47c2d2f5ca32d"></script>
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </div> -->
						</div>
						
					</div>
				</div>
			</div>
		</div>

	
	<section class="dynamic-job-details">
  <div class="responsibilities">
    <div class="responsibility-content">
      <div class="responsibility-wrapper">
        <h2 class="white">Responsibilities:</h2>
        <ul>
          <li>Create an exceptional patient experience by delivering outstanding customer service throughout the check in and check out process.</li>
          <li>Manage complex scheduling to meet patient needs.</li>
          <li>Act as a liaison for patients, families and providers.</li>
          <li>Respond to emergent and compliance matters with creative problem solving and critical thinking.</li>
        </ul>
      </div>
      <img class="slant desktop" src="files/images/sub/dynamic-jobs/slant--golden.png">
      <img class="slant mobile" src="files/images/sub/dynamic-jobs/slant--golden--mobile.png">
    </div><!-- /responsibility-content -->

    <div class="responsibility-image">
      <img class="mobile" src="files/images/sub/dynamic-jobs/cheryl.jpg">
      <div class="testimonial">
        <p><span class="quote">“</span>I will always go above and beyond for my patients. I think about, if this was my family member, how I would want them to be treated. When patients come into the clinic I try to put them at ease. A smile goes a long way.<span class="quote">”</span></p>
        <p class="byline">- Cheryl, Clinic Coordinator II</p>
      </div><!-- /testimonial -->
    </div><!-- /responsibility-image -->
  </div><!-- /responsibilities -->
  
  
   	<section class="nurse-callout table">
			<div class="inside">
			<div class="row">
				<div class="cell">
					<div class="copy-holder">
						<h2 data-class="copy-holder">Qualifications</h2>
						       <ul >
          <li>Bachelor’s degree preferred.</li>
          <li>0 - 1 year experience in a customer service setting.</li>
          <li>Proficiency in technology and complex computer systems required.</li>
          <li>Ability to work in a fast paced and complex clinical environment.</li>
        </ul>
					</div>
				</div>
        		<div class="cell image">
				</div>
				
			</div>
			</div>
		</section>

  <div class="requirements">
     <div class="require-image">
      <img class="mobile" src="files/images/sub/dynamic-jobs/kevin.jpg">
      <div class="testimonial">
        <p><span class="quote">“</span>Starting my career here as a Clinic Coordinator I was able to hone in on the fundamental skills necessary to organize a clinical floor. The trajectory of this role has set me up for a career with exponential growth. It is amazing to find a career with people that not only value you, but one that you find value in.<span class="quote">”</span></p>
        <p class="byline">- Kevin, Practice Manager</p>
      </div><!-- /testimonial -->
    </div><!-- /require-image -->
    <div class="require-content">
      <div class="require-wrapper">
        <h2 class="white">Professional Growth:</h2>
        <p class="white">The Clinic Coordinator position may lead to career opportunities in administrative, team lead, and management roles. Dana-Farber is committed to offering a variety of personal, professional, and leadership development opportunities to all members of its workforce to meet the everchanging needs of our workforce and our industry.</p> 
      </div>
      <img class="slant desktop" src="files/images/sub/dynamic-jobs/slant--blue.png">
      <img class="slant mobile" src="files/images/sub/dynamic-jobs/slant--blue--mobile.png">
    </div><!-- /require-content -->
  </div><!-- /requirements -->

</section>

	
	 
	
	
	
<!-- ---- Benefits ---- -->
<section class="benefits">
  
<div class="inside">
   	<h2 class="benefits">Well-Being and Benefits</h2>		
        <div class="benefits-box">

          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-health.png" class="scalable" alt="Health, Dental and Vision Insurance icon"/></div>
          <div class="benefits-box-btm">Health, Dental and Vision Insurance</div>
        </div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-time-off.png" class="scalable" alt="Time Off icon"/></div>
          <div class="benefits-box-btm">Time Off</div>
        </div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-family.png" class="scalable" alt="Family & Child Care Benefits and Resources icon"/></div>
          <div class="benefits-box-btm">Family & Child Care Benefits and Resources</div>
	 </div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-retirement.png" class="scalable" alt="Retirement Programs icon"/></div>
          <div class="benefits-box-btm">Retirement Programs</div>
        </div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-life-insurance.png" class="scalable" alt="Life Insurance icon"/></div>
          <div class="benefits-box-btm">Life Insurance</div>
 </div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-short-term.png" class="scalable" alt="Short Term Disability icon"/></div>
          <div class="benefits-box-btm">Short Term Disability</div>
	</div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-health-savings.png" class="scalable" alt="Health Savings Account icon"/></div>
          <div class="benefits-box-btm">Health Savings Account</div>
	</div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-flexible.png" class="scalable" alt="Flexible Spending Account icon"/></div>
          <div class="benefits-box-btm">Flexible Spending Account</div>
        </div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-transportation.png" class="scalable" alt="Transportation icon"/></div>
          <div class="benefits-box-btm">Transportation</div>
        </div>
		
        <div class="benefits-box">
          <div class="benefits-box-top"><img src="files/images/sub/well-being/icons/icon-LGBTQ.png" class="scalable" alt="LGBTQ+ icon"/></div>
          <div class="benefits-box-btm">LGBTQ+</div>
        </div>
	</div>
    </section>
  

   
  
    <!-- ---- Benefits Partners Logos ---- -->
<section class="partners-logos">
  <div class="inside">
   	<h2 class="partners-logos">Our Benefits Partners Include:</h2>
    <ul>
    <li><img src="files/images/sub/well-being/wellbeing-logos/harvpilgrim-logo.png" width="400" height="153" alt="Harvard Pilgrim Health Care" class="scalable"/></li>
    <li><img src="files/images/sub/well-being/wellbeing-logos/delta-dental-logo.png" width="400" height="153" alt="Delta Dental" class="scalable"/></li>
    <li><img src="files/images/sub/well-being/wellbeing-logos/eyemed-logo.png" width="400" height="153" alt="Eye Med" class="scalable"/></li>
     <li><img src="files/images/sub/well-being/wellbeing-logos/fidelity-logo.png" width="400" height="153" alt="Fidelity Investments" class="scalable"/></li>
       <li><img src="files/images/sub/well-being/wellbeing-logos/sentinel-logo.png" width="400" height="153" alt="Sentinel Benefits" class="scalable"/></li>
        <li><img src="files/images/sub/well-being/wellbeing-logos/prudential-logo.png" width="400" height="153" alt="Prudential" class="scalable"/></li>
        <li><img src="files/images/sub/well-being/wellbeing-logos/voya-logo.png" width="400" height="153" alt="Voya" class="scalable"/></li>
       <li><img src="files/images/sub/well-being/wellbeing-logos/tiaa-logo.png" width="400" height="153" alt="TIAA" class="scalable"/></li>
       <li><img src="files/images/sub/well-being/wellbeing-logos/caredotcom-logo.png" width="400" height="153" alt="Care.com" class="scalable"/></li>
       <li><img src="files/images/sub/well-being/wellbeing-logos/edukate-logo.png" width="400" height="153" alt="Edukate" class="scalable"/></li>
       <li><img src="files/images/sub/well-being/wellbeing-logos/headspace-logo.png" width="400" height="153" alt="Headspace" class="scalable"/></li>
    </ul>
  </div>
  </section>
	

	<section class="dj-qualifications table">
		<div class="inner">
		<div class="row">
			<div class="cell copy">
				<div class="copy-container">
					<p>At Dana-Farber Cancer Institute, we work every day to create an innovative, caring, and inclusive environment where every patient, family, and staff member feels they belong. As relentless as we are in our mission to reduce the burden of cancer for all, we are equally committed to diversifying our faculty and staff. Cancer knows no boundaries and when it comes to hiring the most dedicated and diverse professionals, neither do we. If working in this kind of organization inspires you, we encourage you to apply.</p>
				</div>
			</div>
			<div class="cell image">
				<div class="video-holder">
					<div class="videoWrapper">
          				<iframe width="560" height="315" src="https://www.youtube.com/embed/BoVisc1ezGA?si=q34NmcDlCPL0i5iE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        			</div>
				</div>
			</div>
		</div>
		</div>
	</section>


	<section class="bottom-buttons" id="dj-buttons-btm">

        <!--||{% include 'includes/job_action_buttons.html' %}||-->

        <!--||{% comment %}||-->
		<div class="job-details-btns">
        	<a href="{{ job.apply_url }}" class="utility-btn">
        		Apply
			</a>
			<a href="#" class="utility-btn">
				Refer a Friend
			</a>
			<a href="#" class="utility-btn">
				Save Job
			</a>
			<a href="javascript:history.back();" class="utility-btn">
				Back
			</a>
        </div>
	   <!--||{% endcomment %}||-->

    </section>
    
	
<!-- ---- TALENT NETWORK ---- -->

  <section class="talent-network" aria-label="Join Our Talent Network">
	<div class="inner table">
		<div class="row">
			<div class="cell talent-network-left">
			</div>
			<div class="cell">
                <div class="table-text">
					<h2 class="talent-header">Join Our Talent Network</h2>
					<p>Stay connected with Dana-Farber and receive alerts with new job opportunities and news relative to your interests.</p>
					<a href="{% url 'subscriptions' %}">Sign up now</a>
				</div>
			</div>
		</div>
	</div>
</section>

</div>
	
<!-- InstanceEndEditable -->
	
<footer>
   <div class="footer-upper-inner">
	   <ul>
		   <li>
			   <img src="files/images/global/footer-awards/img-award-children.png" class="scalable" width="125" height="141" alt="U.S.News & World Report 2019-20 Best Children's Hospital for Cancer Treatment"/>
		   </li>
		  <li>
			   <img src="files/images/global/footer-awards/img-award-hospital.png" class="awards-v1 scalable" width="146" height="141" alt="U.S.News & World Report 2021-22 Best Hospitals for Cancer Treatment"/>
		   </li>
		   <li> <img src="files/images/global/footer-awards/H100_WinnersBadge-Icon-2024.png" class="awards-v1 scalable" width="157" height="141" alt="H100_WinnersBadge-Icon 2024"/> </li>
	   </ul>
	   <ul>
		   <li>
			   <img src="files/images/global/footer-awards/hmsth-logo.png" width="378" height="63" alt="Harvard Medical School Teaching Hospital" class="scalable"/>
			</li>
	   </ul>
	   <ul>
		   <li>
			   <img src="files/images/global/footer-awards/magnet-logo.png" class="scalable" width="125" height="98" alt="American Nurses Credentialing Center Magnet Recognized"/>
		   </li>
		   <li>
			   <img src="files/images/global/footer-awards/nci-logo.png" class="scalable" width="115" height="98" alt="National Cancer Institute Designated Comprehensive Cancer Center"/>
		   </li>
		   <li>
			   <img src="files/images/global/footer-awards/nccn-logo.png" class="scalable" width="253" height="98" alt="National Comprehensive Cancer Network"/>
		   </li>
		   <li>
			   <img src="files/images/global/footer-awards/TC21-Boston-logo.png" class="awards-v2 scalable" width="230" height="196" alt="LinkedIn – 2021 Top Companies in Boston"/>
		   </li>
           <li>
			   <img src="files/images/global/footer-awards/hx-guardian-logo.png" class="awards-v2 scalable" width="91" height="98" alt="2022_HX_Guardian_of_Excellence_Logo"/>
		   </li>
		   <li> <img src="files/images/global/footer-awards/ANCC-Accredited-NCPD-mark.png" class="awards-v2 scalable" width="411" height="411" alt="Accredited Nursing Continuing Professional Development – American Nurses Credentialing Center"/> </li>
		   <li><a target="_blank" href="https://www.nursingworld.org/organizational-programs/accreditation/ptap/
"><img src="files/images/global/footer-awards/Credentialing-Marks_PTAP-Distinction.png" class="awards-v2 scalable" width="1967" height="1967" alt="Accredited Practice Transition Program with Distinction – American Nurses Credentialing Center"/></a></li>
	   </ul>
	   
	   <div class="footer-contact-row">
		   <div class="footer-contact-address">Copyright <span>©</span> <script type="text/javascript">date = new Date();
              year = date.getFullYear();
              document.write(year);//</script>&nbsp;Dana-Farber Cancer Institute<br>
			450 Brookline Avenue, Boston, MA 02215<br>
			Call us: <a href="tel:16176323052">617-632-3052</a></div>
 
<!-- ---- SOCIAL MEDIA ICONS FOOTER ---- -->
       <div class="footer-contact-social-media">
        <div class="header">Stay In Touch With Us</div>
        <div class="footer-contact-social-media-btm">
        <ul>
                <li>
                    <a href="http://www.facebook.com/danafarbercancerinstitute" target="_blank" aria-label="Visit Dana-Farber Cancer Institute on Facebook (opens in a new window)" class="facebook-link">
    
                        <!-- <img src="files/images/global/footer-social-icons/icon-facebook.png" width="104" height="115" alt="Facebook (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/danafarber" target="_blank"  aria-label="Visit Dana-Farber on Twitter (opens in a new window)" class="twitter-link">
                        <!-- <img src="files/images/global/footer-social-icons/icon-twitter.png" width="115" height="115" alt="Twitter (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/company/dana-farber-cancer-institute" target="_blank" aria-label="Visit Dana-Farber Cancer Institute on Linked-In (opens in a new window)" class="linkedin-link">
                        <!-- <img src="files/images/global/footer-social-icons/icon-linkedin.png" width="109" height="115" alt="LinkedIn (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com/danafarber" target="_blank" aria-label="Visit Dana-Farber Cancer Institute on Instagram (opens in a new window)" class="instagram-link">
                        <!-- <img src="files/images/global/footer-social-icons/icon-instagram.png" width="110" height="115" alt="Instagram (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com/user/DanaFarberCancerInst" target="_blank" aria-label="Visit Dana-Farber Cancer Institute on YouTube (opens in a new window)" class="youtube-link">
                        <!-- <img src="files/images/global/footer-social-icons/icon-youtube.png" width="110" height="115" alt="YouTube (opens in a new window)" class="scalable"/> -->
                    </a>
                </li>
             </ul>
        </div>
     </div>
 </div>
     <div class="footer-eoe">Dana-Farber Cancer Institute is an equal opportunity employer.</div>
	</div>
  
	<div class="footer-lower">
    	<ul>
			<li>
				<a href="https://danafarber.wd5.myworkdayjobs.com/dana-farber/loginnonrecruit?q=volunteer" target="_blank"  aria-label="Volunteer Services Application Portal (link opens in a new window)">Volunteer Services Application Portal</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/about-us/careers-at-dana-farber/it-jobs/">IS Jobs</a>
			</li>
			<li>
				<a href="https://careers.dana-farber.org/jobs/development-fundraising/?_ga=2.243568709.1132747995.1594672342-1211333875.1565877430">Division of Philanthropy Jobs</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/about-us/careers-at-dana-farber/communication-internships/">Communication Internships</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/about-us/collaborations/career-opportunities-at-our-collaborative-partners/">Collaborative Partner Careers</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="pay-transparency-policy.html">Pay Transparency Policy</a>
			</li>
			<li>
				<a href="accessibility-issues.html">Report Accessibility Issues</a>
			</li>
			<li>
				<a href="https://www.e-verify.gov/" target="_blank" aria-label="E-Verify Program (link opens in a new window)">E-Verify Program</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/privacy-policy/">Privacy Policy</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/legal-statements/">Legal Statements</a>
			</li>
			<li>
				<a href="https://www.dana-farber.org/sitemap/">Sitemap</a>
			</li>
		</ul>
	</div>
</footer>
    
	<script>
		window.onscroll = function() {myFunction()};

		var DFCIHeader = document.getElementById("DFCIHeader");
		var FixedHeader = (DFCIHeader.offsetTop);

		function myFunction() {
		if (window.pageYOffset > FixedHeader) {
			DFCIHeader.classList.add("FixedHeader");
		} else {
			DFCIHeader.classList.remove("FixedHeader");
		}
	}
	</script>

<!-- InstanceBeginEditable name="oneStop" --> 
	
<!--APPCAST PIXEL--><script type='text/javascript' src='https://click.appcast.io/pixels/icims-8302.js?ent=84&jsid=$T{Submittal}.$T{Person}.$F{PersonID}'></script>
	
	<!-- InstanceEndEditable -->	
</body>
<!-- InstanceEnd --></html>
