body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 300;
}
.btn{
	display: inline-block;
	background-color: #dddddd;
	padding: 15px 40px;
	font-size: 1.2rem;
	font-weight: 300;
	transition: width 2s; 
}
.btn::before{
	content: "";
	width: 0;
}
.btn:hover::before{
	content: "";
	width: 100%;
}