<!--|| {% load job_tags %} ||-->
<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/sub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Nurse Residency Program | Hospital and Nursing Jobs at Lee Health</title>
<!-- InstanceEndEditable -->
<meta name="description" content="Apply for Nursing and Hospital Jobs in the Lee Memorial Health System today. Join our diverse team of dedicated medical professionals in Southwest Florida’s premier community-owned health system.">

    <!-- Google -->
    <meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
 	<!-- Open Graph (LinkedIn) -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">

	<!-- icons -->
	<link rel="shortcut icon" href="files/favicon.png"/>
	<link rel="icon" sizes="16x16 32x32 48x48" href="files/images/favicon.ico">
	<link rel="icon" sizes="192x192" type="image/png" href="files/images/favicon-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" type="image/png"  href="files/images/touch-icon-180x180.png">
	<link rel="shortcut icon" href="files/images/touch-icon-180x180.png"/>
	
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>

	<!-- Mobile Browser Theme Colors -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#2190e0">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#2190e0">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#2190e0">

    <link href="files/fonts/stylesheet.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:400,500,600,700,800,800i|Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
	<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
	<link href="files/styles/header.css" rel="stylesheet" type="text/css">
	<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">

	<script src="files/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="files/js/accordion.js"></script>
	
	<!--Retargeting Pixel-->
	<!-- InstanceBeginEditable name="head" -->
	<!-- InstanceEndEditable -->
<img height="1" width="1"  style="border-style:none;display:none;visibility:hidden" alt="" src="https://insight.adsrvr.org/track/pxl/?adv=0rpatqm&ct=0:nqncz4n&fmt=3" />
	
<!-- Google for Crazy Egg -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NVMWPMPR');</script>
<!-- End Google Tag Manager -->

</head>


<body>
	
<!-- Google for Crazy Egg -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVMWPMPR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	<a id="skip-to-content" class="skip-to-content" href="#sub-content"><span class="background-space">Jump to Page Content<span class="sr-only"> (will bypass menus and search fields)</span></span></a>

<!-- ---- HEADER AREA ---- -->

<header>

			<div class="top-row clearfix">
				<div class="header-inside">
				<div class="header-logo">
					<a href="https://www.leehealth.org/" target="_blank" class="logo" alt="Lee Health home"><span class="sr-only"> (link opens in a new window)</span></a>
				</div>
				<a class="hamburger-title" href="#hamburger-content" aria-controls="#hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)">
					<div class="burger mmmmmm">
						<div class="burger-box">
							<div class="all-the-fixins">
							</div>
						</div>
					</div>
				</a>
				<nav class="top-nav">
					<ul>
						<li>
							<a href="{% url 'search' %}">
								View All Available Jobs
							</a>
						</li>
						
				<li>
					<a href="https://mingle-portal.inforcloudsuite.com/LEEMEMORIAL_PRD" target="_blank">
						Current Employees<span class="sr-only"> (link opens in a new window)</span>
					</a>
				</li>
		
						<li class="tooltipped-link">
							<a href="https://css-leememorial-prd.inforcloudsuite.com/hcm/Jobs/form/JobBoard%281000,EXTERNAL%29.JobSearchCompositeForm?csk.JobBoard=EXTERNAL&csk.HROrganization=1000&menu=JobsNavigationMenu.NewJobSearch [css-leememorial-prd.inforcloudsuite.com]" target="_blank" class="tooltipped-link" aria-controls="#link-tooltip" aria-expanded="false">
								Returning Applicants<span class="sr-only"> (link opens in a new window)</span>
								<span id="link-tooltip">
									Look for the <strong>"login"</strong> link at the top right of the linked page, just below the navigation.
								</span>
							</a>
						</li>
					</ul>
				</nav>
				</div>
			</div>
			
			
			<div class="bottom-row">
				<div class="header-inside clearfix">
				<nav id="hamburger-content" class="hamburger-content">
				
					<ul class="lower-nav">
						<li>
							<a href="/index.html">Careers</a>
						</li>
						<li>
							<a href="career-development.html">Career Development</a>
						</li>
						<li>
							<a href="benefits.html">Benefits</a>
						</li>
						<li>
							<!--- Secondary nav level (FEATURED OPPORTUNITIES) --->
							<a href="#featopps" aria-controls="#featopps" aria-expanded="false" target="_blank" class="has-mega-menu">
								Featured Opportunities<span class="sr-only"> (link opens in a new window)</span>
								<span class="chevron">
									<svg width="16" height="16" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid">
									  <g class="chevron__container">
										<line class="chevron__line1 chevron__line1__green" x1="10" y1="20" x2="50" y2="50"></line>
										<line class="chevron__line2 chevron__line2__green" x1="90" y1="20" x2="50" y2="50"></line>
									  </g>
									</svg>
								</span>
							</a>
							<div id="featopps" class="mega-menu-list">
								<div class="inner">
									<div class="menu-title">
										Featured Opportunities
									</div>
									<div class="main-menu-col">
										<ul>
											<li><a href="nursing-careers.html">Nursing</a></li>
											<li><a href="corp-support-careers.html">Corporate &amp; Support</a></li>
											<li><a href="info-systems-careers.html">Information Systems</a></li>
											
										</ul>
									</div>
									<div class="main-menu-col">
										<ul>
										 <li><a href="physician-opportunities.html">Physicians</a></li>
										<li><a href="https://gme.leehealth.org/" target="_blank">Physician Graduate Medical Education<span class="sr-only"> (link opens in a new window)</span></a></li>
										   <li><a href="clinical-residencies-and-training-programs.html">Clinical Residencies and Training Programs</a></li>
										    <li><a href="app-fellowships-overview.html">APP Fellowships</a>
										    </li>
											 <li><a href="admin-fellowship.html">Administrative Fellowship</a></li>
										</ul>
									</div>
									
								</div>
							</div>
							<!--- Secondary nav level (FEATURED OPPORTUNITIES) end --->
						</li>
						<li>
							<a href="culture.html">Culture</a>
						</li>
						
						<li>
							<a href="living-here.html">Living Here</a>
						</li>
	
						<li>
							<a href="faqs.html">FAQs</a>
						</li>
					
						<li>
							<a href="erp.html">ERP</a>
						</li>
						<li>
							<a href="events/">Events</a>
						</li>
						<li class="mobile-only">
							<a href="https://talent.leehealth.org/campaign/your-future-with-lee-health-starts-today/" target="_blank">Join Our Talent Community<span class="sr-only"> (link opens in a new window)</span></a>
						</li>
						<li class="mobile-only">
							<a href="{% url 'search' %}" target="_blank">
								View All Available Jobs
								</a>
						</li>
						<li class="mobile-only">
							<a href="https://css-leememorial-prd.inforcloudsuite.com/hcm/Jobs/form/JobBoard%281000,EXTERNAL%29.JobSearchCompositeForm?csk.JobBoard=EXTERNAL&csk.HROrganization=1000&menu=JobsNavigationMenu.NewJobSearch [css-leememorial-prd.inforcloudsuite.com]" target="_blank">
								Returning Applicants</a>
						</li>
					</ul>
				</nav>
				<a href="https://talent.leehealth.org/campaign/your-future-with-lee-health-starts-today/" class="join-our-talent" target="_blank">
					Join Our Talent Community<span class="sr-only"> (link opens in a new window)</span></a>
			</div>
			
		</div>
	</header>

	<div class="blue-background"></div>


<!-- ---- SUB BANNER AREA ---- -->
 

<!-- InstanceBeginEditable name="sub-banner" -->
	
<section aria-labelledby="page-title" class="sub-banner-new">
	<div class="inner">
			<div class="sub-banner-txt">
			<h2>Lee Health Careers</h2>
			<h1 id="page-title">Accredited Nurse Residency Program</h1>
		  </div>
            <div class="sub-banner-photo">
		    <img src="files/images/sub/banners/sub-nurse-res-prog.webp" width="1100" height="1815" alt="Smiling nurse speaking with patient in wheelchair" class="scalable"/> </div>
        </div>		
</section>
<!-- InstanceEndEditable -->

<!-- ---- SEARCH AREA ---- -->

	<section class="search front-page-search">

		<button class="mobile-search-button" href="#mobile-search" aria-controls="#mobile-search" aria-expanded="false">Search Jobs Now</button>

        <!--||{% block search-options %}{% include 'includes/search_options.html' %}{% endblock %}||-->

        <!--||{% comment %}||-->
		<ul id="mobile-search" class="inner">
			<li>
            	<form method="get"{% if is_home %} action="{% url 'search' %}"{% endif %}>
					<label class="search-label" for="search-term">Keyword Search</label>
					<div class="keyword-search">
					<input id="search_term" name="search_term" type="text" class="textbox" value="" placeholder="Jobs by Keyword" />
					<label class="sr-only" for="search_term_btn">Keyword Search Submit</label>
					<input name="search_term_btn" type="button" class="buttons" id="search_term_btn" value=""/>
					</div>
				</form>
			</li>
			<li>
				<div class="search-label">Category Search</div>
				<button class="accordion-button" href="#accordion-1" aria-controls="#accordion-1" aria-expanded="false">Search Jobs by Category</button>
				<ul id="accordion-1" class="accordion-content">
					<li>
						<a href="#">Option 1</a>
					</li>
					<li>
						<a href="#">Option 2</a>
					</li>
					<li>
						<a href="#">Option 3</a>
					</li>
					<li>
						<a href="#">Option 4</a>
					</li>
					<li>
						<a href="#">Option 5</a>
					</li>
					<li>
						<a href="#">Option 6</a>
					</li>
					<li>
						<a href="#">Option 7</a>
					</li>
					<li>
						<a href="#">Option 8</a>
					</li>
				</ul>
			</li>
			<li>
				<div class="search-label">Location Search</div>
				<button class="accordion-button" href="#accordion-2" aria-controls="#accordion-2" aria-expanded="false">Search Jobs by Location</button>
				<ul id="accordion-2" class="accordion-content">
					<li>
						<a href="#">Option 1</a>
					</li>
					<li>
						<a href="#">Option 2</a>
					</li>
					<li>
						<a href="#">Option 3</a>
					</li>
					<li>
						<a href="#">Option 4</a>
					</li>
					<li>
						<a href="#">Option 5</a>
					</li>
					<li>
						<a href="#">Option 6</a>
					</li>
					<li>
						<a href="#">Option 7</a>
					</li>
					<li>
						<a href="#">Option 8</a>
					</li>
				</ul>
			</li>
			<li>
				<div class="search-label">Schedule Search</div>
				<button class="accordion-button" href="#accordion-3" aria-controls="#accordion-3" aria-expanded="false">Search Jobs by Schedule</button>
				<ul id="accordion-3" class="accordion-content">
					<li>
						<a href="#">Option 1</a>
					</li>
					<li>
						<a href="#">Option 2</a>
					</li>
					<li>
						<a href="#">Option 3</a>
					</li>
					<li>
						<a href="#">Option 4</a>
					</li>
					<li>
						<a href="#">Option 5</a>
					</li>
					<li>
						<a href="#">Option 6</a>
					</li>
					<li>
						<a href="#">Option 7</a>
					</li>
					<li>
						<a href="#">Option 8</a>
					</li>
				</ul>
			</li>
			<li class="mobile-search-link">
				<a href="{% url 'search' %}">View All Available Jobs</a>
			</li>
			<li class="mobile-search-link">
				<a href="https://sjobs.brassring.com/TGWebHost/home.aspx?partnerid=25684&siteid=5288">Employee Log-In</a>
			</li>
		</ul>
        <!--||{% endcomment %}||-->

	</section>
	
<!-- InstanceBeginEditable name="main-content" -->
    <main>
      <div class="subcontent" id="sub-content">
	  
	   <section class="sub-intro" id="RnResProgramIntro">
      <div class="inner">
	  <div class="text">
	  <h2>An Exceptional, Evidenced-Based Accredited Nurse Residency Program for RNs</h2>
	  <ul>
	  <li><a href="#AboutRNProgram">About the Nurse Residency Program</a></li>
	  <li><a href="#RNFullPotential">How will the Nurse Residency Program Help Me Reach My Full Potential?</a></li>
	  <li><a href="#ApplyRnResProgram">How Do I Apply to the Nurse Residency Program?</a></li>
	  </ul>
	  </div>
	  <div class="photo" id="nursresprogintro">
	  <span class="background-image" role="img" aria-label="Close-up of comforting nurse with hand on shoulder of patient"></span></div>
	  </div>
	  </section>
	  
	   <section class="global-dual">
    <div class="inner">
      <div class="div">
        <div class="global-dual-copy" id="AboutRNProgram">
          <h2>About the Nurse Residency Program</h2>
		  <p>The Lee Health Nurse Residency Program is a groundbreaking residency opportunity. Candidates hired into Lee Health’s Nurse Residency Program include newly licensed nurses, nurses wishing to change specialties, and nurses that wish to return to our acute-care setting after an extended leave. No matter the reason, Lee Health System highly values our nurse staff – each nurse resident will receive daily support from their team and colleagues, proper patient care education, professional development opportunities, and mentorship.</p>
		  
          <p>Each resident in the Nurse Residency Program will receive an in-depth assessment of their critical thinking skills necessary for success in acute care. This assessment will guide nurse educators in the development of an individualized orientation plan for each nurse resident.</p>
		  
		  <p>Lee Health's Nurse Residency Program's main objective is to help transition the nurse resident into a safe, competent, confident and satisfied independent nurse. The first year of practice can be a stressful time for new grads, so all participants in the Program will also be assigned a Resident Development Specialist (RDS) to ensure oversight of their development and to provide support and mentorship.</p>
		  
		  <p>In addition, the Nurse Residency Program offers experienced nurses the opportunity to bridge to a higher level of acuity, thus promoting clinical advancement and career growth. The program also supports nurses who are returning to the bedside. Experienced nurses would apply to the Experienced Nurse Bridge Residency.</p>
		
        </div>
		
      </div>
	  <div class="div" id="nrsresprogphoto01">
	    <span class="background-image" role="img" aria-label="Two young nurses talking while walking down the hall of emergency room"></span>
		</div>
    </div>
  </section>
		  
		  	<section class="global-dual">
    <div class="inner">
	 <div class="div" id="nrsresprogaward">
	    <span class="background-image" role="img" aria-label="Accredited Practice Transition Program | American Nurses Credentialing Center"></span>
		</div>
      <div class="div">
        <div class="global-dual-copy textright">
         <h2>The Lee Health Nurse Residency Program is proud to be ANCC accredited*</h2>
		  <p>Lee Health Nurse Residency Program's evidence-based curriculum offers residents a collaborative learning environment to successfully transition into clinical practice. Residents are given the opportunity to work alongside experienced staff and learn in a real-life setting to be better prepared and more confident as they enter the workforce.</p>
			<ul>
			<li>Quality of residency program content</li>
			<li>Knowledge and experience of faculty</li>
			<li>Evidence-based practice</li>
			<li>Satisfaction of residents</li>
			<li>Improved patient care and outcomes</li></ul>
			<div class="footnotetxt">*Lee Health Nurse Residency Program is accredited as a Practice Transition Program by the American Nurses Credentialing Center’s Commission on Accreditation in Practice Transition Programs.</div>
		  
		 
		  
        </div>
		
      </div>
	 
    </div>
  </section>
		  
		   <section class="full-white ltbluebckgrd">
	  <div class="inner">
	   
	    <div>
		  <p><strong>The current sites included in this accreditation designation are:</strong></p>
		  <ol>
			<li>Cape Coral Hospital</li>
<li>Golisano Children’s Hospital of SouthWest Florida</li>
<li>Gulf Coast Medical Center</li>
<li>HealthPark Medical Center</li>
<li>Lee Memorial Hospital</li>
			</ol>
	   
		  </div>
			   
	    <div>
		  <p><strong>The current workplace settings included in this accreditation designation are:</strong></p>
		  <ol id="wrkplaceaccred">
			<li>Medical-Surgical</li>
<li>Oncology</li>
<li>Step Down (PCU)</li>
<li>Critical Care</li>
<li>Labor & Delivery</li>
<li>Ante/Postpartum</li>
<li>Labor, Delivery, Recovery, and Postpartum (LDRP)</li>
<li>Neonatal Intensive Care Unit (NICU)</li>
<li>Pediatrics</li>
<li>Pediatric Intensive Care Unit (PICU)</li>
<li>Operating Room</li>
<li>Emergency Department</li>
			</ol>
	   
		  </div>
			   </div>
    </section>
		  
		 <section class="global-dual" id="nursprogvid">
    <div class="inner">
      <div class="div" id="nurseresvideotxt">
        <div class="global-dual-copy" >
         
		 <h2>How Will the Nurse Residency Program Help Me Reach My Full Potential?</h2>
	<p>Since the Nurse Residency Program is a truly individualized program, the classroom content and clinical experiences have been designed to be tailored to the unique needs of each Nurse resident.</p>
	<p>The Nurse residents will be introduced to professional practice and explore topics, including:</p>
		  
          <ul>
		<li>Professionalism, Effective Communication, Delegation, Conflict Management, Interprofessional Teams, Patient Centered Care, Critical Thinking, Time Management</li>
		<li>Health & Wellness</li>
		<li>Mentorship, Ethics, Well-being, Professional Pathways</li>
		<li>Professional Practice and Evidence-based Practice</li>
		<li>Journal Clubs, Simulation and more</li>
		</ul>
		
        </div>
		
      </div>
	  <div class="div" id="nrsresprogphoto04">
	   <div class="video-holder">
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/946729492?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="The Nurse Residency Program at Lee Health"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
		</div>
    </div>
  </section>
  
  
  
		  
		  
	
	<section class="global-dual borderbtmgreen">
    <div class="inner">
	 <div class="div" id="nrsresprogphoto02">
	    <span class="background-image" role="img" aria-label="Male nurse working on computer"></span>
		</div>
      <div class="div">
        <div class="global-dual-copy textright">
         
		  <p>In the weeks that follow, each nurse resident will work side by side with an experienced nurse, referred to as a Clinical Coach. Clinical Coaches enjoy working with nurse residents and have completed additional education to prepare for this teaching role.</p>
		  
          <p>There is not a pre-determined length of time allotted for a nurse residents to transition to independent practice. We have found that customizing the length of orientation based on practice area and individual needs is best practice and could range anywhere from 6-20 weeks.</p>
		  
		  <p>The RDS will meet with the nurse resident on a regular basis, to ensure a smooth transition to independent practice. The RDS will then continue to work with the nurse resident for the length of residency program to assist with professional development, career planning and mentorship.</p>
		  
        </div>
		
      </div>
	 
    </div>
  </section>
  
  <section class="global-dual">
    <div class="inner">
      <div class="div">
        <div class="global-dual-copy">
         
		  <p>Here at Lee Health, nurse residents are accepted into all clinical areas, intermittently throughout the year. Some of our practice areas include:</p>
		  
          <ul>
		  <li><strong>Cardiac Medicine</strong></li>
		  <li><strong>Emergency Department</strong></li>
		  <li><strong>Intensive Care</strong></li>
		  <li><strong>Labor and Delivery/Mom-Baby</strong></li>
		  <li><strong>Medical/Surgical</strong></li>
		  <li><strong>Neonatal Intensive Care</strong></li>
		  <li><strong>Neurology</strong></li>
		  <li><strong>Oncology</strong></li>
		  <li><strong>Operating Room</strong></li>
		  <li><strong>Orthopedics</strong></li>
		  <li><strong>Pediatric Intensive Care</strong></li>
		  <li><strong>Pediatrics</strong></li>
		  <li><strong>Progressive Care</strong></li>
		  <li><strong>Rehabilitation, Dialysis, Home Health</strong></li>
		  </ul>
		
        </div>
		
      </div>
	  <div class="div" id="nrsresprogphoto03">
	    <span class="background-image" role="img" aria-label="Two nurses smiling and having a discussion in a hospital room"></span>
		</div>
    </div>
  </section>
  
  	<section class="rn-residency" aria-label="Nurse opportunities are available throughout Lee Health">
	  <div class="inner">
		<h2>Lee Health has four acute care and two specialty hospitals.</h2>
		  <p>They are Cape Coral Hospital, Gulf Coast Medical Center, HealthPark Medical Center, Lee Memorial Hospital, and Golisano Children's Hospital of Southwest Florida.</p>
		</div>
	  <div class="facilities-area">
		<div><img src="files/images/sub/nurse-res-prog/buildings/bldg-cape-coral.jpg" width="1000" height="566" alt="Photo of Cape Coral Hospital" class="scalable"/></div>
		  <div><img src="files/images/sub/nurse-res-prog/buildings/bldg-gulf-coast.jpg" width="1000" height="566" alt="Photo of Gulf Coast Medical Center" class="scalable"/></div>
		  <div><img src="files/images/sub/nurse-res-prog/buildings/bldg-healthpark.jpg" width="1000" height="566" alt="Photo of HealthPark Medical Center" class="scalable"/></div>
		  <div><img src="files/images/sub/nurse-res-prog/buildings/bldg-lee-health.jpg" width="1000" height="566" alt="Photo of Lee Memorial Hospital" class="scalable"/></div>
		   <div><img src="files/images/sub/nurse-res-prog/buildings/bldg-golisano.jpg" width="1000" height="566" alt="Photo of Golisano Children's Hospital of Southwest Florida" class="scalable"/></div>
	  </div>
    </section>
  
  <section class="global-green">
    <div class="inner" id="ApplyRnResProgram">
	<h2>How Do I Apply to the Nurse Residency Program?</h2>
	
	<div class="callout">
	<p>Applicant must be in their final 3 months or last semester of a nursing program to apply. The potential candidate will apply online at <a href="/jobs/nurse-residency/" target="_blank">https://jobs.leehealth.org/jobs/nurse-residency/</a>. Please choose one generic “Intern/RN” position application. Experienced nurses interested in the Nurse Bridge Residency should apply to one job posting, "Bridge Experience RN Residency".</p>
	<p>In order for the application to be approved and accepted, applicants must hold a current American Heart Association Basic Life Support card, valid for at least 90 days from the hire date. Once the online application is approved and accepted, the candidate may be contacted by phone for a brief HR interview. Several more interviews will be conducted during the selection process, as Lee Health places a high value on hiring the best candidates for our nurse residency program.</p>
	<p>Due to the investment in each individual resident’s growth, a work commitment agreement will be required upon entry into the nurse residency program.</p>
		<p>Applicants must be a graduate of an accredited school of registered nursing.</p>

</div>
    </div>
	</section>
  
  
    
  
  
  
	  
	  
	  </div>
    </main>
<!-- InstanceEndEditable -->


<div id="sticky" class="sticky-button">
		<div class="inner">
			<a  href="#top" type="button">
			  <svg class="svg-inline--fa fa-arrow-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M6.101 261.899L25.9 281.698c4.686 4.686 12.284 4.686 16.971 0L198 126.568V468c0 6.627 5.373 12 12 12h28c6.627 0 12-5.373 12-12V126.568l155.13 155.13c4.686 4.686 12.284 4.686 16.971 0l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L232.485 35.515c-4.686-4.686-12.284-4.686-16.971 0L6.101 244.929c-4.687 4.686-4.687 12.284 0 16.97z"></path></svg><span>Back to Top</span>
			</a>
		</div>
	</div>

<!-- ---- FOOTER ---- -->

<footer>
		<div class="inner">
			<div class="footer-inner-column-01">
				<a class="footer-logo" href="http://www.leehealth.org/" target="_blank">
					<img src="files/images/global/LeeHealth-logo.svg" alt="Lee Health (logo)" />
				</a>

				<ul class="footer-quicklinks">
					<li>
						<a href="https://www.leehealth.org/about-us/get-to-know-lee-health/lee-health-fast-facts" target="_blank">Lee Health Fast Facts<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/about-us/our-leadership" target="_blank">Leadership<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/about-us/why-choose-us/awards-recognition" target="_blank">Awards &#38; Recognition<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/community-affairs" target="_blank">Community Affairs<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/about-us/media" target="_blank">Newsroom<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://leehealthfoundation.org/" target="_blank">Foundation<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
				</ul>
			</div>
			<div class="footer-inner-column-02">
				<ul class="mainnav">
					<li>
						<a href="https://www.leehealth.org/find-a-doctor" target="_blank">Find a Doctor<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/locations/find-a-location" target="_blank">Find a Location<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/our-services" target="_blank">Our Services<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/patient-resources" target="_blank">Patient Resources<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/health-and-wellness" target="_blank">Health &amp; Wellness<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/billing/pay-a-bill" target="_blank">Pay a Bill<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="http://www.leehealthfoundation.org/" target="_blank">Giving<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="/">Careers</a>
					</li>
					<li>
						<a href="https://www.leehealth.org/for-health-professionals" target="_blank">Health Professionals<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/for-physicians" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/for-volunteers" target="_blank">Volunteers<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/from-out-of-town" target="_blank">From Out of Town?<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/about-us" target="_blank">About Us<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/contact-directory" target="_blank">Contact Directory<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
				</ul>
			</div>
			<div class="footer-inner-column-03">
				<div class="footer-social-container">
					<h4>Connect with us</h4>
					<ul class="social-media-links">

						<li>
							<a href="https://www.instagram.com/lee_health/?hl=en" target="_blank" class="instagram">
								<span class="sr-only">Visit Our Profile on Instagram (Opens in a New Window)</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/LeeHealth/" target="_blank" class="facebook">
								<span class="sr-only">Visit Lee Health on Facebook (Opens in a New Window)</span>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/Lee_Health" target="_blank" class="twitter">
								<span class="sr-only">Check out Lee Health on Twitter (Opens in a New Window)</span>
							</a>
						</li>
						<li>
							<a href="http://www.youtube.com/user/LeeMemorialMarketing?feature=mhum" target="_blank" class="youtube">
								<span class="sr-only">Watch Lee Health Videos on YouTube (Opens in a New Window)</span>
							</a>
						</li>
						<li>
							<a href="http://www.linkedin.com/company/23164?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A145804641375476073408%2CVSRPtargetId%3A23164%2CVSRPcmpt%3Aprimary" target="_blank" class="linkedin">
								<span class="sr-only">Find Lee Health on LinkedIn (Opens in a New Window)</span>
							</a>
						</li>

					</ul>
				</div>
				
				<div id="divnurslogo"><img src="files/images/global/DN_2025_proudpartner_logoLONG.png" width="300" height="42" alt="A Proud Partner of DiversityNursing.com 2025 (logo)" class="scalable"/></div>
				<div id="forbeslogo"><img src="files/images/global/Forbes_ABISE2023_Button_600x225_Var01.png" width="600" height="225" alt="Forbes – America's Best-In-State Employers 2023 (logo)" class="scalable"/></div>
			</div>
			
		</div>
		<div class="footer-bottom">
			<div class="inner">
				<div class="footer-copyright">
					<p>Copyright&nbsp;<span>©</span>
						<script type="text/javascript">
							date = new Date();
							year = date.getFullYear();
							document.write(year); //
						</script>
					</p>
				</div>
				<div class="footer-eoe">
					<p>Lee Health is a drug/tobacco-free workplace. Pre-employment drug testing is required.
						We are an equal opportunity employer.</p>
				</div>
			</div>
		</div>
	</footer>


	<script>
		window.onscroll = function() {
			scrollFunction()
		};
		
		function scrollFunction() {
		  if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
			document.getElementById("sticky").classList.add('show-sticky');
		  } else {
			document.getElementById("sticky").classList.remove('show-sticky');
		  }
		} 
	
		jQuery(function($){
			
			function close_mega_menu(hitpoint, target) {
				$(hitpoint).removeClass('active').attr('aria-expanded', 'false');
				$(target).slideUp(200).removeClass('open');
			}
			
			$('.has-mega-menu').on('click', function(e){
				e.preventDefault();
				var href = $(this).attr('href');
				if(jQuery(e.target).is('.active')) {
					close_mega_menu('.has-mega-menu','.mega-menu-list');
				}else {
					close_mega_menu('.has-mega-menu','.mega-menu-list');
				
					jQuery(this).addClass('active');
					jQuery(this).attr('aria-expanded', 'true');
					jQuery(href).slideDown(200).addClass('open'); 
				}
			});
		});
	</script>

	<!-- Retargeting Pixel -->
	<img border="0" src="https://r.turn.com/r/beacon?b2=di9xaI8mTqfeG1tXcvvn99bEt_7L8CgnPS2AvC40xkxYCMCTKo12yrBa3HoLxeRndgJdT1QzrzvR4CqLmoSOMQ&cid=" alt="Amobee Tracking Pixel" style="border-style:none;display:none;visibility:hidden">
	
<!-- InstanceBeginEditable name="oneStop" --> <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
