<!doctype html>
<html lang="en">
<head>
    <meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><!--||{% block title %}Apply online for Nursing Jobs at Lee Health{% endblock %}||--> | Lee Health Jobs</title>
    <!--||<meta name="description" content="Nursing and other health worker jobs at Lee Health"/>||-->
    <link rel="canonical" href="{{ CANONICAL_URL }}{% url 'subscriptions' %}" />
	
    <!-- Google -->
    <meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-twitter-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
 	<!-- Open Graph (LinkedIn) -->
	<meta itemprop="image" content="{{ CANONICAL_URL }}/static/sites/www/files/images/global/share-this/social-image.jpg">
	
	<!-- icons -->	
	<link rel="shortcut icon" href="files/favicon.png"/>
	<link rel="icon" sizes="16x16 32x32 48x48" href="files/images/favicon.ico">
	<link rel="icon" sizes="192x192" type="image/png" href="files/images/favicon-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" type="image/png"  href="files/images/touch-icon-180x180.png">
	<link rel="shortcut icon" href="files/images/touch-icon-180x180.png"/>
	
	<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "{{ CANONICAL_URL }}/",
"image": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png",
"logo": "{{ CANONICAL_URL }}/static/sites/www/files/images/global/knowledge-graph-logo/logo.png"
}
</script>
	
	<!-- Mobile Browser Theme Colors -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#2190e0">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#2190e0">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#2190e0">
 
    <link href="files/fonts/stylesheet.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:400,500,600,700,800,800i|Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
	<link href="files/styles/styles.css" rel="stylesheet" type="text/css">
	<link href="files/styles/header.css" rel="stylesheet" type="text/css">
	<link href="files/styles/responsive.css" rel="stylesheet" type="text/css">

	<script src="files/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="files/js/accordion.js"></script>
	
	<!-- GOOGLE G4 ANALYTICS-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RPF51QVT6F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RPF51QVT6F');
</script>
	
<!-- Google for Crazy Egg -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NVMWPMPR');</script>
<!-- End Google Tag Manager -->

    <!--||{% block head %}{% endblock %}||-->
    <!--||{% load job_tags %}||-->
	
</head>
	
<body class="talent-network-page">

<!-- Google for Crazy Egg -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVMWPMPR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	
	<a id="skip-to-content" class="skip-to-content" href="#main-content"><span class="background-space">Jump to Page Content<span class="sr-only"> (will bypass menus and search fields)</span></span></a>
	
<!-- ---- HEADER AREA ---- -->

	<header id="LeeHeader">

			<div class="top-row clearfix">
				<div class="header-inside">
				<div class="header-logo">
					<a href="https://www.leehealth.org/" target="_blank" class="logo" alt="Lee Health home"><span class="sr-only"> (link opens in a new window)</span></a>
				</div>
				<a class="hamburger-title" href="#hamburger-content" aria-controls="hamburger-content" aria-expanded="false" aria-label="Open Website Navigation (Hamburger Menu)">
					<div class="burger mmmmmm">
						<div class="burger-box">
							<div class="all-the-fixins">
							</div>
						</div>
					</div>
				</a>
					<nav class="top-nav" aria-label="Top Navigation">
					<ul>
						<li>
							<a href="{% url 'search' %}">
								View All Available Jobs
							</a>
						</li>
						
				<li>
					<a href="https://mingle-portal.inforcloudsuite.com/LEEMEMORIAL_PRD" target="_blank">
						Current Employees<span class="sr-only"> (link opens in a new window)</span>
					</a>
				</li>
		
						<li class="tooltipped-link">
							<a href="https://css-leememorial-prd.inforcloudsuite.com/hcm/Jobs/form/JobBoard%281000,EXTERNAL%29.JobSearchCompositeForm?csk.JobBoard=EXTERNAL&csk.HROrganization=1000&menu=JobsNavigationMenu.NewJobSearch [css-leememorial-prd.inforcloudsuite.com]" target="_blank" class="tooltipped-link" aria-controls="link-tooltip" aria-expanded="false">
								Returning Applicants<span class="sr-only"> (link opens in a new window)</span>
								<span id="link-tooltip">
									Look for the <strong>"login"</strong> link at the top right of the linked page, just below the navigation.
								</span>
							</a>
						</li>
					</ul>
				</nav>
				</div>
			</div>
			
			
			<div class="bottom-row">
				<div class="header-inside clearfix">
				<nav id="hamburger-content" class="hamburger-content" aria-label="Main Navigation">
				
					<ul class="lower-nav">
						<li>
							<a href="/">Careers</a>
						</li>
						<li>
							<a href="/career-development.html">Career Development</a>
						</li>
						<li>
							<a href="/benefits.html">Benefits</a>
						</li>
						<li>
							<!--- Secondary nav level (FEATURED OPPORTUNITIES) --->
							<a href="#featopps" aria-controls="featopps" aria-expanded="false" target="_blank" class="has-mega-menu">
								Featured Opportunities<span class="sr-only"> (link opens in a new window)</span>
								<span class="chevron">
									<svg width="16" height="16" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" alt="">
									  <g class="chevron__container">
										<line class="chevron__line1 chevron__line1__green" x1="10" y1="20" x2="50" y2="50"></line>
										<line class="chevron__line2 chevron__line2__green" x1="90" y1="20" x2="50" y2="50"></line>
									  </g>
									</svg>
								</span>
							</a>
							<div id="featopps" class="mega-menu-list">
								<div class="inner">
									<div class="menu-title">
										Featured Opportunities
									</div>
									<div class="main-menu-col">
										<ul>
											<li><a href="/nursing-careers.html">Nursing</a></li>
											<li><a href="/corp-support-careers.html">Corporate &amp; Support</a></li>
											<li><a href="/info-systems-careers.html">Information Systems</a></li>
										</ul>
									</div>
									<div class="main-menu-col">
										<ul>
										<li><a href="/physician-opportunities.html">Physicians</a></li>
										<li><a href="https://gme.leehealth.org/" target="_blank">Physician Graduate Medical Education<span class="sr-only"> (link opens in a new window)</span></a></li>
										   <li><a href="/clinical-residencies-and-training-programs.html">Clinical Residencies and Training Programs</a></li>
										        <li><a href="/app-fellowships-overview.html">APP Fellowships</a></li>
												 <li><a href="/admin-fellowship.html">Administrative Fellowship</a></li>
										</ul>
									</div>
									
								</div>
							</div>
							<!--- Secondary nav level (FEATURED OPPORTUNITIES) end --->
						</li>
						<li>
							<a href="/culture.html">Culture</a>
						</li>
						
						<li>
							<a href="/living-here.html">Living Here</a>
						</li>
	
						<li>
							<a href="/faqs.html">FAQs</a>
						</li>
					
						<li>
							<a href="/erp.html">ERP</a>
						</li>
						<li>
							<a href="/events/">Events</a>
						</li>
						<li class="mobile-only">
							<a href="https://talent.leehealth.org/campaign/your-future-with-lee-health-starts-today/" target="_blank">Join Our Talent Community<span class="sr-only"> (link opens in a new window)</span></a>
						</li>
						<li class="mobile-only">
							<a href="{% url 'search' %}" target="_blank">
								View All Available Jobs
								</a>
						</li>
						<li class="mobile-only">
							<a href="https://css-leememorial-prd.inforcloudsuite.com/hcm/Jobs/form/JobBoard%281000,EXTERNAL%29.JobSearchCompositeForm?csk.JobBoard=EXTERNAL&csk.HROrganization=1000&menu=JobsNavigationMenu.NewJobSearch [css-leememorial-prd.inforcloudsuite.com]" target="_blank">
								Returning Applicants</a>
						</li>
					</ul>
				</nav>
				<a href="https://talent.leehealth.org/campaign/your-future-with-lee-health-starts-today/" class="join-our-talent" target="_blank">
					Join Our Talent Community<span class="sr-only"> (link opens in a new window)</span></a>
			</div>
			
		</div>
	</header>
	
	<div class="blue-background"></div>

	
<!-- ---- BANNER AREA ---- -->
	

<!--||{% block banner %}||-->

<section aria-label="page header" class="sub-banner-new">
<div class="inner">
			<div class="sub-banner-txt">
			<h2>Be Valued <br>
for Being You.</h2>
			<h3>At Lee Health, it’s all about you.</h3>
			</div>
            <div class="sub-banner-photo">
		    <img src="files/images/sub/banners/sub-talent-network.webp" width="1100" height="1815" alt="Smiling person in backyard surrounded by palm trees" class="scalable"/> </div>
        </div>
</section>
	
<!--||{% endblock %}||-->

	
<!-- ---- CONTENT AREA ---- -->

	<div class="jobs-pages-body">
		<div class="inner clearfix">
	
	<!--||{% block full-width %}||-->
		
	
<!-- ---- TALENT NETWORK SECTION ---- -->

	<section class="single-column" id="talentformholder">
		
		<a id="main-content" class="anchor-jump"></a>
		
		<div class="job-page-headers">
			
			<h1 id="results-row1-header-left">
            	Join Our Talent Community</h1>
			
        <div class="share-this">
        		    <div class="share-this-icons">
        <div>Share This Page</div>
        <ul>
    <li>
       <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share-facebook">Share on Facebook</a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="share-twitter">Share on Twitter</a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" class="share-linkedin">Share on LinkedIn</a>
    </li>
    <li><a  href="mailto:?body={{ request.build_absolute_uri }}&subject={{ job.posting.title }}" class="share-email">Share via Email</a></li>
  </ul>
    </div>
            </div>
			
		</div>
		
        <ul class="single-column-buttons">
			<li>
				<a href="javascript:history.back();" class="utility-btn">Back</a>
			</li>
		</ul>
		
		<div class="tn-intro-paragraph">
			<p>Please tell us about yourself and select the job categories for which you want to receive updates on newly posted positions.</p>
			<p><strong>Joining our Talent Community</strong> will allow you to <strong>stay connected</strong> with Lee Health, <strong>receive alerts with new job opportunities</strong> that match your interests, and <strong>receive relevant communications and updates</strong> from Lee Health.</p>
		</div>

		{% if instance %}
			<p><em>To opt out of this service,
			<a href="{% url "subscriptions_optout" instance.subscription_key %}">click here</a>.</em></p>
		{% else %}
			<p>If you already signed up for this service, you should have an email with a link to manage your settings.
			To re-send this email, <a href="{% url "subscriptions_resend" %}">click here</a>.</p>
		{% endif %}

        <form method="post" id="talent-network-form" class="debounce" enctype="multipart/form-data" aria-label="{{ CORPORATE_NAME }} Talent Network sign-up form">
            {% csrf_token %}

			{% for fld in candidate_form %}
				<label>
					{{ fld.label }}: {{ fld.errors }}
					{{ fld }}
					{% if fld.help_text %}
						<br>
						{{ fld.help_text }}
					{% endif %}
				</label>
			{% endfor %}

            <!--||{% comment %}||-->
			<label>
				<span>Email:</span>
				<input id="id_email" maxlength="254" name="email" type="email" required="">
			</label>
			
			<label>
				<span>First name:</span>
				<input id="id_first_name" maxlength="50" name="first_name" type="text" required="">
			</label>
			
			<label>
				<span>Last name:</span>
				<input id="id_last_name" maxlength="50" name="last_name" type="text" required="">
			</label>
			
			<label>
				<span>Phone number:</span>
				<input id="id_phone_number" maxlength="30" name="phone_number" type="text">
			</label>
			
			<label>
				<span>Current employer:</span>
				<input id="id_current_employer" maxlength="100" name="current_employer" type="text">
			</label>
			
			<label>
				<span>Current title:</span>
				<input id="id_current_title" maxlength="100" name="current_title" type="text">
			</label>
			
			<label>
				<span>Resume:</span>
				<input type="file" name="resume" id="id_resume">
				<div class="supported-types">Accepted Formats: .pdf / .doc / .docx / .txt / .jpg / .jpeg / .png</div>
			</label>
            <!--||{% endcomment %}||-->

			{% for fld in form %}
				{% if fld.name == "frequency" %}
					<label>
						{{ fld.label }}: {{ fld.errors }}
						{{ fld }}
						{% if fld.help_text %}
							<br>
							{{ fld.help_text }}
						{% endif %}
					</label>
				{% else %}
					<fieldset>
						<legend>{{ fld.label }}:</legend> {{ fld.errors }}
						{{ fld }}
					</fieldset>
				{% endif %}
			{% endfor %}

            <!--||{% comment %}||-->
			<fieldset>
				<legend>Categories:</legend>
				<ul id="id_categories" class="multi-check">
					<li>
						<label><input id="id_categories_0" name="categories" type="checkbox" value="133"> Accounts Payable</label>
					</li>
					<li>
						<label><input id="id_categories_1" name="categories" type="checkbox" value="59"> Advanced Provider</label>
					</li>
					<li>
						<label><input id="id_categories_2" name="categories" type="checkbox" value="35"> Allied Health</label>
					</li>
					<li>
						<label><input id="id_categories_3" name="categories" type="checkbox" value="100"> Ambulatory/Outpatient Nursing</label></li>
					</li>
					<li>
						<label><input id="id_categories_4" name="categories" type="checkbox" value="127"> Behavioral Health Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_5" name="categories" type="checkbox" value="135"> Biomedical Engineering</label>
					</li>
					<li>
						<label><input id="id_categories_6" name="categories" type="checkbox" value="66"> Case Management</label>
					</li>
					<li>
						<label><input id="id_categories_7" name="categories" type="checkbox" value="80"> Certified Nursing Assistant / CNA</label>
					</li>
					<li>
						<label><input id="id_categories_8" name="categories" type="checkbox" value="95"> Child Care</label>
					</li>
					<li>
						<label><input id="id_categories_9" name="categories" type="checkbox" value="97"> Child Life</label>
					</li>
					<li>
						<label><input id="id_categories_10" name="categories" type="checkbox" value="94"> Clerical/Administrative</label>
					</li>
					<li>
						<label><input id="id_categories_11" name="categories" type="checkbox" value="98"> Clinical Documentation</label>
					</li>
					<li>
						<label><input id="id_categories_12" name="categories" type="checkbox" value="90"> Clinical Education</label>
					</li>
					<li>
						<label><input id="id_categories_13" name="categories" type="checkbox" value="69"> Coder</label>
					</li>
					<li>
						<label><input id="id_categories_14" name="categories" type="checkbox" value="75"> Customer Service</label>
					</li>
					<li>
						<label><input id="id_categories_15" name="categories" type="checkbox" value="109"> Dialysis Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_16" name="categories" type="checkbox" value="47"> ED Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_17" name="categories" type="checkbox" value="77"> Engineering</label>
					</li>
					<li>
						<label><input id="id_categories_18" name="categories" type="checkbox" value="104"> Environmental Services/Housekeeping</label>
					</li>
					<li>
						<label><input id="id_categories_19" name="categories" type="checkbox" value="74"> Epic</label>
					</li>
					<li>
						<label><input id="id_categories_20" name="categories" type="checkbox" value="99"> Facility/Support Services</label>
					</li>
					<li>
						<label><input id="id_categories_21" name="categories" type="checkbox" value="114"> Finance</label>
					</li>
					<li>
						<label><input id="id_categories_22" name="categories" type="checkbox" value="91"> Financial Counseling</label>
					</li>
					<li>
						<label><input id="id_categories_23" name="categories" type="checkbox" value="71"> Float/PRN Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_24" name="categories" type="checkbox" value="130"> Health Information Management</label>
					</li>
					<li>
						<label><input id="id_categories_25" name="categories" type="checkbox" value="72"> Home Health Services</label>
					</li>
					<li>
						<label><input id="id_categories_26" name="categories" type="checkbox" value="92"> Human Resources</label>
					</li>
					<li>
						<label><input id="id_categories_27" name="categories" type="checkbox" value="73"> Imaging/Diagnostics</label>
					</li>
					<li>
						<label><input id="id_categories_28" name="categories" type="checkbox" value="88"> Instrument Technicians</label>
					</li>
					<li>
						<label><input id="id_categories_29" name="categories" type="checkbox" value="101"> Intensive Care Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_30" name="categories" type="checkbox" value="37"> IT</label>
					</li>
					<li>
						<label><input id="id_categories_31" name="categories" type="checkbox" value="70"> Laboratory</label>
					</li>
					<li>
						<label><input id="id_categories_32" name="categories" type="checkbox" value="113"> Leadership</label>
					</li>
					<li>
						<label><input id="id_categories_33" name="categories" type="checkbox" value="131"> Long Term Care/Skilled Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_34" name="categories" type="checkbox" value="82"> LPN</label>
					</li>
					<li>
						<label><input id="id_categories_35" name="categories" type="checkbox" value="64"> Med/Surg Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_36" name="categories" type="checkbox" value="56"> Medical Assistant</label>
					</li>
					<li>
						<label><input id="id_categories_37" name="categories" type="checkbox" value="93"> Monitor Tech</label>
					</li>
					<li>
						<label><input id="id_categories_38" name="categories" type="checkbox" value="76"> Neuro/Stroke Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_39" name="categories" type="checkbox" value="50"> Nurse Practitioner</label>
					</li>
					<li>
						<label><input id="id_categories_40" name="categories" type="checkbox" value="84"> Nurse Residency</label>
					</li>
					<li>
						<label><input id="id_categories_41" name="categories" type="checkbox" value="39"> Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_42" name="categories" type="checkbox" value="68"> Nutrition/Dietary Services</label>
					</li>
					<li>
						<label><input id="id_categories_43" name="categories" type="checkbox" value="67"> Observation Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_44" name="categories" type="checkbox" value="110"> Oncology Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_45" name="categories" type="checkbox" value="105"> Oncology/Genetics</label>
					</li>
					<li>
						<label><input id="id_categories_46" name="categories" type="checkbox" value="46"> OR Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_47" name="categories" type="checkbox" value="85"> Orthopedic Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_48" name="categories" type="checkbox" value="87"> Patient Billing</label>
					</li>
					<li>
						<label><input id="id_categories_49" name="categories" type="checkbox" value="86"> Patient Care Liaison</label>
					</li>
					<li>
						<label><input id="id_categories_50" name="categories" type="checkbox" value="112"> Patient Care Support</label>
					</li>
					<li>
						<label><input id="id_categories_51" name="categories" type="checkbox" value="128"> Patient Quality</label>
					</li>
					<li>
						<label><input id="id_categories_52" name="categories" type="checkbox" value="96"> Patient Transport</label>
					</li>
					<li>
						<label><input id="id_categories_53" name="categories" type="checkbox" value="129"> Pediatric Physician</label>
					</li>
					<li>
						<label><input id="id_categories_54" name="categories" type="checkbox" value="106"> Pediatric/Neonatal Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_55" name="categories" type="checkbox" value="58"> Pharmacy</label>
					</li>
					<li>
						<label><input id="id_categories_56" name="categories" type="checkbox" value="48"> Physician</label>
					</li>
					<li>
						<label><input id="id_categories_57" name="categories" type="checkbox" value="44"> Physician Assistant</label>
					</li>
					<li>
						<label><input id="id_categories_58" name="categories" type="checkbox" value="132"> Population Health</label>
					</li>
					<li>
						<label><input id="id_categories_59" name="categories" type="checkbox" value="40"> Professional</label>
					</li>
					<li>
						<label><input id="id_categories_60" name="categories" type="checkbox" value="65"> Progressive Care Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_61" name="categories" type="checkbox" value="103"> Quality/Compliance</label>
					</li>
					<li>
						<label><input id="id_categories_62" name="categories" type="checkbox" value="81"> Rehab Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_63" name="categories" type="checkbox" value="63"> Rehabilitation</label>
					</li>
					<li>
						<label><input id="id_categories_64" name="categories" type="checkbox" value="62"> Respiratory</label>
					</li>
					<li>
						<label><input id="id_categories_65" name="categories" type="checkbox" value="134"> Scheduling</label>
					</li>
					<li>
						<label><input id="id_categories_66" name="categories" type="checkbox" value="108"> Seasonal Nursing</label>
					</li>
					<li>
						<label><input id="id_categories_67" name="categories" type="checkbox" value="79"> Social Services</label>
					</li>
					<li>
						<label><input id="id_categories_68" name="categories" type="checkbox" value="61"> Student Nurse</label>
					</li>
					<li>
						<label><input id="id_categories_69" name="categories" type="checkbox" value="102"> Supply Chain/Materials Management</label>
					</li>
					<li>
						<label><input id="id_categories_70" name="categories" type="checkbox" value="89"> Surgical/OR Tech</label>
					</li>
					<li>
						<label><input id="id_categories_71" name="categories" type="checkbox" value="107"> Women's Health Nursing</label>
					</li>
				</ul>
			</fieldset>
			
			<label>
				<span>Frequency:</span>
				<select id="id_frequency" name="frequency" required="">
					<option value="" selected="selected">---------</option>
					<option value="7">Weekly</option>
					<option value="14">Bi-weekly (every 2 weeks)</option>
					<option value="30">Monthly</option>
				</select>
			</label>
            <!--||{% endcomment %}||-->
			
			<p class="disclaimer">By submitting you have not officially applied to a position.</p>
			
			<div class="talent_button_div">
				<button name="SUBMIT" type="submit" class="talent_buttons" id="SUBMIT">Submit</button>
			</div>
        
			<p class="disclaimer">By submitting information, you are not officially applying to a position at this time and you authorize {{ CORPORATE_NAME }} to contact you via phone, email, and text messaging.  You also agree to receive automated messages. Message &amp; data rates apply.</p>
			<p class="disclaimer">
				Upon sign up you will receive instructions to manage your profile and/or to opt out. 
			</p>
		
		
		</form>
	
	</section>
		

    <!--||{% endblock full-width %}||-->
			
		</div>
	</div>
		
	<section class="linkedin">
		<a href="https://www.linkedin.com/company/lee-health/" target="_blank">
			<span class="linkedin-center">
				Follow Us on <span class="image"><img src="files/images/global/linkedin-white.png" alt="LinkedIn Logo" class="scalable"></span><span class="sr-only">(link will open in a new window)</span>
			</span>
		</a>
	</section>
	

	
<!-- ---- FOOTER ---- -->
	
	<footer>
		<div class="inner">
			<div class="footer-inner-column-01">
				<a class="footer-logo" href="http://www.leehealth.org/" target="_blank">
					<img src="files/images/global/LeeHealth-logo.svg" alt="Lee Health (logo)" />
				</a>

				<ul class="footer-quicklinks">
					<li>
						<a href="https://www.leehealth.org/about-us/get-to-know-lee-health/lee-health-fast-facts" target="_blank">Lee Health Fast Facts<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/about-us/our-leadership" target="_blank">Leadership<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/about-us/why-choose-us/awards-recognition" target="_blank">Awards & Recognition<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/community-affairs" target="_blank">Community Affairs<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/about-us/media" target="_blank">Newsroom<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://leehealthfoundation.org/" target="_blank">Foundation<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
				</ul>
			</div>
			<div class="footer-inner-column-02">
				<ul class="mainnav">
					<li>
						<a href="https://www.leehealth.org/find-a-doctor" target="_blank">Find a Doctor<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/locations/find-a-location" target="_blank">Find a Location<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/our-services" target="_blank">Our Services<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/patient-resources" target="_blank">Patient Resources<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/health-and-wellness" target="_blank">Health &amp; Wellness<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/billing/pay-a-bill" target="_blank">Pay a Bill<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="http://www.leehealthfoundation.org/" target="_blank">Giving<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="/">Careers</a>
					</li>
					<li>
						<a href="https://www.leehealth.org/for-health-professionals" target="_blank">Health Professionals<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/for-physicians" target="_blank">Physicians<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/for-volunteers" target="_blank">Volunteers<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/from-out-of-town" target="_blank">From Out of Town?<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/about-us" target="_blank">About Us<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
					<li>
						<a href="https://www.leehealth.org/contact-directory" target="_blank">Contact Directory<span class="sr-only"> (link opens in a new window)</span></a>
					</li>
				</ul>
			</div>
			<div class="footer-inner-column-03">
				<div class="footer-social-container">
					<h4>Connect with us</h4>
					<ul class="social-media-links">

						<li>
							<a href="https://www.instagram.com/lee_health/?hl=en" target="_blank" class="instagram">
								<span class="sr-only">Visit Our Profile on Instagram (Opens in a New Window)</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/LeeHealth/" target="_blank" class="facebook">
								<span class="sr-only">Visit Lee Health on Facebook (Opens in a New Window)</span>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/Lee_Health" target="_blank" class="twitter">
								<span class="sr-only">Check out Lee Health on Twitter (Opens in a New Window)</span>
							</a>
						</li>
						<li>
							<a href="http://www.youtube.com/user/LeeMemorialMarketing?feature=mhum" target="_blank" class="youtube">
								<span class="sr-only">Watch Lee Health Videos on YouTube (Opens in a New Window)</span>
							</a>
						</li>
						<li>
							<a href="http://www.linkedin.com/company/23164?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A145804641375476073408%2CVSRPtargetId%3A23164%2CVSRPcmpt%3Aprimary" target="_blank" class="linkedin">
								<span class="sr-only">Find Lee Health on LinkedIn (Opens in a New Window)</span>
							</a>
						</li>

					</ul>
				</div>
				<div id="divnurslogo"><img src="files/images/global/DN_2025_proudpartner_logoLONG.png" width="300" height="42" alt="A Proud Partner of DiversityNursing.com 2025 (logo)" class="scalable"/></div>
				<div id="forbeslogo"><img src="files/images/global/Forbes_ABISE2023_Button_600x225_Var01.png" width="600" height="225" alt="Forbes – America's Best-In-State Employers 2023 (logo)" class="scalable"/></div>
			</div>
			
		</div>
		<div class="footer-bottom">
			<div class="inner">
				<div class="footer-copyright">
					<p>Copyright&nbsp;<span>©</span>
						<script type="text/javascript">
							date = new Date();
							year = date.getFullYear();
							document.write(year); //
						</script>
					</p>
				</div>
				<div class="footer-eoe">
					<p>Lee Health is a drug/tobacco-free workplace. Pre-employment drug testing is required.
						We are an equal opportunity employer.</p>
				</div>
			</div>
		</div>
	</footer>

	<script>
		window.onscroll = function() {
			scrollFunction()
		};
		
		function scrollFunction() {
		  if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
			document.getElementById("sticky").classList.add('show-sticky');
		  } else {
			document.getElementById("sticky").classList.remove('show-sticky');
		  }
		} 
	
		jQuery(function($){
			
			function close_mega_menu(hitpoint, target) {
				$(hitpoint).removeClass('active').attr('aria-expanded', 'false');
				$(target).slideUp(200).removeClass('open');
			}
			
			$('.has-mega-menu').on('click', function(e){
				e.preventDefault();
				var href = $(this).attr('href');
				if(jQuery(e.target).is('.active')) {
					close_mega_menu('.has-mega-menu','.mega-menu-list');
				}else {
					close_mega_menu('.has-mega-menu','.mega-menu-list');
				
					jQuery(this).addClass('active');
					jQuery(this).attr('aria-expanded', 'true');
					jQuery(href).slideDown(200).addClass('open'); 
				}
			});
		});
	</script>

	
{% block js %}{% endblock %}

 <!--Retargeting Pixel-->
 <img border="0" src="https://r.turn.com/r/beacon?b2=di9xaI8mTqfeG1tXcvvn99bEt_7L8CgnPS2AvC40xkxYCMCTKo12yrBa3HoLxeRndgJdT1QzrzvR4CqLmoSOMQ&cid=" alt="Amobee Tracking Pixel">
</body>
</html>
