@media only screen and (max-width: 1500px) {
  .banner-area-main-copy h2 {
    font-size: 3.2vw;
  }
  .banner-area-main-copy h1 {
    font-size: 4vw;
  }
  .banner-area-main-copy h3 {
    font-size: 1.4vw;
  }
  h1 {
    font-size: 3vw;
    line-height: 1em;
  }
  .intro-copy .inner h1 {
    font-size: 3vw;
  }
  .intro-copy .inner h2 {
    font-size: 2.5vw;
  }
  .intro-copy .inner h3 {
    font-size: 1.8vw;
  }
  .intro-copy h3 {
    font-size: 2vw;
  }
  .intro-copy .inner h4 {
    font-size: 2vw;
  }
  .header-callout h2 {
    font-size: 2vw;
  }
  .footnote-txt {
    font-size: 1.2vw;
  }
  .intro-copy .inner p {
    font-size: 1.5vw;
  }
  .mjhs-form .inner h2 {
    font-size: 2.5vw;
    line-height: 1.3em;
  }
  .mjhs-form .inner {
    font-size: 1.5vw;
    line-height: 1.4;
  }
  .callout-02 li {
    font-size: 1.4vw;
  }
  .intro-txt {
    font-size: 1.5vw;
    line-height: 1.5em;
  }
  .nav-top a {
    font-size: 1.2vw;
  }
  .lower-nav li a {
    padding: 15px 10px;
    font-size: 12px;
    line-height: 12px;
  }
	.talent-network-inside {
    width: 100%;
  }
  .talent-network-sub-copy {
    font-size: 1.45vw;
    line-height: 1em;
  }
  .talent-network-form h1 {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 12px 0px 13px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, .1);
  }
  .header-inside .header-logo {
    width: 250px;
  }
  header li {
    display: block;
  }
  .nav-top {
    background-color: #f4f4f5;
    position: static;
    top: auto;
    transform: none;
  }
  .nav-top li {
    border-bottom: 1px solid rgba(105, 106, 108, .15);
  }
  .nav-top a {
    display: block;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    color: #0068c1;
    padding: 14px 30px;
    position: relative;
    z-index: 1;
    transition: .15s all ease-in-out;
  }
  .nav-top a:hover, .nav-top a:focus, .nav-top a:active {
    color: #0056b3 !important;
  }
  .lower-nav {
    background-color: #ffffff;
    color: #696a6c;
    text-align: left;
    position: static;
    margin-bottom: 80px;
  }
  .lower-nav li {
    border-bottom: 1px solid rgba(105, 106, 108, .15);
  }
  .lower-nav li:last-child {
    border-bottom: 0px solid rgba(105, 106, 108, .15);
  }
  .lower-nav li a {
    color: #696a6c;
    display: block;
    padding: 14px 30px;
    font-size: 13px;
    line-height: 13px;
    transition: .15s all ease-in-out;
  }
  .lower-nav li a:hover, .lower-nav li a:focus, .lower-nav li a:active {
    color: #0056b3 !important;
    text-decoration: none;
  }
  .nav-top a::before, .lower-nav li a::before, .lower-nav li.find-provider a::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: -1;
    background-color: #0e94e1;
    transform-origin: left;
    transform: scaleX(0);
    transition: .075s all ease-in-out;
  }
  .nav-top a:hover::before, .nav-top a:focus::before, .nav-top a:active::before, .lower-nav li a:hover::before, .lower-nav li a:focus::before, .lower-nav li a:active::before, .lower-nav li.find-provider a:hover::before, .lower-nav li.find-provider a:focus::before, .lower-nav li.find-provider a:active::before {
    transition: .2s all ease-in-out;
    background-color: #0074b8;
  }
  .lower-nav li.find-provider a {
    background-color: #699d27;
    color: #ffffff;
  }
  h1 {
    font-size: 3.65vw;
    line-height: 1em;
  }
	.talent-network-form h1 {
    font-size: 3.6vw;
  }
}
@media only screen and (max-width: 1000px) {
  .bannerArea {
    margin-top: 108px;
  }
  .at-icon-wrapper {
    background-color: rgba(51, 51, 51, 0) !important;
  }
  .at-share-tbx-element .at-icon-wrapper {
    margin: 0px 0px 0px 6px !important;
  }
  .menu-background {
    position: fixed;
    z-index: 2019;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/global/menu-back.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: none;
    opacity: 0;
  }
  .menu-background.live {
    display: block;
    opacity: 1;
    -webkit-animation-name: background-transition;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .15s;
    -webkit-animation-fill-mode: backwards;
    animation-name: background-transition;
    animation-timing-function: ease-in;
    animation-duration: .15s;
    animation-fill-mode: both;
  }
  @keyframes-webkit- background-transition {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @keyframes background-transition {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  .callout h2 {
    font-size: 3vw;
    line-height: 1em;
    width: 100%;
  }
  .callout h3 {
    font-size: 2.5vw;
    line-height: 1em;
    width: 100%;
  }
  .callout p {
    font-size: 2vw;
    line-height: 1.3em;
    width: 100%;
  }
  .mjhs-form .inner h2 {
    font-size: 3.5vw;
    line-height: 1.3em;
	  margin: 0 auto .5rem;
  }
  
  .intro-txt {
    line-height: 1.3em;
  }
 
  .bullets {
    column-count: 2;
  }
}
@media only screen and (max-width: 850px) {
  .hidden-mobile {
    display: none;
  }
  .footer-nav {
    display: block;
    position: static;
    transform: translateY(0%);
    width: 100%;
    text-align: center;
    margin: 20px auto 0px;
  }
  .footer-logo {
    width: 180px;
    margin: 0px auto;
  }
  .bullets {
    column-count: 1;
  }
	.mjhsalumni-form-holder .inner {
    width: 100%;
  }
	#alumni-pg-form.talent-network-form{
	padding-top: 2em;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;
	width: 100%;
	border-radius: 0;
	margin: .5em auto;
}
}
@media only screen and (max-width: 780px) {
  .table {
    display: block;
  }
  .row {
    display: block;
  }
  .cell {
    display: block;
  }
  .intro-copy .inner h1 {
    font-size: 5vw;
    line-height: 1.2em;
  }
  .intro-copy .inner h2 {
    font-size: 5vw;
    line-height: 1.3em;
  }
  .intro-copy .inner h3 {
    font-size: 3.5vw;
    line-height: 1.3em;
    width: 100%;
  }
  .intro-copy .inner h4 {
    font-size: 3.5vw;
    line-height: 1.2em;
  }
  .intro-copy .inner {
    width: 80%;
  }
  .table-with-right-image {
    margin: 8px auto 8px auto;
  }
  footer {
    padding: 2em 0px 1em;
  }
  .mjhs-form .inner {
    width: 90%;
    margin: 0px auto 10px;
    font-size: 3vw;
    line-height: 1.4em;
  }
  .mjhs-form {
    padding: .75em 0px .5em;
  }
	.mjhs-form .inner h2 {
    font-size: 5vw;
  }
  #expressbtn a {
    margin: 0px 0 0;
  }
  
  .intro-copy .inner p {
    font-size: 2.5vw;
  }
  .top-intro .inner p {
    font-size: 2.5vw;
	  margin: 0 auto 15px;
  }
  .footnote-txt {
    font-size: 2vw;
    margin: 5px auto 0;
  }
	.talent-network-form h1 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 700px) {
  .banner-area-main {
	padding-bottom: 90%;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	background-image: url(../images/sub/alumni/banner-mobile.jpg);
  }
  .banner-area-main::before {
	background-image: url(../images/main/slider/slide-arc-mobile.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 60;
  }
  .banner-area-main .inner {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 90%;
  }
  .banner-area-main-copy h2 {
    font-size: 6vw;
  }
  .banner-area-main-copy h1 {
    font-size: 6vw;
    margin-bottom: 5px;
  }
  .banner-area-main-copy h3 {
    font-size: 3.5vw;
    width: 100%;
    margin: 0 auto;
  }
  .banner-area-main-copy {
    width: 100%;
  }
  h1 {
    font-size: 6.75vw;
    line-height: 1em;
  }
  .table {
    display: block;
  }
  .row {
    display: block;
  }
  .cell {
    display: block;
  }
  .footer-top .address {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-top .eoe {
    display: block;
    width: 100%;
    text-align: center;
    text-align: left;
  }
  .disclaimer-txt {
    font-size: 2.5vw;
    line-height: 1.4em;
  }
  .intro-txt {
    font-size: 3vw;
  }
  .top-intro {
    padding: 1.5em 0px 1.5em;
  }
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 6.75vw;
    line-height: 1em;
    margin: 0px auto 20px;
  }
  .form-header {
    font-size: 2em;
    padding: 2% 0% 2% 0%;
    width: 90%;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .top-intro .inner p {
    font-size: 3.5vw;
  }
	h2 {
    font-size: 3.6vw;
    line-height: 1.1em;
  }
  footer {
    padding: 35px 0px 50px;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    border-top: 3px solid #fff;
  }
  footer .inner {
    width: 80%;
  }
  .footer-top {
    padding: 0px 0px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
  }
  .footer-top .address {
    display: block;
    width: 100%;
  }
  .footer-top .eoe {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .intro-copy .inner {
    font-size: 3vw;
    line-height: 1.4em;
  }
}
@media screen and (min-width: 1000px) {
  .mobile-only {
    display: none !important;
  }
}
