/**************************** GLOBAL ****************************/	
*{
	box-sizing: border-box;
}
body {
	margin: 0 0 0 20px;
	padding: 0px;
	color: #000;
	-webkit-text-size-adjust: none;
	font-family: 'Lato', "Open Sans", Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.1em;
	line-height: 1.3em;
}
 .title {
      background-color: #929474;
      color: #FFFFFF;
      font-size: 1.4rem;
      line-height: 1.1rem;
      padding: 10px 40px;
    }

.container {
	margin-top: 30px;
}
img {
	width: 100%;
	height: auto;
	vertical-align: middle; /*  very important, otherwise there is a gap at the bottom  */
	border: 0;
}
h3{
	text-align: center;
}
.flex-container-code{
	display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/* Images --*/
.flex-container{
	display: flex;
	/*flex-wrap: wrap;*/
	flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-item{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.flex-item img{
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
  .flex-item {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.flex-container-code{
		justify-content: space-around;
	}
  .flex-item {
    flex: 100%;
    max-width: 100%;
  }
}
