/* 
  -----------------------------------
  Slide-Out Menu - Mobile Nav 
  All hover states should be turned off!
  -----------------------------------
*/

.p7SOM-01 ul {
    background-color: #fff;
}
/*Design View Background*/
.p7SOM-01.p7SOMnoscript ul {
    /*background: none !important;
	background-color: #222 !important;*/
    display: none !important;
}
.p7SOM-01 ul ul {
    background-color: transparent;
    background: none;
}
.p7SOM-01 ul a {
    padding: 10px 18px;
    color: #4B4B4B;
    text-decoration: none;
    border-radius: 0px !important;
    -webkit-transition: all linear .25s;
    transition: all linear .25s;
}
.p7SOM-01 ul ul a {
    padding: 8px 18px;
}
/*.p7SOM-01 ul a:hover {
	background-color: #000;
	color: #FFF;*/

.p7SOM-01 ul a.trig_open {
    background-color: #000;
    color: #ffc72c;
}
.p7SOM-01 a.trig_closed {
    background-image: url(../images/mobile/mobile-nav/arrow-black.png);
}
.p7SOM-01 ul ul a.trig_closed {
    background-image: url(../images/mobile/mobile-nav/arrow-black.png);
}
.p7SOM-01 a.trig_open {
    background-image: url(../images/mobile/mobile-nav/arrow-down-yellow.png);
}
.p7SOM-01 ul ul a {/*sub menu hilite*/
    font-size: .9em;
    background-color: #E3E3E3;
    line-height: normal;
    border-bottom: 1px solid #CCCCCC;
}
/*Level indentations */
.p7SOM-01 ul a {
    padding-left: 18px;
}
.p7SOM-01 ul ul a {
    padding-left: 24px;
}
.p7SOM-01 ul ul ul a {
    padding-left: 36px;
}
.p7SOM-01 ul ul ul ul a {
    padding-left: 48px;
}
/*CURRENT MARK */
.p7SOM-01 a.current_mark {
    font-weight: bold;
}
/*Toolbar */
.p7SOM-01.som-toolbar a {
    color: #fff !important;
}
/*.p7SOM-01.som-toolbar a:hover {
color: #EEE !important;
}*/	
.p7SOM-01.som-toolbar.opened a { /*Hamburger menu open*/
    color: #ffc72c !important;
}
/* Toolbar Icon Text */
.som-toolbar i {
    color: #fff;
    display: block;
    font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 9px;
    font-style: normal;
    padding-top: 3px;
    text-transform: uppercase;
}
/*Menu Header */
.p7SOM-01 .som-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url(../images/mobile/mobile-nav/x-close.png);
    border-bottom: 1px solid #000;
    background-color: #646464;
    color: #fff;
    -webkit-transition: all linear .25s;
    transition: all linear .25s;
}

/*.p7SOM-01 .som-header:hover {
	background-color: #777;
	color:  #FFF;
}*/

@media only screen and (min-width: 0px) and (max-width: 700px) {
.scalable {
    width: 100%;
}
}
/* 
  -----------------------------------
  Core CSS
  -----------------------------------
*/

.p7SOM {
    position: fixed !important;
    height: 100%;
    border: none;
    width: 80%;
    -webkit-transition: width linear .35s 0s;
    transition: width linear .35s 0s;
}
.p7SOM ul {
    height: 100%;
    overflow: auto;
}
.p7SOM ul ul {
    height: auto;
}
.p7SOM, .p7SOM li, .p7SOM ul, .p7SOM ul a {
    background-image: url(../images/mobile/mobile-nav/shim.png);
}
.p7SOM ul {
    padding: 0px;
    position: relative;
    margin: auto;
    display: inline-block;
    vertical-align: bottom;
}
.p7SOM ul ul {
    min-width: 0px;
    max-width: none;
    display: block;
    overflow: visible;
    max-height: none;
}
.p7SOM ul li {
    list-style-type: none;
}
.p7SOM ul li a {
    display: block;
    background-position: left center;
    background-repeat: no-repeat;
}
.p7SOM ul ul {
    display: block;
}
.p7SOM.som-auto-subs ul ul {
    width: auto;
}
/*Upsize Triggers */
.p7SOM a.trig_closed, .p7SOM a.trig_open {
/*font-size: 120%;*/
}
/*
NO-SCRIPT RULES
The following rules enable your menu to work even when javascript is disabled in the browser
*/

.p7SOM.p7SOMnoscript {
    margin: auto !important;
    display: block !important;
}
.som-toolbar.p7SOMnoscript {
    display: none !important;
}
/*Toolbar Hamburger */
.som-toolbar {
    display: none; /*Hide Hamburger Menu. Turned on in Responsive CSS*/
}
.som-toolbar a {
    font-size: 3em;
    line-height: normal;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.som-toolbar {
    text-align: center;
}
.som-toolbar i {
    cursor: pointer;
}
.som-toolbar.som-top-left {
    left: .5em;
    top: 0px;
    border-radius: 0px 0px 5px 5px;
}
.som-toolbar.som-top-right {
	position: absolute !important;
    right: 24px;
    top: 12px;
	color: #ffffff !important;
}
.som-toolbar.som-top-left a, .som-toolbar.som-top-right a {
    padding: 0 .35em .25em .35em;
    border-radius: 0px 0px 5px 5px;
}
.som-toolbar.som-bottom-left {
    left: .5em;
    bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.som-toolbar.som-bottom-right {
    right: .5em;
    bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.som-toolbar.som-bottom-right, .som-toolbar.som-bottom-right a {
    border-radius: 5px 5px 0px 0px !important;
}
.som-toolbar.som-bottom-left a, .som-toolbar.som-bottom-right a {
    padding: .25em .35em .15em .35em;
    border-radius: 5px 5px 0px 0px !important;
}
/*Menu Header */
.som-header {
    display: block;
    cursor: pointer;
    background-position: 97% 50%;
    background-repeat: no-repeat;
}
.p7SOM ul {
    display: block !important;
}
.p7SOM ul ul, .p7SOM ul div {
    position: static !important;
    width: auto !important;
    margin: 0px !important;
}
.p7SOM li {
    float: none !important;
    margin: 0px !important;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
.p7SOM {
    display: block;
    width: 100%;
}
/*End old Android workaround*/
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
body {
    cursor: pointer;
}
}
